<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3><?= $datapendataan ?></h3>
                        <p>Pendaftaran</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-home"></i>
                    </div>
                    <?php
                        if(($role_id == 1) || ($role_id == 3) || ($role_id == 2)){
                    ?>
                    <a href="<?= $this->url('pendataan_sspd') ?>" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>
                    <?php
                        }
                    ?>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3><?= $dataverifikasi ?></h3>
                        <p>Validasi</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-book-outline"></i>
                    </div>
                    <?php
                        if(($role_id == 1) || ($role_id == 2)){
                    ?>
                    <a href="<?= $this->url('verifikasi_spt') ?>" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>
                    <?php
                        }
                    ?>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3><?= $datapembayaran ?></h3>
                        <p>Pembayaran</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-contacts"></i>
                    </div>
                    <?php
                        if(($role_id == 1) || ($role_id == 4)){
                    ?>
                    <a href="<?= $this->url('pembayaran_sptbphtb') ?>" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>
                    <?php
                        }
                    ?>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-red">
                    <br><br>
                    <div class="inner">
                        <h3></h3>
                        <p>Pelaporan Notaris</p>
                    </div>
                    <div class="icon">
                        <i class="ion-social-snapchat-outline"></i>
                    </div>
                    <?php
                        if(($role_id == 1) || ($role_id == 3) || ($role_id == 2)){
                    ?>
                    <a href="<?= $this->url('pelaporan_notaris') ?>" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>
                    <?php
                        }
                    ?>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-olive">
                    <br><br>
                    <div class="inner">
                        <h3></h3>
                        <p>Informasi OP</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ribbon-b"></i>
                    </div>
                    <a href="<?= $this->url('informasiop') ?>" class="small-box-footer">Cek OP <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <br><br>
                        <h3></h3>
                        <p>Cetak Laporan</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-glasses-outline"></i>
                    </div>
                    <?php
                        if(($role_id == 1) || ($role_id == 2)){
                    ?>
                    <a href="<?= $this->url('cetak_laporan') ?>" class="small-box-footer">Menu Cetak <i class="fa fa-arrow-circle-right"></i></a>
                    <?php
                        }
                    ?>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
        <!-- Main row -->
        <?php $gambar = "http://" . $_SERVER['HTTP_HOST'] . "/" . $this->basePath() . "/public/upload/bg.jpg" ?>
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- quick email widget -->
                <div class="box box-info" style="background-image: url(<?= $gambar ?>)">
                    <div class="box-header">
                        <i class="fa fa-bank"></i>
                        <h3 class="box-title">DPPKAD <?= strtoupper($data_pemda->s_namakabkot) ?></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- Progress bars -->
                                <div class="clearfix" align="center"> 
                                    <img src="<?= $data_pemda->s_logo ?>" alt="" width="70%">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="clearfix">
                                    <span style="font-size: 24px"><b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot) ?>, <?= strtoupper($data_pemda->s_namaprov) ?></b></span>
                                    <br>
                                    <span style="font-size: 20px"><b><?= $data_pemda->s_namainstansi ?> (<?= $data_pemda->s_namasingkatinstansi ?>)</b></span>
                                    <br>
                                    <?= $data_pemda->s_alamatinstansi ?> Telp/Fax <?= $data_pemda->s_notelinstansi ?>, <?= $data_pemda->s_namaibukotakabkot ?> <?= $data_pemda->s_kodepos ?>
                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </div>
            </section><!-- /.Left col -->
        </div><!-- /.row (main row) -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->