<link href="<?= $this->basePath(); ?>/public/css/animate-custom.css" rel="stylesheet">

<?php
$form = $this->form;
$form->setAttribute('action', $this->url());
$form->prepare();
echo $this->form()->openTag($form);
?>
<style>
    .panel-default {
        opacity: 0.9;
        margin-top: 30px;
    }

    .form-group.last {
        margin-bottom: 0px;
    }

    .login-page {
        /*height-min: 125%;*/
        background: url('<?= $this->basePath(); ?>/public/upload/background/blora_kantor.jpg') #fff no-repeat center center fixed;
        min-height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 125%;
        /*background: url('http://<? //= $_SERVER['HTTP_HOST']; 
                                    ?><? //= $this->basePath(); 
                                        ?>/public/upload/pendopo.jpg') no-repeat;*/
        background-size: 100% 100%;

    }



    .login-box_headercoy {
        /*max-width:380px;	
	background: transparent url(../img/login-bg-1.png) repeat;	
        padding-bottom: 20px;*/
        background: transparent url('<?= $this->basePath(); ?>/public//img/transpRed75.png') repeat;
        /*-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
        
	border-radius: 8px;
	
	-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);*/

    }

    .login-box_tengah {
        background: transparent url('<?= $this->basePath(); ?>/public//img/transpRed50.png') repeat;
    }
</style>
<script src='https://www.google.com/recaptcha/api.js?hl=id'></script>
<div class="container">
    <div class="row">

        <div class="col-md-5 col-md-offset-7 animated flipInY" style="color: #fff;">

            <div class="panel panel-default login-box_tengah">

                <div class="panel-heading animated bounceInDown login-box_headercoy">
                    <div style="float: left;">
                        <img class="profile-img" src="<?= $this->basePath(); ?>/public/upload/Logo_Blora.png" style="width:90px;height:100px;">
                    </div>
                    <center><strong style="font-size:22px; color: #fff;">E-BPHTB <?= strtoupper($data_pemda->s_namakabkot) ?></strong></center>
                </div>
                <div class="panel-body " style="margin-top:50px">


                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label" style="font-size:18px;">
                                Username</label>
                            <div class="col-sm-9">
                                <?= $this->formtext($form->get("s_username")) ?>
                                <!--<input class="form-control" id="inputEmail3" placeholder="Email" required="" type="email">-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label" style="font-size:18px;">
                                Password</label>
                            <div class="col-sm-9">
                                <?= $this->formpassword($form->get("s_password")) ?>
                                <!--<input class="form-control" id="inputPassword3" placeholder="Password" required="" type="password">-->
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="g-recaptcha" data-sitekey="6LcCH7kpAAAAADsL3DA3Err-d_fdrkso5b53cFYE" data-hl="id"></div>
                            </div>
                        </div>
                        <div class=" form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <!--<button type="submit" class="btn btn-success btn-sm">
                                    LOGIN</button>-->
                                <?= $this->formsubmit($form->get("Loginsubmit")) ?>
                                <!-- <button type="reset" class="btn btn-default btn-sm">
                                Reset</button>-->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer login-box_tengah">
                    <li class="pad10A font-size-12">
                        <i class="glyph-icon icon-check-circle mrg10R font-white"></i>
                        <b class="font-white">PEMBAYARAN PAJAK BISA DI LAKUKAN DI LINK BERIKUT <a href="http://bimaqris.bankjateng.co.id">BIMAQRIS</a></b>
                    </li>
                </div>
                <div class="panel-footer login-box_tengah">
                    <img src="<?= $this->basePath() . "/public/upload/bsre.png" ?>">
                </div>
            </div>
        </div>
    </div>
    <?php
    echo $this->form()->closeTag();
    ?>
</div>