<?php
$flashMessage = $this->flashMessenger()->getMessages();

if (count($flashMessage)) :
    if (!empty($flashMessage[0]["success"])) {
        echo '<div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Pemberitahuan!</h4>
                ' . $flashMessage[0]["success"] . '
              </div>';
    }
    if (!empty($flashMessage[0]["error"])) {
        echo '<div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Pemberitahuan!</h4>
                ' . $flashMessage[0]["error"] . '
              </div>';
    }
endif;
