<?php
if ($this->side_pemda || $this->side_pejabat || $this->side_notaris || $this->side_jenis_transaksi || $this->side_npotkp || $this->side_tarifbphtb) {
    $activated = 'active';
} elseif ($this->side_haktanah || $this->side_persyaratan_transaksi || $this->side_dokumen_tanah || $this->side_harga_acuan || $this->side_pengguna || $this->side_password_pengguna) {
    $activated = 'active';
} else if ($this->side_harga_acuan_tanah || $this->side_setting_format_pesan || $this->side_setting_button) {
    $activated = 'active';
} else {
    $activated = '';
}
if (@$role_id == 1) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>HOME</span></a></li> 
                    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>PENDAFTARAN</span></a></li> 
                    <li class="' . $this->menu_pengurangan . '"><a href="' . $this->url('pengurangan') . '"><i class="fa fa-minus text-green"></i><span>PENGURANGAN</span></a></li> 
                    <li class="' . $this->menu_verifikasiberkas . '"><a href="' . $this->url('verifikasi_berkas') . '"><i class="fa fa-folder text-green"></i><span>VERIFIKASI BERKAS</span></a></li>
                    <li class="' . $this->menu_verifikasi . '"><a href="' . $this->url('verifikasi_spt') . '"><i class="fa fa-check text-green"></i><span>VALIDASI</span></a></li>  
                    <li class="' . $this->menu_paraf_penandatanganan . '"><a href="' . $this->url('paraf_penandatanganan') . '"><i class="fa fa-hand-paper-o text-green"></i><span>PARAF TTE</span></a></li>  
                    <li class="' . $this->menu_penandatangan . '"><a href="' . $this->url('penandatanganan') . '"><i class="fa fa-hand-paper-o text-green"></i><span>PENANDATANGANAN</span></a></li>  
                    <li class="' . $this->menu_pembayaran . '"><a href="' . $this->url('pembayaran_sptbphtb') . '"><i class="fa fa-money text-green"></i><span>PEMBAYARAN</span></a></li>     
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>PELAPORAN PPAT</span></a></li> 
                    <li class="' . $this->menu_bpn . '"><a href="' . $this->url('bpn_lihatdata') . '"><i class="fa fa-bank text-green"></i><span>BPN</span></a></li>   
                    <li class="treeview ' . $this->menu_bpn_api . '">
                        <a href="#">
                            <i class="fa fa-bank text-green"></i>
                            <span>BPN Api</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="' . $this->menu_bpn_api_formceksertifikat . '"><a href="' . $this->url('bpnapi') . '/formceksertifikat"><i class="fa fa-circle text-orange"></i><span> Form Cek Sertifikat BPN</span></a></li>
                            <li class="' . $this->menu_bpn_api_datasertifikatbpn . '"><a href="' . $this->url('bpnapi') . '/datasertifikatbpn"><i class="fa fa-circle text-orange"></i><span> Data Sertifikat</span></a></li>        
                        </ul>
                    </li>                   
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>INFORMASI OP</span></a></li>
                    <li class="' . $this->menu_cetaklaporan . '"><a href="' . $this->url('cetak_laporan') . '"><i class="fa fa-paperclip text-green"></i><span>CETAK LAPORAN</span></a></li>
                   <!-- <li class="' . $this->menu_monitoring . '"><a href="' . $this->url('monitoring') . '"><i class=" fa fa-bar-chart text-green"></i><span>MONITORING TRANSAKSI</span></a></li> -->
		          <!-- <li class="' . $this->menu_sismiop . '"><a href="' . $this->url('kpppratama') . '"><i class="fa fa-table text-green"></i><span>KP PRATAMA</span></a></li> -->
                    <li class="treeview ' . $activated . '">
                        <a href="#">
                            <i class="fa fa-gears text-red"></i>
                            <span>SETTING</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="' . $this->side_pemda . '"><a href="' . $this->url('setting_pemda') . '"><i class="fa fa-circle text-orange"></i><span> Pemerintah Daerah</span></a></li>
                            <li class="' . $this->side_pejabat . '"><a href="' . $this->url('setting_pejabat_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Pejabat</span></a></li>        
                            <li class="' . $this->side_notaris . '"><a href="' . $this->url('setting_notaris_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Pejabat Notaris/PPAT</span></a></li>        
                            <li class="' . $this->side_jenis_transaksi . '"><a href="' . $this->url('setting_jenis_transaksi_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Jenis Transaksi</span></a></li>        
                            <li class="' . $this->side_npotkp . '"><a href="' . $this->url('setting_tarif_npotkp') . '"><i class="fa fa-circle text-orange"></i><span> Tarif NPOTKP</span></a></li>
                            <li class="' . $this->side_tarifbphtb . '"><a href="' . $this->url('setting_tarif_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Tarif BPHTB</span></a></li>
                            <li class="' . $this->side_haktanah . '"><a href="' . $this->url('setting_hak_tanah') . '"><i class="fa fa-circle text-orange"></i><span> Hak Tanah</span></a></li>                
                            <li class="' . $this->side_persyaratan_transaksi . '"><a href="' . $this->url('setting_persyaratan_transaksi_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Persyaratan Transaksi</span></a></li>                
                            <li class="' . $this->side_dokumen_tanah . '"><a href="' . $this->url('setting_dokumen_tanah_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Jenis Dokumen Tanah</span></a></li>  
                                <li class="' . $this->side_harga_acuan_tanah . '"><a href="' . $this->url('setting_harga_acuan_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Harga Acuan Tanah</span></a></li> 
                            <li class="' . $this->side_setting_format_pesan . '"><a href="' . $this->url('setting_format_pesan') . '"><i class="fa fa-circle text-orange"></i><span> Format Pesan</span></a></li>                
                            <li class="' . $this->side_setting_button . '"><a href="' . $this->url('setting_button') . '"><i class="fa fa-circle text-orange"></i><span> Tombol - tombol</span></a></li>                
                            <li class="' . $this->side_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Pengguna</span></a></li>
                            <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>
                        </ul>
                    </li>
                    
                    
                         
';
} elseif (@$role_id == 3) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>Pendaftaran</span></a></li>         
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>Pelaporan Notaris</span></a></li> 
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>Informasi OP</span></a></li>       
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 2) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>Pendaftaran</span></a></li> 
                    <li class="' . $this->menu_pengurangan . '"><a href="' . $this->url('pengurangan') . '"><i class="fa fa-minus text-green"></i><span>Pengurangan</span></a></li> 
		    		<li class="' . $this->menu_verifikasi . '"><a href="' . $this->url('verifikasi_spt') . '"><i class="fa fa-check text-green"></i><span>Validasi</span></a></li>  
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>Pelaporan Notaris</span></a></li> 
                    <li class="treeview ' . $this->menu_bpn_api . '">
                        <a href="#">
                            <i class="fa fa-bank text-green"></i>
                            <span>BPN Api</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="' . $this->menu_bpn_api_formceksertifikat . '"><a href="' . $this->url('bpnapi') . '/formceksertifikat"><i class="fa fa-circle text-orange"></i><span> Form Cek Sertifikat BPN</span></a></li>
                            <li class="' . $this->menu_bpn_api_datasertifikatbpn . '"><a href="' . $this->url('bpnapi') . '/datasertifikatbpn"><i class="fa fa-circle text-orange"></i><span> Data Sertifikat</span></a></li>        
                        </ul>
                    </li>
                    <li class="' . $this->menu_cetaklaporan . '"><a href="' . $this->url('cetak_laporan') . '"><i class="fa fa-paperclip text-green"></i><span>Cetak Laporan</span></a></li> 
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>Informasi OP</span></a></li>       
                   <!--  <li class="' . $this->menu_monitoring . '"><a href="' . $this->url('monitoring') . '"><i class=" fa fa-bar-chart text-green"></i><span>Monitoring Transaksi</span></a></li>
-->
                    
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';

    //        
    //<li class="' . $this->menu_pembayaran . '"><a href="' . $this->url('pembayaran_sptbphtb') . '"><i class="fa fa-money text-green"></i><span>Pembayaran</span></a></li>  
    //

} elseif (@$role_id == 4) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                   <li class="' . $this->menu_pembayaran . '"><a href="' . $this->url('pembayaran_sptbphtb') . '"><i class="fa fa-money text-green"></i><span>Pembayaran</span></a></li>     
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 5) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_bpn . '"><a href="' . $this->url('bpn_lihatdata') . '"><i class="fa fa-bank text-green"></i><span>BPN</span></a></li>  
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 6) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_kpppratama . '"><a href="' . $this->url('pendataan_pbb') . '"><i class="fa fa-table text-green"></i><span>Sismiop</span></a></li>
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 7) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_sismiop . '"><a href="' . $this->url('kpppratama') . '"><i class="fa fa-table text-green"></i><span>KP Pratama</span></a></li>
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 8) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>Pendaftaran</span></a></li> 
                    <li class="' . $this->menu_pengurangan . '"><a href="' . $this->url('pengurangan') . '"><i class="fa fa-minus text-green"></i><span>Pengurangan</span></a></li>
                    <li class="' . $this->menu_verifikasiberkas . '"><a href="' . $this->url('verifikasi_berkas') . '"><i class="fa fa-folder text-green"></i><span>Verifikasi Berkas</span></a></li> 
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>Pelaporan Notaris</span></a></li> 
                    <li class="treeview ' . $this->menu_bpn_api . '">
                        <a href="#">
                            <i class="fa fa-bank text-green"></i>
                            <span>BPN Api</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="' . $this->menu_bpn_api_formceksertifikat . '"><a href="' . $this->url('bpnapi') . '/formceksertifikat"><i class="fa fa-circle text-orange"></i><span> Form Cek Sertifikat BPN</span></a></li>
                            <li class="' . $this->menu_bpn_api_datasertifikatbpn . '"><a href="' . $this->url('bpnapi') . '/datasertifikatbpn"><i class="fa fa-circle text-orange"></i><span> Data Sertifikat</span></a></li>        
                        </ul>
                    </li>
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>Informasi OP</span></a></li>       
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 9) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
    <li class="' . $this->menu_pendataan . '"><a href="' . $this->url('pendataan_sspd') . '"><i class="fa fa-list text-green"></i><span>PENDAFTARAN</span></a></li> 
                    <li class="' . $this->menu_pengurangan . '"><a href="' . $this->url('pengurangan') . '"><i class="fa fa-minus text-green"></i><span>PENGURANGAN</span></a></li> 
                    <li class="' . $this->menu_verifikasiberkas . '"><a href="' . $this->url('verifikasi_berkas') . '"><i class="fa fa-folder text-green"></i><span>VERIFIKASI BERKAS</span></a></li>
                    <li class="' . $this->menu_verifikasi . '"><a href="' . $this->url('verifikasi_spt') . '"><i class="fa fa-check text-green"></i><span>VALIDASI</span></a></li>  
                    <li class="' . $this->menu_paraf_penandatanganan . '"><a href="' . $this->url('paraf_penandatanganan') . '"><i class="fa fa-hand-paper-o text-green"></i><span>PARAF TTE</span></a></li>  
                    <li class="' . $this->menu_penandatangan . '"><a href="' . $this->url('penandatanganan') . '"><i class="fa fa-hand-paper-o text-green"></i><span>PENANDATANGANAN</span></a></li>  
                    <li class="' . $this->menu_pembayaran . '"><a href="' . $this->url('pembayaran_sptbphtb') . '"><i class="fa fa-money text-green"></i><span>PEMBAYARAN</span></a></li>     
                    <li class="' . $this->menu_pelaporan . '"><a href="' . $this->url('pelaporan_notaris') . '"><i class="fa fa-book text-green"></i><span>PELAPORAN PPAT</span></a></li> 
                    <li class="' . $this->menu_bpn . '"><a href="' . $this->url('bpn_lihatdata') . '"><i class="fa fa-bank text-green"></i><span>BPN</span></a></li>   
                    <li class="treeview ' . $this->menu_bpn_api . '">
                        <a href="#">
                            <i class="fa fa-bank text-green"></i>
                            <span>BPN Api</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="' . $this->menu_bpn_api_formceksertifikat . '"><a href="' . $this->url('bpnapi') . '/formceksertifikat"><i class="fa fa-circle text-orange"></i><span> Form Cek Sertifikat BPN</span></a></li>
                            <li class="' . $this->menu_bpn_api_datasertifikatbpn . '"><a href="' . $this->url('bpnapi') . '/datasertifikatbpn"><i class="fa fa-circle text-orange"></i><span> Data Sertifikat</span></a></li>        
                        </ul>
                    </li>                   
                    <li class="' . $this->menu_informasiop . '"><a href="' . $this->url('informasiop') . '"><i class="fa fa-info text-green"></i><span>INFORMASI OP</span></a></li>
                    <li class="' . $this->menu_cetaklaporan . '"><a href="' . $this->url('cetak_laporan') . '"><i class="fa fa-paperclip text-green"></i><span>CETAK LAPORAN</span></a></li>
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} elseif (@$role_id == 10) {
    $tampilmenu = '<li class="' . $this->menu_home . '"><a href="' . $this->url('main_bphtb') . '"><i class="fa fa-th-large text-yellow"></i><span>Dashboard</span></a></li> 
                    <li class="' . $this->menu_penandatangan . '"><a href="' . $this->url('penandatanganan') . '"><i class="fa fa-hand-paper-o text-green"></i><span>PENANDATANGANAN</span></a></li>  
                    <li class="' . $this->side_password_pengguna . '"><a href="' . $this->url('setting_user_bphtb') . '/ubahpass"><i class="fa fa-circle text-orange"></i><span> Ubah Password</span></a></li>';
} else {
    $tampilmenu = '';
}
?>

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header"><b style="color: white">DAFTAR MENU BPHTB</b></li>
            <?= $tampilmenu; ?>
        </ul>
    </section>
</aside>


<!--Harga acuan tidak dipakai di singkawang-->
<!--<li class="' . $this->side_harga_acuan . '"><a href="' . $this->url('setting_harga_acuan_bphtb') . '"><i class="fa fa-circle text-orange"></i><span> Harga Acuan Tanah</span></a></li>-->