<table id="gridLog" class="display" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
    <thead>
        <tr class="bg-blue">
            <th>NO</th>
            <th>NIK</th>
            <th>TANGGAL</th>
            <th>RESPONSE CODE</th>
            <th>RESPONSE MESSAGE</th>
        </tr>
        <tr>
            <td>NO</td>
            <td>NIK</td>
            <td>TANGGAL</td>
            <td>RESPONSE CODE</td>
            <td>RESPONSE MESSAGE</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript" language="javascript">
    var gridLog;

    $('#gridLog thead td').each(function() {
        var title = $(this).text();

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
            $(this).html('');
        } else {
            $(this).html('<input type="text" placeholder="' + title + '" class="column_search pencariantable" />'); //style="width:100px;"
        }

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'responsecode') {
            $(this).html('');
        }

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'responsemessage') {
            $(this).html('');
        }

    });


    $('#gridLog thead td').on('keyup', ".column_search", function() {
        gridLog
            .column($(this).parent().index())
            .search(this.value)
            .draw();
    });

    $('#gridLog thead td').on('keyup change', "select", function() {

        gridLog.column($(this).parent().index())
            .search(this.value)
            .draw();
    });

    $("#btn-tab-3").on("click", function() {
        if (!$.fn.DataTable.isDataTable('#gridLog')) {
            gridLog = $('#gridLog').DataTable({
                "orderCellsTop": true,
                "fixedHeader": true,
                "bProcessing": true,
                "bServerSide": true,
                "bJQueryUI": false,
                //"responsive": true,
                "sAjaxSource": "<?= $this->url() . '/gridLog'; ?> ", // Load Data
                "sServerMethod": "POST",
                "iDisplayLength": 10,
                "aLengthMenu": [
                    [10],
                    [10]
                ],
                "aaSorting": [
                    [0, "asc"]
                ],
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bInfo": true,
                "bAutoWidth": false,
                //"scrollY":        "400px",
                "scrollX": true,
                //"scrollCollapse": true,
                "oLanguage": {
                    "sEmptyTable": "No incompleted albums found!", //when empty
                    "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                    "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                    "sZeroRecords": "<center>Tidak ada data</center>",
                    "sEmptyTable": "<center>Tidak ada data</center>",
                    "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                    "sInfoEmpty": "Tidak ada data",
                    "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                    "sLoadingRecords": "Loading...",
                    "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                    "oPaginate": {
                        "sFirst": "First",
                        "sLast": "Last",
                        "sNext": ">>",
                        "sPrevious": "<<"
                    } //pagination
                },
                "columnDefs": [{
                    "orderable": false,
                    "targets": [0, 1, 3, 4],
                    "searchable": false
                }, ]
            });
            $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        }
    });
</script>