<table id="gridBelum" class="display" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
    <thead>
        <tr class="bg-blue">
            <th>NO</th>
            <th style="text-align: center;"><input type="checkbox" id="checkAll"></th>
            <th>NO DAFTAR</th>
            <th>NO SSPD</th>
            <th>NAMA WAJIB PAJAK</th>
            <th>NOP</th>
            <th>KODEBAYAR</th>
            <th>JML PAJAK</th>
        </tr>
        <tr>
            <td>NO</td>
            <td>PERINTAH</td>
            <td>NO DAFTAR</td>
            <td>NO SSPD</td>
            <td>NAMA WAJIB PAJAK</td>
            <td>NOP</td>
            <td>KODEBAYAR</td>
            <td>JML PAJAK</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="box-penandatanganan" class="box box-primary" style="border: 1px solid #0073b7;">
    <div class="box-header with-border" style="
    background: #0073b7 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
    background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
    background: -moz-linear-gradient(center bottom, #1047a0 0, #2e76ea 100%) !important;
    background: -o-linear-gradient(#0089db, #0073b7) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
    color: #fff;
">
        <center>
            <h3 class="box-title"><span style="font-size: 24px;"><b>INFORMASI PENANDATANGANAN</b></span></h3>
        </center>
        <div class="pull-right">

        </div>
    </div>
    <div class="box-body">
        <form id="form-penandatanganan" method="POST" action="<?= $this->url() ?>/proses" class="form-horizontal">
            <div class="col-sm-12 form-group">
                <label class="col-sm-2 control-label">Pejabat</label>
                <div class="col-sm-6">
                    <select class="form-control" id="s_idpejabat" name="s_idpejabat" required>
                        <!-- <option value="">Silahkan Pilih</option> -->
                        <?php
                        foreach ($ar_pejabat as $k => $v) {
                            echo '<option value="' . $k . '">' . $v . '</option>';
                        }
                        ?>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-2 control-label">Passphrase</label>
                <div class="col-sm-4">
                    <input value="" class="form-control" type="password" id="passphrase" name="passphrase"
                        autocomplete="new-password" required>
                    <!-- #1234Qwer* -->
                    <input type="hidden" name="t_idspt" id="t_idspt">
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer">
        <button onclick="proses()" type="button" class="btn btn-info pull-right">Proses</button>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#checkAll').click(function (event) {
            if (this.checked) {
                // Iterate each checkbox
                $('.input-checkbox:checkbox').each(function () {
                    this.checked = true;
                }).change();
            } else {
                $('.input-checkbox:checkbox').each(function () {
                    this.checked = false;
                }).change();
            }
        });

        $('#gridBelum tbody').on('click', 'tr', function (event) {
            if (event.target.type !== 'checkbox') {
                $(':checkbox', this).trigger('click');
            }
        });
    });

    function proses() {
        $("#t_idspt").val("");
        var arr = [];
        $('.input-checkbox:checkbox:checked').each(function () {
            arr.push($(this).val());
        });
        if (arr.length == 0) {
            alert("Pilih Berkas Penandatangan Terlebih Dahulu");
            $("#checkAll").focus();
        } else if ($("#s_idpejabat").val() == "") {
            alert("Pilih Pejabat Dahulu");
            $("#s_idpejabat").focus();

        } else if ($("#passphrase").val() == "") {
            alert("Masukkan passphrase");
            $("#passphrase").focus();
        } else {
            $("#t_idspt").val(arr.join());
            $('form#form-penandatanganan').submit();
        }
    }

    var gridBelum;

    $('#gridBelum thead td').each(function () {
        var title = $(this).text();

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
            $(this).html('');
        } else {
            $(this).html('<input type="text" placeholder="' + title +
                '" class="column_search pencariantable" />'); //style="width:100px;"
        }

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
            $(this).html('');
        }
        if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlpajak') {
            $(this).html('');
        }

    });


    $('#gridBelum thead td').on('keyup', ".column_search", function () {
        gridBelum
            .column($(this).parent().index())
            .search(this.value)
            .draw();
    });

    $('#gridBelum thead td').on('keyup change', "select", function () {

        gridBelum.column($(this).parent().index())
            .search(this.value)
            .draw();
    });

    gridBelum = $('#gridBelum').DataTable({
        "orderCellsTop": true,
        "fixedHeader": true,
        "bProcessing": true,
        "bServerSide": true,
        "bJQueryUI": false,
        //"responsive": true,
        "sAjaxSource": "<?= $this->url() . '/gridBelum'; ?> ", // Load Data
        "sServerMethod": "POST",
        "iDisplayLength": 10,
        "aLengthMenu": [
            [10, 20, 50],
            [10, 20, 50]
        ],
        "aaSorting": [
            [0, "asc"]
        ],
        "bPaginate": true,
        "bLengthChange": true,
        "bFilter": true,
        "bInfo": true,
        "bAutoWidth": false,
        //"scrollY":        "400px",
        "scrollX": true,
        //"scrollCollapse": true,
        "oLanguage": {
            "sEmptyTable": "No incompleted albums found!", //when empty
            "sSearch": "<span>Pencarian:</span> _INPUT_", //search
            "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
            "sZeroRecords": "<center>Tidak ada data</center>",
            "sEmptyTable": "<center>Tidak ada data</center>",
            "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
            "sInfoEmpty": "Tidak ada data",
            "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
            "sLoadingRecords": "Loading...",
            "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
            "oPaginate": {
                "sFirst": "First",
                "sLast": "Last",
                "sNext": ">>",
                "sPrevious": "<<"
            } //pagination
        },
        "columnDefs": [{
            "orderable": false,
            "targets": [0, 1, 7],
            "searchable": false
        }, ]
    });

    $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
</script>