<div class="container">
    <section class="content">
        <div class="box box-info">
            <div class="box-header bg-blue">
                <i class="fa fa-check-square"></i>
                <h2 class="box-title"></h2>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="clearfix" align="center">
                        <img src="<?= $this->basePath() . '/' . $data_pemda->s_logo ?>" alt="" width="150">
                    </div>
                    <div class="clearfix" align="center">
                        <span style="font-size: 20px"><b>PROPINSI <?= strtoupper($data_pemda->s_namaprov) ?></b></span>
                        <BR>
                        <span style="font-size: 22px"><b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot) ?></b></span>
                        <br>
                        <span style="font-size: 24px"><b><?= strtoupper($data_pemda->s_namainstansi) ?> (<?= $data_pemda->s_namasingkatinstansi ?>)</b></span>
                        <br>
                        <?= $data_pemda->s_alamatinstansi ?> Telp/Fax <?= $data_pemda->s_notelinstansi ?>, Kode Pos <?= $data_pemda->s_kodepos ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header bg-blue">
                <i class="fa fa-check-square"></i>
                <h2 class="box-title">PENANDATANGANAN</h2>
            </div>
            <div class="box-body">
                <div class="row">
                    <center>
                        <img src="<?= $this->basePath() ?>/public/upload/19199644.png" style="width: 200px; height: 250px;">
                    </center>
                </div>
                <br>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">STATUS DOKUMEN</label>
                        <div class="col-sm-10">
                            : <button class="btn btn-sm btn-success"><i class="fa fa-check-square"></i>&nbsp;&nbsp;&nbsp;AKTIF</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">NAMA WP</label>
                        <div class="col-sm-10">
                            : <b><?= $data["namawp"] ?></b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">NOP</label>
                        <div class="col-sm-10">
                            : <b><?= $data["nop"] ?></b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">JENIS PAJAK</label>
                        <div class="col-sm-10">
                            : <b><?= $data["namapajak"] ?></b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">NO. PENDAFTARAN</label>
                        <div class="col-sm-10">
                            : <b style="color: blue;"><?= $data["nodaftar"] ?></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header bg-blue">
                <i class="fa fa-check-square"></i>
                <h3 class="box-title">INFO PENANDATANGANAN</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">PEMERINTAH DAERAH</label>
                        <div class="col-sm-10">
                            : <b><?= $data["namapemda"] ?></b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">LEMBAGA</label>
                        <div class="col-sm-10">
                            : <b><?= $data["lembaga"] ?></b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">PENANDATANGANAN</label>
                        <div class="col-sm-10">
                            : <b><?= $data["namattd"] ?></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header bg-blue">
                <i class="fa fa-check-square"></i>
                <h3 class="box-title">INFOMASI</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tgl. Penandatanganan</label>
                        <div class="col-sm-10">
                            : <b style="color: blue;;"><?= $data["tglttd"] ?></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>