<style type="text/css">

    .border_putus {
        border-top: 1px black dashed;
    }

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    


    @page {
        margin-top: 0.3em;  
        margin-left: 0.5em;          
        margin-right: 0.5em;          
    }
</style>
<?php
foreach ($this->data_sspd as $row) {
	if ($cetakversi == 1) {
 ?>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="6%">&nbsp;</td>
    <td width="1%">&nbsp;</td>
    <td width="62%">&nbsp;</td>
    <td width="31%">Blora</td>
  </tr>
  <tr>
    <td>Nomor</td>
    <td>:</td>
    <td>&nbsp;</td>
    <td>Kepada Yth.</td>
  </tr>
  <tr>
    <td>Lampiran</td>
    <td>:</td>
    <td>&nbsp;</td>
    <td>Kepala Badan Pendapatan</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>:</td>
    <td>Pengajuan Mutasi Seluruhnya</td>
    <td>Pengelolaan Kenuangan dan</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Aset Daerah Kabupaten Blora</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Kabupaten Blora</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td colspan="3">Sehubungan dengan terjadinya transaksi :</td>
  </tr>
  <tr>
    <td width="9%">&nbsp;</td>
    <td width="24%">Jual Beli / Hibah / Waris /</td>
    <td width="1%">:</td>
    <td width="66%"><?= $row["s_namajenistransaksi"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="3">Mohon untuk diadakan perubahan data Objek / Subjek PBB-P2, atas :</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>NOP</td>
    <td>:</td>
    <td><?= strtoupper($row["t_nopbphtbsppt"]) ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Nama Wajib Pajak</td>
    <td>:</td>
    <td><?= $row["t_namawppenjual"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Alamat</td>
    <td>:</td>
    <td><?= $row["t_alamatwppenjual"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Letak Objek Pajak</td>
    <td>:</td>
    <td><?= $row["t_alamatop"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Kelurahan / Kecamatan</td>
    <td>:</td>
    <td><?= $row["t_kelurahanwppenjual"] ?> / <?= $row["t_kecamatanwppenjual"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Kabupaten</td>
    <td>:</td>
    <td><?= $row["t_kabkotawppenjual"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Tanah</td>
    <td>:</td>
    <td><?= $row["t_luastanah"] ?>&nbsp; m2</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Bangunan</td>
    <td>:</td>
    <td><?= $row["t_luasbangunan"] ?>&nbsp; m2</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Menjadi :</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Nama Wajib Pajak</td>
    <td>:</td>
    <td><?= $row["t_namawppembeli"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Alamat Wajib Pajak</td>
    <td>:</td>
    <td><?= $row["t_alamatwppembeli"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Tanah</td>
    <td>:</td>
    <td><?= $row["t_luastanah"] ?>&nbsp; m2</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Bangunan</td>
    <td>:</td>
    <td><?= $row["t_luasbangunan"] ?> m2</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>Untuk proses penyelesaian lebih lanjut, bersama ini kami lampirkan :</td>
  </tr>
  <tr>
    <td width="9%">&nbsp;</td>
    <td width="91%">1. Fotokopi SPPT dan STTS tahun sebelumnya.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>2. Surat keterangan lunas PBB 5 (lima) tahun terakhir dari BPPKAD.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>3. Fotokopi KTP.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>4. SPOP.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>5. Surat Kuasa dalam hal dikuasakan.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>6. Fotokopi Surat Kepemilikan tanah.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>7. Fotokopi Ijin Mendirikan Bangunan / surat bangunan lainnya.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Demikian atas perhatiannya, kasar samapikan terima kasih</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>Blora, <?= date('d-m-Y', strtotime($row['t_tglprosesspt'])); ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="71%">&nbsp;</td>
    <td width="14%">Pemohon</td>
    <td width="15%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center">(.........................................)</div></td>
    <td>&nbsp;</td>
  </tr>
</table>
<?php 
	}elseif($cetakversi == 3){
?>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="6%">&nbsp;</td>
    <td width="1%">&nbsp;</td>
    <td width="62%">&nbsp;</td>
    <td width="31%">Blora</td>
  </tr>
  <tr>
    <td>Nomor</td>
    <td>:</td>
    <td>&nbsp;</td>
    <td>Kepada Yth.</td>
  </tr>
  <tr>
    <td>Lampiran</td>
    <td>:</td>
    <td>&nbsp;</td>
    <td>Kepala Badan Pendapatan</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>:</td>
    <td>Pengajuan Mutasi Seluruhnya</td>
    <td>Pengelolaan Kenuangan dan</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Aset Daerah Kabupaten Blora</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Kabupaten Blora</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td colspan="3">Sehubungan dengan terjadinya transaksi :</td>
  </tr>
  <tr>
    <td width="9%">&nbsp;</td>
    <td width="24%">Jual Beli / Hibah / Waris /</td>
    <td width="1%">:</td>
    <td width="66%"><?= $row["s_namajenistransaksi"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="3">Mohon untuk diadakan perubahan data Objek / Subjek PBB-P2, atas :</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>NOP</td>
    <td>:</td>
    <td><?= strtoupper($row["t_nopbphtbsppt"]) ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Nama Wajib Pajak</td>
    <td>:</td>
    <td><?= $row["t_namawppenjual"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Alamat</td>
    <td>:</td>
    <td><?= $row["t_alamatwppenjual"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Letak Objek Pajak</td>
    <td>:</td>
    <td><?= $row["t_alamatop"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Kelurahan / Kecamatan</td>
    <td>:</td>
    <td><?= $row["t_kelurahanwppenjual"] ?> / <?= $row["t_kecamatanwppenjual"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Kabupaten</td>
    <td>:</td>
    <td><?= $row["t_kabkotawppenjual"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Tanah</td>
    <td>:</td>
    <td><?= $row["t_luastanah"] ?>&nbsp; m2</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Bangunan</td>
    <td>:</td>
    <td><?= $row["t_luasbangunan"] ?>&nbsp; m2</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Menjadi :</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Nama Wajib Pajak</td>
    <td>:</td>
    <td><?= $row["t_namawppembeli"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Alamat Wajib Pajak</td>
    <td>:</td>
    <td><?= $row["t_alamatwppembeli"] ?>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Tanah</td>
    <td>:</td>
    <td><?= $row["t_luastanah"] ?>&nbsp; m2</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Bangunan</td>
    <td>:</td>
    <td><?= $row["t_luasbangunan"] ?> m2</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>Untuk proses penyelesaian lebih lanjut, bersama ini kami lampirkan :</td>
  </tr>
  <tr>
    <td width="9%">&nbsp;</td>
    <td width="91%">1. Fotokopi SPPT dan STTS tahun sebelumnya.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>2. Surat keterangan lunas PBB 5 (lima) tahun terakhir dari BPPKAD.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>3. Fotokopi KTP.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>4. SPOP.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>5. Surat Kuasa dalam hal dikuasakan.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>6. Fotokopi Surat Kepemilikan tanah.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>7. Fotokopi Ijin Mendirikan Bangunan / surat bangunan lainnya.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Demikian atas perhatiannya, kasar samapikan terima kasih</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>Blora, <?= date('d-m-Y', strtotime($row['t_tglprosesspt'])); ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="71%">&nbsp;</td>
    <td width="14%">Pemohon</td>
    <td width="15%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"></div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center">(.........................................)</div></td>
    <td>&nbsp;</td>
  </tr>
</table>
<?php
	}else{
		echo "Cetak error";
		error_reporting();
	}
}
?>