<style type="text/css">
    th,
    td {
        padding: 5px;
        vertical-align: top;
    }

    table {
        border-spacing: 0px;
        border-collapse: collapse;
    }

    .border_atas {
        border-top: 1px solid black;
        border-collapse: collapse;
    }

    .border_kiri {
        border-left: 1px solid black;
        border-collapse: collapse;
    }

    .border_kanan {
        border-right: 1px solid black;
        border-collapse: collapse;
    }

    .border_bawah {
        border-bottom: 1px solid black;
        border-collapse: collapse;
    }

    .border_bawah_tebal {
        border-bottom: 2px solid black;
        border-collapse: collapse;
    }

    .border_bawah_doble {
        border-bottom: 2px double black;
        border-collapse: collapse;
    }

    hr.doble_line {
        height: 6px;
        border-top: 2px solid black;
        border-bottom: 1px solid black;
    }

    .font_lima {
        font-size: 5pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }

    .font_sepuluh {
        font-size: 9pt;
    }

    .font_sembilan {
        font-size: 9pt;
    }

    .font_sepuluh {
        font-size: 10pt;
    }

    .font_duabelas {
        font-size: 12pt;
    }

    .font_empatbelas {
        font-size: 14pt;
    }

    .font_enambelas {
        font-size: 16pt;
    }

    .kolom {
        display: inline-table !important;
    }

    .font_bold {
        font-weight: bold;
    }

    .text_tengah {
        text-align: center;
    }

    .text-center {
        text-align: center;
    }

    .text_kanan {
        text-align: right;
    }


    .div-table {
        display: table;
        width: auto;
        border-spacing: 5px;
        /* cellspacing:poor IE support for  this */
    }

    .div-table-row {
        display: table-row;
        width: auto;
        clear: both;
    }

    .div-table-col {
        float: left;
        /* fix for  buggy browsers */
        display: table-column;
        min-width: 200px;
        /* background-color: #ccc; */
    }

    @page {
        margin: 40px;
        margin-top: 30px;
        margin-bottom: 70px;
        footer: page-footer;
        header: page-header;
    }
</style>


<table style="width: 100%; border-bottom: 5px double #000" cellspacing="0" cellpadding="0">
    <tr>
        <td style="text-align: center; width: 20%">
            <?php
            // $image = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/' . $data_pemda->s_logo; 

            use Zend\Debug\Debug;

            $image = str_replace("\\", "/", realpath(".")) . '/public/upload/Logo_Blora2.png';
            ?>
            <img width="50" src="<?= $image ?>" />
        </td>
        <td style="text-align: center">
            <b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot); ?>, <?= strtoupper($data_pemda->s_namaprov); ?></b><br>
            <b style="font-size: 15px"><?= strtoupper($data_pemda->s_namainstansi); ?> (<?= strtoupper($data_pemda->s_namasingkatinstansi); ?>)</b><br>
            <b style="font-size: 12px"><?= strtoupper($data_pemda->s_alamatinstansi); ?> Telp/Fax <?= $data_pemda->s_notelinstansi ?>, <?= $data_pemda->s_namaibukotakabkot ?> <?= $data_pemda->s_kodepos ?></b><br>
        </td>
        <td style="width: 20%">
            &nbsp;
        </td>
    </tr>
</table>

<!-- @if (in_array($pelayanan->t_id_jenis_pelayanan, [3])) -->
<?php if (in_array($pelayanan['t_id_jenis_pelayanan'], [2, 3])) { ?>
    <table style="width: 100%;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="text-align: center;padding-top: 24px;">
                <span style="font-size: 12pt; text-align: center;font-weight: bold">TANDA TERIMA</span><br>
                <span style="text-align: center">TELAH DILAKUKAN PERUBAHAN DATA SPPT PBB DARI</span><br>
                <span style="text-align: center">DATA LAMA</span>
            </td>
        </tr>
    </table>
    <table style="border: 1px solid #000;width: 100%" cellspacing="0" cellpadding="0">
        <tr>
            <td style="width: 30%">Nama</td>
            <td style="width: 15px;">:</td>
            <td colspan="3"><?= $dataLama['t_nama_wp'] ?></td>
        </tr>
        <tr>
            <td>Alamat Subjek Pajak</td>
            <td>:</td>
            <td colspan="3"><?= $dataLama['t_jalan_wp'] ?>, RT. <?= $dataLama['t_rt_wp'] ?>, RW.
                <?= $dataLama['t_rw_wp'] ?>
            </td>
        </tr>
        <tr>
            <td>Alamat Objek Pajak</td>
            <td>:</td>
            <td colspan="3">
                <?= $dataLama['t_jalan_op'] . ' RT. ' . $dataLama['t_rt_op'] . ' RW. ' . $dataLama['t_rw_op'] ?>
            </td>
        </tr>
        <tr>
            <td>Luas Bumi</td>
            <td>:</td>
            <td colspan="3">
                <?= $dataLama['t_luas_tanah'] ?>
            </td>
        </tr>
        <tr>
            <td>Luas Bangunan</td>
            <td>:</td>
            <td colspan="3">
                <?= $dataLama['t_luas_bangunan'] ?>
            </td>
        </tr>
    </table>

    <table style="width: 100%;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="text-align: center;padding-top: 24px;">
                <span style="text-align: center">DATA BARU</span>
            </td>
        </tr>
    </table>

    <!-- @foreach ($dataBaru as $k => $v) -->
    <?php foreach ($dataBaru as $k => $v) {
    ?>

        <table style="border: 1px solid #000;width: 100%" cellspacing="0" cellpadding="0">
            <tr>
                <td style="width: 30%">Nama</td>
                <td style="width: 15px;">:</td>
                <td colspan="3"><?= $v['t_nama_wp'] ?></td>
            </tr>
            <tr>
                <td>Alamat Subjek Pajak</td>
                <td>:</td>
                <td colspan="3"><?= $v['t_jalan_wp'] ?>, RT. <?= $v['t_rt_wp'] ?>, RW.
                    <?= $v['t_rw_wp'] ?>
                </td>
            </tr>
            <tr>
                <td>Alamat Objek Pajak</td>
                <td>:</td>
                <td colspan="3">
                    <?= $v['t_jalan_op'] . ' RT. ' . $v['t_rt_op'] . ' RW. ' . $v['t_rw_op'] ?>
                </td>
            </tr>
            <tr>
                <td>Luas Bumi</td>
                <td>:</td>
                <td colspan="3">
                    <?= $v['t_luas_tanah'] ?>
                </td>
            </tr>
            <tr>
                <td>Luas Bangunan</td>
                <td>:</td>
                <td colspan="3">
                    <?= $v['luas_bng'] == null ? ($pelayanan['t_id_jenis_pelayanan'] == 2 ? $dataLama['t_luas_bangunan'] : 0) : $v['luas_bng'] ?>
                </td>
            </tr>
        </table>
    <?php } ?>
<?php } else { ?>
    <table style="width: 100%;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="text-align: center;padding-top: 24px;">
                <span style="font-size: 12pt; text-align: center;font-weight: bold">TANDA TERIMA</span><br>
                <span style="text-align: center">TELAH DILAKUKAN PERUBAHAN DATA SPPT PBB DARI</span><br>
                <span style="text-align: center">DATA LAMA</span>
            </td>
        </tr>
    </table>
    <table style="border: 1px solid #000;width: 100%" cellspacing="0" cellpadding="0">
        <tr>
            <td style="width: 30%">Nama</td>
            <td style="width: 15px;">:</td>
            <td colspan="3"><?= $wpLama['t_nama_wp'] ?></td>
        </tr>
        <tr>
            <td>Alamat Subjek Pajak</td>
            <td>:</td>
            <td colspan="3"><?= $wpLama['t_jalan_wp'] ?>, RT. <?= $wpLama['t_rt_wp'] ?>, RW.
                <?= $wpLama['t_rw_wp'] ?>
            </td>
        </tr>
        <tr>
            <td>Alamat Objek Pajak</td>
            <td>:</td>
            <td colspan="3">
                <?= $pelayanan['t_jalan_op'] . ' RT. ' . $pelayanan['t_rt_op'] . ' RW. ' . $pelayanan['t_rw_op'] ?>
            </td>
        </tr>
        <tr>
            <td>Luas Bumi</td>
            <td>:</td>
            <td colspan="3">
                <?= $pelayanan['t_luas_tanah'] ?>
            </td>
        </tr>
        <tr>
            <td>Luas Bangunan</td>
            <td>:</td>
            <td colspan="3">
                <?= $pelayanan['t_luas_bangunan'] == null ? 0 : $pelayanan['t_luas_bangunan'] ?>
            </td>
        </tr>
    </table>

    <table style="width: 100%;" cellspacing="0" cellpadding="0">
        <tr>
            <td style="text-align: center;padding-top: 24px;">
                <span style="text-align: center">DATA BARU</span>
            </td>
        </tr>
    </table>


<?php }
// Debug::dump($pelayanan);
// exit;
?>

<table style="width: 100%;" cellspacing="0" cellpadding="0">
    <tr>
        <td style="text-align: center;padding-top: 24px;">
            <span style="text-align: center">DATA SPPT TERBARU DAPAT DITERIMA DI TAHUN BERIKUTNYA.</span>
        </td>
    </tr>
</table>

<!-- @elseif (in_array($pelayanan->t_id_jenis_pelayanan, [2])) -->
<!-- 
@php
// dd($pelayanan['OpLama']['t_luas_tanah']);
@endphp
@else -->