<style type="text/css">
    .kotak{
        border: 1px black solid;
        font-size: 13px;
    }
    .tengah {
        float: none;
        margin: 0 auto;
    }
    .radio_render{
        margin-top: -2.5px;
        margin-left: 17%;
    }
    .radio_render label {
        width: 75%;
        float: left;
    }
</style>
<?php
ini_set("max_execution_time", 500);
foreach ($this->data_sspd as $row) {
    $data_pemda = $this->data_pemda;
    ?>
    <div style="page-break-after: always;width: 100%;" class="kotak">
      
        <center>
          <p><b style="font-size: 15px"><u>FORMULIR PERMOHONAN PENELITIAN SSPD-BPHTB</u></b></p>
          <p>&nbsp;</p>
        </center>
<table width="100%" border="0">
<tr>
            <td width="15%">&nbsp;</td>
            <td width="1%">&nbsp;</td>
            <td width="62%">&nbsp;</td>
            <td width="2%">&nbsp;</td>
            <td width="20%">Kepada</td>
          </tr>
          <tr>
            <td>Lampiran</td>
            <td>:</td>
            <td>1 (satu) set</td>
            <td>Yth.</td>
            <td>Kepala BPPKAD</td>
          </tr>
          <tr>
            <td>Perihal</td>
            <td>:</td>
            <td>Penyampaian SSPD BPHTB</td>
            <td>&nbsp;</td>
            <td>Kabupaten BLORA</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>untuk diteliti</td>
            <td>&nbsp;</td>
            <td>di - </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><div align="center">Blora</div></td>
          </tr>
        </table>
        <br>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2">
                    <?= ucwords($data_pemda->s_namainstansi); ?> Pemerintah <?= ucwords($data_pemda->s_namakabkot); ?>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 14px">
                    Yang bertanda tangan dibawah ini :
                </td>
            </tr>
            <tr>
                <td width="200px">
                    Nama Wajib Pajak
                </td>
                <td>
                    : <?= strtoupper($row['t_namawppembeli']) ?> 
                </td>   
            </tr>
            <tr>
                <td>
                    NPWP
                </td>
                <td>
                    : <?= $row['t_npwpwppembeli'] ?>
                </td>
            </tr>
            <tr>
                <td>
                    Alamat
                </td>
                <td>
                    : <?= strtoupper($row["t_alamatwppembeli"]) ?>
                </td>
            </tr>
</table>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2">
                    Bersama ini menyampaikan SSPD-BPHTB untuk diteliti atas perolehan hak atas tanah dan/atau bangunan sebagai berikut :
                </td>
            </tr>
            <tr>
                <td width="200px">
                    NOP
                </td>
                <td>
                    : <?= $row['t_nopbphtbsppt'] ?> 
                </td>   
            </tr>
            <tr>
                <td>
                    Alamat
                </td>
                <td>
                    : <?= strtoupper($row['t_alamatop']) ?>
                </td>
            </tr>
            <tr>
                <td>
                    Desa/Kelurahan
                </td>
                <td>
                    : <?= strtoupper($row["t_kelurahanop"]) ?>
                </td>
            </tr>
            <tr>
                <td>
                    Kabupaten/Kota
                </td>
                <td>
                    : <?= strtoupper($data_pemda->s_namakabkot) ?>
                </td>
            </tr>
        </table>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2">
                    Terlampir dokumen sebagai berikut :
                </td>
            </tr>
            <tr>
                <td width="10px" style="margin-top: 0px">
                    (1)
                </td>
                <td style="width: 60%">
                    SSPD-BPHTB ;</td>   
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (2)
                </td>
                <td>
                    Fotocopi SPPT tahun terakhir
                ;</td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (3)
                </td>
                <td>
                    Fotokopi tanda bukti lunas PBB tahun terakhir ;</td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (4)
                </td>
                <td>Fotokopi identitas Wajib Pajak (KTP / tanda penganal lainya) :</td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (5)
                </td>
                <td>
                  Fotokopi identias pemberi (KTP / tanda pengenal lainnya) dalam hal pemindahan hibah wasiat ;</td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (6)
                </td>
                <td>
                    Fotokopi KK atau Surat Keterangan Hubungan Keluarga dalam hal transaksi waris ;</td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (7)
                </td>
                <td>
                    Fotokopi Surat Keterangan Waris
                diketahui Lurah / Kepala Desa setempat dan Camat dalam hal transaksi waris</td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
                <td>
                    (8)
                </td>
                <td>
                    Fotokopi Surat Keterangan Wasiat (dalam hal transaksi hibah wasiat) ;</td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
            <tr>
              <td>
              	(9)
              </td>
              <td>Surat Kuasa dari Wajib Pajak dan Fotokopi identitas Kuasa Wajib Pajak (KTP / tanda pengenal lainya) apabila penyampaian permohonan oleh pihak lain ;</td>
              <td class="kotak" style="width: 25px"></td>
            </tr>
            <tr>
                <td>
                    (10)
                </td>
                <td>Dokumen Pendukung lain yang diperlukan ;</td>
                <td class="kotak" style="width: 25px">
                </td>
            </tr>
        </table>
        <table width="100%">
      <tr>
                <td colspan="2">
                    Keterangan &nbsp;&nbsp;&nbsp;&nbsp;: 
                </td>
            </tr>
            <tr>
                <td style="width: 60%">
                    v Centang Data yang tersedia
                </td>
                <td>
                    Blora, <?= date('d-m-Y', strtotime($tgl_cetak)) ?>
                </td>
            </tr>
            <tr>
                <td>
                    * Dalam Hal dikuasakan
                    <br><br><br>
                    <br><br>
                </td>
                <td>
                    Wajib pajak/Kuasa Wajib Pajak
                    <br><br><br>
                    <br>
                    (.......................................................)
                </td>
            </tr>
        </table> 
        <hr>
        <center>PENELITIAN</center>
        <hr>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td>
                    Setelah melakukan pemeriksaan dan penelaahan SSPD-BPHTB dan dokumen pendukung dari Wajib Pajak, dengan ini menyatakan :<br>
                    <table>
                        <tr>
                            <td>
                                -Data objek pajak yang tercantum dalam SSPD-BPHTB telah sesuai
                            </td>
                            <td class="kotak" style="width: 50px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                -Nilai BPHTB terhutang yang tercantum dalam SSPD-BPHTB telah sesuai
                            </td>
                            <td class="kotak" style="width: 50px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                -Dokumen pendukung perolehan hak atas tanah/dan bangunan telah lengkap
                            </td>
                            <td class="kotak" style="width: 50px">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%">
            <tr>
                <td colspan="2">
                    Keterangan &nbsp;&nbsp;&nbsp;&nbsp;: 
                </td>
            </tr>
            <tr>
                <td style="width: 60%">
                    - Coret yang tidak perlu
                </td>
                <td>
                    <?= ucwords($data_pemda->s_namaibukotakabkot); ?>, <?= date('d-m-Y', strtotime($tgl_cetak)) ?>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><br>
                    <br><br>
                </td>
                <td>
                    Petugas Penelitian<br><br><br>
                    <br><br>
                    (.......................................................)
                </td>
            </tr>
        </table> 
    </div>
    <?php
}
?>
