<?php

if ($cetak == 1) {
    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    //$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'Legal-L', 0, '', 10, 10, 5, 1, 1, 1, '');
} else {
    header("Content-type: application/vnd-ms-excel");
    header("Content-Disposition: attachment; filename=cetakdatapendaftaran.xls");
}
$html = '';
$html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}
</style>
<style> .str{ mso-number-format:\@; } </style>
</head>
<body>';

if ($cetak == 1) {
    $html .= '<htmlpageheader name="MyHeader1">

    </htmlpageheader>
    
    <htmlpageheader name="MyHeader2">
    
    </htmlpageheader>
    
    <htmlpagefooter name="MyFooter1">
    <table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
        color: #000000; font-weight: bold; font-style: italic;"><tr>
        <td width="33%"><spanstyle="font-weight: bold; font-style: italic;"></span></td>
        <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
        <td width="33%" style="text-align: right; "></td>
        </tr></table>
    </htmlpagefooter>
    
    <htmlpagefooter name="MyFooter2">
    <table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
        color: #000000; font-weight: bold; font-style: italic;"><tr>
        <td width="33%"><spanstyle="font-weight: bold; font-style: italic;"></span></td>
        <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
        <td width="33%" style="text-align: right; "></td>
        </tr></table>
    </htmlpagefooter>
    ';
}

$html .= '<div>';

$linklokal = $_SERVER["DOCUMENT_ROOT"] . $this->basePath() . "/";

$html .= '
    <img src="' . $linklokal . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
 
<td colspan="10">
       <center>
        <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
        <br>
        <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
        <br>
        <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . '</b>
       </center>
</td>
</tr>
  <tr>
 
<td colspan="10"><center><br><br><br><br><h3>DAFTAR DATA PENDAFTARAN</h3></center></td>

</tr>
  <tr>
    <td width="6">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="644">&nbsp;</td>
  </tr>
</table>
<table>
    <tr>
        <td>Notaris</td>
        <td>:</td>
        <td>' . $nama_notaris . '</td>
    </tr>
    <tr>
        <td>Tanggal Cetak</td>
        <td>:</td>
        <td>' . $tgl_cetak . '</td>
    </tr>
    <tr>
        <td>Tanggal Pendaftaran</td>
        <td>:</td>
        <td>' . $tgl_verifikasi1 . ' s/d ' . $tgl_verifikasi2 . '</td>
    </tr>
</table>
    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        <tr>
            <th rowspan="2" style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; ">
                <center>Status Validasi</center>                    
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; ">
                <center>Tgl Daftar</center>                    
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; ">
                <center>No. Daftar</center>                    
            </th>
            <th colspan="2" style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; ">
                <center>Informasi Wajib Pajak</center>                    
            </th>
            <th colspan="2" style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; ">
                <center>Informasi Penjual</center>                      
            </th>
            <th colspan="6" style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; ">
                <center>Informasi Objek Pajak</center>                      
            </th>
        </tr>
        <tr>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                <center>Nama / NIK</center>                    
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:150px; word-wrap: break-word; ">
                <center>Alamat</center>                  
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                <center>Nama / NIK</center>                    
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:150px; word-wrap: break-word; ">
                <center>Alamat</center>                  
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:150px; word-wrap: break-word;">
                <center>NOP / Tahun SPPT</center>                
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:150px; word-wrap: break-word;">
                <center>Letak Tanah / Bangunan</center>                
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:100px; word-wrap: break-word;">
                <center>Jenis Transaksi</center>     
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:150px; word-wrap: break-word;">
                <center><span>Nama Notaris/PPATS</span></center>                  
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:150px; word-wrap: break-word;">
               <center>Luas Tanah (Bumi) / Luas Bangunan</center>                
            </th>
            <th style="border-bottom: 1px solid #000; border-right: 1px solid #000;  width:150px; word-wrap: break-word;">
               <center>Harga Transaksi / Nilai Pasar</center>            
            </th>
        </tr>
    </thead>    
    <tbody>
        ';

$totalPembayaran = 0;
$counter = 1;
$status_validasi = [
    "1" => "Validasi Sudah",
    "4" => "Berkas Sudah/Menunggu Validasi",
    "2" => "Berkas Tidak Lengkap",
    "3" => "Belum"
];
foreach ($this->data_Verifikasi as $k => $v) {
    $html .= '
            
            <tr>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000; vertical-align: top;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align: top;">
                    ' . $status_validasi[$v["status_validasi"]] . '                  
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align: top;">
                    ' . $v['t_tglprosesspt'] . '                  
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align: top;">
                    ' . $v['t_kohirspt'] . '                  
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align: top; width:60px;">
                    ' . $v['t_namawppembeli'] . ' / ' . $v['t_nikwppembeli'] . '                    
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align: top;">
                    ' . $v["t_alamatwppembeli"] . ' .Kel. ' . $v['t_kelurahanwppembeli'] . ' Kec. ' . $v['t_kecamatanwppembeli'] . ' Kab/kota ' . $v['t_kabkotawppembeli'] . '                    
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align: top; width:60px;">
                    ' . $v['t_namawppenjual'] . ' / ' . $v['t_nikwppenjual'] . '                       
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align: top;">
                    ' . $v["t_alamatwppenjual"] . ' .Kel. ' . $v['t_kelurahanwppenjual'] . ' Kec. ' . $v['t_kecamatanwppenjual'] . ' Kab/kota ' . $v['t_kabkotawppenjual'] . '                    
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align:middle;">
                   <center> ' . $v['t_nopbphtbsppt'] . ' / ' . $v['t_thnsppt'] . '</center>                      
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align:middle;">
                   ' . $v['t_alamatop'] . ' KEL. ' . $v["t_kelurahanop"] . ' KEC. ' . $v["t_kecamatanop"] . ' KAB. ' . $v["t_kabupatenop"] . '                  
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align:middle;">
                   <center> ' . $v['s_namajenistransaksi'] . ' </center>                      
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align:top;">
                    ' . $v['s_namanotaris'] . '                   
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align:middle;">
                    <center>' . $v['t_luastanah'] . ' / ' . $v['t_luasbangunan'] . '</center>                  
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;  vertical-align:middle; " align="right">
                    <spanstyle="float:right;">' . number_format($v["t_nilaitransaksispt"], 0, ',', '.') . ' </span>                       
                </td>
            </tr>        
            ';


    $counter++;
}


$html .= '</tbody></table>';

if ($cetak == 1) {
    ob_clean();
    $html .= '</div>';
    $html .= '</body></html>';
    $mpdf->WriteHTML($html);
    $mpdf->Output("cetakdatapendaftaran.pdf", "I");
} else {
    echo $html;
}
