<style type="text/css">

    .border_putus {
        border-top: 1px black dashed;
    }

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    


    @page {
        margin-top: 0.3em;  
        margin-left: 0.5em;          
        margin-right: 0.5em;          
    }
	
	.kotak{
        border: 1px black solid;
        font-size: 13px;
    }
	
  .tengah {
        float: none;
        margin: 0 auto;
    }
	
</style>
<?php
foreach ($this->data_sspd as $row) {
	if ($cetakversi == 1) {
 ?>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="21%">&nbsp;</td>
    <td width="38%">&nbsp;</td>
    <td width="36%">Blora</td>
  </tr>
  <tr>
    <td>Nomor </td>
    <td>:</td>
    <td>&nbsp;</td>
    <td>Kepada Yth.</td>
  </tr>
  <tr>
    <td>Lampiran</td>
    <td>:</td>
    <td>&nbsp;</td>
    <td>Kepala Badan Pendapatan </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">: Pengajuan Pendaftaran Objek Pajak</td>
    <td>Pengelolaan Keuangan dan </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Aset Daerah Kabupaten Blora</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Di -</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Blora</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">Yang bertanda tangan di bawah ini :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="21%">Nama</td>
    <td width="38%">: <?= strtoupper($row['t_namawppembeli']) ?></td>
    <td width="36%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Alamat</td>
    <td>: <?= strtoupper($row["t_alamatwppembeli"]) ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">dengan ini mengajukan pendaftaran atas objek pajak sebagai berikut :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Nama Wajib Pajak</td>
    <td>:  <?= strtoupper($row['t_namawppenjual']) ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Alamat Wajib Pajak</td>
    <td>:  <?= strtoupper($row['t_alamatwppenjual']) ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Letak Objek Pajak</td>
    <td>: <?= strtoupper($row["t_alamatop"]) ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Kelurahan / Kecamatan</td>
    <td>: <?= $row["t_kelurahanop"] ?> / <?= $row["t_kecamatanop"] ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Tanah </td>
    <td>: <?= $row["t_luastanah"] ?> m2</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Bangunan</td>
    <td>: <?= $row["t_luasbangunan"] ?> m2</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">Untuk proses penyelesaian lebih lanjut, bersama ini kami lampirkan :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">1. Formulir SPOP.</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">2. Fotokopi KTP.</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">3. Fotokopi surat kepemilikan tanah.</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">4. Fotokopi Ijin Mendirikan Bangunan / surat bangunan lainnya.</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td width="66">&nbsp;</td>
    <td width="44" class="kotak" style="width: 25px" >&nbsp;</td>
    <td width="898">Seritifikat.</td>
    <td width="116">&nbsp;</td>
    <td width="173">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="kotak" style="width: 25px" >&nbsp;</td>
    <td>Akta Jual Beli.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="kotak" style="width: 25px" >&nbsp;</td>
    <td>Lainnya.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td width="9%">&nbsp;</td>
    <td width="86%">5. Surat Kuasa, dalam hal diajukan oleh Kuasa Wajib Pajak.</td>
    <td width="2%">&nbsp;</td>
    <td width="3%">&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td width="66">&nbsp;</td>
    <td width="45" class="kotak" style="width: 25px">&nbsp;</td>
    <td width="1044">IMB.</td>
    <td width="39">&nbsp;</td>
    <td width="103">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="kotak" style="width: 25px" >&nbsp;</td>
    <td>Surat Pernyataan Penambahan Bangunan.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="kotak" style="width: 25px" >&nbsp;</td>
    <td>Lainnya.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td width="6%">&nbsp;</td>
    <td>Demikian atas perhatiannya diucapkan terima kasih</td>
    <td>Blora,
    <?= date('d-m-Y', strtotime($row['t_tglprosesspt'])); ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="58%">&nbsp;</td>
    <td width="14%">Pemohon</td>
    <td width="22%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>(........................................)</td>
    <td>&nbsp;</td>
  </tr>
</table>
<?php
	}elseif($cetakversi == 3) {
?>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="21%">&nbsp;</td>
    <td width="38%">&nbsp;</td>
    <td width="36%">Blora</td>
  </tr>
  <tr>
    <td>Nomor </td>
    <td>:</td>
    <td>&nbsp;</td>
    <td>Kepada Yth.</td>
  </tr>
  <tr>
    <td>Lampiran</td>
    <td>:</td>
    <td>&nbsp;</td>
    <td>Kepala Badan Pendapatan </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">: Pengajuan Pendaftaran Objek Pajak</td>
    <td>Pengelolaan Keuangan dan </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Aset Daerah Kabupaten Blora</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Di -</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Blora</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">Yang bertanda tangan di bawah ini :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="21%">Nama</td>
    <td width="38%">: <?= strtoupper($row['t_namawppembeli']) ?></td>
    <td width="36%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Alamat</td>
    <td>: <?= strtoupper($row["t_alamatwppembeli"]) ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">dengan ini mengajukan pendaftaran atas objek pajak sebagai berikut :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Nama Wajib Pajak</td>
    <td>:  <?= strtoupper($row['t_namawppenjual']) ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Alamat Wajib Pajak</td>
    <td>:  <?= strtoupper($row['t_alamatwppenjual']) ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Letak Objek Pajak</td>
    <td>: <?= strtoupper($row["t_alamatop"]) ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Kelurahan / Kecamatan</td>
    <td>: <?= $row["t_kelurahanop"] ?> / <?= $row["t_kecamatanop"] ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Tanah </td>
    <td>: <?= $row["t_luastanah"] ?> m2</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Luas Bangunan</td>
    <td>: <?= $row["t_luasbangunan"] ?> m2</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">Untuk proses penyelesaian lebih lanjut, bersama ini kami lampirkan :</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">1. Formulir SPOP.</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">2. Fotokopi KTP.</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">3. Fotokopi surat kepemilikan tanah.</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2">4. Fotokopi Ijin Mendirikan Bangunan / surat bangunan lainnya.</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td width="66">&nbsp;</td>
    <td width="44" class="kotak" style="width: 25px" >&nbsp;</td>
    <td width="898">Seritifikat.</td>
    <td width="116">&nbsp;</td>
    <td width="173">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="kotak" style="width: 25px" >&nbsp;</td>
    <td>Akta Jual Beli.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="kotak" style="width: 25px" >&nbsp;</td>
    <td>Lainnya.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td width="9%">&nbsp;</td>
    <td width="86%">5. Surat Kuasa, dalam hal diajukan oleh Kuasa Wajib Pajak.</td>
    <td width="2%">&nbsp;</td>
    <td width="3%">&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td width="66">&nbsp;</td>
    <td width="45" class="kotak" style="width: 25px">&nbsp;</td>
    <td width="1044">IMB.</td>
    <td width="39">&nbsp;</td>
    <td width="103">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="kotak" style="width: 25px" >&nbsp;</td>
    <td>Surat Pernyataan Penambahan Bangunan.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="kotak" style="width: 25px" >&nbsp;</td>
    <td>Lainnya.</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
    <td>Demikian atas perhatiannya diucapkan terima kasih</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="6%">&nbsp;</td>
    <td>&nbsp;</td>
    <td>Blora,<?= date('d-m-Y', strtotime($row['t_tglprosesspt'])); ?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="58%">&nbsp;</td>
    <td width="14%">Pemohon</td>
    <td width="22%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>(........................................)</td>
    <td>&nbsp;</td>
  </tr>
</table>
<?php	
	}else{
		echo"Cetak error";
		error_reporting();
	}
 } ?>