<style type="text/css">

    .border_putus {
        border-top: 1px black dashed;
    }

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    
	
	.kotak{

        border: 1px black solid;

    }
    .tengah {
        float: none;
        margin: 0 auto;
    }
    .radio_render{
        margin-top: -2.5px;
        margin-left: 17%;
    }

    .radio_render label {
        width: 75%;
        float: left;
    }
</style>
<?php
ini_set("max_execution_time", 500);
if (!function_exists('kekata')) {

    function kekata($x) {
        $x = abs($x);
        $angka = array("", "Satu", "Dua", "Tiga", "Empat", "Lima",
            "Enam", "Tujuh", "Delapan", "Sembilan", "Sepuluh", "Sebelas");
        $temp = "";
        if ($x < 12) {
            $temp = " " . $angka[$x];
        } else if ($x < 20) {
            $temp = kekata($x - 10) . " Belas";
        } else if ($x < 100) {
            $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
        } else if ($x < 200) {
            $temp = " Seratus" . kekata($x - 100);
        } else if ($x < 1000) {
            $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
        } else if ($x < 2000) {
            $temp = " Seribu" . kekata($x - 1000);
        } else if ($x < 1000000) {
            $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
        } else if ($x < 1000000000) {
            $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
        } else if ($x < 1000000000000) {
            $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
        } else if ($x < 1000000000000000) {
            $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
        }
        return $temp;
    }

}

function terbilang($x, $style = 4) {
    if ($x < 0) {
        $hasil = "MINUS " . trim(kekata($x));
    } else {
        $hasil = trim(kekata($x));
    }
    switch ($style) {
        case 1:
            $hasil = strtoupper($hasil);
            break;
        case 2:
            $hasil = strtolower($hasil);
            break;
        case 3:
            $hasil = ucwords($hasil);
            break;
        default:
            $hasil = ucfirst($hasil);
            break;
    }
    return $hasil;
}


foreach ($this->data_sspd as $row) {
 ?>
 <div style="page-break-after: always;width: 100%;">
 <table width="100%" class="border_atas border_bawah border_kanan border_kiri font_kecil" style="padding:0;border-spacing:0px;" border="0">
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="20%" rowspan="2"><table align="center">
                            <tr>
                                <td align="center" class="font_delapan">
                                    <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" src="http://<?= $_SERVER['HTTP_HOST']; ?>/<?= $this->basePath(); ?>/<?= $data_pemda->s_logo ?>"/><br>
                                    PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot) ?><br>
                                    <?= strtoupper($data_pemda->s_namainstansi) ?>

                                </td>
                            </tr>
                        </table></td>
        <td width="46%" class="border_bawah"><div align="center">PEMERINTAH KABUPATEN BLORA DINAS PENDAPATAN PENGELOLAAN KEUANGAN DAN ASET DAERAH</div></td>
        <td width="34%"><table width="100%" class="border_atas border_bawah border_kanan border_kiri" border="0">
          <tr>
            <td width="84">No.Formulir</td>
            <td class="kotak" style="width: 15px">&nbsp;</td>
            <td class="kotak" style="width: 15px">&nbsp;</td>
            <td width="4">&nbsp;</td>
            <td class="kotak" style="width: 15px">&nbsp;</td>
            <td width="4" class="kotak" style="width: 15px">&nbsp;</td>
            <td width="4" class="kotak" style="width: 15px">&nbsp;</td>
            <td width="4" class="kotak" style="width: 15px">&nbsp;</td>
            <td width="4">&nbsp;</td>
            <td width="4" class="kotak" style="width: 15px">&nbsp;</td>
            <td width="4" class="kotak" style="width: 15px">&nbsp;</td>
            <td width="4" class="kotak" style="width: 15px">&nbsp;</td>
            <td width="25">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><div align="center"><strong>SURAT PEMBERITAHUAN OBJEK PAJAK</strong> <strong>BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (S P O P B P H T B)</strong></div></td>
        <td class="font_kecil">Selain yang diisi oleh petugas (bagian yang diarsir), diisi oleh Wajib Pajak Beri tanda silang pada kolom yang sesuai</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="10">&nbsp;</td>
        <td width="127">1. Jenis Transaksi</td>
        <td width="40" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="324">1. Perekaman Data</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="362">2. Pemutakhiran Data</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="353">3. Penghapusan Data</td>
        <td width="22">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
      	<td width="11">&nbsp;</td>
        <td width="214">2.NOP</td>
        <td width="27" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="9">&nbsp;</td>
        <td width="27" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="9">&nbsp;</td>
        <td width="27" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="9">&nbsp;</td>
        <td width="27" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="9">&nbsp;</td>
        <td width="27" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="9">&nbsp;</td>
        <td width="27" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="12">&nbsp;</td>
        <td width="36" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="782">&nbsp;</td>
        
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="13">&nbsp;</td>
        <td width="194">3. NOP BERSAMA</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="109" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="712">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr class="font_besar">
    <td class="border_atas border_bawah"><div align="center">A. INFORMASI TAMBAHAN UNTUK DATA BARU</div></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="13">&nbsp;</td>
        <td width="194">4. NOP ASAL</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="10">&nbsp;</td>
        <td width="109" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="712">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="13">&nbsp;</td>
        <td width="194">5. NO. SPPT LAMA</td>
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
       
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        
        <td width="29" class="kotak" style="width: 25px">&nbsp;</td>
        
        <td width="712">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="font_besar border_atas border_bawah"><div align="center">B. DATA SUBJEK PAJAK</div></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="10">&nbsp;</td>
        <td width="127">6. STATUS</td>
        <td width="40" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="324">1. Pemilik</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="362">2. Penyewa</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="353">3. Pengelola</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="353">4. Pemakai</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="353">5. Sengketa</td>
        <td width="22">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="10">&nbsp;</td>
        <td width="127">7. PEKERJAAN</td>
        <td width="40" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="324">1. PNS *)</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="362">2. TNI/POLRI *)</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="353">3. Pensiunan *)</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="353">4. Badan*)</td>
        <td width="26" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="353">5. Lainnya *)</td>
        <td width="22">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="1%">&nbsp;</td>
        <td width="99%">8. NOMOR KTP</td>
       
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table border="0">
      <tr>
        <td width="9">&nbsp;</td>
        <td width="323">9 NPWP (Wajib diisi jika mempunyai)</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="33">-</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="33">-</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="33">-</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="33">-</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="48" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="34">-</td>
        <td width="49" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="49" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="20" class="kotak" style="width: 25px">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="1%">&nbsp;</td>
        <td width="23%">10. NAMA SUBJEK PAJAK</td>
        <td width="76%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="1%">&nbsp;</td>
        <td width="23%">11. NAMA JALAN</td>
        <td width="76%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="1%">&nbsp;</td>
        <td width="23%">12. ALAMAT / BLOK / KAV / NOMOR </td>
        <td width="76%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="1%">&nbsp;</td>
        <td width="23%">13. KELURAHAN/DESA</td>
        <td width="76%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="1%">&nbsp;</td>
        <td width="23%">14. RT / RW </td>
        <td width="76%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="1%">&nbsp;</td>
        <td width="23%">15. KABUPATEN / KOTA</td>
        <td width="76%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="6">&nbsp;</td>
        <td width="301">16. KODE POS </td>
        <td width="990">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="font_besar border_atas border_bawah"><div align="center">C. DATA LETAK OBJEK PAJAK</div></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="24%">17.a NOMOR PERSIL</td>
        <td width="26%">:</td>
        <td width="10%">17. NAMA JALAN</td>
        <td width="40%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="24%">18. BLOK / KAV / NOMOR</td>
        <td width="26%">:</td>
        <td width="14%">19. KELURAHAN / DESA</td>
        <td width="36%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td width="1%">&nbsp;</td>
        <td width="2%">20.</td>
        <td width="21%">RT / RW</td>
        <td width="76%">:</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="font_besar border_atas border_bawah"><div align="center">D. DATA TANAH</div></td>
  </tr>
  <tr>
    <td><table width="98%" border="0">
      <tr>
        <td width="13">&nbsp;</td>
        <td width="300">22. LUAS TANAH</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="25" class="kotak" style="width: 25px">&nbsp;</td>
        <td width="674">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table border="0">
      <tr>
        <td width="10">&nbsp;</td>
        <td width="300">23. ZONA NILAI TANAH </td>
        <td class="kotak" style="width: 25px">&nbsp;</td>
        <td class="kotak" style="width: 25px">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td>&nbsp;</td>
        <td>24. JENIS TANAH</td>
        <td class="kotak" style="width: 25px">&nbsp;</td>
        <td>1. Tanah + Bangunan</td>
        <td class="kotak" style="width: 25px">&nbsp;</td>
        <td>2. Kavling Siap Bangun</td>
        <td class="kotak" style="width: 25px">&nbsp;</td>
        <td>3. Tanah Kosong</td>
         <td class="kotak" style="width: 25px">&nbsp;</td>
        <td>4. Fasilitas umum</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td colspan="6" class="font_besar"><div align="center">E. DATA BANGUNAN </div></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td><div align="right">25. JUMLAH BANGUNAN</div></td>
        <td class="kotak" style="width: 25px">&nbsp;</td>
        <td class="kotak" style="width: 25px">&nbsp;</td>
        <td class="kotak" style="width: 25px">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0">
      <tr>
        <td colspan="5"><div align="center">Saya menyatakan bahwa informasi yang telah saya berikan dalam formulir ini termasuk lampirannya adalah benar, jelas dang lengkap menurut keadaan yang sebenarnya, sesuai dengan pasal 10 ayat (2) Perda Kab. Blora No. 6 Tahun 2012</div></td>
        </tr>
      <tr>
        <td width="26%"><div align="center">26. NAMA SUBJEK PAJAK / KUASANYA</div></td>
        <td width="13%"><div align="center"></div></td>
        <td width="21%"><div align="center">27. TANDA TANGAN</div></td>
        <td width="11%"><div align="center"></div></td>
        <td width="29%"><div align="center">28. TANDA TANGAN </div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>__________________________________________</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>_______________________________________________</td>
      </tr>
      <tr class="font_kecil">
        <td colspan="2">- Dalam hal bertindak selaku kuasa, surat kuasa harap dilampirkan</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="font_kecil">- Dalam hal subjek pajak mendaftarkan sendiri Objek Pajak, Supaya menggambarkan sket/ Denah Lokasi Pajak </td>
  </tr>
  <tr>
    <td class="font_kecil">- Batas waktu pengembalian SPOP, 30 (Tiga Puluh) Hari sejak diterima oleh subjek pajak sesuai dengan Pasal 10 ayat ( 2 ) Perda Kab. Blora No. 6 Tahun 2012</td>
  </tr>
  <tr>
    <td class="font_besar border_atas border_bawah"><div align="center">G. IDENTITAS PENDATA/PEJABAT YANG BERWENANG</div></td>
  </tr>
  <tr>
    <td><table border="0" align="center">
      <tr>
        <td colspan="2"><div align="center"><strong>PETUGAS PENDATA </strong></div></td>
        <td colspan="2"><div align="center"><strong>MENGETAHUI PEJABAT YANG BERWENANG</strong></div></td>
        </tr>
      <tr>
        <td>29. TANGGAL (TGL/BLN/THN)</td>
        <td><table border="0">
          <tr>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px"><div align="center">/</div></td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px"><div align="center">/</div></td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            </tr>
        </table></td>
        <td class="border_kiri">29. TANGGAL (TGL/BLN/THN)</td>
        <td><table border="0">
          <tr>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px"><div align="center">/</div></td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px"><div align="center">/</div></td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>30. TANDA TANGAN</td>
        <td>&nbsp;</td>
        <td class="border_kiri">30. TANDA TANGAN</td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="border_kiri">&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td>31. NAMA JELAS</td>
        <td>____________________________</td>
        <td class="border_kiri">31. NAMA JELAS</td>
        <td>____________________________</td>
        </tr>
      <tr>
        <td class="border_kiri">32. NIP</td>
        <td><table border="0">
          <tr>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            </tr>
        </table></td>
        <td class="border_kiri">32. NIP</td>
        <td><table border="0">
          <tr>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
            <td class="kotak" style="width: 25px">&nbsp;</td>
          </tr>
        </table></td>
        </tr>
    </table></td>
  </tr>
</table>

 </div>
 <?php } ?>