<?php

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
//$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'Legal-L', 0, '', 10, 10, 5, 1, 1, 1, '');

    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';

    $html .= '<div>';
    $nik = '';
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetakdatapendaftaran.xls");

    $html = '';

    $nik = '\'';
}

if ($cetak == 1) {
    

    $linklokal = "http://".$_SERVER['HTTP_HOST']."/".$this->basePath()."/";
}else{

    $linklokal = "http://".$_SERVER['HTTP_HOST']."/".$this->basePath()."/";
}

$html .= '


    <img src="'.$linklokal.$ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
 
<td colspan="13"><center>
     <b>PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
                
                <br>
                
                    <b>' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
                
                <br>
                
                    <b style="font-size: 12px">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . '</b>
               

</center></td>
</tr>
  <tr>
 
<td colspan="13"><center><br><br><br><br><h3>DAFTAR DATA STATUS BERKAS</h3></center></td>
</tr>
  
</table>

Tanggal Cetak &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ' . $tgl_cetak . ' <br>
Tanggal Pendaftaran : ' . $tgl_verifikasi1 . ' s/d ' . $tgl_verifikasi2 . '<br><br>

    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        
        
        <tr >
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>

            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Informasi Wajib Pajak</center>                    
            </th>
            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>Syarat Pendaftaran</b></center>                      
            </th>
            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>Syarat Validasi</b></center>                      
            </th>
            <th rowspan="2" colspan="1" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>Pembayaran</b></center>                      
            </th>
            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>Koreksi Luas BPN</b></center>                      
            </th>
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>AJB</b></center>                      
            </th>
            <th rowspan="2" colspan="1" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>Dilaporkan Ke DISPENDA</b></center>                      
            </th>
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>No Sertifikat</b></center>                      
            </th>
        </tr>
        <tr>
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                <center><span >Nama</span> <br>NIK</center>                    
            </th>
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word; ">
                <center> <span >Alamat</span> <br> No Telp  </center>                  
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:40px; word-wrap: break-word;">
                <center> <span ><b>Belum <br>Lengkap</b></span>  </center>                 
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:40px; word-wrap: break-word;">
                <center> <span ><b>Sudah <br>Lengkap</b></span>  </center>                 
            </th>
           
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:40px; word-wrap: break-word;">
                <center> <span ><b>Belum <br>Lengkap</b></span>  </center>                 
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:40px; word-wrap: break-word;">
                <center> <span ><b>Sudah <br>Lengkap</b></span>  </center>                 
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:70px; word-wrap: break-word;">
                <center><span > <b>Luas SSPD</b>   </span>    </center>                  
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:70px; word-wrap: break-word;">
                <center><span > <b>Luas BPN</b>   </span>    </center>                  
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word;">
                <center><b>No <br> Tgl </b>   </center>                  
            </th>
            
            <th rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; width:150px; word-wrap: break-word;">
                <center><b>No <br> Tgl </b>   </center>                  
            </th>

        </tr>
    </thead>    
    <tbody>
        ';

$totalPembayaran = 0;
$counter = 1;
foreach ($this->data_Verifikasi as $k => $v) {
    $t_nikwppembeli = $v['t_nikwppembeli'];
//$nikwppembeli = wordwrap($t_nikwppembeli,5,"<br>",true);

    if ($v['ceksyarat'] == 1) {
        $centang = 'V';
        $tdk_centang = '-';
        @$total_syarat_centang += 1;
        @$total_syarat_tdk_centang += 0;
    } else {
        $centang = '-';
        $tdk_centang = 'V';
        @$total_syarat_centang += 0;
        @$total_syarat_tdk_centang += 1;
    }

    if ($v['cekverifikasi'] == 1) {
        $centang_verifikasi = 'V';
        $tdk_centang_verifikasi = '-';

        $jml_centang_verifikasi = 1;
        $jml_tdk_centang_verifikasi = 0;

        @$total_syarat_centang_verifikasi += $jml_centang_verifikasi;
        @$total_syarat_tdk_centang_verifikasi += $jml_tdk_centang_verifikasi;
    } elseif ($v['cekverifikasi'] == 2) {
        $centang_verifikasi = '-';
        $tdk_centang_verifikasi = 'V';

        $jml_centang_verifikasi = 0;
        $jml_tdk_centang_verifikasi = 1;

        @$total_syarat_centang_verifikasi += $jml_centang_verifikasi;
        @$total_syarat_tdk_centang_verifikasi += $jml_tdk_centang_verifikasi;
    } elseif ($v['cekverifikasi'] == 3) {
        $centang_verifikasi = '-';
        $tdk_centang_verifikasi = '-';
    }

    if (!empty($v['t_tanggalpembayaran'])) {
        $centang_pembayaran = 'v';

        $jml_pembayaran = 1;

        @$total_jml_pembayaran += $jml_pembayaran;
    } else {
        $centang_pembayaran = '-';

        @$total_jml_pembayaran += 0;
    }

    if (!empty($v['t_luastanah'])) {
        $luastanah = $v['t_luastanah'];
    } else {
        $luastanah = '-';
    }

    if (!empty($v['t_luasbangunan'])) {
        $luasbangunan = $v['t_luasbangunan'];
    } else {
        $luasbangunan = '-';
    }

    if (!empty($v['t_luastanahbpn'])) {
        $luastanahbpn = $v['t_luastanahbpn'];

        @$total_jml_luas_bpn += 1;
    } else {
        $luastanahbpn = '-';

        @$total_jml_luas_bpn += 0;
    }

    if (!empty($v['t_luasbangunanbpn'])) {
        $luasbangunanbpn = $v['t_luasbangunanbpn'];
    } else {
        $luasbangunanbpn = '-';
    }

    if (!empty($v['t_noajbbaru'])) {
        $noajb = $v['t_noajbbaru'];

        @$total_jml_ajb += 1;
    } else {
        $noajb = '-';

        @$total_jml_ajb += 0;
    }

    if (!empty($v['t_tglajbbaru'])) {
        $tglajb = date('d/m/Y', strtotime($v['t_tglajbbaru']));
    } else {
        $tglajb = '-';
    }

    if (!empty($v['t_statuspelaporannotaris'])) {
        $tgllapor = date('d/m/Y', strtotime($v['t_tglpelaporannotaris']));
        @$total_jml_lapor += 1;
    } else {
        $tgllapor = '-';
        @$total_jml_lapor += 0;
    }

    if (!empty($v['t_nosertifikatbaru'])) {
        $t_nosertifikatbaru = $v['t_nosertifikatbaru'];
    } else {
        $t_nosertifikatbaru = '-';
    }

    if (!empty($v['t_tglsertifikatbaru'])) {
        $tglsertifikatbaru = date('d/m/Y', strtotime($v['t_tglsertifikatbaru']));
        @$total_jml_sertifikatbaru += 1;
    } else {
        $tglsertifikatbaru = '-';
        @$total_jml_sertifikatbaru += 0;
    }

    $html .= '
            
            <tr style="text-align: center">
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    <span >' . $v['t_namawppembeli'] . ' </span>                       
                        <br>
                   '.$nik.' ' . $t_nikwppembeli . '                       
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    ' . $v['t_alamatwppembeli'] . '
                    Kel. ' . $v['t_kelurahanwppembeli'] . ' Kec. ' . $v['t_kecamatanwppembeli'] . ' Kab/kota ' . $v['t_kabkotawppembeli'] . '                      
                        <br>
                    ' . $v['t_telponwppembeli'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
                    <center>' . $tdk_centang . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
                   <center>' . $centang . '</center>                      
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
                   <center> ' . $tdk_centang_verifikasi . ' </center>                      
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
                    <center>' . $centang_verifikasi . '</center>               
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
                    <center>' . $centang_pembayaran . ' </center>                  
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; " align="top">
                    <center>Tanah : ' . $luastanah . '<br>
                            Bangunan : ' . $luasbangunan . '</center>              
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; " align="top">
                    <center>Tanah : ' . $luastanahbpn . '<br>
                            Bangunan : ' . $luasbangunanbpn . '</center>              
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; " align="middle">
                    <center>' . $noajb . ' <br> '.$tglajb.'</center>              
                </td>
                
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; " align="middle">
                    <center>' . $tgllapor . '</center>              
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; " align="middle">
                    <center>' . $t_nosertifikatbaru . '<br> '.$tglsertifikatbaru.'</center>              
                </td>
               
            </tr>        
            ';


    $counter++;
}

$html .= '<tr>
                    <td rowspan="1" colspan="3" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; " align="center" >
                        <b>Jumlah</b>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; " >
                        <center>'.@$total_syarat_tdk_centang.'</center>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">
                        <center>'.@$total_syarat_centang.'</center>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">
                        <center>'. @$total_syarat_tdk_centang_verifikasi.'</center>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">
                        <center>'. @$total_syarat_centang_verifikasi.'</center>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">
                        <center>'. @$total_jml_pembayaran.'</center>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">

                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">
                        <center>'. @$total_jml_luas_bpn.'</center>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">
                       <center> '. @$total_jml_ajb.'</center>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">
                        <center>'. @$total_jml_lapor.'</center>
                    </td>
                    <td rowspan="1" colspan="1" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; ">
                        <center>'. @$total_jml_sertifikatbaru.'</center>
                    </td>
                </tr>    ';


$html .= '</tbody></table>';

if ($cetak == 1) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("cetakdatapendaftaran.pdf", "I");
} else {

    echo $html;
}
?>


