<style type="text/css">
    /*@page { margin: 180px 50px; }
            #header { position: fixed; left: 0px; top: -150px; right: 0px; height: 50px; background-color: white; text-align: center; }
            #header img { position: absolute;
                          float:left;

            }
            #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 50px; background-color: white; }
            #footer .page:after { content: counter(page, upper-roman); }

    */
    .kotak {

        border: 1px black solid;

    }

    .tengah {
        float: none;
        margin: 0 auto;
    }

    .border_putus {
        border-top: 1px black dashed;
    }

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }

    .font_delapan {
        font-size: 8pt;
    }

    .font_sembilan {
        font-size: 9pt;
    }

    /*@page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }*/
</style>
<!--<div style="page-break-after: always;width: 100%;" class="kotak">-->

<div style="page-break-after: always;width: 100%;" class="kotak">
    <table width="100%">
        <tr>
            <td width="10%">
                <center>
                    <?php
                    // $image = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/' . $data_pemda->s_logo; 
                    $image = str_replace("\\", "/", realpath(".")) . '/public/upload/Logo_Blora2.png';
                    ?>
                    <img width="50" src="<?= $image ?>" />
                </center>
            </td>
            <td width="80%">
                <center>
                    <b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot); ?>, <?= strtoupper($data_pemda->s_namaprov); ?></b><br>
                    <b style="font-size: 15px"><?= strtoupper($data_pemda->s_namainstansi); ?> (<?= strtoupper($data_pemda->s_namasingkatinstansi); ?>)</b><br>
                    <b style="font-size: 12px"><?= strtoupper($data_pemda->s_alamatinstansi); ?> Telp/Fax <?= $data_pemda->s_notelinstansi ?>, <?= $data_pemda->s_namaibukotakabkot ?> <?= $data_pemda->s_kodepos ?></b>
            </td>
            <td width="10%">
            </td>
        </tr>
    </table>
    <hr><br>
    <center>
        <table class="kotak" align="center">
            
                <tr>
                    <th>
                        <b>KODE BAYAR</b>
                    </th>
                </tr>
            
        </table>
    </center><br>
    <table align="center" width="100%" style="padding: 10 10 10 10">
        <tr>
            <td><b>Tanggal Cetak</b></td>
            <td>:</td>
            <td><?= $tgl_cetak ?></td>
        </tr>
        <tr>
            <td><b>Tanggal Proses</b></td>
            <td>:</td>
            <td><?= date('d-m-Y', strtotime($data_sspd['t_tglprosesspt'])) ?></td>
        </tr>
        <tr>
            <td><b>Nama WP</b></td>
            <td>:</td>
            <td><?= strtoupper($data_sspd['t_namawppembeli']) ?> </td>
        </tr>
        <tr>
            <td><b>No. Daftar</b></td>
            <td>:</td>
            <td><?= str_pad($data_sspd['t_kohirspt'], 4, '0', STR_PAD_LEFT) ?></td>
        </tr>
        <tr>
            <td><b>No. SSPD</b></td>
            <td>:</td>
            <td><?= str_pad($data_sspd['t_kohirketetapanspt'], 4, '0', STR_PAD_LEFT) ?></td>
        </tr>
        <tr>
            <td><b>NOP</b></td>
            <td>:</td>
            <td><?= $data_sspd['t_nopbphtbsppt'] ?></td>
        </tr>

        <tr>
            <td><b>Jumlah Pajak</b></td>
            <td>:</td>
            <td>
                <?php
                // $total_pembayaran_sspd = $totalpajak - $ar_sebelum['t_nilaipembayaranspt'];
                $datasebelum = isset($ar_sebelum['t_nilaipembayaranspt']) ? $ar_sebelum['t_nilaipembayaranspt'] :  0;
                if (!empty($data_sspd['t_approve_pengurangpembebas'])) {
                    $totalpajak = $data_sspd['t_totalspt'];
                } else {
                    if (!empty($data_sspd['p_totalspt'])) {
                        $totalpajak = $data_sspd['p_totalspt'];
                    } else {
                        $totalpajak = $data_sspd["t_totalspt"] - $datasebelum;
                    }
                }
                ?>


                Rp. <?= number_format($totalpajak, 2, ",", ".") ?>
            </td>
        </tr>

        <tr>
            <td><b>Kode Bayar</b></td>
            <td>:</td>
            <td><?= $data_sspd['t_kodebayarbanksppt_pembayaran'] ?></td>
        </tr>

    </table>
</div>