<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();

?>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">PENDAFTARAN SSPD BPHTB [EDIT]</h3>
                </center>
            </div>
            <p style="height: 10px;"><a style="float:right; margin-right: 5px;" href="<?= $this->url() ?>" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-undo"></i>BATAL</a></p>
            <div class="box-body">
                <div>
                    <div>
                        <div class="stepwizard col-md-12">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <ul class="easyWizardSteps" style="text-align: center;">
                                        <li><a href="#step-1" type="button" class="btn btn-facebook btn-circle">1</a>
                                            <p><b style="color: #fff">Informasi Wajib Pajak</b></p>
                                        </li>
                                        <li><a href="#step-2" type="button" class="btn btn-default btn-circle " disabled="disabled">2</a>
                                            <p><b style="color: #fff">History Pajak</b></p>
                                        </li>
                                        <li><a href="#step-3" type="button" class="btn btn-default btn-circle " disabled="disabled">3</a>
                                            <p><b style="color: #fff">Informasi Objek Pajak</b></p>
                                        </li>
                                        <li><a href="#step-4" type="button" class="btn btn-default btn-circle " disabled="disabled">4</a>
                                            <p><b style="color: #fff">Perhitungan BPHTB</b></p>
                                        </li>
                                        <li><a href="#step-5" type="button" class="btn btn-default btn-circle " disabled="disabled">5</a>
                                            <p><b style="color: #fff">Informasi Penjual</b></p>
                                        </li>
                                    </ul>
                                    <div class="progress center-block" style="margin-top: -20px;">
                                        <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 13%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?= $this->form()->openTag($frm) ?>
                        <div class="row setup-content" id="step-1">
                            <div class="col-sm-12">
                                <?php if ($notaris == '1') {
                                } else {
                                ?>
                                    <div class="col-sm-12" style="<?= $show_hide_combo_notaris ?>">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Notaris/PPAT</label>
                                            <div class="col-sm-3">
                                                <?= $this->formRow($frm->get('t_idnotarisspt')) ?>
                                            </div>
                                        </div>
                                    </div>
                                <?php
                                }
                                ?>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tanggal Pendaftaran</label>
                                        <div class="col-sm-3">
                                            <?= $this->formInput($frm->get('t_idspt')) ?>
                                            <?= $this->formInput($frm->get('t_iddetailsptbphtb')) ?>
                                            <?= $this->formInput($frm->get('t_kohirspt')) ?>
                                            <?= $this->formInput($frm->get('t_tglprosesspt')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">NIK</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_nikwppembeli')) ?>
                                        </div>
                                        <input name="t_periodespt" id="t_periodespt" value="" type="hidden">
                                        <input name="t_periodesptsekarang" id="t_periodesptsekarang" value="<?= date('Y'); ?>" type="hidden">

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">NPWPD</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_npwpwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama WP</label>
                                        <div class="col-sm-6">
                                            <?= $this->formRow($frm->get('t_namawppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Alamat</label>
                                        <div class="col-sm-6">
                                            <?= $this->formRow($frm->get('t_alamatwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">RT</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rtwppembeli')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">RW</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rwwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kelurahanwppembeli')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">Kecamatan</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kecamatanwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kab./Kota</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kabkotawppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <label for="inputType" class="col-md-2">No. Telp.</label>
                                        <div class="col-md-2">
                                            <?= $this->formRow($frm->get('t_telponwppembeli')) ?>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_emailwppembeli')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">Kode Pos</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kodeposwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .tablecoyscroll {
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: 1px solid #bbb;
                                overflow-x: auto;
                                display: block;
                            }

                            .tablecoy td,
                            th {
                                border-top: 1px solid #ddd;
                                padding: 4px 8px;
                            }

                            .tablecoy tbody tr:nth-child(even) td {
                                background-color: #eee;
                            }
                        </style>
                        <div class="row setup-content" id="step-2">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group" id="historybphtb">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                                                <center>
                                                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-table"></i> History Transaksi BPHTB Wajib Pajak</h4>
                                                </center>
                                            </div>
                                            <div id="historydiv" class="tablecoyscroll">
                                                <center>
                                                    <table class='tablecoy' style="width: 100%;">
                                                        <tr>
                                                            <th>NOP</th>
                                                            <th>NPOP</th>
                                                            <th>NPOPTKP</th>
                                                            <th>NPOPKP</th>
                                                            <th>Tanggal Bayar</th>
                                                            <th>Jumlah Pembayaran</th>
                                                        </tr>
                                                        <?php
                                                        foreach ($datahistory as $row) {
                                                            $npopkp = $row['t_totalspt'] * 100 / 5;
                                                            $npop = $npopkp + $row['t_potonganspt'];
                                                        ?>
                                                            <tr>
                                                                <td><?= $row['t_nopbphtbsppt'] ?>-<?= $row['t_thnsppt'] ?></td>
                                                                <td><?= number_format($npop, 0, ',', '.') ?></td>
                                                                <td><?= number_format($row['t_potonganspt'], 0, ',', '.') ?></td>
                                                                <td><?= number_format($npopkp, 0, ',', '.') ?></td>
                                                                <td><?= date('d-m-Y', strtotime($row['t_tanggalpembayaran'])) ?></td>
                                                                <td><?= number_format($row['t_nilaipembayaranspt'], 0, ',', '.') ?></td>
                                                            </tr>
                                                        <?php
                                                        }
                                                        ?>
                                                    </table>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: right">
                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="step-3">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Transaksi</label>
                                        <div class="col-sm-5">
                                            <?= $this->formRow($frm->get('t_idjenistransaksi')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div id="persyaratannya">
                                            <label class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="radio_render">
                                                <div class="col-sm-5">
                                                    <?= $this->formMultiCheckbox($frm->get('t_persyaratan')) ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                                                        <div id="centang_terbukti">
                                                                                                    <div class="form-horizontal form-group col-md-12">
                                                                                                        <label for="inputType" class="col-md-2">Bukti Keabsahan</label>
                                                                                                        <div class="col-md-4">
                                        <?php //  $this->formRow($frm->get('t_terbukti')) 
                                        ?>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="form-horizontal form-group col-md-12">
                                                                                                        <label for="inputType" class="col-md-2"></label>
                                                                                                        <div class="col-md-4">
                                        <?php // $this->formRow($frm->get('t_ketwaris')) 
                                        ?>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="form-horizontal form-group col-md-12">
                                                                                                        <div class="col-md-12">
                                                                                                            <div class="form-group row">
                                                                                                                <label for="inputKey" class="col-md-2 control-label" style="text-align: left;">Penerima Waris</label>
                                                                                                                <div class="col-md-3">
                                                                                                                    <input class="form-control" type="text" name="t_namapenerimawaris[0]">
                                                                                                                </div>
                                                                                                                <label for="inputValue" class="col-md-1 control-label">NIK</label>
                                                                                                                <div class="col-md-2">
                                                                                                                    <input class="form-control" type="text" name="t_nikpenerimawaris[0]" onkeypress="return numbersonly(this, event)" maxlength="16">
                                                                                                                </div>
                                                                                                                <label for="inputValue" class="col-md-1 control-label">Alamat</label>
                                                                                                                <div class="col-md-3">
                                                                                                                    <input class="form-control" type="text" name="t_alamatpenerimawaris[0]">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                        <?php
                                        //                                                            $startRow = 1;
                                        ?>
                                                                                                    <input type="hidden" id="idk" value="<?php // $startRow                                                      
                                                                                                                                            ?>">
                                                                                                    <div id="kolomTambahPenerima"></div>
                                                                                                    <div class="form-horizontal form-group col-md-12">
                                                                                                        <div class="col-md-12">
                                                                                                            <div class="form-group row">
                                                                                                                <label for="inputKey" class="col-md-2 control-label" style="text-align: left;"></label>
                                                                                                                <div class="col-md-3">
                                                                                                                    <span class="btn btn-sm btn-success" id="tambahPenerima">Tambah Penerima</span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>-->
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">NOP/Tahun SPPT</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_nopbphtbsppt')) ?>
                                        </div>
                                        <div class="col-sm-1">
                                            <?= $this->formRow($frm->get('t_thnsppt')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">Nama SPPT</label>
                                        <div class="col-sm-4">
                                            <?= $this->formRow($frm->get('t_namasppt')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Letak Tanah/Bangunan</label>
                                        <div class="col-sm-4">
                                            <?= $this->formRow($frm->get('t_alamatop')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">RT</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rtop')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">RW</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rwop')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kelurahanop')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">Kecamatan</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kecamatanop')) ?>
                                        </div>
                                        <label class="col-sm-1 control-label"><span style="font-size: 12px">Kab./Kota</span></label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_kabupatenop')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Luas Tanah (Bumi)</label>
                                        <div class="col-sm-2">
                                            <?php
                                            $luas_t = $frm->get('t_luastanah')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_luastanah')) ?>
                                            <?= $this->formRow($frm->get('t_luastanah_sismiop')) ?>
                                            <?= $this->formRow($frm->get('t_luasbangunan_sismiop')) ?>
                                            <?= $this->formRow($frm->get('t_njoptanah_sismiop')) ?>
                                            <?= $this->formRow($frm->get('t_njopbangunan_sismiop')) ?>

                                            <?= $this->formRow($frm->get('t_idtarifbphtb')->setValue($idtarifbphtb)) ?>
                                        </div>
                                        <label class="col-sm-2 control-label" style="font-size: 12px">Nilai Pasar/NJOP (m2)</label>
                                        <div class="col-sm-2">
                                            <?php
                                            $njop_t = $frm->get('t_njoptanah')->getValue();
                                            $totalnjop_t = $frm->get('t_totalnjoptanah')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_njoptanah')->setValue(number_format($njop_t, 0, ',', '.'))) ?>
                                        </div>
                                        <label class="col-sm-1 control-label">Total</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_totalnjoptanah')->setValue(number_format($totalnjop_t, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Luas Bangunan</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_luasbangunan')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                                        <div class="col-sm-2">
                                            <?php
                                            $njop_b = $frm->get('t_njopbangunan')->getValue();
                                            $totalnjop_b = $frm->get('t_totalnjopbangunan')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_njopbangunan')->setValue(number_format($njop_b, 0, ',', '.'))) ?>
                                        </div>
                                        <label class="col-sm-1 control-label">Total</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_totalnjopbangunan')->setValue(number_format($totalnjop_b, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-9 control-label" style="text-align: right;">NJOP PBB</label>
                                        <div class="col-sm-3">
                                            <?php
                                            $njop_pbb = $frm->get('t_grandtotalnjop')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_grandtotalnjop')->setValue(number_format($njop_pbb, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <?php
                                $totaphb = number_format($t_grandtotalnjop_aphb, 0, ',', '.');
                                $jenistransaksi = $frm->get('t_idjenistransaksi')->getValue();
                                if (($jenistransaksi == 18)) {
                                    echo ' 
                                                        <div class="col-sm-12" id="pembagian_aphb_1">
                                                            <div id="pembagian_aphb_2">
                                                                <label  class="col-sm-9 control-label" id="pembagian_aphb_3" style="text-align: right;">Pembagian APHB</label>
                                                                <div class="col-sm-3" id="pembagian_aphb_4">

                                                                    <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_kali" id="t_tarif_pembagian_aphb_kali" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">
                                                                       /
                                                                    <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_bagi" id="t_tarif_pembagian_aphb_bagi" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">

                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="col-sm-12" id="pembagian_aphb_5">
                                                            <div class="form-group" id="pembagian_aphb_6">
                                                                <label class="col-sm-9 control-label" id="pembagian_aphb_7" style="text-align: right;">NJOP PBB APHB</label>
                                                                <div class="col-sm-3" id="pembagian_aphb_8">
                                                                    <input name="t_grandtotalnjop_aphb" id="t_grandtotalnjop_aphb" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">

                                                                </div>
                                                            </div>
                                                        </div> 
                                                ';
                                } else {
                                    //if(($notaris == '3') || ($notaris == '2')) {
                                    echo ' 
                                                        <div class="col-sm-12" id="pembagian_aphb_1">
                                                            <div id="pembagian_aphb_2">
                                                                <label  class="col-sm-9 control-label" id="pembagian_aphb_3" style="text-align: right;">Pembagian APHB</label>
                                                                <div class="col-sm-3" id="pembagian_aphb_4">

                                                                    <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_kali" id="t_tarif_pembagian_aphb_kali" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">
                                                                       /
                                                                    <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_bagi" id="t_tarif_pembagian_aphb_bagi" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">

                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="col-sm-12" id="pembagian_aphb_5">
                                                            <div class="form-group" id="pembagian_aphb_6">
                                                                <label class="col-sm-9 control-label" id="pembagian_aphb_7" style="text-align: right;">NJOP PBB APHB</label>
                                                                <div class="col-sm-3" id="pembagian_aphb_8">
                                                                    <input name="t_grandtotalnjop_aphb" id="t_grandtotalnjop_aphb" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">

                                                                </div>
                                                            </div>
                                                        </div> 
                                                                ';
                                    //}else{

                                    //}
                                }

                                ?>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-9 control-label" style="text-align: right;">Harga Transaksi / Nilai Pasar</label>
                                        <div class="col-sm-3">
                                            <?php
                                            $nilai_transaksi = $frm->get('t_nilaitransaksispt')->getValue();
                                            ?>
                                            <?= $this->formRow($frm->get('t_nilaitransaksispt')->setValue(number_format($nilai_transaksi, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Pembelian Tanah</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_jenispembelian')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kepemilikan</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_idjenishaktanah')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Dok. Tanah</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_idjenisdoktanah')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">No. Dokumen Tanah</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_nosertifikathaktanah')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">Tanggal Dokumen</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_tglajb')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="box box-primary" style="border: 1px solid #0073b7;">
                                            <div class="box-header" style="background-color: #337ab7;">
                                                <center>
                                                    <h3 class="box-title" style="color: white;">LOKASI OBJEK</h3>
                                                </center>
                                            </div>
                                            <div class="box-body">
                                                <div class="col-sm-12" style="margin-bottom: 10px;">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Latitude</label>
                                                        <div class="col-sm-3">
                                                            <?= $this->formRow($frm->get('t_latitudeobjek')) ?>
                                                        </div>
                                                        <label class="col-sm-2 control-label">Longitude</label>
                                                        <div class="col-sm-2">
                                                            <?= $this->formRow($frm->get('t_longitudeobjek')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <!-- <div id="search-box-maps">
                                                            <input id="pac-input" class=" form-control" type="text" placeholder="Pencarian Peta">
                                                        </div> -->
                                                        <div id="map"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12" style="text-align: right">
                                            <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                            <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="step-4">
                            <div class="col-md-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">NPOP</label>
                                        <div class="col-sm-3">
                                            <?php
                                            $terhutang = $frm->get('t_totalspt')->getValue();
                                            $tarif = $frm->get('t_persenbphtb')->getValue();

                                            $npoptkp = $frm->get('t_potonganspt')->getValue();
                                            $njoppbbnya = str_replace('.', '', $frm->get('t_grandtotalnjop')->getValue());
                                            $nilai_transaksisptnya = $nilai_transaksi;
                                            if (($t_tarif_pembagian_aphb_kali == null) || ($t_tarif_pembagian_aphb_kali == '') || ($t_tarif_pembagian_aphb_kali == 0) || ($t_tarif_pembagian_aphb_bagi == null) || ($t_tarif_pembagian_aphb_bagi == '') || ($t_tarif_pembagian_aphb_bagi == 0)) {

                                                if ($njoppbbnya  > $nilai_transaksisptnya) {
                                                    $npop = $njoppbbnya;
                                                } else {
                                                    $npop = $nilai_transaksisptnya;
                                                }
                                            } else {
                                                if ($t_grandtotalnjop_aphb  > $nilai_transaksisptnya) {
                                                    $npop = $t_grandtotalnjop_aphb;
                                                } else {
                                                    $npop = $nilai_transaksisptnya;
                                                }
                                            }


                                            $npopkpnya = $npop - $npoptkp;


                                            ?>
                                            <?= $this->formRow($frm->get('t_npopspt')->setValue(number_format($npop, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">NPOPTKP</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_potonganspt')->setValue(number_format($npoptkp, 0, ',', '.'))) ?>
                                        </div>
                                        <div class="col-sm-4" id="ket_npoptkpdiv">
                                            <?php
                                            if ($npoptkp == 0) {
                                                $ket = 'Tidak Dapat NPOPTKP';
                                            } else {
                                                $ket = 'Dapat NPOPTKP';
                                            }
                                            ?>
                                            <input type="text" class="form-control" name="ket_npoptkp" id="ket_npoptkp" value="<?= $ket ?>" style="font-weight:bold;font-size:25px;color:#18F518;background-color:black;text-align:center;" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">NPOPKP</label>
                                        <?php
                                        if ($npopkpnya <= 0) {
                                            $nilai_npopkpnya = 0;
                                        } else {
                                            $nilai_npopkpnya = $npopkpnya;
                                        }
                                        ?>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_npopkpspt')->setValue(number_format($nilai_npopkpnya, 0, ',', '.'))) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">Tarif (%)</label>
                                        <div class="col-sm-1">
                                            <?= $this->formRow($frm->get('t_persenbphtb')->setValue($tarifbphtbsekarang)) ?>
                                        </div>
                                    </div>
                                </div>
                                <!--                                        <div class="col-sm-12" id="potongan_waris_hibah1">
                                            <div class="form-group" id="potongan_waris_hibah2">
                                                <label  class="col-sm-3 control-label" id="potongan_waris_hibah3">Potongan (%)</label>
                                                <div class="col-sm-3" id="potongan_waris_hibah4">
                                                    <input name="t_potongan_waris_hibahwasiat" id="t_potongan_waris_hibahwasiat" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">
                                                </div>
                                            </div>
                                        </div>  -->
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">BPHTB yang harus dibayar</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_totalspt')->setValue(number_format($terhutang, 0, ',', '.'))) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12" style="text-align: right">
                                            <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                            <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="step-5">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">NIK</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_nikwppenjual')) ?>
                                    </div>
                                    <label class="col-sm-1 control-label">NPWP</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_npwpwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nama Penjual</label>
                                    <div class="col-sm-6">
                                        <?= $this->formRow($frm->get('t_namawppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Alamat</label>
                                    <div class="col-sm-6">
                                        <?= str_replace("\n", "", $this->formRow($frm->get('t_alamatwppenjual'))) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">RT/RW</label>
                                    <div class="col-sm-1">
                                        <?= $this->formRow($frm->get('t_rtwppenjual')) ?>
                                    </div>
                                    <div class="col-sm-1">
                                        <?= $this->formRow($frm->get('t_rwwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_kelurahanwppenjual')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label">Kecamatan</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_kecamatanwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kab./Kota</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_kabkotawppenjual')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label">Kode Pos</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_kodeposwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">No. Telp/HP</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_telponwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_emailwppenjual')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: right">
                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                        <input type="submit" id="pendaftaranbutton" value="Update Permohonan" class="btn nextBtn btn-info pull-right">
                                        <!-- onclick="this.disabled=true;forms[0].submit();" -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?= $this->form()->closeTag($frm) ?>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="loadingsimpanvalidasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <!--data-backdrop="static" data-keyboard="false" -->
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>

<style>
    .easyWizardSteps {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        background: #00c0ef;
    }

    .easyWizardSteps li.current {
        color: #38464A;
        background: #fff;
    }

    .easyWizardSteps li {
        font-family: "Open Sans";
        display: inline-block;
        padding: 10px 20px;
        color: #eee;
        margin-right: 0px;
    }

    .easyWizardSteps li a {
        font-size: 15px;
    }
</style>
<script type="text/javascript">
    $('#pendaftaranbutton').click(function() {
        var myForm = document.getElementById('formtambah');
        myForm.onsubmit = function() {
            var allInputs = myForm.getElementsByTagName('input');
            var input, i;

            for (i = 0; input = allInputs[i]; i++) {
                if (input.getAttribute('name') && !input.value) {

                } else {
                    jQuery('#loadingsimpanvalidasi').modal('show');
                }
            }
        };

    });

    $('#t_nikwppenjual, #t_namawppenjual, #t_alamatwppenjual, #t_rtwppenjual, #t_rwwppenjual, #t_kelurahanwppenjual, #t_kecamatanwppenjual, #t_kabkotawppenjual').keyup(function() {
        if ($(this).val().length != 0) {
            $('#pendaftaranbutton').attr('disabled', false);
        } else {
            $('#pendaftaranbutton').attr('disabled', true);
        }
    })

    jQuery("[data-mask]").inputmask();

    jQuery("#t_tglprosesspt").datepicker({
        format: 'dd-mm-yyyy'
    });

    jQuery("#t_tglajb").datepicker({
        format: 'dd-mm-yyyy',
    });

    function next(a) {
        jQuery('#tabs a[href=#' + a + ']').tab('show');
    }

    $(document).ready(function() {
        $("#tambahPenerima").click(function() {
            var id = document.getElementById("idk").value;
            $("#kolomTambahPenerima").append(
                '<div class="form-horizontal form-group col-md-12">' +
                '<div class="col-md-12">' +
                '<div class="form-group row">' +
                '<label for="inputKey" class="col-md-2 control-label" style="text-align: left;"></label>' +
                '<div class="col-md-3">' +
                '<input class="form-control" type="text" name="t_namapenerimawaris[' + id + ']">' +
                '</div>' +
                '<label for="inputValue" class="col-md-1 control-label"></label>' +
                '<div class="col-md-2">' +
                '<input class="form-control" type="text" name="t_nikpenerimawaris[' + id + ']" onkeypress="return numbersonly(this, event)" maxlength="16">' +
                '</div>' +
                '<label for="inputValue" class="col-md-1 control-label"></label>' +
                '<div class="col-md-3">' +
                '<input class="form-control" type="text" name="t_alamatpenerimawaris[' + id + ']">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>'
            );
            id = (id - 1) + 2;
            document.getElementById("idk").value = id;
        });
    });

    //    $("#historybphtb").hide();

    <?php if ($data != 1) {
    ?>
        $("#t_ketwaris").hide();
        $("#centang_terbukti").hide();
    <?php }
    ?>

    function myFunction() {
        $("#t_ketwaris").show();
        if ($('#ket_npoptkp').val() == 'Tidak Dapat NPOPTKP') {
            $('#t_potonganspt').val(0);
        } else {
            var npoptkp = '300.000.000';
            $('#t_potonganspt').val(npoptkp);
            var npop = unformatCurrency($('#t_npopspt').val());
            var npoptkp = unformatCurrency($('#t_potonganspt').val());
            var npopkp = (npop * 1) - (npoptkp * 1);
            if ((npopkp * 1) < 0) {
                $('#t_npopkpspt').val(0);
                $('#t_totalspt').val(0);
            } else {
                $('#t_npopkpspt').val(currencyFormatDE((npopkp * 1)));
                var totalspt = (npopkp * 1) * 5 / 100;
                $('#t_totalspt').val(currencyFormatDE((totalspt * 1)));
            }
        }
    }

    function myFunction1() {
        $("#t_ketwaris").hide();
        if ($('#ket_npoptkp').val() == 'Tidak Dapat NPOPTKP') {
            $('#t_potonganspt').val(0);
        } else {
            var npoptkp = '300.000.000';
            $('#t_potonganspt').val(npoptkp);
            var npop = unformatCurrency($('#t_npopspt').val());
            var npoptkp = unformatCurrency($('#t_potonganspt').val());
            var npopkp = (npop * 1) - (npoptkp * 1);
            if ((npopkp * 1) < 0) {
                $('#t_npopkpspt').val(0);
                $('#t_totalspt').val(0);
            } else {
                $('#t_npopkpspt').val(currencyFormatDE((npopkp * 1)));
                var totalspt = (npopkp * 1) * 5 / 100;
                $('#t_totalspt').val(currencyFormatDE((totalspt * 1)));
            }
        }
    }

    function historybphtb() {
        $.post('<?= $this->url() ?>/historybphtb', {
            t_nikwppembeli: $('#t_nikwppembeli').val(),
            t_tglprosesspt: $('#t_tglprosesspt').val()
        }, function(data) {
            var aa = JSON.parse(data);

            if ((aa == '') || (aa == null)) {

            } else {

                //Data WP
                $("#historydiv").html(aa.raw_return);
                if (aa.t_namawppembeli != undefined) {
                    $('#t_namawppembeli').val(aa.t_namawppembeli);
                    $('#t_npwpwppembeli').val(aa.t_npwpwppembeli);
                    $('#t_alamatwppembeli').val(aa.t_alamatwppembeli);
                    $('#t_rtwppembeli').val(aa.t_rtwppembeli);
                    $('#t_rwwppembeli').val(aa.t_rwwppembeli);
                    $('#t_kelurahanwppembeli').val(aa.t_kelurahanwppembeli);
                    $('#t_kecamatanwppembeli').val(aa.t_kecamatanwppembeli);
                    $('#t_kabkotawppembeli').val(aa.t_kabkotawppembeli);
                    $('#t_kodeposwppembeli').val(aa.t_kodeposwppembeli);
                    $('#t_telponwppembeli').val(aa.t_telponwppembeli);
                    $('#t_potonganspt').val('0');
                    $('#jumlahpembayaran').val(aa.t_nilaipembayaranspt);
                }

                var idsptcek = "<?= $idceknikidspt; ?>";
                var idspthidden = $('#t_idspt').val();
                var periodesekarang = $('#t_periodesptsekarang').val();
                //if (aa.t_nikwppembeli != null) {
                /*if ((aa.t_nikwppembeli != null) && (aa.t_periodespt == periodesekarang)) {    
                    $("#historybphtb").show();
                    if(idsptcek == idspthidden){
                        $('#ket_npoptkp').val('Tidak Dapat NPOPTKP');
                        //$('#t_potonganspt').val('');
                    }else{
                        $('#t_potonganspt').val('');
                        $('#ket_npoptkp').val('Dapat NPOPTKP');
                    } 

                    hitungBphtb();
                } else {
                    $("#historybphtb").hide();
                    if(idsptcek == idspthidden){
                        //$('#t_potonganspt').val('');
                    }else{
                        $('#t_potonganspt').val('');
                    }    

                    $('#ket_npoptkp').val('Dapat NPOPTKP');

                }*/

                hitungBphtb();
            }
        });
    }

    function datanop() {
        $.post('<?= $this->url() ?>/datanop', {
            t_nopbphtbsppt: $('#t_nopbphtbsppt').val(),
            t_thnsppt: $('#t_thnsppt').val()
        }, function(data) {
            var aa = JSON.parse(data);
            //Data Objek Pajak
            $('#t_namasppt').val(aa.NM_WP_SPPT);
            $('#t_alamatop').val(aa.JALAN_OP);
            $('#t_rtop').val(aa.RT_OP);
            $('#t_rwop').val(aa.RW_OP);
            $('#t_kelurahanop').val(aa.NM_KELURAHAN);
            $('#t_kecamatanop').val(aa.NM_KECAMATAN);
            $('#t_luastanah').val(aa.LUAS_BUMI_SPPT);

            $('#t_luastanah_sismiop').val(aa.LUAS_BUMI_SPPT);
            $('#t_luasbangunan_sismiop').val(aa.LUAS_BNG_SPPT * 1);
            $('#t_njoptanah_sismiop').val(aa.NILAI_PER_M2_TANAH * 1000);
            $('#t_njopbangunan_sismiop').val(aa.NILAI_PER_M2_BNG * 1000);

            $('#t_njoptanah').val(currencyFormatDE(aa.NILAI_PER_M2_TANAH * 1000));
            $('#t_totalnjoptanah').val(currencyFormatDE(aa.NJOP_BUMI_SPPT * 1));
            $('#t_luasbangunan').val(aa.LUAS_BNG_SPPT);
            $('#t_njopbangunan').val(currencyFormatDE(aa.NILAI_PER_M2_BNG * 1000));
            $('#t_totalnjopbangunan').val(currencyFormatDE(aa.NJOP_BNG_SPPT * 1));
            $('#t_grandtotalnjop').val(currencyFormatDE(aa.NJOP_SPPT * 1)); //Data Penjual
            //    $('#t_namawppenjual').val(aa.NM_WP_SPPT);
            //    $('#t_alamatwppenjual').val("Jl. " + aa.JLN_WP_SPPT + " Blok " + aa.BLOK_KAV_NO_WP_SPPT + " Rt. " + aa.RT_WP_SPPT + " Rw. " + aa.RW_WP_SPPT);
            //    $('#t_kelurahanwppenjual').val(aa.KELURAHAN_WP_SPPT);
            //    $('#t_kabkotawppenjual').val(aa.KOTA_WP_SPPT);
            //    $('#t_kodeposwppenjual').val(aa.KD_POS_WP_SPPT);
        });
    }

    function hitungnjop() {
        $.post('<?= $this->url() ?>/hitungnjop', {
            t_luastanah: $('#t_luastanah').val(),
            t_njoptanah: $('#t_njoptanah').val(),
            t_luasbangunan: $('#t_luasbangunan').val(),
            t_njopbangunan: $('#t_njopbangunan').val(),
            t_idjenistransaksi: $('#t_idjenistransaksi').val()
        }, function(data) {
            var aa = JSON.parse(data);
            $("#t_totalnjoptanah").val(currencyFormatDE(aa.t_totalnjoptanah * 1));
            $('#t_totalnjopbangunan').val(currencyFormatDE(aa.t_totalnjopbangunan * 1));
            $('#t_grandtotalnjop').val(currencyFormatDE(aa.t_grandtotalnjop * 1));
            //            $('#t_nilaitransaksispt').val(currencyFormatDE(aa.t_nilaitransaksispt * 1));
        });
        hitungBphtb();
    }

    function TentukanNPOP() {
        var NjopPbb = unformatCurrency($("#t_grandtotalnjop").val());
        var NilaiTransaksi = unformatCurrency($("#t_nilaitransaksispt").val());
        if ((NjopPbb * 1) > (NilaiTransaksi * 1)) {
            $("#t_npopspt").val(formatCurrency(NjopPbb));
            hitungBphtb();
        } else {
            $("#t_npopspt").val(formatCurrency(NilaiTransaksi));
            hitungBphtb();
        }

    }

    function hitungBphtb() {
        $.post('<?= $this->url() ?>/hitungBphtb', {
            t_nilaitransaksispt: $('#t_nilaitransaksispt').val(),
            t_grandtotalnjop: $('#t_grandtotalnjop').val(),
            t_idjenistransaksi: $('#t_idjenistransaksi').val(),
            t_terbukti: $('#t_terbukti').val(),
            t_tglajb: $('#t_tglajb').val(),
            t_potonganspt: $('#t_potonganspt').val(),
            t_npopspt: $('#t_npopspt').val(),
            t_persenbphtb: $('#t_persenbphtb').val(),
            //t_tarif_pembagian_kali: $('#t_tarif_pembagian_kali').val(), t_tarif_pembagian_bagi: $('#t_tarif_pembagian_bagi').val(),
            t_tarif_pembagian_aphb_kali: $('#t_tarif_pembagian_aphb_kali').val(),
            t_tarif_pembagian_aphb_bagi: $('#t_tarif_pembagian_aphb_bagi').val(),
            t_luastanah: $('#t_luastanah').val(),
            t_njoptanah: $('#t_njoptanah').val(),
            t_luasbangunan: $('#t_luasbangunan').val(),
            t_njopbangunan: $('#t_njopbangunan').val(),
            t_nikwppembeli: $('#t_nikwppembeli').val(),
            t_tglprosesspt: $('#t_tglprosesspt').val(),
            t_idspt: $('#t_idspt').val()
        }, function(data) {
            var aa = JSON.parse(data);
            if ((aa == '') || (aa == null)) {

            } else {

                $("#t_totalnjoptanah").val(currencyFormatDE(aa.t_totalnjoptanah * 1));
                $('#t_totalnjopbangunan').val(currencyFormatDE(aa.t_totalnjopbangunan * 1));
                $('#t_grandtotalnjop').val(currencyFormatDE(aa.t_grandtotalnjop * 1));
                $('#t_grandtotalnjop_aphb').val(currencyFormatDE(aa.t_grandtotalnjop_aphb * 1));

                $("#t_npopspt").val(currencyFormatDE(aa.t_npopspt * 1));
                $('#t_potonganspt').val(currencyFormatDE(aa.t_potonganspt * 1));
                $("#t_npopkpspt").val(currencyFormatDE(aa.t_npopkpspt * 1));
                $('#t_totalspt').val(currencyFormatDE(aa.t_totalspt * 1));
                $('#ket_npoptkp').val(aa.ket_npoptkp);
                $('#t_potongan_waris_hibahwasiat').val(aa.t_potongan_waris_hibahwasiat);
            }
        });
    }

    function TampilPersyaratan() {
        $.post('<?= $this->url() ?>/TampilPersyaratan', {
            t_idjenistransaksi: $('#t_idjenistransaksi').val()
        }, function(data) {
            var aa = JSON.parse(data);
            var jns_transaksi = $('#t_idjenistransaksi').val();
            if ((jns_transaksi * 1) == 4 || (jns_transaksi * 1) == 5) {
                $("#centang_terbukti").show();
            } else {
                $("#centang_terbukti").hide();
                $("#t_terbukti").val(0);
            }
            $("#persyaratannya").html(aa.raw_return);
        });

        var jns_transaksi = $('#t_idjenistransaksi').val();



        if ((jns_transaksi * 1) == 18) {
            $("#pembagian_aphb_1").show();
            $("#pembagian_aphb_2").show();
            $("#pembagian_aphb_3").show();
            $("#pembagian_aphb_4").show();
            $("#pembagian_aphb_5").show();
            $("#pembagian_aphb_6").show();
            $("#pembagian_aphb_7").show();
            $("#pembagian_aphb_8").show();
            $("#t_tarif_pembagian_aphb_kali").show();
            $("#t_tarif_pembagian_aphb_bagi").show();
            $("#t_grandtotalnjop_aphb").show();

        } else {
            $("#pembagian_aphb_1").hide();
            $("#pembagian_aphb_2").hide();
            $("#pembagian_aphb_3").hide();
            $("#pembagian_aphb_4").hide();
            $("#pembagian_aphb_5").hide();
            $("#pembagian_aphb_6").hide();
            $("#pembagian_aphb_7").hide();
            $("#pembagian_aphb_8").hide();

            $("#t_tarif_pembagian_aphb_kali").hide();
            $("#t_tarif_pembagian_aphb_bagi").hide();
            $("#t_grandtotalnjop_aphb").hide();
            $('#t_tarif_pembagian_aphb_kali').val('');
            $('#t_tarif_pembagian_aphb_bagi').val('');
            $("#t_grandtotalnjop_aphb").val('');
        }

        if (((jns_transaksi * 1) == 4) || ((jns_transaksi * 1) == 5)) {
            $("#potongan_waris_hibah1").show();
            $("#potongan_waris_hibah2").show();
            $("#potongan_waris_hibah3").show();
            $("#potongan_waris_hibah4").show();

            $("#t_potongan_waris_hibahwasiat").show();
        } else {
            $("#potongan_waris_hibah1").hide();
            $("#potongan_waris_hibah2").hide();
            $("#potongan_waris_hibah3").hide();
            $("#potongan_waris_hibah4").hide();

            $("#t_potongan_waris_hibahwasiat").hide();
            $("#t_potongan_waris_hibahwasiat").val('');
        }

        hitungBphtb();
    }


    var jns_transaksi = $('#t_idjenistransaksi').val();


    if ((jns_transaksi * 1) == 18) {
        $("#pembagian_aphb_1").show();
        $("#pembagian_aphb_2").show();
        $("#pembagian_aphb_3").show();
        $("#pembagian_aphb_4").show();
        $("#pembagian_aphb_5").show();
        $("#pembagian_aphb_6").show();
        $("#pembagian_aphb_7").show();
        $("#pembagian_aphb_8").show();
        $("#t_tarif_pembagian_aphb_kali").show();
        $("#t_tarif_pembagian_aphb_bagi").show();
        $("#t_grandtotalnjop_aphb").show();
        $('#t_tarif_pembagian_aphb_kali').val(<?= $t_tarif_pembagian_aphb_kali; ?>);
        $('#t_tarif_pembagian_aphb_bagi').val(<?= $t_tarif_pembagian_aphb_bagi; ?>);

        var totaphtb = "<?= $totaphb; ?>";

        $("#t_grandtotalnjop_aphb").val(totaphtb);

    } else {
        $("#pembagian_aphb_1").hide();
        $("#pembagian_aphb_2").hide();
        $("#pembagian_aphb_3").hide();
        $("#pembagian_aphb_4").hide();
        $("#pembagian_aphb_5").hide();
        $("#pembagian_aphb_6").hide();
        $("#pembagian_aphb_7").hide();
        $("#pembagian_aphb_8").hide();
        $("#t_tarif_pembagian_aphb_kali").hide();
        $("#t_tarif_pembagian_aphb_bagi").hide();
        $("#t_grandtotalnjop_aphb").hide();
    }

    if (((jns_transaksi * 1) == 4) || ((jns_transaksi * 1) == 5)) {
        $("#potongan_waris_hibah1").show();
        $("#potongan_waris_hibah2").show();
        $("#potongan_waris_hibah3").show();
        $("#potongan_waris_hibah4").show();

        $("#t_potongan_waris_hibahwasiat").show();
        $("#t_potongan_waris_hibahwasiat").val(<?= $t_potongan_waris_hibahwasiat; ?>);
    } else {
        $("#potongan_waris_hibah1").hide();
        $("#potongan_waris_hibah2").hide();
        $("#potongan_waris_hibah3").hide();
        $("#potongan_waris_hibah4").hide();

        $("#t_potongan_waris_hibahwasiat").hide();
        $("#t_potongan_waris_hibahwasiat").val('');
    }


    //    =============================================
    //    Form Wizard

    $(document).ready(function() {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function(e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-facebook').addClass('btn-default');
                $item.addClass('btn-facebook');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }

            // tambahi dewe loading e coy
            var nextStepWizard = $(this).text();

            if (nextStepWizard == 1)
                $('.stepwizard-step .progress-bar').animate({
                    width: '20%'
                }, 0);
            if (nextStepWizard == 2)
                $('.stepwizard-step .progress-bar').animate({
                    width: '40%'
                }, 0);
            if (nextStepWizard == 3)
                $('.stepwizard-step .progress-bar').animate({
                    width: '60%'
                }, 0);
            if (nextStepWizard == 4)
                $('.stepwizard-step .progress-bar').animate({
                    width: '80%'
                }, 0);
            if (nextStepWizard == 5)
                $('.stepwizard-step .progress-bar').animate({
                    width: '100%'
                }, 0);
            // end tambahi dewe  

        });

        allPrevBtn.click(function() {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.trigger('click');
        });

        allNextBtn.click(function() {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'],textarea, select"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-facebook').trigger('click');
    });

    //  centang semua
    function modify_boxes(total_boxes) {
        if (document.forms[0].CheckAll.checked) {
            to_be_checked = true;
        } else {
            to_be_checked = false;
        }
        for (i = 0; i < total_boxes; i++) {
            if (to_be_checked) {
                document.forms[0].t_persyaratan[i].checked = true;
            } else {

                document.forms[0].t_persyaratan[i].checked = false;
            }
        }
    }

    function cektunggakanpbb() {
        $.post('<?= $this->url('verifikasi_spt') ?>/cektunggakanpbb', {
            t_nopbphtbsppt: $('#t_nopbphtbsppt').val()
        }, function(data) {
            var aa = JSON.parse(data);
            if (aa.PBB_YG_HARUS_DIBAYAR_SPPT != '') {
                jQuery('#ModalTunggakanPBB').modal('show');
                $('#datatunggakan').html(aa.datatunggakan);
                $('#next').attr('disabled', true);

            } else {
                alert('Tidak Ada Tunggakan');
                $('#next').attr('disabled', false);
            }
        });
    }
</script>
<style>
    #map {
        height: 600px;
        width: 100%;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>

<!-- //leflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.css" />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' />

<!-- Load Esri Leaflet Geocoder from CDN -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.3/dist/esri-leaflet-geocoder.css" crossorigin="" />

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.js" charset="utf-8">
</script>
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>


<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
<script src="https://unpkg.com/esri-leaflet-geocoder@3.1.3/dist/esri-leaflet-geocoder.js" crossorigin=""></script>

<script>
    var latnya = -6.9611527;
    var longnya = 111.4007443;
    var datlat = $('#t_latitudeobjek').val();
    var datlog = $('#t_longitudeobjek').val();

    if (datlat) {
        latnya = datlat;
    }
    if (datlog) {
        longnya = datlog;
    }
    console.log(latnya);
    const apiKey =
        "AAPKc4925a623c8a476ca6126b20fc41301exn0ycmztZB1XIYOtTytYo9cPHAVCrLpd_I1tmOlkTzqvH3xKbdXDD-Qttcxam0kW";
    var map = L.map('map').setView([latnya, longnya], 14);

    L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    let marker = L.marker([latnya, longnya]).addTo(map);

    L.control.locate({
        position: 'topleft',
        strings: {
            title: "My Location"
        },
        drawCircle: false,
        keepCurrentZoomLevel: true,
        initialZoomLevel: 18,
        locateOptions: {
            enableHighAccuracy: true,
        }
    }).addTo(map);

    map.addControl(new L.Control.Fullscreen({
        position: "topright"
    }));

    const searchControl = L.esri.Geocoding.geosearch({
        position: "topright",
        placeholder: "Enter an address or place e.g. 1 York St",
        useMapBounds: false,
        providers: [
            L.esri.Geocoding.arcgisOnlineProvider({
                apikey: apiKey,
                nearby: {
                    lat: latnya,
                    lng: longnya
                }
            })
        ]
    }).addTo(map);

    const results = L.layerGroup().addTo(map);

    searchControl.on("results", function(data) {
        results.clearLayers();
        for (let i = data.results.length - 1; i >= 0; i--) {
            onMapClick(data.results[i])
        }
    });

    function onMapClick(e) {
        if (marker) {
            map.removeLayer(marker);
        }
        marker = new L.marker(e.latlng, {
            draggable: true
        });
        map.addLayer(marker);
        // marker.bindPopup(e.latlng['lat'] + ',' + e.latlng['lng']).openPopup();
        $('#t_latitudeobjek').val(e.latlng['lat']);
        $('#t_longitudeobjek').val(e.latlng['lng']);

        map.setView(e.latlng);
    }

    map.on('click', onMapClick);
</script>