<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <u style="font-size: 14px; color: blue"><strong>DATA TRANSAKSI</strong></u>
                                        <div class="pull-right">
                                            <a href="<?= $this->url() ?>" class="btn btn-primary btn-flat btn-sm">Kembali</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        No Pendaftaran
                                    </div>
                                    <div class="col-sm-3">
                                        : <?= $data['t_kohirspt'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Nama Notaris
                                    </div>
                                    <div class="col-sm-3">
                                        : <?= $data['s_namanotaris'] ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        Nama Wajib Pajak
                                    </div>
                                    <div class="col-sm-3">
                                        : <?= $data['t_namawppembeli'] ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="form" action="<?= $this->url() ?>/pergantian-notaris" method="POST">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-warning">
                        <div class="box-body">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <u style="font-size: 14px; color: blue"><strong>PERGANTIAN NOTARIS</strong></u>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            Notaris Pengganti
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="hidden" name="t_id_log" id="t_id_log" value="">
                                            <input type="hidden" name="t_idspt" id="t_idspt" value="<?= $data["t_idspt"] ?>">
                                            <input type="hidden" name="t_idnotarisspt_lama" id="t_idnotarisspt_lama" value="<?= $data["t_idnotarisspt"] ?>">
                                            <select class="form-control" name="t_idnotarisspt_baru" id="t_idnotarisspt_baru" required>
                                                <option value="">Silahkan Pilih</option>
                                                <?php
                                                foreach ($dataNotaris as $row_n) {
                                                    echo '<option value="' . $row_n['s_iduser'] . '">' . $row_n['s_namanotaris'] . '</option>';
                                                }
                                                ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top: 20px;">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="btn btn-success" type="submit" name="submit" id="submit" value="SIMPAN">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>