<style>
    .datepicker {
        z-index:1051 !important;
    }
</style> 

<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
//$frm->setAttribute('style', "margin-top: -120px;");
$frm->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <!--<div class="row">
            <div class="col-xs-12">-->
                <div class="box box-success" style="border: 1px solid #00a65a;">
                    <div class="box-header with-border bg-green-gradient">
                        <center><h3 class="box-title">PENDAFTARAN SSPD BPHTB [BARU]</h3></center>
                    </div><!-- /.box-header -->
                    <p style="height: 10px;"><a href="<?= $this->url() ?>" class="btn btn-sm btn-danger" style="float:right; margin-right: 5px;" ><i class="fa fa-fw fa-undo">&nbsp;</i> BATAL</a></p>
                    <div class="box-body">
                        <div> <!-- class="row margin"-->
                            <div > <!--class="col-md-12"-->
                                
                                <!--<div class="row">-->
                                    <div class="stepwizard col-md-12">
                                        <div class="stepwizard-row setup-panel">
                                            <div class="stepwizard-step">
                                                <ul class="easyWizardSteps" style="text-align: center;">
                                                    <li><a href="#step-1" type="button" class="btn btn-facebook btn-circle">1</a>
                                                        <p><b style="color: #fff">Informasi Wajib Pajak</b></p></li>
                                                    <li><a href="#step-2" type="button" class="btn btn-default btn-circle " disabled="disabled">2</a>
                                                        <p><b style="color: #fff">Informasi Objek Pajak</b></p></li>
                                                    <li><a href="#step-3" type="button" class="btn btn-default btn-circle " disabled="disabled">3</a>
                                                        <p><b style="color: #fff">Perhitungan BPHTB</b></p></li>
                                                    <li><a href="#step-4" type="button" class="btn btn-default btn-circle " disabled="disabled">4</a>
                                                        <p><b style="color: #fff">Informasi Penjual</b></p></li>
                                                </ul>
                                                <div class="progress center-block" style="margin-top: -20px;">
                                                    <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 13%">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="stepwizard-step">
                                                <a href="#step-1" type="button" class="btn btn-facebook btn-circle">1</a>
                                                <p><b style="color: #367FA9">Informasi Wajib Pajak</b></p>
                                            </div>
                                            <div class="stepwizard-step">
                                                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                                <p><b style="color: #367FA9">Informasi Objek Pajak</b></p>
                                            </div>
                                            <div class="stepwizard-step">
                                                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                                <p><b style="color: #367FA9">Perhitungan BPHTB</b></p>
                                            </div>
                                            <div class="stepwizard-step">
                                                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                                <p><b style="color: #367FA9">Informasi Penjual</b></p>
                                            </div>-->
                                        </div>
                                    </div>
                                    <?= $this->form()->openTag($frm) ?>
                                    <div class="row setup-content" id="step-1" > <!--style="margin-top: -40px;" -->
                                        <div class="col-sm-12">
                                            <div class="col-md-12">
                                                <?php if($notaris == '1'){
                                                   //echo $notaris; 
                                                }else{
                                                ?>
                                                <div class="col-sm-12" style="<?= $show_hide_combo_notaris ?>">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">Notaris/PPAT</label>
                                                        <div class="col-sm-3">
                                                            <?= $this->formRow($frm->get('t_idnotarisspt')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <?php
                                                }
                                                ?>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">Tanggal Pendaftaran</label>
                                                        <div class="col-sm-3">
                                                            <?= $this->formInput($frm->get('t_idspt')) ?>
                                                            <?= $this->formInput($frm->get('t_iddetailsptbphtb')) ?>
                                                            <?= $this->formInput($frm->get('t_kohirspt')) ?>
                                                            <?= $this->formInput($frm->get('t_tglprosesspt')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">NIK</label>
                                                        <div class="col-sm-3">
                                                            <?= $this->formRow($frm->get('t_nikwppembeli')) ?>
                                                            
                                                            <input name="t_periodespt" id="t_periodespt" value="" type="hidden">
                                                            <input name="t_periodesptsekarang" id="t_periodesptsekarang" value="<?= date('Y'); ?>" type="hidden">
                                                        </div>
                                                    <!--</div>
                                                    <div class="form-group">-->
                                                        <label  class="col-sm-2 control-label">NPWPD</label>
                                                        <div class="col-sm-3">
                                                            <?= $this->formRow($frm->get('t_npwpwppembeli')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">Nama WP</label>
                                                        <div class="col-sm-6">
                                                            <?= $this->formRow($frm->get('t_namawppembeli')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">Alamat</label>
                                                        <div class="col-sm-6">
                                                            <?= $this->formRow($frm->get('t_alamatwppembeli')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">RT</label>
                                                        <div class="col-sm-2">
                                                            <?= $this->formRow($frm->get('t_rtwppembeli')) ?>
                                                        </div>
                                                    <!--</div>
                                                    <div class="form-group">-->
                                                        <label  class="col-sm-2 control-label">RW</label>
                                                        <div class="col-sm-2">
                                                            <?= $this->formRow($frm->get('t_rwwppembeli')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">Kelurahan/Desa</label>
                                                        <div class="col-sm-2">
                                                            <?= $this->formRow($frm->get('t_kelurahanwppembeli')) ?>
                                                        </div>
                                                    <!--</div>
                                                    <div class="form-group">-->
                                                        <label  class="col-sm-2 control-label">Kecamatan</label>
                                                        <div class="col-sm-2">
                                                            <?= $this->formRow($frm->get('t_kecamatanwppembeli')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">Kab./Kota</label>
                                                        <div class="col-sm-2">
                                                            <?= $this->formRow($frm->get('t_kabkotawppembeli')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label  class="col-sm-2 control-label">Kode Pos</label>
                                                        <div class="col-sm-2">
                                                            <?= $this->formRow($frm->get('t_kodeposwppembeli')) ?>
                                                        </div>
                                                        <label for="inputType" class="col-md-2">No. Telp.</label>
                                                        <div class="col-md-2">
                                                            <?= $this->formRow($frm->get('t_telponwppembeli')) ?>
                                                        </div> 
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <button class="btn btn-success nextBtn pull-right" type="button" ><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row setup-content" id="step-2">
                                        <div class="col-sm-12">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">Jenis Transaksi</label>
                                                    <div class="col-sm-5">
                                                        <?= $this->formRow($frm->get('t_idjenistransaksi')) ?>
                                                    </div>
                                                </div>
                                            <!--</div>
                                            <div class="col-sm-12">-->
                                                <div class="form-group">
                                                    <div id="persyaratannya">
                                                        <div class="radio_render">
                                                            <?= $this->formMultiCheckbox($frm->get('t_persyaratan')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">NOP/Tahun SPPT</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_nopbphtbsppt')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <div class="col-sm-1">
                                                        <?= $this->formRow($frm->get('t_thnsppt')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-2 control-label">Nama SPPT</label>
                                                    <div class="col-sm-4">
                                                        <?= $this->formRow($frm->get('t_namasppt')) ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">Letak Tanah/Bangunan</label>
                                                    <div class="col-sm-4">
                                                        <?= $this->formRow($frm->get('t_alamatop')) ?>
                                                    </div>
                                                </div>
                                            </div>       
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">RT</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_rtop')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-2 control-label">RW</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_rwop')) ?>
                                                    </div>
                                                </div>
                                            </div>                 
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">Kelurahan/Desa</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_kelurahanop')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-2 control-label">Kecamatan</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_kecamatanop')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-1 control-label"><span style="font-size: 12px">Kab./Kota</span></label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_kabupatenop')) ?>
                                                    </div>
                                                </div>
                                            </div>                 
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">Luas Tanah (Bumi)</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_luastanah')) ?>
                                                        <?= $this->formRow($frm->get('t_luastanah_sismiop')) ?>
                                                        <?= $this->formRow($frm->get('t_luasbangunan_sismiop')) ?>
                                                        <?= $this->formRow($frm->get('t_njoptanah_sismiop')) ?>
                                                        <?= $this->formRow($frm->get('t_njopbangunan_sismiop')) ?>
                                                        
                                                        <?= $this->formRow($frm->get('t_idtarifbphtb')->setValue($idtarifbphtb)) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-2 control-label" style="font-size: 12px">Nilai Pasar/NJOP (m2)</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_njoptanah')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-1 control-label">Total</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_totalnjoptanah')) ?>
                                                    </div>
                                                </div>
                                            </div>                 
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">Luas Bangunan</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_luasbangunan')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_njopbangunan')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-1 control-label">Total</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_totalnjopbangunan')) ?>
                                                    </div>
                                                </div>
                                            </div>         
                                            
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-9 control-label" style="text-align: right;">NJOP PBB</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_grandtotalnjop')) ?>
                                                    </div>
                                                </div>
                                            </div>  
                                            <?php
                                           // if(($notaris == '3') || ($notaris == '2')) {
                                                //echo $notaris; 
                                            ?>    
                                                <div class="col-sm-12" id="pembagian_aphb_1">
                                                    <div id="pembagian_aphb_2">
                                                        <label  class="col-sm-9 control-label" id="pembagian_aphb_3" style="text-align: right;">Pembagian APHB</label>
                                                        <div class="col-sm-3" id="pembagian_aphb_4">

                                                            <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_kali" id="t_tarif_pembagian_aphb_kali" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">
                                                               /
                                                            <input style="text-align:right; width: 50px;" name="t_tarif_pembagian_aphb_bagi" id="t_tarif_pembagian_aphb_bagi" onkeyup="hitungBphtb();this.value = unformatCurrency(this.value);" onchange="hitungBphtb();this.value = unformatCurrency(this.value);" onblur="hitungBphtb();this.value = unformatCurrency(this.value);" onfocus="hitungBphtb();this.value = unformatCurrency(this.value)" value="" onkeypress="hitungBphtb();return numbersonly(this, event)" type="text">

                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="col-sm-12" id="pembagian_aphb_5">
                                                    <div class="form-group" id="pembagian_aphb_6">
                                                        <label class="col-sm-9 control-label" id="pembagian_aphb_7" style="text-align: right;">NJOP PBB APHB</label>
                                                        <div class="col-sm-3" id="pembagian_aphb_8">
                                                            <input name="t_grandtotalnjop_aphb" id="t_grandtotalnjop_aphb" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">

                                                        </div>
                                                    </div>
                                                </div>  
                                            <?php
                                           // } else {
                                                
                                           // }
                                            ?>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-9 control-label" style="text-align: right;">Harga Transaksi / Nilai Pasar</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_nilaitransaksispt')) ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">Jenis Pembelian Tanah</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_jenispembelian')) ?>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">Kepemilikan</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_idjenishaktanah')) ?>
                                                    </div>
                                                </div>
                                            </div>                 
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">Jenis Dok. Tanah</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_idjenisdoktanah')) ?>
                                                    </div>
                                                </div>
                                            </div>             
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">No. Dokumen Tanah</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_nosertifikathaktanah')) ?>
                                                    </div>
                                                <!--</div>
                                                <div class="form-group">-->
                                                    <label  class="col-sm-2 control-label">Tanggal Dokumen</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_tglajb')) ?>
                                                    </div>
                                                </div>
                                            </div>             
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12" style="text-align: right">
                                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                                        <button class="btn btn-success nextBtn pull-right" type="button" ><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row setup-content" id="step-3">
                                        <div class="col-md-12">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-3 control-label">NPOP</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_npopspt')) ?>
                                                    </div>
                                                </div>
                                            </div>             
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-3 control-label">NPOPTKP</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_potonganspt')) ?>
                                                    </div>
                                                    <div class="col-sm-4" id="ket_npoptkpdiv">
                                                        <input type="text" class="form-control" name="ket_npoptkp" id="ket_npoptkp"
                                                               style="font-weight:bold;font-size:25px;color:#18F518;background-color:black;text-align:center;" readonly/> 
                                                    </div>
                                                </div>
                                            </div>                    
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-3 control-label">NPOPKP</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_npopkpspt')) ?>
                                                    </div>
                                                    <label  class="col-sm-2 control-label">Tarif (%)</label>
                                                    <div class="col-sm-1">
                                                        <input type="text" class="form-control" name="t_persenbphtb" id="t_persenbphtb" value="<?= $tarifbphtb ?>" readonly>
                                                        
                                                    </div>
                                                </div>
                                            </div>  
<!--                                            <div class="col-sm-12" id="potongan_waris_hibah1">
                                                <div class="form-group" id="potongan_waris_hibah2">
                                                    <label  class="col-sm-3 control-label" id="potongan_waris_hibah3">Potongan (%)</label>
                                                    <div class="col-sm-3" id="potongan_waris_hibah4">
                                                        <input name="t_potongan_waris_hibahwasiat" id="t_potongan_waris_hibahwasiat" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">
                                                    </div>
                                                </div>
                                            </div>   -->
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label  class="col-sm-3 control-label">BPHTB yang harus dibayar</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_totalspt')) ?>
                                                    </div>
                                                </div>
                                            </div>          
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12" style="text-align: right">
                                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                                        <button class="btn btn-success nextBtn pull-right" type="button" ><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row setup-content" id="step-4">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label  class="col-sm-2 control-label">NIK</label>
                                                <div class="col-sm-3">
                                                    <?= $this->formRow($frm->get('t_nikwppenjual')) ?>
                                                </div>
                                            <!--</div>
                                            <div class="form-group">-->
                                                <label  class="col-sm-1 control-label">NPWP</label>
                                                <div class="col-sm-3">
                                                    <?= $this->formRow($frm->get('t_npwpwppenjual')) ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label  class="col-sm-2 control-label">Nama Penjual</label>
                                                <div class="col-sm-6">
                                                    <?= $this->formRow($frm->get('t_namawppenjual')) ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label  class="col-sm-2 control-label">Alamat</label>
                                                <div class="col-sm-6">
                                                    <?= $this->formRow($frm->get('t_alamatwppenjual')) ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label  class="col-sm-2 control-label">RT/RW</label>
                                                <div class="col-sm-1">
                                                    <?= $this->formRow($frm->get('t_rtwppenjual')) ?>
                                                </div>
                                                <div class="col-sm-1">
                                                    <?= $this->formRow($frm->get('t_rwwppenjual')) ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label  class="col-sm-2 control-label">Kelurahan/Desa</label>
                                                <div class="col-sm-3">
                                                    <?= $this->formRow($frm->get('t_kelurahanwppenjual')) ?>
                                                </div>
                                                <label  class="col-sm-2 control-label">Kecamatan</label>
                                                <div class="col-sm-3">
                                                    <?= $this->formRow($frm->get('t_kecamatanwppenjual')) ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label  class="col-sm-2 control-label">Kab./Kota</label>
                                                <div class="col-sm-3">
                                                    <?= $this->formRow($frm->get('t_kabkotawppenjual')) ?>
                                                </div>
                                                <label  class="col-sm-2 control-label">Kode Pos</label>
                                                <div class="col-sm-2">
                                                    <?= $this->formRow($frm->get('t_kodeposwppenjual')) ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal form-group col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="inputType" class="col-md-2">No. Telpon</label>
                                                    <div class="col-md-2">
                                                        <?= $this->formRow($frm->get('t_telponwppenjual')) ?>
                                                    </div>
                                                    <div class="col-md-8" style="text-align: right">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>          
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="col-sm-12" style="text-align: right">
                                                    <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                                    <input type="submit" id="pendaftaranbutton" value="Proses Permohonan" onclick="this.disabled=true;forms[0].submit();" class="btn nextBtn btn-info pull-right">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <?= $this->form()->closeTag($frm) ?>
                                <!--</div>-->
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            <!--</div><!-- /.col -->
        <!--</div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div class="modal fade" id="loadingsimpanvalidasi" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>

<style>
    
    .easyWizardSteps {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-bottom: 0px solid rgba(0,0,0,0.1);
        margin-bottom: 20px;
        background: #00c0ef; /*#00a65a; ijo #00acd6; biru tua*/
    }

    .easyWizardSteps li.current {
        color: #38464A;
        background: #fff;

    }

    .easyWizardSteps li {
        /*font-size: 18px;*/
        font-family: "Open Sans";
        display: inline-block;
        padding: 10px 20px;
        color: #eee;
        /*border-right: 1px solid rgba(0,0,0,0.1);*/
        margin-right: 0px;


    }

    /*.easyWizardSteps li.current a {
        border: 2px solid #68C39F;
        color: #68C39F;
    }*/

    .easyWizardSteps li a {
        font-size: 15px;
        /*padding: 2px 9px;
        border-radius: 50%;
        margin-top: -5px;
        color: #eee;
        font-weight: 700;
        margin-right: 5px;
        border: 2px solid #eee;*/
    }
    
    /*
    .stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
    
    .radio_render{

    }

    .radio_render label {
        width: 75%;
        float: left;
    }

    .radio_render label input {
        margin-top: -2.5px;
        margin-left: 25%;
    }
    
    .stepwizard-step p {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .stepwizard-row {
        display: table-row;
    }
    .stepwizard {
        display: table;
        width: 95%;
        position: relative;
    }
    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    .stepwizard-row:before {
        top: 22px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 2px;
       
        background-color: blue;
        z-order: 0;
    }
    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }
    .btn-circle {
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
        line-height: 1.428571429;
        border-radius: 22.5px;
    }
    .form-group {
        margin: 0px;
    }
    /*
    .setup-content{
        margin-top: 100px;
    }*/

</style>
<script type="text/javascript">
    
    $('#pendaftaranbutton').click(function(){
           var myForm = document.getElementById('formtambah');
            myForm.onsubmit = function() {
                var allInputs = myForm.getElementsByTagName('input');
                var input, i;

                for(i = 0; input = allInputs[i]; i++) {
                    if(input.getAttribute('name') && !input.value) {
                        //input.setAttribute('name', '');
                        
                    }else{
                        jQuery('#loadingsimpanvalidasi').modal('show');
                    }
                }
            };
     });
     
     $('#t_nikwppenjual, #t_namawppenjual, #t_alamatwppenjual, #t_rtwppenjual, #t_rwwppenjual, #t_kelurahanwppenjual, #t_kecamatanwppenjual, #t_kabkotawppenjual').keyup(function(){
        if($(this).val().length !=0){
            $('#pendaftaranbutton').attr('disabled', false);
        }
        else
        {
            $('#pendaftaranbutton').attr('disabled', true); 
        }
    })
    

    jQuery("[data-mask]").inputmask();

    jQuery("#t_tglprosesspt").datepicker({
        format: 'dd-mm-yyyy',
    });

    jQuery("#t_tglajb").datepicker({
        format: 'dd-mm-yyyy',
    });

    function next(a) {
        jQuery('#tabs a[href=#' + a + ']').tab('show');
    }

    $(document).ready(function () {
        $("#tambahPenerima").click(function () {
            var id = document.getElementById("idk").value;
            $("#kolomTambahPenerima").append(
                    '<div class="form-horizontal form-group col-md-12">' +
                    '<div class="col-md-12">' +
                    '<div class="form-group row">' +
                    '<label for="inputKey" class="col-md-2 control-label" style="text-align: left;"></label>' +
                    '<div class="col-md-3">' +
                    '<input class="form-control" type="text" name="t_namapenerimawaris[' + id + ']">' +
                    '</div>' +
                    '<label for="inputValue" class="col-md-1 control-label"></label>' +
                    '<div class="col-md-2">' +
                    '<input class="form-control" type="text" name="t_nikpenerimawaris[' + id + ']" onkeypress="return numbersonly(this, event)" maxlength="16">' +
                    '</div>' +
                    '<label for="inputValue" class="col-md-1 control-label"></label>' +
                    '<div class="col-md-3">' +
                    '<input class="form-control" type="text" name="t_alamatpenerimawaris[' + id + ']">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                    );
            id = (id - 1) + 2;
            document.getElementById("idk").value = id;
        });
    });

    $("#t_ketwaris").hide();
    $("#centang_terbukti").hide();
    $("#historybphtb").hide();
    function myFunction() {
        $("#t_ketwaris").show();
        //        if ($('#ket_npoptkp').val() == 'Tidak Dapat NPOPTKP') {
        //            $('#t_potonganspt').val(0);
//        } else {
        var npoptkp = '300.000.000';
        $('#t_potonganspt').val(npoptkp);
        var npop = unformatCurrency($('#t_npopspt').val());
        var npoptkp = unformatCurrency($('#t_potonganspt').val());
        var npopkp = (npop * 1) - (npoptkp * 1);
        if ((npopkp * 1) < 0) {
            $('#t_npopkpspt').val(0);
            $('#t_totalspt').val(0);
        } else {
            $('#t_npopkpspt').val(currencyFormatDE((npopkp * 1)));
            var totalspt = (npopkp * 1) * 5 / 100;
            $('#t_totalspt').val(currencyFormatDE((totalspt * 1)));
        }
//        }
    }
    function myFunction1() {
        $("#t_ketwaris").hide();
        if ($('#ket_npoptkp').val() == 'Tidak Dapat NPOPTKP') {
            $('#t_potonganspt').val(0);
        } else {
            var npoptkp = '300.000.000';
            $('#t_potonganspt').val(npoptkp);
            var npop = unformatCurrency($('#t_npopspt').val());
            var npoptkp = unformatCurrency($('#t_potonganspt').val());
            var npopkp = (npop * 1) - (npoptkp * 1);
            if ((npopkp * 1) < 0) {
                $('#t_npopkpspt').val(0);
                $('#t_totalspt').val(0);
            } else {
                $('#t_npopkpspt').val(currencyFormatDE((npopkp * 1)));
                var totalspt = (npopkp * 1) * 5 / 100;
                $('#t_totalspt').val(currencyFormatDE((totalspt * 1)));
            }
        }
    }

    function historybphtb() {
        $.post('<?= $this->url() ?>/historybphtb', {t_nikwppembeli: $('#t_nikwppembeli').val(), t_tglprosesspt: $('#t_tglprosesspt').val()}, function (data) {
            var aa = JSON.parse(data);
            
            if((aa == '') || (aa == null)){
                
            }else{  
            //Data WP
                    $("#historydiv").html(aa.raw_return);
                    if (aa.t_namawppembeli != undefined) {
                        $('#t_namawppembeli').val(aa.t_namawppembeli);
                        $('#t_npwpwppembeli').val(aa.t_npwpwppembeli);
                        $('#t_alamatwppembeli').val(aa.t_alamatwppembeli);
                        $('#t_rtwppembeli').val(aa.t_rtwppembeli);
                        $('#t_rwwppembeli').val(aa.t_rwwppembeli);
                        $('#t_kelurahanwppembeli').val(aa.t_kelurahanwppembeli);
                        $('#t_kecamatanwppembeli').val(aa.t_kecamatanwppembeli);
                        $('#t_kabkotawppembeli').val(aa.t_kabkotawppembeli);
                        $('#t_kodeposwppembeli').val(aa.t_kodeposwppembeli);
                        $('#t_telponwppembeli').val(aa.t_telponwppembeli);
                        $('#jumlahpembayaran').val(aa.t_nilaipembayaranspt);
                        //$('#t_potonganspt').val('0');
                    }
                    //            $('#t_potonganspt').val('0');
                    var periodesekarang = $('#t_periodesptsekarang').val();

                   /* if ((aa.t_nikwppembeli != null) && (aa.t_periodespt == periodesekarang)) {
                    //if (aa.t_nikwppembeli != null) {
                        $("#historybphtb").show();
                        //$('#ket_npoptkp').val('Dapat NPOPTKP');
                        $('#ket_npoptkp').val('Tidak Dapat NPOPTKP');
                        hitungBphtb();
                    } else {
                        $("#historybphtb").hide();
                                        $('#t_potonganspt').val('');
                        $('#ket_npoptkp').val('Dapat NPOPTKP');
                        hitungBphtb();
                    } */
                hitungBphtb();    
            }
        });
    }
    function datanop() {
        $.post('<?= $this->url() ?>/datanop', {t_nopbphtbsppt: $('#t_nopbphtbsppt').val(), t_thnsppt: $('#t_thnsppt').val()}, function (data) {
            var aa = JSON.parse(data);
            
            if((aa == '') || (aa == null)){
                
            }else{   
            
            //Data Objek Pajak
            $('#t_namasppt').val(aa.NM_WP_SPPT);
            $('#t_alamatop').val(aa.JALAN_OP);
            $('#t_rtop').val(aa.RT_OP);
            $('#t_rwop').val(aa.RW_OP);
            $('#t_kelurahanop').val(aa.NM_KELURAHAN);
            $('#t_kecamatanop').val(aa.NM_KECAMATAN);
            $('#t_luastanah').val(currencyFormatDE(aa.LUAS_BUMI_SPPT * 1));
            
            $('#t_luastanah_sismiop').val(aa.LUAS_BUMI_SPPT * 1);
            $('#t_luasbangunan_sismiop').val(aa.LUAS_BNG_SPPT * 1);
            $('#t_njoptanah_sismiop').val(aa.NILAI_PER_M2_TANAH * 1000);
            $('#t_njopbangunan_sismiop').val(aa.NILAI_PER_M2_BNG * 1000);
            
            $('#t_njoptanah').val(currencyFormatDE(aa.NILAI_PER_M2_TANAH * 1000));
            $('#t_totalnjoptanah').val(currencyFormatDE(aa.NJOP_BUMI_SPPT * 1));
            $('#t_luasbangunan').val(currencyFormatDE(aa.LUAS_BNG_SPPT * 1));
            $('#t_njopbangunan').val(currencyFormatDE(aa.NILAI_PER_M2_BNG * 1000));
            $('#t_totalnjopbangunan').val(currencyFormatDE(aa.NJOP_BNG_SPPT * 1));
            $('#t_grandtotalnjop').val(currencyFormatDE(aa.NJOP_SPPT * 1));
            //Data Penjual
            // $('#t_namawppenjual').val(aa.NM_WP_SPPT);
            // $('#t_alamatwppenjual').val("Jl. " + aa.JLN_WP_SPPT);
            // $('#t_rtwppenjual').val(aa.RT_WP_SPPT);
            // $('#t_rwwppenjual').val(aa.RW_WP_SPPT);
            // $('#t_kelurahanwppenjual').val(aa.KELURAHAN_WP_SPPT);
            // $('#t_kabkotawppenjual').val(aa.KOTA_WP_SPPT);
            // $('#t_kodeposwppenjual').val(aa.KD_POS_WP_SPPT);
            //hitungnjop();
            TentukanNPOP();
            hitungBphtb();
            
            }
        });
    }

    function hitungnjop() {
        $.post('<?= $this->url() ?>/hitungnjop', {
            t_luastanah: $('#t_luastanah').val(), t_njoptanah: $('#t_njoptanah').val(), t_luasbangunan: $('#t_luasbangunan').val(),
            t_njopbangunan: $('#t_njopbangunan').val(), t_idjenistransaksi: $('#t_idjenistransaksi').val()
        }, function (data) {
            var aa = JSON.parse(data);
            $("#t_totalnjoptanah").val(currencyFormatDE(aa.t_totalnjoptanah * 1));
            $('#t_totalnjopbangunan').val(currencyFormatDE(aa.t_totalnjopbangunan * 1));
            $('#t_grandtotalnjop').val(currencyFormatDE(aa.t_grandtotalnjop * 1));
            $('#t_nilaitransaksispt').val(currencyFormatDE(aa.t_nilaitransaksispt * 1));
        });
    }

    function TentukanNPOP() {
        var NjopPbb = unformatCurrency($("#t_grandtotalnjop").val());
        var NilaiTransaksi = unformatCurrency($("#t_nilaitransaksispt").val());
        if ((NilaiTransaksi == "") || (NilaiTransaksi == null) || (NilaiTransaksi == 0)){
                $('#t_nilaitransaksispt').val(0);
        }else{
        
            if ((NjopPbb * 1) > (NilaiTransaksi * 1)) {
                $("#t_npopspt").val(formatCurrency(NjopPbb));
                hitungBphtb();
            } else {
                $("#t_npopspt").val(formatCurrency(NilaiTransaksi));
                hitungBphtb();
            }
        }    
    }

    function hitungBphtb() {
        $.post('<?= $this->url() ?>/hitungBphtb', {
            t_nilaitransaksispt: $('#t_nilaitransaksispt').val(),
            t_grandtotalnjop: $('#t_grandtotalnjop').val(), t_idjenistransaksi: $('#t_idjenistransaksi').val(), t_terbukti: $('#t_terbukti').val(), t_tglajb: $('#t_tglajb').val(), t_potonganspt: $('#t_potonganspt').val(),
            t_npopspt: $('#t_npopspt').val(), t_persenbphtb: $('#t_persenbphtb').val(),
            //t_tarif_pembagian_kali: $('#t_tarif_pembagian_kali').val(), t_tarif_pembagian_bagi: $('#t_tarif_pembagian_bagi').val(),
            t_tarif_pembagian_aphb_kali: $('#t_tarif_pembagian_aphb_kali').val(), t_tarif_pembagian_aphb_bagi: $('#t_tarif_pembagian_aphb_bagi').val(),
            t_luastanah: $('#t_luastanah').val(), t_njoptanah: $('#t_njoptanah').val(), t_luasbangunan: $('#t_luasbangunan').val(),
            t_njopbangunan: $('#t_njopbangunan').val(), t_nikwppembeli: $('#t_nikwppembeli').val(), t_tglprosesspt: $('#t_tglprosesspt').val(),
            t_idspt:0
        }, function (data) {
            var aa = JSON.parse(data);
            if((aa == '') || (aa == null)){
                
            }else{  
                
                //INI ASLINYA 3 AJA MATIIN
                $("#t_totalnjoptanah").val(currencyFormatDE(aa.t_totalnjoptanah * 1));
                $('#t_totalnjopbangunan').val(currencyFormatDE(aa.t_totalnjopbangunan * 1));
                $('#t_grandtotalnjop').val(currencyFormatDE(aa.t_grandtotalnjop * 1));
                $('#t_grandtotalnjop_aphb').val(currencyFormatDE(aa.t_grandtotalnjop_aphb * 1));
            
                
                $("#t_npopspt").val(currencyFormatDE(aa.t_npopspt * 1));
                $('#t_potonganspt').val(currencyFormatDE(aa.t_potonganspt * 1));
                $("#t_npopkpspt").val(currencyFormatDE(aa.t_npopkpspt * 1));
                $('#t_totalspt').val(currencyFormatDE(aa.t_totalspt * 1));
                $('#ket_npoptkp').val(aa.ket_npoptkp);
                $('#t_potongan_waris_hibahwasiat').val(aa.t_potongan_waris_hibahwasiat);
            }    
        });
    }
    
    function TampilPersyaratan() {
        $.post('<?= $this->url() ?>/TampilPersyaratan', {t_idjenistransaksi: $('#t_idjenistransaksi').val()}, function (data) {
            var aa = JSON.parse(data);
            var jns_transaksi = $('#t_idjenistransaksi').val();
            if ((jns_transaksi * 1) == 4 || (jns_transaksi * 1) == 5) {
                $("#centang_terbukti").show();
            } else {
                $("#centang_terbukti").hide();
                $("#t_terbukti").val(0);
            }
            $("#persyaratannya").html(aa.raw_return);
        });
        
        var jns_transaksi = $('#t_idjenistransaksi').val();

        
        
        if ((jns_transaksi * 1) == 18) {
            $("#pembagian_aphb_1").show();
            $("#pembagian_aphb_2").show();
            $("#pembagian_aphb_3").show();
            $("#pembagian_aphb_4").show();
            
            $("#pembagian_aphb_5").show();
            $("#pembagian_aphb_6").show();
            $("#pembagian_aphb_7").show();
            $("#pembagian_aphb_8").show();
            
            $("#t_tarif_pembagian_aphb_kali").show();
            $("#t_tarif_pembagian_aphb_bagi").show();
            
            $("#t_grandtotalnjop_aphb").show();
        }else{
            $("#pembagian_aphb_1").hide();
            $("#pembagian_aphb_2").hide();
            $("#pembagian_aphb_3").hide();
            $("#pembagian_aphb_4").hide();
            
            $("#pembagian_aphb_5").hide();
            $("#pembagian_aphb_6").hide();
            $("#pembagian_aphb_7").hide();
            $("#pembagian_aphb_8").hide();
            
            $("#t_tarif_pembagian_aphb_kali").hide();
            $("#t_tarif_pembagian_aphb_bagi").hide();
            $('#t_tarif_pembagian_aphb_kali').val('');
            $('#t_tarif_pembagian_aphb_bagi').val('');
            
            $("#t_grandtotalnjop_aphb").hide();
            $("#t_grandtotalnjop_aphb").val('');
        }   
        
        if (((jns_transaksi * 1) == 4) || ((jns_transaksi * 1) == 5)) {
            $("#potongan_waris_hibah1").show();
            $("#potongan_waris_hibah2").show();
            $("#potongan_waris_hibah3").show();
            $("#potongan_waris_hibah4").show();
            
            $("#t_potongan_waris_hibahwasiat").show();
        }else{
            $("#potongan_waris_hibah1").hide();
            $("#potongan_waris_hibah2").hide();
            $("#potongan_waris_hibah3").hide();
            $("#potongan_waris_hibah4").hide();
            
            $("#t_potongan_waris_hibahwasiat").hide();
            $("#t_potongan_waris_hibahwasiat").val('');
        }   
        
        hitungBphtb();
        
    }
    jQuery('.selectpicker1').selectpicker({
        size: 7
    });
    
    $("#pembagian_aphb_1").hide();
    $("#pembagian_aphb_2").hide();
    $("#pembagian_aphb_3").hide();
    $("#pembagian_aphb_4").hide();
    $("#pembagian_aphb_5").hide();
    $("#pembagian_aphb_6").hide();
    $("#pembagian_aphb_7").hide();
    $("#pembagian_aphb_8").hide();
    $("#t_tarif_pembagian_aphb_kali").hide();
    $("#t_tarif_pembagian_aphb_bagi").hide();
    $("#t_grandtotalnjop_aphb").hide();
    
    $("#potongan_waris_hibah1").hide();
    $("#potongan_waris_hibah2").hide();
    $("#potongan_waris_hibah3").hide();
    $("#potongan_waris_hibah4").hide();

    $("#t_potongan_waris_hibahwasiat").hide();

    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn'),
                allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-facebook').addClass('btn-default');
                $item.addClass('btn-facebook');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
            
            // tambahi dewe loading e coy
            var nextStepWizard = $(this).text();

            if (nextStepWizard == 1)
                $('.stepwizard-step .progress-bar').animate({width: '25%'}, 0);
            if (nextStepWizard == 2)
                $('.stepwizard-step .progress-bar').animate({width: '50%'}, 0);
            if (nextStepWizard == 3)
                $('.stepwizard-step .progress-bar').animate({width: '75%'}, 0);
            if (nextStepWizard == 4)
                $('.stepwizard-step .progress-bar').animate({width: '100%'}, 0);
            // end tambahi dewe  
            
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url'],textarea, select"),
                    isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-facebook').trigger('click');
    });
    
    //  centang semua
    function modify_boxes(total_boxes) {
        if (document.forms[0].CheckAll.checked) {
            to_be_checked = true;
        } else {
            to_be_checked = false;
        }
        for (i = 0; i < total_boxes; i++) {
            if (to_be_checked) {
                document.forms[0].t_persyaratan[i].checked = true;
            }
            else {

                document.forms[0].t_persyaratan[i].checked = false;
            }
        }
    }

</script>