<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/internet/css/blueimp-gallery.min.css">

<div class="content-wrapper">
    <section class="content">
        <?= $this->partial("bphtb/pendataan-sspd/viewdata-detail.phtml") ?>
        <?= $this->partial("bphtb/info-upload-berkas.phtml") ?>
        <!-- <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Pemberitahuan!</h4>
            Diberitahukan untuk ppat/ppats, kelengkapan berkas mohon untuk diupload lengkap.
            Apabila ada berkas yang belum dilengkapi, maka berkas pendaftaran tidak akan diproses verifikasi.
        </div> -->
        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">UPLOAD FILE PERSYARATAN SSPD BPHTB</h3>
                </center>
            </div><!-- /.box-header -->
            <div class="box-body">
                <?php
                if ($datasspd["status_validasi"] == 2) {
                    echo '<div class="box box-success" style="border: 1px solid #00a65a;">
                            <div class="box-header with-border bg-yellow-gradient">
                                <center>
                                    <h3 class="box-title">KETERANGAN VERIFIKASI BERKAS</h3>
                                </center>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    <div class="col-sm-2">
                                        KETERANGAN
                                    </div>
                                    <div class="col-sm-10">
                                        : <b>' . $datasspd["t_ket_verifikasi_berkas"] . '</b>
                                    </div>
                                </div>
                            </div>
                        </div>';
                }
                ?>
                <form method="post" action="<?= $this->url() ?>/uploadsyaratpost" id="formtambah">
                    <div class="row margin">
                        <div class="col-md-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div id="persyaratannya">
                                        <div class="radio_render">

                                            <?php $jmlsyarat = count($combosyarat); ?>
                                            <input name="hdnLine" type="hidden" value="<?= $jmlsyarat; ?>">

                                            <input name="idjenistransaksi" type="hidden" value="<?= $datasspd['t_idjenistransaksi']; ?>">
                                            <input name="t_iddetailsptbphtb" type="hidden" value="<?= $datasspd['t_iddetailsptbphtb']; ?>">

                                            <input name="foldertahun" type="hidden" value="<?= $datasspd['t_periodespt']; ?>">
                                            <input name="foldertransaksi" type="hidden" value="<?= str_replace(' ', '', strtolower($datasspd['s_namajenistransaksi'])); ?>">
                                            <input name="folderidspt" type="hidden" value="<?= $datasspd['t_idspt']; ?>">
                                            <input name="folderiddetailspt" type="hidden" value="<?= $datasspd['t_iddetailsptbphtb']; ?>">

                                            <?php
                                            $no = 1;
                                            $namasyarat = '';
                                            $nomer = 1;
                                            foreach ($combosyarat as $v) {

                                                if ($namasyarat <> $v['s_namapersyaratan']) {
                                                    if ($namasyarat <> '') {
                                                    }
                                                    echo '<br>';
                                                    echo $no . ". " . $v['s_namapersyaratan'] . "<br>";
                                                    echo ' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' . $this->url() . '/uploadjenisyarat?t_idspt=' . $datasspd['t_idspt'] . '&syarat=' . $v['s_idpersyaratan'] . '" class="btn bg-purple btn-sm btn-flat">
                                                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Upload File</a>';
                                                    echo '<br>';

                                                    $namasyarat = $v['s_namapersyaratan'];
                                                    $clast_rek_name = $v['s_namapersyaratan'];
                                                    //$no = 1;
                                                    $no++;
                                                    $nomer = 1;
                                                }


                                                //echo '<input type="hidden" name="id_detailspt' . $no . '" value="' . $no . '"><input type="hidden" name="keterangan_file' . $no . '" value="' . $v['s_namapersyaratan'] . '"><br><b style="margin-left:100px; background:#F39C12;">' . $v['nama_file'] . '</b><br><input type="hidden" name="id_syarat' . $no . '" value="' . $v['s_idpersyaratan'] . '"><input type="file" name="fileUpload' . $no . '" ><br>';
                                                /*echo ' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="'.$this->url().'/uploadjenisyarat?t_idspt='.$datasspd['t_idspt'].'&syarat='.$v['s_idpersyaratan'].'" class="btn bg-purple btn-sm btn-flat">
                                                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Upload File
                                                    </a><br>';*/
                                                //echo $no . ". <br>";
                                                /*echo '<div class="preview" data-ng-switch-when="true">
                                               <a data-ng-href="'.$v['letak_file'].''.$v['nama_file'].'" title="'.$v['nama_file'].'" download="'.$v['nama_file'].'" data-gallery><img data-ng-src="'.$v['letak_file'].'thumbnail/'.$v['nama_file'].'" alt="">'.$v['nama_file'].'</a>
                                            </div>
                                            <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>';*/
                                                //echo $v['letak_file']." <br>";
                                                /*            echo '
                                                <table class="table table-striped files" >
                                                <tbody><tr data-ng-repeat="file in queue" data-ng-class="" class="ng-scope">
                                                    <!--<td data-ng-switch="" data-on="!!file.thumbnailUrl">
                                                        <div class="preview ng-scope" data-ng-switch-when="true">
                                                            <a data-ng-href="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].''.$v['nama_file'].'" title="'.$v['nama_file'].'" download="'.$v['nama_file'].'" data-gallery="" href="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].''.$v['nama_file'].'"><img data-ng-src="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].'thumbnail/'.$v['nama_file'].'" alt="" src="http://localhost/kabupaten_tegal/bphtbslawi/public/upload/filetransaksi/2016/waris/13053/26/thumbnail/'.$v['nama_file'].'"></a>
                                                        </div>
                                                        
                                                    </td>-->
                                                    <td>
                                                        <p class="name" data-ng-switch="" data-on="!!file.url">
                                                            <span data-ng-switch-when="true" data-ng-switch="" data-on="!!file.thumbnailUrl" class="ng-scope">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-switch-when="true" data-ng-href="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].''.$v['nama_file'].'" title="'.$v['nama_file'].'" download="'.$v['nama_file'].'" data-gallery="" class="ng-binding ng-scope" href="http://localhost/kabupaten_tegal/bphtbslawi/'.$v['letak_file'].''.$v['nama_file'].'">'.$v['nama_file'].'</a><!-- end ngSwitchWhen: -->
                                                                
                                                            </span>
                                                        </p>
                                                        <strong data-ng-show="file.error" class="error text-danger ng-binding ng-hide"></strong>
                                                    </td>
                                                    
                                                    
                                                </tr><!-- end ngRepeat: file in queue -->
                                            </tbody></table>'; */
                                                if (!empty($v['nama_file'])) {
                                                    $extension = pathinfo($v['nama_file'], PATHINFO_EXTENSION);
                                                    if ($extension == "pdf") {
                                                        echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '" title="' . $v['nama_file'] . '">' . $nomer . '. ' . $v['nama_file'] . '</a>';
                                                    } else {
                                                        echo '<a style="display:none;" data-ng-href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '" title="' . $v['nama_file'] . '" download="' . $v['nama_file'] . '" data-gallery="" href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '"><img data-ng-src="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . 'thumbnail/' . $v['nama_file'] . '" alt="" src="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . 'thumbnail/' . $v['nama_file'] . '"></a>';
                                                        echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-switch-when="true" data-ng-href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '" title="' . $v['nama_file'] . '" download="' . $v['nama_file'] . '" data-gallery="" class="ng-binding ng-scope" href="http://' . $_SERVER['HTTP_HOST'] . '' . $this->basePath() . '/' . $v['letak_file'] . '' . $v['nama_file'] . '">' . $nomer . '. ' . $v['nama_file'] . '</a><!-- end ngSwitchWhen: -->';
                                                    }
                                                    echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="hapusFileSyarat(' . $v["id_filesyarat"] . ')" class="btn btn-sm btn-danger">Hapus</button>';
                                                    echo '<br>';
                                                }
                                                $nomer++;
                                            }
                                            ?>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-horizontal form-group col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-12" style="text-align: right">

                                            <input id="validasibutton" onclick="this.disabled = true;forms[0].submit();" value="UPLOAD" class="btn nextBtn btn-info pull-right" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/jquery.blueimp-gallery.min.js"></script>
<script>
    function hapusFileSyarat(a) {
        if (confirm("Apakah berkas file dihapus?") == true) {
            $.post("<?= $this->url() ?>/hapusFileSyarat", {
                "id": a
            }).then(function(res) {
                console.log(res);
                if (res == "01") {
                    alert("Hapus Berhasil");
                    location.reload();
                } else {
                    alert("Hapus Gagal");
                }
            });
        }
    }
</script>