<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>

<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center>
                    <h3 class="box-title"><b>DATA SERTIFIKAT BPN</b></h3>
                </center>
                <div class="pull-right">
                    <a href="#" onclick="openCetakDataBPN()" class="btn bg-purple btn-sm btn-flat">
                        <span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;CETAK
                    </a>
                    <!-- <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-success btn-flat btn-sm dropdown-toggle" type="button">
                            <span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Cetak&nbsp;&nbsp;
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul role="menu" class="dropdown-menu pull-right bg-green">
                            <li><a href="#" style="color: black" onclick="openCetakPenelitian()">Cetak Permohonan Penelitian</a> </li>
                            <li><a href="#" style="color: black" onclick="openCetakPengurangan()">Cetak Permohonan Pengurangan</a> </li>
                            <li><a href="#" style="color: black" onclick="openCetakBukti()">Cetak Bukti Penerimaan Surat/Berkas</a> </li>
                            <li><a href="#" onclick="openCetakStatusBerkas()" style="color: black"> Cetak Daftar Status Berkas</a></li>   
                            
                            <li><a href="#" onclick="opencetakDPendaftaran()" style="color: black">Cetak Daftar Pendaftaran</a></li>
                        </ul>
                    </div> -->
                </div>
            </div><!-- /.box-header -->


            <div class="box-body">

                <table id="example" class="display" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue">
                            <th>NO</th>
                            <th>TGL TRANSAKSI</th>
                            <th>NO AKTA</th>
                            <!-- <th>AKTAID</th> -->
                            <th>TGL AKTA</th>
                            <th>PPAT</th>
                            <th>NOP</th>
                            <th>NTPD</th>
                            <th>NIB</th>
                            <th>KOORDINAT X</th>
                            <th>KOORDINAT Y</th>
                            <th>NIK</th>
                            <th>NPWP</th>
                            <th>NAMA WP</th>
                            <!-- <th>ALAMAT OP</th> -->
                            <th>KELURAHAN OP</th>
                            <th>KECAMATAN OP</th>
                            <th>KOTA OP</th>
                            <th>LUASTANAH OP</th>
                            <!-- <th>LUASBANGUNAN OP</th> -->
                            <!-- <th>NO SERTIPIKAT</th> -->
                            <th>JENIS HAK</th>
                        </tr>
                        <tr>
                            <td>NO</td>
                            <td>TGL TRANSAKSI</td>
                            <td>NO AKTA</td>
                            <td>TGL AKTA</td>
                            <td>PPAT</td>
                            <td>NOP</td>
                            <td>NTPD</td>
                            <td>NIB</td>
                            <td>KOORDINAT X</td>
                            <td>KOORDINAT Y</td>
                            <td>NIK</td>
                            <td>NPWP</td>
                            <td>NAMA WP</td>
                            <td>KELURAHAN OP</td>
                            <td>KECAMATAN OP</td>
                            <td>KOTA OP</td>
                            <td>LUASTANAH OP</td>
                            <td>JENIS HAK</td>
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>

                </table>



            </div>


        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->


<div class="modal fade" id="cetakandatabpnbos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DATA SERTIFIKAT BPN</h4>
                </center>
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-3"><b>Tanggal Transaksi <span style="float:right;">:</span></b></label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_akta1" name="tgl_akta1" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="tgl_akta2" name="tgl_akta2" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tgl_cetakannya" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakDaftarSertifikatbpnpdf();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>
                        <button class="btn btn-success" onclick="cetakDaftarSertifikatbpnxls();" title="Cetak File Excel"><i class="fa fa-file-excel-o"></i> Cetak Excel</button>
                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakDataBPN()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    jQuery("#tgl_akta1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_akta2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakannya").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function cetakDaftarSertifikatbpnpdf() {
        window.open('<?= $this->url() ?>/cetakdatasertifikat?tgl_akta1=' + $("#tgl_akta1").val() + "&tgl_akta2=" + $("#tgl_akta2").val() + "&tgl_cetakannya=" + $("#tgl_cetakannya").val() + "&cetak=1");
    }

    function cetakDaftarSertifikatbpnxls() {
        window.open('<?= $this->url() ?>/cetakdatasertifikat?tgl_akta1=' + $("#tgl_akta1").val() + "&tgl_akta2=" + $("#tgl_akta2").val() + "&tgl_cetakannya=" + $("#tgl_cetakannya").val() + "&cetak=2");
    }

    function openCetakDataBPN() {
        jQuery('#cetakandatabpnbos').modal('show');
    }

    function tutupCetakDataBPN() {
        jQuery('#cetakandatabpnbos').modal('hide');
    }

    var dTable;

    $(document).ready(function() {



        $('#example thead td').each(function() {
            var title = $(this).text();

            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title + '" class="column_search pencariantable" />'); //style="width:100px;"
            }

        });


        $('#example thead td').on('keyup', ".column_search", function() {

            dTable
                .column($(this).parent().index())
                .search(this.value)
                .draw();
        });

        $('#example thead td').on('keyup change', "select", function() {

            dTable.column($(this).parent().index())
                .search(this.value)
                .draw();
        });



        dTable = $('#example').DataTable({
            "orderCellsTop": true,
            "fixedHeader": true,
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url() . '/dataGriddatasertifikat'; ?> ", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollCollapse": true,
            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },


        });


        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');


    });
</script>