<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">SETTING TOMBOL - TOMBOL</h3>
                    </div>
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-sm-12">
                                <div style=" overflow: auto;">
                                    <div class="col-lg-12 col-sm12">
                                        <table class="table table-hover table-bordered">
                                            <thead style="font-size: 12px">
                                                <tr class="bg-blue">
                                                    <th class="text-center" style="width: 60%">
                                                        NAMA TOMBOL
                                                    </th>
                                                    <th class="text-center">
                                                        AKTIF/TIDAK AKTIF
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="body_grid">
                                                <?php
                                                foreach ($data as $data) {
                                                    echo '<tr>';
                                                    echo '<td>' . $data["s_nama_button"] . '</td>';
                                                    echo '<td>';
                                                    if ($data['s_status_button'] == 1) {
                                                        echo '<a class="btn btn-danger" href="javascript:nonactive(' . $data["s_id_button"] . ')">NON AKTIFKAN</a>';
                                                    } else {
                                                        echo '<a class="btn btn-success" href="javascript:active(' . $data["s_id_button"] . ')">AKTIFKAN</a>';
                                                    }
                                                    echo '</td>';
                                                    echo '</tr>';
                                                }
                                                ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function nonactive(a) {
        $.post("<?= $this->url() ?>", {
            s_id_button: a,
            s_status_button: "2"
        }, function() {
            location.reload();
        });
    }

    function active(a) {
        $.post("<?= $this->url() ?>", {
            s_id_button: a,
            s_status_button: "1"
        }, function() {
            location.reload();
        });
    }
</script>