<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 8pt">Navigasi Setting</span></h3></div>
        <div class="panel-body">
            <?= $this->sidemenu ?>
        </div>        
    </div>    
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Setting Kelurahan</span></h3></div>
        <div class="panel-body">
            <div align="right" class="well-small">
                <a href="<?= $this->url() ?>/tambah" class="btn btn-success">Tambah</a>                        
                 <?php if ($sinkrondata_btn){?>                       
                <a href="<?= $this->url() ?>/sinkrondata" class="btn btn-success">Sinkron Data</a> 
                <?php }?>                            
            </div>
            <div style=" overflow-x: auto;">
                <table id="listkelurahan"></table>
                <div id="pagerkelurahan"></div>
            </div> 
        </div>        
    </div>    
</div>


<script type="text/javascript">
    function hapus(a){
        var aa = confirm('Hapus data ini?');
        if(aa){
            $.post('<?=$this->url()?>/hapus',{s_idkelurahan:a},function(data){
                $("#listkelurahan").jqGrid().trigger("reloadGrid");
            });
        }
    }
    
    $(function () {
        $("#listkelurahan").jqGrid({
            url:'<?=$this->url()?>/dataGrid',
            colNames:["Kode Kecamatan","Kode Kelurahan","Nama Kecamatan", "Nama Kelurahan", "Pilihan"],
            colModel:[
                { name:"s_kodekecamatan", align:'center'},
                { name:"s_kodekelurahan", align:'center'},
                { name:"s_namakecamatan", align:'left'},                
                { name:"s_namakelurahan", align:'left'},                
                { name:"Pilihan",align:'center',formatter:'button'}
            ],
            pager: "#pagerkelurahan",
            autowidth: true,
            height:'100%',
            rowNum: 10,
            rowList: [10, 20, 30],
            sortname: "s_kodekecamatan",
            sortorder: "asc",        
            viewrecords: true,
            gridview: true,
            autoencode: true,
            caption: "DAFTAR KELURAHAN"
        });
    });
</script>
