<!-- Modal Cari -->
<div class="modal fade" id="ModalCari" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="border: 1px solid #0073b7; width: 85%;">
        <div class="modal-content">
            <div class="modal-header with-border bg-blue-gradient">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 20px; color:white;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <center>
                    <h4 class="modal-title" id="myModalLabel">DAFTAR PENDAFTARAN SSPD BPHTB</h4>
                </center>
            </div>

            <div class="box-body">

                <!--<table id="listpendataan"></table>-->
                <table id="example" cellpadding="0" cellspacing="0" border="0" class="display">
                    <!--style="table-layout:fixed; width: 100%;"-->
                    <thead>
                        <tr class="bg-blue">
                            <th width="20">
                                <center>No</center>
                            </th>
                            <th width="100">
                                <center>No Daftar</center>
                            </th>
                            <th width="100">
                                <center>Id Daftar</center>
                            </th>
                            <th width="100">
                                <center>Tgl Daftar</center>
                            </th>
                            <th width="100">
                                <center>NOP</center>
                            </th>
                            <th width="200">
                                <center>Nama Penerima Hak</center>
                            </th>
                            <th width="200">
                                <center>Nama Pelepas Hak</center>
                            </th>
                            <th>
                                <center>Perintah</center>
                            </th>
                            <th width="150">
                                <center>Jenis Transaksi</center>
                            </th>
                            <th width="70">
                                <center>Nama Notaris</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
</div>
<script>
    var dTable;
    // #Example adalah id pada table
    $(document).ready(function() {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url() ?>/dataGridPendataanBphtb", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 5,
            "aLengthMenu": [
                [5, 10, 25, 50],
                [5, 10, 25, 50]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollX": "300px",
            //"scrollCollapse": true,
            /*"aoColumns": [
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '20%' },
             { sWidth: '20%' },
             { sWidth: '10%' }
             ],*/
            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "TIDAK ADA DATA",
                "sEmptyTable": "TIDAK ADA DATA",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "TIDAK ADA DATA",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },
            //"language": {
            //    "processing": "Pencarian..."
            //},


            "columnDefs": [{
                    "orderable": false,
                    "targets": [0,7],
                },
            ]
        });

        //====================== cari dibawah
        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            $("#tahun_cari").datepicker({
                format: 'yyyy',
                viewMode: "years",
                minViewMode: "years"
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No Daftar" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" id="tahun_cari" placeholder="Tahun" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tgldaftar') {
                $(this).html('<center><input type="text" placeholder="tgl daftar" id="tgl_daftar_cari" class="pencariantable" style="width:70px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namapenerima hak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:150px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namapelepas hak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:150px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nop') {
                $(this).html('<center><input type="text" placeholder="" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                var select = '<center><select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option>';
                <?php
                foreach ($datajenistransaksi as $row) {
                    echo 'select += \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\';';
                }
                ?>
                select += '</select></center>';
                $(this).html(select);
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namanotaris') {
                var select = '<center><select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option>';
                <?php
                foreach ($datanotaris as $row_n) {
                    echo 'select += \'<option value="' . $row_n['s_iduser'] . '">' . $row_n['s_namanotaris'] . '</option>\';';
                }
                ?>
                select += '</select></center>';
                $(this).html(select);
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                var select = '<center><select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option>';
                select += '<option value="1">LENGKAP</option>';
                select += '<option value="2">BELUM</option>';
                select += '</select></center>';
                $(this).html(select);
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });

        $('#ModalCari').on('shown.bs.modal', function(e) {
            //$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            dTable.columns.adjust();
        });


        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        //====================== end cari dibawah

        $('#example').removeClass('display').addClass('table table-striped table-bordered');
        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');

        // Untuk Pencarian, di kolom paling bawah
        dTable.columns().every(function() {
            var that = this;
            $('input', this.footer()).on('keyup change', function() {
                that.search(this.value).draw();
            });
            $('select', this.footer()).on('keyup change', function() {
                that.search(this.value).draw();
            });
        });
    });
</script>