<table width="100%" style="border-spacing: 0" class="font_sembilan">
    <tr style="text-align: center;" class="font_besar">
        <td colspan="15">
            <strong>DAFTAR SSPD BPHTB YANG TELAH VERIFIKASI</strong>
        </td>
    </tr>
    <tr style="text-align: left;" class="font_tujuh">
      <td colspan="15">&nbsp;</td>
    </tr>
    <tr style="text-align: left;" class="font_sembilan">
        <td colspan="15">Tanggal Cetak Verifikasi :
        <?= $tgl_cetak ?>          &nbsp;</td>
    </tr>
    <tr style="text-align: left;" class="font_sembilan">
      <td colspan="15">Tanggal Verifikasi Berkas      :
      <?= $tgl_verifikasi1 ?>        &nbsp; s/d  <?= $tgl_verifikasi2 ?> &nbsp;</td>
    </tr>
    <tr style="text-align: left;" class="font_tujuh">
        <td colspan="15">&nbsp;</td>
    </tr>
    <tr style="text-align: center">
        <td rowspan="3" class="border_atas border_bawah border_kanan border_kiri">
            No.
        </td>
        <td rowspan="3" class="border_atas border_bawah border_kanan">
            NIK
        </td>
<!--        <td rowspan="3" class="border_atas border_bawah border_kanan">
            NOP
        </td>-->
        <td colspan="2" class="border_atas border_bawah border_kanan">
            Wajib Pajak</td>
        <td colspan="7" class="border_atas border_bawah border_kanan">
           Rincian BPHTB
        </td>
        <td colspan="2" class="border_atas border_bawah border_kanan">Pengecekan BPHTB </td>
        
        <td rowspan="3" class="border_atas border_bawah border_kanan">
            Tanggal Verifikasi Berkas
        </td>
        <td rowspan="3" class="border_atas border_bawah border_kanan">
            Ket. (V/X)
        </td>
    </tr>
    <tr style="text-align: center">
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Nama
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Alamat
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Harga Transaksi
        </td>
        <td rowspan="1" colspan="2" class="border_bawah border_kanan">
            Bumi
        </td>
        <td rowspan="1" colspan="2" class="border_bawah border_kanan">
            Bangunan
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            NJOP Total
        </td>
        <td rowspan="2" class="border_bawah border_kanan">
        BPHTB Terhutang          Tanggal</td>
       
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">Tgl Verifikasi Berkas </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">Pejabat Verifikasi Berkas
            
      </td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1" class="border_bawah border_kanan">
            Luas (m2)
        </td>
        <td rowspan="1" colspan="1" class="border_bawah border_kanan">
            NJOP (Rp/m2)
        </td>
        <td rowspan="1" colspan="1" class="border_bawah border_kanan">
            Luas (m2)
        </td>
        <td rowspan="1" colspan="1" class="border_bawah border_kanan">
            NJOP (Rp/m2)
        </td>
    </tr>
    <?php
    $totalPembayaran = 0;
    $counter = 1;
    foreach ($this->data_Verifikasi as $k => $v) {
        ?>
        <tr>
            <td class="border_kiri border_bawah border_kanan" align="center">
                <?= $counter ?>
            </td>
            <td class="border_bawah border_kanan" align="center"><?= str_pad($v['t_nikwppembeli'], 7, '0', STR_PAD_LEFT) ?>
            </td>
<!--            <td class="border_bawah border_kanan">
                <?= $v['t_nopbphtbsppt'] ?>
            </td>-->
            <td class="border_bawah border_kanan" align="left">
                <?= strtoupper($v['t_namawppembeli']) ?> 
            </td>
            <td class="border_bawah border_kanan" align="left">
                <?= $v['t_alamatwppembeli'] ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_nilaitransaksispt'], 0, ',', '.'); ?>
            </td>
            <td class="border_bawah border_kanan" align="center">
                <?= $v['t_luastanah'] ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= $v['t_njoptanah'] ?>
            </td>
            <td class="border_bawah border_kanan" align="center">
                <?= $v['t_luasbangunan'] ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= $v['t_njopbangunan'] ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_grandtotalnjop'], 0, ',', '.'); ?>
            </td>
            
            <td align="right" class="border_bawah border_kanan">
                <?= number_format($v['t_totalspt'], 0, ',', '.'); ?>
            </td>
            
            <td class="border_bawah border_kanan" align="center"><?= date('d/m/Y', strtotime($v['t_tglverifikasiberkas'])) ?>
            <td class="border_bawah border_kanan">
            <?php
                    if(!empty($v['s_namanotaris'])){
                        echo $v['s_namanotaris'];
                    }else{
                        echo 'Administrator';
                    } 
                            
                ?>
            </td>
            
            <td class="border_bawah border_kanan" align="center">
                <?= date('d/m/Y', strtotime($v['t_tglverifikasiberkas'])) ?>
            </td>
            <?php
            $counter++;
        }
        ?>
        <td class="border_bawah border_kanan">&nbsp;</td>
</table>

<style type="text/css">

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    


    @page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }
</style>