<style type="text/css">
    .kotak{
        border: 1px black solid;
    }
    .tengah {
        float: none;
        margin: 0 auto;
    }
    .radio_render{
        margin-top: -2.5px;
        margin-left: 17%;
    }
    .radio_render label {
        width: 75%;
        float: left;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }
    
    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }


</style>
<?php
ini_set("max_execution_time", 500);
foreach ($this->data_sspd as $row) {
    $data_pemda = $this->data_pemda;
    ?>
    <div style="page-break-after: always;width: 100%;">
        <table>
            <tr>
                <td width="100px">
                 <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" align="left" src="http://localhost/<?= $this->basePath(); ?>/<?= $data_pemda->s_logo ?>"/>
                </td>
                <td style="text-align: center">
                    <b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot); ?></b><br>
                    <b><?= strtoupper($data_pemda->s_namainstansi); ?> (<?= strtoupper($data_pemda->s_namasingkatinstansi); ?>)</b><br>
                    <b style="font-size: 12px"><?= strtoupper($data_pemda->s_alamatinstansi); ?> Telp/Fax <?= $data_pemda->s_notelinstansi ?>, <?= $data_pemda->s_namaibukotakabkot ?> <?= $data_pemda->s_kodepos ?></b>
                </td>
            </tr>
        </table>
        <hr>
        <table width="100%" style="border-spacing: 0px;" style="font-size: 12px">
            <tr>
                <td width="100px">
                    Lembar
                </td>
                <td>
                    : Penelitian / Verifikasi Lapangan
                </td>   
            </tr>
            <br>
            </tr>
        </table>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="3" style="font-size: 14px">
                    Kami yang bertanda tangan dibawah ini :
                </td>
            </tr>
            <tr>
                <td width="10px">
                    1.
                </td>
                <td width="200px" style="font-size: 14px">
                    Nama
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui1->s_namapejabat) ? strtoupper($data_mengetahui1->s_namapejabat) : null; ?> 
                </td>   
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    NIP
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui1->s_nippejabat) ? $data_mengetahui1->s_nippejabat : null; ?> 
                </td>
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    Jabatan
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui1->s_jabatanpejabat) ? strtoupper($data_mengetahui1->s_jabatanpejabat) : null; ?> 
                </td>
            </tr>
            <tr>
                <td width="10px">
                    2.
                </td>
                <td width="200px" style="font-size: 14px">
                    Nama
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui2->s_namapejabat) ? strtoupper($data_mengetahui2->s_namapejabat) : null; ?>
                </td>   
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    NIP
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui2->s_nippejabat) ? $data_mengetahui2->s_nippejabat : null; ?>
                </td>
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    Jabatan
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui2->s_jabatanpejabat) ? strtoupper($data_mengetahui2->s_jabatanpejabat) : null; ?>
                </td>
            </tr>
            <tr>
                <td width="10px">
                    3.
                </td>
                <td width="200px" style="font-size: 14px">
                    Nama
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui3->s_namapejabat) ? strtoupper($data_mengetahui3->s_namapejabat) : null; ?>
                </td>   
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    NIP
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui3->s_nippejabat) ? $data_mengetahui3->s_nippejabat : null; ?>
                </td>
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    Jabatan
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui3->s_jabatanpejabat) ? strtoupper($data_mengetahui3->s_jabatanpejabat) : null; ?> 
                </td>
            </tr>
            <tr>
                <td width="10px">
                    4.
                </td>
                <td width="200px" style="font-size: 14px">
                    Nama
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui4->s_namapejabat) ? strtoupper($data_mengetahui4->s_namapejabat) : null; ?>
                </td>   
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    NIP
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui4->s_nippejabat) ? $data_mengetahui4->s_nippejabat : null; ?>
                </td>
            </tr>
            <tr>
                <td width="10px"></td>
                <td style="font-size: 14px">
                    Jabatan
                </td>
                <td style="font-size: 14px">
                    : <?= isset($data_mengetahui4->s_jabatanpejabat) ? strtoupper($data_mengetahui4->s_jabatanpejabat) : null; ?>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="2" style="font-size: 14px">
            <u>Telah dilakukan Penelitian SSPD atas SSPD yang disampaikan oleh Wajib Pajak  :</u>
            </td>
            </tr>
            <tr>
                <td width="210px" style="font-size: 14px">
                    1. Nama
                </td>
                <td style="font-size: 14px">
                    : <?= $row['t_namawppembeli'] ?> 
                </td>   
            </tr>
            <tr>
                <td style="font-size: 14px">
                    2. Alamat
                </td>
                <td style="font-size: 14px">
                    : <?= strtoupper($row['t_alamatwppembeli']) . " " . strtoupper($row["t_kelurahanwppembeli"]) . " " . strtoupper($row['t_kecamatanwppembeli']) ?>
                </td>
            </tr>
            <tr>
                <td style="font-size: 14px">
                    3. NOP
                </td>
                <td style="font-size: 14px">
                    : <?= $row['t_nopbphtbsppt'] ?>
                </td>
            </tr>
             </td>
            </tr>
            <tr>
                <td style="font-size: 14px">
                    4. Alamat OP
                </td>
                <td style="font-size: 14px">
                    : RT/W <?= $row['t_rtop'] . "/" . $row['t_rwop'] ?>,<?= $row['t_kelurahanop'] . ", " . $row['t_kecamatanop'] ?>
                </td>
            </tr>
             <tr>
                <td style="font-size: 14px">
                    5. Nama Notaris
                </td>
                <td style="font-size: 14px">
                    : <?= $row['s_namanotaris']  ?>
                </td>
            </tr>
        </table>
        <br>
       
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td style="font-size: 14px">
            <u>Penelitian telah dilaksanakan pada unsur2 berikut :</u>
            </td>
            </tr>
          
           
        </table>
        
        <table width="95%" style="border-spacing: 0px;">
     
    
                                <tr>
                                    
                                    <td colspan="1" class="border_atas  border_kiri border_kanan border_bawah" style="text-align: center;">
                                        N0
                                    </td>
                                    <td colspan="6" class="border_atas  border_kanan border_bawah" style="text-align: center;">
                                        UNSUR YANG DITELITI
                                    </td>
                                    
                                    <td colspan="4"class="border_atas border_bawah border_kanan" style="text-align: center;">
                                        PERMOHONAN
                                    </td>
                                    <td colspan="4"class="border_atas border_bawah border_kanan" style="text-align: center;">
                                        HASIL PENELITIAN
                                    </td>
                                    <td colspan="2"class="border_atas border_bawah border_kanan" style="text-align: center;">
                                        KET
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td colspan="1" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     1
                                    </td>
                                    <td colspan="6" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                   NOP yang dicantumkan
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     <?= $row['t_nopbphtbsppt'] ?>
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                                    <td colspan="2" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     2
                                    </td>
                                    <td colspan="6" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                   NJOP
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     <?= $row['t_grandtotalnjop'] ?>
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                                    <td colspan="2" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                               
                                </tr>
                                <tr>
                                    <td colspan="1" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     3
                                    </td>
                                    <td colspan="6" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                   Luas Tanah
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     <?= $row['t_luastanah'] ?>
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                                    <td colspan="2" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                               
                                </tr>
                                <tr>
                                    <td colspan="1" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     4
                                    </td>
                                    <td colspan="6" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                   Luas Bangunan
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     <?= $row['t_luasbangunan'] ?>
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                                    <td colspan="2" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                               
                                </tr>
                                <tr>
                                    <td colspan="1" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     5
                                    </td>
                                    <td colspan="6" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                   NJOP Tanah / m2
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     <?= $row['t_njoptanah'] ?>
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                                    <td colspan="2" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                               
                                </tr>
                                <tr>
                                    <td colspan="1" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     6
                                    </td>
                                    <td colspan="6" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                   NJOP Bangunan / m2
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                     <?= $row['t_njopbangunan'] ?>
                                    </td>
                                    <td colspan="4" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                                    <td colspan="2" class="border_bawah border_kiri border_kanan" style="text-align: center;">
                                      
                                    </td>
                               
                                </tr>
                               
                                    
 </table>
        <br><br>
        <table>
            <tr>
            <td>
          
         Catatan Petugas Lapangan :
        
            </td>
            </tr>
        </table>
        <hr>
        <br><br><br><br><br><br><br><br>
        <br><br><br><br>
        <table width="100%" style="border-spacing: 0px;">
            <tr style="font-size: 14px">
                <td colspan="2">
                    Catatan Pejabat :
                    <hr>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td style="width: 5%" class="kotak"></td>
                <td>
                    Hasil Verifikasi BPHTB untuk diproses SSPD BPHTB 
                </td>   
            </tr>
            <tr>
                <td class="kotak"></td>
                <td style="font-size: 14px">
                    Belum dapat diproses
                </td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br>
        <table width="100%" style="border-spacing: 0px;">
            <tr>
                <td colspan="3" style="font-size: 14px">
                    Demikian hasil Penelitian / Verifikasi lapangan yang dapat kami sampaikan, untuk dipergunakan sebagaimana mestinya
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>

                </td>
                <td colspan="2">
                    <?= $data_pemda->s_namaibukotakabkot . ", " . $tgl_cetak ?>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>
                    Mengetahui<br>
               
                    KEPALA BIDANG<br>
                </td>
                <td>
            <u>Petugas Peneliti/Verifikator : </u>
            </td>
            <td>

            </td>
            </tr>
            <tr style="font-size: 14px">
                <td>

                </td>
                <td>
                    1. <?= isset($data_mengetahui1->s_namapejabat) ? $data_mengetahui1->s_namapejabat : null ?>
                </td>
                <td>
                    1.
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td colspan="3">
                    <br>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>
                    <br>
                    Drs. ROMLI
                </td>
                <td>
                    2. <?= isset($data_mengetahui2->s_namapejabat) ? $data_mengetahui2->s_namapejabat : null ?>
                </td>
                <td>
                    2.
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td colspan="3">
                    NIP. 19640608 198508 1 004
                    <br>
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>
                </td>
                <td>
                    3. <?= isset($data_mengetahui3->s_namapejabat) ? $data_mengetahui3->s_namapejabat : null ?>
                </td>
                <td>
                    3.
                </td>
            </tr>
            <tr style="font-size: 14px">
                <td>
                    Mengetahui
                    <br>
                    KEPALA SUB BIDANG<br><br><br><br>
                    PUDJI ISWANTO, SH<br>
                   NIP. 19640608 198508 1 004
                </td>
                <td style="padding-top: -40px">
                    4. <?= isset($data_mengetahui4->s_namapejabat) ? $data_mengetahui4->s_namapejabat : null ?>
                </td>
                <td style="padding-top: -40px">
                    4.
                </td>
            </tr>
       
      
    </div>
    <?php
}
?>
