<table id="gridSudah" class="display" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
    <thead>
        <tr class="bg-blue">
            <th>NO</th>
            <th>#</th>
            <th>NO DAFTAR</th>
            <th>NO SSPD</th>
            <th>NAMA WAJIB PAJAK</th>
            <th>NOP</th>
            <th>KODEBAYAR</th>
            <th>JML PAJAK</th>
        </tr>
        <tr>
            <td>NO</td>
            <td>PERINTAH</td>
            <td>NO DAFTAR</td>
            <td>NO SSPD</td>
            <td>NAMA WAJIB PAJAK</td>
            <td>NOP</td>
            <td>KODEBAYAR</td>
            <td>JML PAJAK</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript" language="javascript">
    var gridSudah;

    $('#gridSudah thead td').each(function() {
        var title = $(this).text();

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
            $(this).html('');
        } else {
            $(this).html('<input type="text" placeholder="' + title +
                '" class="column_search pencariantable" />'); //style="width:100px;"
        }

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
            $(this).html('');
        }

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlpajak') {
            $(this).html('');
        }

    });


    $('#gridSudah thead td').on('keyup', ".column_search", function() {
        gridSudah
            .column($(this).parent().index())
            .search(this.value)
            .draw();
    });

    $('#gridSudah thead td').on('keyup change', "select", function() {

        gridSudah.column($(this).parent().index())
            .search(this.value)
            .draw();
    });

    $("#btn-tab-2").on("click", function() {
        if (!$.fn.DataTable.isDataTable('#gridSudah')) {
            gridSudah = $('#gridSudah').DataTable({
                "orderCellsTop": true,
                "fixedHeader": true,
                "bProcessing": true,
                "bServerSide": true,
                "bJQueryUI": false,
                //"responsive": true,
                "sAjaxSource": "<?= $this->url() . '/gridSudah'; ?> ", // Load Data
                "sServerMethod": "POST",
                "iDisplayLength": 10,
                "aLengthMenu": [
                    [10, 20, 50, 100],
                    [10, 20, 50, 100],
                ],
                "aaSorting": [
                    [0, "asc"]
                ],
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bInfo": true,
                "bAutoWidth": false,
                //"scrollY":        "400px",
                "scrollX": true,
                //"scrollCollapse": true,
                "oLanguage": {
                    "sEmptyTable": "No incompleted albums found!", //when empty
                    "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                    "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                    "sZeroRecords": "<center>Tidak ada data</center>",
                    "sEmptyTable": "<center>Tidak ada data</center>",
                    "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                    "sInfoEmpty": "Tidak ada data",
                    "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                    "sLoadingRecords": "Loading...",
                    "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                    "oPaginate": {
                        "sFirst": "First",
                        "sLast": "Last",
                        "sNext": ">>",
                        "sPrevious": "<<"
                    } //pagination
                },
                "columnDefs": [{
                    "orderable": false,
                    "targets": [0, 1, 7],
                    "searchable": false
                }, ]
            });
            $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        }
    });

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
        }
        setTimeout(function() {
            gridSudah.ajax.reload();
            gridBelum.ajax.reload();
        }, 500);
    }
</script>