<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">SETTING HARGA ACUAN</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Setting Harga Acuan</span></h3></div>
                                    <div class="panel-body">
                                        <fieldset>
                                            <legend>Harga Acuan Tanah/m2</legend>                    
                                            <div>
                                                <?= $this->form()->openTag($frm) ?>
                                                <div class="form-horizontal form-group col-md-12">
                                                    <div class="col-md-12">
                                                        <div class="form-group row">
                                                            <label for="inputKey" class="col-md-3 control-label" style="text-align: left;">Kode Blok</label>
                                                            <div class="col-md-4">
                                                                <?= $this->formHidden($frm->get('s_idacuan')) ?>  
                                                                <?= $this->formRow($frm->get('t_nopacuan')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-horizontal form-group col-md-12">
                                                    <label for="inputType" class="col-md-3">Harga Tanah/Meter2</label>
                                                    <div class="col-md-4">
                                                        <?= $this->formRow($frm->get('s_permetertanah')) ?>
                                                    </div>
                                                </div>  
                                                <div align="right">
                                                    <?= $this->formInput($frm->get('simpan')) ?> <a href="<?= $this->url('setting_harga_acuan_bphtb') ?>" class="btn btn-success">Kembali</a>
                                                </div>
                                                <?= $this->form()->closeTag($frm) ?>
                                            </div>
                                        </fieldset>
                                    </div>        
                                </div>    
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    jQuery("[data-mask]").inputmask();

</script>