<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/tambahSpopMutasi');
$form->setAttribute('id', "formtambah");
$form->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <div class="alert alert-dismissible" style="border: 1px solid #0073b7;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Langkah - langkah penginputan!</h4>
            <ol>
                <li>Isi dahulu jumlah bidang pemecahan dan nomor bidang keberapa</li>
                <li>Lalu klik tombol cari nop <button type="button" class="btn btn-sm btn-primary">
                        <span class="fa fa-search"></span>
                        CARI
                    </button></li>
                <li>Lanjut dengan melengkapi datanya dengan benar</li>
                <li>Apabila jenis tanahnya ada bangunan, masukan jumlah bangunannya lalu klik tombol form lspop <button type="button" class="btn btn-sm btn-primary">
                        <span class="fa fa-search"></span>
                        FORM LSPOP
                    </button></li>
                <li>Setelah data terisi dengan benar klik tombol simpan <button type="button" class="btn btn-primary">
                        <span class="fa fa-save"></span>
                        &nbsp;SIMPAN
                    </button></li>
            </ol>
        </div>
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header bg-blue-gradient">
                <center>

                    <h3 class="text-bold">FORM SPOP & LSPOP MUTASI</h3>
                </center>
                <div class="pull-right">
                    <a href="<?= $this->url() ?>/inputSpop/<?= $idSpt ?>" class="btn btn-danger btn-sm btn-flat">
                        <span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Kembali
                    </a>
                </div>
            </div>
            <div class="box-body">
                <?= $this->form()->openTag($form) ?>
                <div class="row">
                    <div class="col-sm-12">
                        <b>KET :</b>
                        <br>
                        <span class="text-danger"><b>*</b></span> <b>) DATA WAJIB DIISI</b>
                        <br>
                        <br>
                    </div>
                    <div class="col-sm-12">
                        <div class="box box-primary">
                            <div class="box-header bg-blue-gradient">
                                <b>DATA SPOP</b>
                            </div>
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="box box-primary">
                                            <div class="box-header bg-blue-gradient">
                                                <b>DATA OBJEK PAJAK</b>
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group-sm row" id="divBidang" th:classappend="${(idJenisPelayanan!=2) ? 'hidden' : ''}">
                                                    <label class="col-sm-4 col-form-label-sm">Jumlah Bidang <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_jmlh_bidang')) ?>
                                                    </div>
                                                    <label class="col-sm-2 col-form-label-sm">Bidang Ke- <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_nomor_bidang')) ?>

                                                    </div>
                                                </div>
                                                <div class="form-group-sm row" id="divNopInduk">
                                                    <label class="col-sm-4 col-form-label-sm">NOP Asal <span class="text-danger">*</span></label>
                                                    <div class="col-sm-6">
                                                        <?= $this->formRow($form->get('t_nop')) ?>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <!-- <button type="button" class="btn btn-sm btn-primary" id="btnCariNOP">
                                                            <span class="fa fa-search"></span>
                                                            CARI
                                                        </button> -->
                                                    </div>
                                                </div>

                                                <div class="form-group-sm row hidden" id="divNopAsal">
                                                    <label class="col-sm-4 col-form-label-sm">NOP Asal <span class="text-danger">*</span></label>
                                                    <div class="col-sm-6">
                                                        <?= $this->formRow($form->get('t_nop_asal')) ?>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <!-- <button type="button" class="btn btn-sm btn-primary" id="btnCariNopAsal">
                                                            <span class="fa fa-search"></span>
                                                            CARI
                                                        </button> -->
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group-sm row" th:if="${idJenisPelayanan==1}">
                                                    <label class="col-sm-4 col-form-label-sm">NOP Terdekat</label>
                                                    <div class="col-sm-6">
                                                    <?php // $this->formRow($form->get('t_nop_terdekat')) 
                                                    ?>
                                                    </div>
                                                </div> -->
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">RT <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_rt_op')) ?>
                                                    </div>
                                                    <label class="col-sm-2 col-form-label-sm">RW <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_rw_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Blok/Kav/No</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_blok_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Jalan <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_jalan_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kecamatan <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kecamatan_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kelurahan/Desa <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kelurahan_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kode Blok <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kode_blok_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kode ZNT <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kd_znt')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Luas Tanah <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_luas_tanah')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Nomor Sertifikat <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_nomor_sertifikat')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Jenis Tanah <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_jenis_tanah')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row hidden" id="divJumlahBang">
                                                    <label class="col-sm-4 col-form-label-sm">Jumlah Bangunan <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_jmlh_bangunan')) ?>

                                                    </div>
                                                </div>
                                                <div class="form-group-sm row hidden" id="divCreateLspop">
                                                    <label class="col-sm-4 col-form-label-sm"></label>
                                                    <div class="col-sm-8">
                                                        <button type="button" onclick="createLspop()" class="btn btn-sm btn-primary">
                                                            <span class="fa fa-search"></span>
                                                            FORM LSPOP
                                                        </button>
                                                    </div>
                                                    <label class="col-sm-12 col-form-label-sm text-red">*) Klik Form LSPOP setelah masukan jumlah bangunan</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="box box-primary">
                                            <div class="box-header bg-blue-gradient">
                                                <b>DATA WAJIB PAJAK</b>
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Status Kepemilikan <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('id')) ?>
                                                        <?= $this->formRow($form->get('t_idspt')) ?>
                                                        <?= $this->formRow($form->get('t_jenis_kepemilikan')) ?>

                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Jenis Pekerjaan <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_pekerjaan_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">NIK <span class="text-danger">*</span></label>
                                                    <div class="col-sm-6">
                                                        <?= $this->formRow($form->get('t_nik_wp')) ?>
                                                    </div>
                                                    <!-- <div class="col-sm-2">
                                                        <button type="button" class="btn btn-sm btn-primary" id="btnCariNIK">
                                                            <span class="fa fa-search"></span>
                                                            CARI
                                                        </button>
                                                    </div> -->
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">NPWP </label>
                                                    <div class="col-sm-6">
                                                        <?= $this->formRow($form->get('t_npwp_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Nama <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_nama_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">RT <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_rt_wp')) ?>
                                                    </div>
                                                    <label class="col-sm-2 col-form-label-sm">RW <span class="text-danger">*</span></label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_rw_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Blok/Kav/No</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_blok_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Jalan <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_jalan_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kalurahan/Desa <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kelurahan_wp')) ?>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kecamatan</label>
                                                    <div class="col-sm-8">
                                                        <?php // $this->formRow($form->get('t_kecamatan_wp')) 
                                                        ?>
                                                    </div>
                                                </div> -->
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kabupaten <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kabupaten_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">NO. HP. <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_no_hp_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kode Pos</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kode_pos_wp')) ?>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 hidden" id="divLspop">
                        <div class="box box-primary">
                            <div class="box-header bg-blue-gradient">
                                <b>DATA LSPOP</b>
                            </div>
                            <div class="box-body" id="divBodyLspop">
                                <?php if (isset($dataLspop)) {
                                    foreach ($dataLspop as $key => $value) {
                                ?>
                                        <div class="col-sm-12" id="divBangunan<?= $key + 1 ?>">
                                            <div class="box box-primary">
                                                <div class="box-header bg-blue-gradient"><b>Bangunan ke <?= $key + 1 ?></b></div>
                                                <div class="box-body">
                                                    <hr style="background-color: red; height: 1px">
                                                    <p style="font-weight: bold">DATA BANGUNAN</p>
                                                    <hr>
                                                    <div class="form-group-sm row"><input value="<?= $value['id'] ?>" type="text" name="id_lspop[]" id="id_lspop<?= $key + 1 ?>">
                                                        <label class="col-sm-2 col-form-label-sm">Jumlah Bangunan <span class="text-danger">*</span></label>
                                                        <div class="col-sm-1">
                                                            <input type="text" class="form-control form-control-sm" id="t_jmlh_bangunan_lspop<?= $key + 1 ?>" name="t_jmlh_bangunan_lspop[]" value="<?= count($dataLspop) ?>" required="" readonly="">
                                                        </div>
                                                        <label class="col-sm-2 col-form-label-sm">Nomor Bangunan <span class="text-danger">*</span></label>
                                                        <div class="col-sm-1">
                                                            <input type="text" class="form-control form-control-sm" id="t_nomor_bangunan<?= $key + 1 ?>" name="t_nomor_bangunan[]" value="<?= $value['t_nomor_bangunan'] ?>" required="" readonly="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Jenis Transaksi <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_jenis_transaksi<?= $key + 1 ?>" name="t_jenis_transaksi[]" required="">
                                                                <option value="">Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboJenisTransaksi();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_jenis_transaksi'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Jenis Bangunan <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_jenis_bangunan<?= $key + 1 ?>" name="t_jenis_bangunan[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboJenisBangunan();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_jenis_bangunan'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Luas Bangunan <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><input type="text" class="form-control form-control-sm" id="t_luas_bangunan<?= $key + 1 ?>" name="t_luas_bangunan[]" required="" onkeypress="return numbersonly(this, event)" value="<?= $value['t_luas_bangunan'] ?>"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Jumlah Lantai <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><input type="text" class="form-control form-control-sm" id="t_jumlah_lantai<?= $key + 1 ?>" name="t_jumlah_lantai[]" value="<?= $value['t_jumlah_lantai'] ?>" required="" onkeypress="return numbersonly(this, event)"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Tahun Dibangun <span class="text-danger">*</span></label>
                                                        <div class="col-sm-1">
                                                            <input type="text" class="form-control form-control-sm" id="t_tahun_dibangun<?= $key + 1 ?>" name="t_tahun_dibangun[]" required="" onkeypress="return numbersonly(this, event)" maxlength="4" value="<?= $value['t_tahun_dibangun'] ?>">
                                                        </div>
                                                        <label class="col-sm-2 col-form-label-sm">Tahun Direnovasi</label>
                                                        <div class="col-sm-1">
                                                            <input type="text" class="form-control form-control-sm" id="t_tahun_direnovasi<?= $key + 1 ?>" name="t_tahun_direnovasi[]" onkeypress="return numbersonly(this, event)" maxlength="4" value="<?= $value['t_tahun_direnovasi'] ?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Daya Listrik Terpasang (Watt) <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><input type="text" class="form-control form-control-sm" id="t_daya_listrik<?= $key + 1 ?>" name="t_daya_listrik[]" value="<?= $value['t_daya_listrik'] ?>" required="" onkeypress="return numbersonly(this, event)"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Kondisi Bangunan <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_kondisi_bangunan<?= $key + 1 ?>" name="t_kondisi_bangunan[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboKondisiBangunan();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_kondisi_bangunan'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Konstruksi <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_konstruksi<?= $key + 1 ?>" name="t_konstruksi[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboKontruksi();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_konstruksi'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Atap <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_atap<?= $key + 1 ?>" name="t_atap[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboAtap();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_atap'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Dinding <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_dinding<?= $key + 1 ?>" name="t_dinding[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboDinding();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_dinding'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Lantai <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_lantai<?= $key + 1 ?>" name="t_lantai[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboLantai();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_lantai'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Langit-langit <span class="text-danger">*</span></label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_langit<?= $key + 1 ?>" name="t_langit[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboLangit();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_langit'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <hr style="background-color: red; height: 1px">
                                                    <p style="font-weight: bold">DATA FASILITAS</p>
                                                    <hr>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Jumlah AC Split <span class="text-danger">*</span></label>
                                                        <div class="col-sm-1"><input value="<?= $value['t_jmlh_ac_split'] ?>" type="text" class="form-control form-control-sm" id="t_jmlh_ac_split<?= $key + 1 ?>" name="t_jmlh_ac_split[]" required="" onkeypress="return numbersonly(this, event)"></div><label class="col-sm-2 col-form-label-sm">Jumlah AC Window</label>
                                                        <div class="col-sm-1"><input value="<?= $value['t_jmlh_ac_window'] ?>" type="text" class="form-control form-control-sm" id="t_jmlh_ac_window<?= $key + 1 ?>" name="t_jmlh_ac_window[]" required="" onkeypress="return numbersonly(this, event)"></div><label class="col-sm-2 col-form-label-sm">AC Central</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_ac_central<?= $key + 1 ?>" name="t_ac_central[]" required="">
                                                                <option value="0" <?= $value['t_ac_central'] == '0' ? 'selected' : '' ?>>Tidak Ada</option>
                                                                <option value="1" <?= $value['t_ac_central'] == '1' ? 'selected' : '' ?>>Ada</option>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Luas Kolam Renang <span class="text-danger">*</span></label>
                                                        <div class="col-sm-2"><input value="0" type="text" class="form-control form-control-sm" id="t_luas_kolam1" name="t_luas_kolam[]" required="" onkeypress="return numbersonly(this, event)"></div>
                                                        <div class="col-sm-2"><select class="form-control form-control-sm" id="t_plester_kolam<?= $key + 1 ?>" name="t_plester_kolam[]" required="">
                                                                <option value="0">Tidak Ada</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboJenisKolamRenang();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_plester_kolam'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Luas Perkerasan Halaman <span class="text-danger">*</span></label>
                                                        <div class="col-sm-2"><input value="<?= $value['t_luas_perkerasan_halaman'] ?>" type="text" class="form-control form-control-sm" id="t_luas_perkerasan_halaman<?= $key + 1 ?>" name="t_luas_perkerasan_halaman[]" onkeypress="return numbersonly(this, event)"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Panjang Pagar <span class="text-danger">*</span></label>
                                                        <div class="col-sm-1"><input value="<?= $value['t_panjang_pagar'] ?>" type="text" class="form-control form-control-sm" id="t_panjang_pagar<?= $key + 1 ?>" name="t_panjang_pagar[]" required="" onkeypress="return numbersonly(this, event)"></div><label class="col-sm-2 col-form-label-sm">Bahan Pagar</label>
                                                        <div class="col-sm-1"><select class="form-control form-control-sm" id="t_bahan_pagar1" name="t_bahan_pagar[]" required="">
                                                                <option value="0">Tidak Ada</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboBahanPagar();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_bahan_pagar'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Kedalaman Sumur Artetis <span class="text-danger">*</span></label>
                                                        <div class="col-sm-1"><input value="<?= $value['t_kedalaman_sumur'] ?>" type="text" class="form-control form-control-sm" id="t_kedalaman_sumur<?= $key + 1 ?>" name="t_kedalaman_sumur[]" required="" onkeypress="return numbersonly(this, event)"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <?php
                                    }
                                } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <!-- <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-save">
                    <span class="fa fa-save"></span>
                    &nbsp;SIMPAN
                </button> -->
                <button type="submit" class="btn btn-primary pull-right">
                    <span class="fa fa-save"></span>
                    &nbsp;SIMPAN
                </button>
                <div class="modal fade" id="modal-save">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h6 class="modal-title">
                                    <span class="fa fa-save"></span> &nbsp;SIMPAN PERMOHONAN ?
                                </h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda ingin menyimpan data permohonan tersebut?</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                    <span class="fa fa-times-circle"></span>
                                    &nbsp;Close
                                </button>
                                <button type="submit" class="btn btn-primary btn-sm" id="btnSave">
                                    <span class="fa fa-save"></span>
                                    &nbsp;IYA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal-cancel">
                    <span class="fa fa-times"></span>
                    &nbsp;CANCEL
                </button>
                <div class="modal fade" id="modal-cancel">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h6 class="modal-title">
                                    <span class="fa fa-exclamation"></span> &nbsp;BATALKAN PENGAJUAN
                                    PERMOHONAN ?
                                </h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda yakin ingin membatalkan data permohonan tersebut?</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                    <span class="fa fa-times-circle"></span>
                                    &nbsp;Close
                                </button>
                                <a href="<?= $this->url() ?>/inputSpop/<?= $idSpt ?>" class="btn btn-danger btn-sm">
                                    <span class="fa fa-exclamation"></span> &nbsp;IYA
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?= $this->form()->closeTag($form) ?>
        </div>
    </section>
</div>
<script>
    jQuery("[data-mask]").inputmask();

    function createLspop() {
        if ($("#divLspop").hasClass("hidden")) $("#divLspop").removeClass("hidden");

        var nop = $("#nop").val();
        var jumlahBangunan = $("#t_jmlh_bangunan").val();

        clearLspop();

        for (let index = 1; index <= jumlahBangunan; index++) {
            var html = ``;
            html += `<div class="col-sm-12" id="divBangunan` + index + `">`;
            html += `<div class="box box-primary">`;
            html += `<div class="box-header bg-blue-gradient">`;
            html += `<b>Bangunan ke ` + index + `</b>`;
            html += `</div>`;
            html += `<div class="box-body">`;
            html += `<hr style="background-color: red; height: 1px">`;
            html += `<p style="font-weight: bold">DATA BANGUNAN</p>`;
            html += `<hr>`;
            html += `<div class="form-group-sm row">`;
            html += `<input type="hidden" name="id_lspop[]" id="id_lspop` + index + `">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jumlah Bangunan <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-1">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_jmlh_bangunan_lspop` + index + `" name="t_jmlh_bangunan_lspop[]" value="` + jumlahBangunan + `" required="" >`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">Nomor Bangunan <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-1">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_nomor_bangunan` + index + `" name="t_nomor_bangunan[]" value="` + index + `" required="" >`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jenis Transaksi <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_jenis_transaksi` + index + `" name="t_jenis_transaksi[]" required="">`;
            html += `<option value="">Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboJenisTransaksi();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jenis Bangunan <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_jenis_bangunan` + index + `" name="t_jenis_bangunan[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;

            <?php
            $combo = $this->MenuSpopHelper()->getComboJenisBangunan();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</option>`;
            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Luas Bangunan <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_luas_bangunan` + index + `" name="t_luas_bangunan[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jumlah Lantai <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_jumlah_lantai` + index + `" name="t_jumlah_lantai[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Tahun Dibangun <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-1">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_tahun_dibangun` + index + `" name="t_tahun_dibangun[]" required="" onkeypress="return numbersonly(this, event)" maxlength="4">`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">Tahun Direnovasi</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_tahun_direnovasi` + index + `" name="t_tahun_direnovasi[]" onkeypress="return numbersonly(this, event)" maxlength="4">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Daya Listrik Terpasang (Watt) <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_daya_listrik` + index + `" name="t_daya_listrik[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Kondisi Bangunan <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_kondisi_bangunan` + index + `" name="t_kondisi_bangunan[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboKondisiBangunan();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Konstruksi <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_konstruksi` + index + `" name="t_konstruksi[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboKontruksi();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Atap <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_atap` + index + `" name="t_atap[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboAtap();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Dinding <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_dinding` + index + `" name="t_dinding[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboDinding();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Lantai <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_lantai` + index + `" name="t_lantai[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboLantai();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Langit-langit <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_langit` + index + `" name="t_langit[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboLangit();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<hr style="background-color: red; height: 1px">`;
            html += `<p style="font-weight: bold">DATA FASILITAS</p>`;
            html += `<hr>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jumlah AC Split <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-1">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_jmlh_ac_split` + index + `" name="t_jmlh_ac_split[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">Jumlah AC Window <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-1">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_jmlh_ac_window` + index + `" name="t_jmlh_ac_window[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">AC Central <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_ac_central` + index + `" name="t_ac_central[]" required="">`;
            html += `<option value="0">Tidak Ada</option>`;
            html += `<option value="1">Ada</option>`;
            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Luas Kolam Renang <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-2">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_luas_kolam` + index + `" name="t_luas_kolam[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `<div class="col-sm-2">`;
            html += `<select class="form-control form-control-sm" id="t_plester_kolam` + index + `" name="t_plester_kolam[]" required="">`;
            html += `<option value="0">Tidak Ada</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboJenisKolamRenang();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Luas Perkerasan Halaman <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-2">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_luas_perkerasan_halaman` + index + `" name="t_luas_perkerasan_halaman[]" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Panjang Pagar <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-1">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_panjang_pagar` + index + `" name="t_panjang_pagar[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">Bahan Pagar <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-1">`;
            html += `<select class="form-control form-control-sm" id="t_bahan_pagar` + index + `" name="t_bahan_pagar[]" required="">`;
            html += `<option value="0">Tidak Ada</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboBahanPagar();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>
            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Kedalaman Sumur Artetis <span class="text-danger">*</span></label>`;
            html += `<div class="col-sm-1">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_kedalaman_sumur` + index + `" name="t_kedalaman_sumur[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `</div>`;
            html += `</div>`;
            html += `</div>`;
            $("#divBodyLspop").append(html);

        }
    }

    function clearLspop() {
        $("input[name=idLspop]").each(function() {
            // console.log($(this).val());
            if ($(this).val() != "") {
                // var token = $("meta[name='_csrf']").attr("content");
                $.ajax({
                    url: '[[@{/}]]' + "spop/deletelspop",
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRF-TOKEN": token
                    },
                    data: JSON.stringify({
                        idLspop: $(this).val()
                    })
                });
            }
        });
        $("#divBodyLspop").empty();

    }

    const JENIS_TANAH_BANGUNAN = ["1", "4"];

    function cariJenisTanah() {
        clearLspop();

        $("#t_jmlh_bangunan").val("");
        checkJumlahBangunan();

    }

    function checkJumlahBangunan() {
        if (JENIS_TANAH_BANGUNAN.includes($("#t_jenis_tanah").val())) {
            if ($("#divJumlahBang").hasClass("hidden")) $("#divJumlahBang").removeClass("hidden");
            if ($("#divCreateLspop").hasClass("hidden")) $("#divCreateLspop").removeClass("hidden");
            if ($("#divLspop").hasClass("hidden")) $("#divLspop").removeClass("hidden");
            $("#t_jmlh_bangunan").attr("required", true);
        } else {
            if (!$("#divJumlahBang").hasClass("hidden")) $("#divJumlahBang").addClass("hidden");
            if (!$("#divCreateLspop").hasClass("hidden")) $("#divCreateLspop").addClass("hidden");
            if (!$("#divLspop").hasClass("hidden")) $("#divLspop").addClass("hidden");
            $("#t_jmlh_bangunan").removeAttr("required");
        }
    }

    checkJumlahBangunan();


    $('#t_nomor_bidang').on('keyup', function() {
        if ($('#t_nomor_bidang').val() == '1') {
            $('#divNopInduk').removeClass('hidden');
            $('#divNopAsal').addClass('hidden');
        } else {
            $('#divNopInduk').addClass('hidden');
            $('#divNopAsal').removeClass('hidden');
        }
    });

    function cariDataObjekNOP(a) {
        $.get('<?= $this->url() ?>/getDataObjekNop/' + a).then(function(res) {
            // console.log(res);
            var aa = JSON.parse(res);
            // console.log(aa);
            let dataObjek = aa.dataObjek;
            let dataObjekSubjek = aa.dataObjekSubjek;
            let dataObjekBangunan = aa.dataObjekBangunan;
            let dataObjekBumi = aa.dataObjekBumi;
            let dataZnt = aa.dataZnt;
            // console.log(dataZnt);

            // op
            // $('#t_rt_op').val(dataObjek.RT_OP);
            // $('#t_rw_op').val(dataObjek.RW_OP);
            // $('#t_blok_op').val(dataObjek.BLOK_KAV_NO_OP);
            // $('#t_jalan_op').val(dataObjek.JALAN_OP);
            // $('#t_kecamatan_op').val(dataObjek.KD_KECAMATAN);
            // $('#t_kelurahan_op').val(dataObjek.KD_KELURAHAN);
            // $('#t_kode_blok_op').val(dataObjek.KD_BLOK);
            // $('#t_luas_tanah').val(dataObjek.TOTAL_LUAS_BUMI);
            // $('#t_nomor_sertifikat').val(dataObjek.NO_PERSIL);

            // $('#t_jenis_kepemilikan').val(dataObjek.KD_STATUS_WP);

            // bumi
            $('#t_jenis_tanah').val(dataObjekBumi.JNS_BUMI);
            // $('#t_kd_znt').html('<option value="">Pilih</option>');
            // console.log(dataZnt);
            // dataZnt.forEach(e => {
            //     $('#t_kd_znt').append('<option value="' + e.KD_ZNT + '" ' + (e.KD_ZNT == dataObjekBumi.KD_ZNT ? 'selected' : '') + '>' + e.KD_ZNT + '</option>');
            // });

            // subjek
            // $('#t_pekerjaan_wp').val(dataObjekSubjek.STATUS_PEKERJAAN_WP);
            // $('#t_nik_wp').val(dataObjekSubjek.SUBJEK_PAJAK_ID);
            // $('#t_npwp_wp').val(dataObjekSubjek.NPWP);
            // $('#t_nama_wp').val(dataObjekSubjek.NM_WP);
            // $('#t_rt_wp').val(dataObjekSubjek.RT_WP);
            // $('#t_rw_wp').val(dataObjekSubjek.RW_WP);
            // $('#t_blok_wp').val(dataObjekSubjek.BLOK_KAV_NO_WP);
            // $('#t_jalan_wp').val(dataObjekSubjek.JALAN_WP);
            // $('#t_kelurahan_wp').val(dataObjekSubjek.KELURAHAN_WP);
            // $('#t_kecamatan_wp').val(dataObjekSubjek.);
            // $('#t_kabupaten_wp').val(dataObjekSubjek.KOTA_WP);
            // $('#t_no_hp_wp').val(dataObjekSubjek.TELP_WP);
            // $('#t_kode_pos_wp').val(dataObjekSubjek.KD_POS_WP);

            // bangunan
            let jumlahBangunan = dataObjekBangunan.length;

            $('#t_jmlh_bangunan').val(jumlahBangunan);

            // jumlha bangunan lebih dari 0
            if (jumlahBangunan > 0) {
                $('#divJumlahBang').removeClass("hidden");
                $('#divCreateLspop').removeClass("hidden");

                $("#divLspop").removeClass("hidden");
            } else {
                $('#divJumlahBang').addClass("hidden");
                $('#divCreateLspop').addClass("hidden");

                $("#divLspop").addClass("hidden");
            }

            $("#divBodyLspop").html('');

            let index = 0;
            dataObjekBangunan.forEach(e => {
                // console.log(e);
                var html = ``;
                html += `<div class="col-sm-12" id="divBangunan` + index + `">`;
                html += `<div class="box box-primary">`;
                html += `<div class="box-header bg-blue-gradient">`;
                html += `<b>Bangunan ke ` + index + `</b>`;
                html += `</div>`;
                html += `<div class="box-body">`;
                html += `<hr style="background-color: red; height: 1px">`;
                html += `<p style="font-weight: bold">DATA BANGUNAN</p>`;
                html += `<hr>`;
                html += `<div class="form-group-sm row">`;
                html += `<input type="hidden" value="${index + 1}" name="id_lspop[]" id="id_lspop` + index + `">`;
                html += `<label class="col-sm-2 col-form-label-sm">Jumlah Bangunan <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-1">`;
                html += `<input type="text" class="form-control form-control-sm" id="t_jmlh_bangunan_lspop` + index + `" name="t_jmlh_bangunan_lspop[]" value="` + jumlahBangunan + `" required="" readonly>`;
                html += `</div>`;
                html += `<label class="col-sm-2 col-form-label-sm">Nomor Bangunan <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-1">`;
                html += `<input type="text" class="form-control form-control-sm" id="t_nomor_bangunan` + index + `" name="t_nomor_bangunan[]" value="` + e.NO_BNG + `" required="" readonly>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Jenis Transaksi <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_jenis_transaksi` + index + `" name="t_jenis_transaksi[]" required="">`;
                html += `<option value="">Silahkan Pilih</option>`;

                <?php
                $combo = $this->MenuSpopHelper()->getComboJenisTransaksi();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (<?= $key ?> == e.JNS_TRANSAKSI_BNG ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>

                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Jenis Bangunan <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_jenis_bangunan` + index + `" name="t_jenis_bangunan[]" required="">`;
                html += `<option>Silahkan Pilih</option>`;

                <?php
                $combo = $this->MenuSpopHelper()->getComboJenisBangunan();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (<?= $key ?> == e.KD_JPB ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>

                html += `</option>`;
                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Luas Bangunan <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<input type="text" class="form-control form-control-sm" id="t_luas_bangunan` + index + `" name="t_luas_bangunan[]" required="" value="` + e.LUAS_BNG + `" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Jumlah Lantai <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<input type="text" class="form-control form-control-sm" id="t_jumlah_lantai` + index + `" name="t_jumlah_lantai[]" required="" value="` + e.JML_LANTAI_BNG + `" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Tahun Dibangun <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-1">`;
                html += `<input type="text" class="form-control form-control-sm" id="t_tahun_dibangun` + index + `" name="t_tahun_dibangun[]" required="" value="` + e.THN_DIBANGUN_BNG + `" onkeypress="return numbersonly(this, event)" maxlength="4">`;
                html += `</div>`;
                html += `<label class="col-sm-2 col-form-label-sm">Tahun Direnovasi</label>`;
                html += `<div class="col-sm-1">`;
                html += `<input type="text" class="form-control form-control-sm" id="t_tahun_direnovasi` + index + `" name="t_tahun_direnovasi[]" value="` + (e.THN_RENOVASI_BNG != null ? e.THN_RENOVASI_BNG : '') + `" onkeypress="return numbersonly(this, event)" maxlength="4">`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Daya Listrik Terpasang (Watt) <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<input type="text" class="form-control form-control-sm" id="t_daya_listrik` + index + `" name="t_daya_listrik[]" required="" value="` + e.DAYA_LISTRIK + `" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Kondisi Bangunan <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_kondisi_bangunan` + index + `" name="t_kondisi_bangunan[]" required="">`;
                html += `<option>Silahkan Pilih</option>`;
                <?php
                $combo = $this->MenuSpopHelper()->getComboKondisiBangunan();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (e.KONDISI_BNG == <?= $key ?> ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>

                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Konstruksi <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_konstruksi` + index + `" name="t_konstruksi[]" required="">`;
                html += `<option>Silahkan Pilih</option>`;
                <?php
                $combo = $this->MenuSpopHelper()->getComboKontruksi();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (e.JNS_KONSTRUKSI_BNG == <?= $key ?> ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>

                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Atap <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_atap` + index + `" name="t_atap[]" required="">`;
                html += `<option>Silahkan Pilih</option>`;
                <?php
                $combo = $this->MenuSpopHelper()->getComboAtap();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (e.JNS_ATAP_BNG == <?= $key ?> ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>

                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Dinding <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_dinding` + index + `" name="t_dinding[]" required="">`;
                html += `<option>Silahkan Pilih</option>`;
                <?php
                $combo = $this->MenuSpopHelper()->getComboDinding();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (e.KD_DINDING == <?= $key ?> ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>

                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Lantai <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_lantai` + index + `" name="t_lantai[]" required="">`;
                html += `<option>Silahkan Pilih</option>`;
                <?php
                $combo = $this->MenuSpopHelper()->getComboLantai();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (e.KD_LANTAI == <?= $key ?> ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>

                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Langit-langit <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_langit` + index + `" name="t_langit[]" required="">`;
                html += `<option>Silahkan Pilih</option>`;
                <?php
                $combo = $this->MenuSpopHelper()->getComboLangit();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (e.KD_LANGIT_LANGIT == <?= $key ?> ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>

                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<hr style="background-color: red; height: 1px">`;
                html += `<p style="font-weight: bold">DATA FASILITAS</p>`;
                html += `<hr>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Jumlah AC Split <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-1">`;
                html += `<input type="text" class="form-control form-control-sm" id="t_jmlh_ac_split` + index + `" name="t_jmlh_ac_split[]" required="" value="` + (e.AC_SPLIT == null ? 0 : e.AC_SPLIT) + `" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `<label class="col-sm-2 col-form-label-sm">Jumlah AC Window <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-1">`;
                html += `<input  type="text" class="form-control form-control-sm" id="t_jmlh_ac_window` + index + `" name="t_jmlh_ac_window[]" required="" value="` + (e.AC_WINDOW == null ? 0 : e.AC_WINDOW) + `" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `<label class="col-sm-2 col-form-label-sm">AC Central <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-4">`;
                html += `<select class="form-control form-control-sm" id="t_ac_central` + index + `" name="t_ac_central[]" required="">`;

                let ac_central = 0;

                if (e.AC_CENTRAL_APARTEMEN != null || e.AC_CENTRAL_BANGUNAN_LAIN != null ||
                    e.AC_CENTRAL_KAMAR_HOTEL != null || e.AC_CENTRAL_KAMAR_RUMAH_SAKIT != null ||
                    e.AC_CENTRAL_KANTOR != null || e.AC_CENTRAL_PERTOKOAN != null) {
                    ac_central = 1;
                }

                html += `<option value="0" ` + (ac_central == 0 ? 'selected' : '') + `>Tidak Ada</option>`;
                html += `<option value="1" ` + (ac_central == 1 ? 'selected' : '') + `>Ada</option>`;
                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Luas Kolam Renang <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-2">`;

                let luas_kolam_renang = 0;
                let jenis_kolam = 0;
                if (e.KOLAM_RENANG_DENGAN_PELAPIS != null) {
                    luas_kolam_renang = e.KOLAM_RENANG_DENGAN_PELAPIS;
                    jenis_kolam = 2;
                }
                if (e.KOLAM_RENANG_DIPLESTER != null) {
                    luas_kolam_renang = e.KOLAM_RENANG_DIPLESTER;
                    jenis_kolam = 1;
                }

                html += `<input value="` + luas_kolam_renang + `"  type="text" class="form-control form-control-sm" id="t_luas_kolam` + index + `" name="t_luas_kolam[]" required="" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `<div class="col-sm-2">`;
                html += `<select class="form-control form-control-sm" id="t_plester_kolam` + index + `" name="t_plester_kolam[]" required="">`;
                html += `<option value="0">Tidak Ada</option>`;
                <?php
                $combo = $this->MenuSpopHelper()->getComboJenisKolamRenang();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (jenis_kolam == <?= $key ?> ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>
                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;

                let luas_perkerasan = 0;

                if (e.PERKERASAN_KONSTRUKSI_BERAT != null) {
                    luas_perkerasan = e.PERKERASAN_KONSTRUKSI_BERAT;
                }
                if (e.PERKERASAN_KONSTRUKSI_RINGAN != null) {
                    luas_perkerasan = e.PERKERASAN_KONSTRUKSI_RINGAN;
                }
                if (e.PERKERASAN_KONSTRUKSI_SEDANG != null) {
                    luas_perkerasan = e.PERKERASAN_KONSTRUKSI_SEDANG;
                }

                html += `<label class="col-sm-2 col-form-label-sm">Luas Perkerasan Halaman <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-2">`;
                html += `<input value="` + luas_perkerasan + `" type="text" class="form-control form-control-sm" id="t_luas_perkerasan_halaman` + index + `" name="t_luas_perkerasan_halaman[]" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;

                let panjang_pagar = 0;
                let jenis_pagar = 0;
                if (e.PAGAR_BAJA_BESI != null) {
                    panjang_pagar = e.PAGAR_BAJA_BESI;
                    jenis_pagar = 1;
                }
                if (e.PAGAR_BATA_BATAKO != null) {
                    panjang_pagar = e.PAGAR_BATA_BATAKO;
                    jenis_pagar = 2;
                }

                html += `<label class="col-sm-2 col-form-label-sm">Panjang Pagar <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-1">`;
                html += `<input value="` + panjang_pagar + `" type="text" class="form-control form-control-sm" id="t_panjang_pagar` + index + `" name="t_panjang_pagar[]" required="" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `<label class="col-sm-2 col-form-label-sm">Bahan Pagar <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-1">`;
                html += `<select class="form-control form-control-sm" id="t_bahan_pagar` + index + `" name="t_bahan_pagar[]" required="">`;
                html += `<option value="0">Tidak Ada</option>`;
                <?php
                $combo = $this->MenuSpopHelper()->getComboBahanPagar();
                foreach ($combo as $key => $value) {
                ?>
                    html += `<option value="<?= $key ?>" ` + (jenis_pagar == <?= $key ?> ? 'selected' : '') + `><?= $value ?></option>`;
                <?php
                }

                ?>
                html += `</select>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="form-group-sm row">`;
                html += `<label class="col-sm-2 col-form-label-sm">Kedalaman Sumur Artetis <span class="text-danger">*</span></label>`;
                html += `<div class="col-sm-1">`;
                html += `<input value="` + (e.SUMUR_ARTESIS == null ? 0 : e.e.SUMUR_ARTESIS) + `" type="text" class="form-control form-control-sm" id="t_kedalaman_sumur` + index + `" name="t_kedalaman_sumur[]" required="" onkeypress="return numbersonly(this, event)">`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;

                $("#divBodyLspop").append(html);
                index = index + 1;
            });
        })
    }

    $('#btnCariNOP').on('click', function() {
        cariDataObjekNOP($('#t_nop').val());
    });

    $('#btnCariNopAsal').on('click', function() {
        cariDataObjekNOP($('#t_nop_asal').val());
    });
</script>

<style>
    .modal-fullscreen {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .modal-contents {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust transparency here */
        border: none;
        border-radius: 0;
    }

    .modal-bodys {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .progress-circle {
        width: 100px;
        height: 100px;
        position: relative;
    }

    .progress-circle::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 10px solid #f3f3f3;
        position: absolute;
        top: 0;
        left: 0;
    }

    .progress-circle::after {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 10px solid #007bff;
        border-top-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        animation: spin 1s linear infinite;
    }

    .waiting-text {
        margin-top: 20px;
        color: white;
        font-size: 1.2em;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-contents">
            <div class="modal-bodys">
                <div class="progress-circle"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function modalKonfirmasi() {
        $('#modalKonfirmasi').modal('show');
    }

    function updateProgressBar() {
        $('#progressModal').modal("show");
    }

    function handleFormSubmit(event) {
        const form = event.target;
        const formData = new FormData(form);

        const name = formData.get('name');
        updateProgressBar();
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        const form = document.getElementById('formtambah');
        form.addEventListener('submit', handleFormSubmit);
    });
</script>