<div class="content-wrapper">
    <section class="content">
        <?= $this->partial('bphtb/flash-message.phtml') ?>
        <div class="alert alert-dismissible" style="border: 1px solid #0073b7;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Pemberitahuan!</h4>
            <ul>
                <li>Untuk mencetak sspd anda perlu konfirmasi sppt dari berkas tersebut,
                    apakah data akan dilakukan <b class="text-red">BALIK NAMA</b> atau <b class="text-red">PEMECAHAN</b> ?</li>
                <li>Konfirmasi ini berfungsi untuk membantu memproses sppt <b class="text-red">BALIK NAMA</b> atau <b class="text-red">PEMECAHAN</b>, sehingga data spptnya dapat pembaharuan informasi.</li>

                <li>Apabila memilih <b class="text-red">PEMECAHAN</b> maka anda perlu input data spop Input SPOP Mutasi
                    terlebih dahulu,

                    klik tombol konfirmasi spop <button class="btn btn-success btn-sm" type="button"><i class="fa fa-save"></i> Konfirmasi SPOP</button>, lalu pilih Pemecahan, lalu isi data spop semua pemecahannya,</li>
                <li>Apabila memilih <b class="text-red">BALIK NAMA</b>,
                    maka klik tombol konfirmasi spop <button class="btn btn-success btn-sm" type="button"><i class="fa fa-save"></i> Konfirmasi SPOP</button>.</li>
            </ul>
        </div>
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">
                <center>
                    <h3 class="text-bold">DATA SPOP</h3>
                </center>
                <div class="pull-right">

                    <!-- <a href="<?= $this->url() ?>/tambahSpop/<?= $idSpt ?>" class="btn bg-purple btn-sm btn-flat">
                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Input SPOP
                    </a> -->
                    <!-- <a href="<?= $this->url() ?>/tambahSpopMutasi/<?= $idSpt ?>" class="btn bg-purple btn-sm btn-flat">
                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Input SPOP Mutasi
                    </a> -->
                    <button class="btn btn-success btn-sm" type="button" onclick="modalKonfirmasi()"><i class="fa fa-save"></i> Konfirmasi SPOP</button>

                    <a href="<?= $this->url() ?>" class="btn btn-danger btn-sm btn-flat">
                        <span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Kembali
                    </a>
                </div>
            </div>
            <div class="box-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="bg-primary">
                                <th>#</th>
                                <th>NOP</th>
                                <th>NOP Asal</th>
                                <th>Jumlah Bidang</th>
                                <th>Bidang Ke</th>
                                <th>Lokasi OP</th>
                                <th>Luas Tanah</th>
                                <th>Jumlah Bangunan</th>
                                <th>Nama WP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ($dataSpop as $key => $value) {
                            ?>
                                <tr>
                                    <!-- <td><a class="btn btn-warning btn-sm" href="<?= $this->url() ?>/editSpop/<?= $value['id'] ?>"><i class="fa fa-edit"></i> EDIT</a></td> -->
                                    <td><a class="btn btn-warning btn-sm" href="<?= $this->url() ?>/editSpopMutasi/<?= $value['id'] ?>"><i class="fa fa-edit"></i> EDIT SPOP Mutasi</a></td>
                                    <td><?= $value['t_nop'] ?></td>
                                    <td><?= $value['t_nop_asal'] ?></td>
                                    <td><?= $value['t_jmlh_bidang'] ?></td>
                                    <td><?= $value['t_nomor_bidang'] ?></td>
                                    <td><?= $value['t_jalan_op'] ?></td>
                                    <td><?= $value['t_luas_tanah'] ?></td>
                                    <td><?= (int) $value['t_jmlh_bangunan'] ?></td>
                                    <td><?= $value['t_nama_wp'] ?></td>
                                </tr>
                            <?php
                            }
                            ?>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
</div>

<div class="modal fade in" id="modalKonfirmasi">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="<?= $this->url() ?>/simpan-konfirmasi-spop" method="POST" id="demo-form">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Konfirmasi Data SPOP</h4>
                </div>
                <div class="modal-body">
                    <p>Apakah anda akan memproses Data SPOP?</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group-sm row">
                                <label class="col-sm-4 col-form-label-sm">Tipe SPOP <span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <input type="hidden" name="idSpt" value="<?= $idSpt ?>" required>

                                    <select class="form-control" name="tipeSpop" required>
                                        <?php
                                        foreach ($comboEspop as $key => $value) {
                                        ?>
                                            <option value="<?= $value['s_id_tipe'] ?>"><?= $value['s_nama_tipe'] ?></option>
                                        <?php
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><span aria-hidden="true">×</span> Tutup</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </form>
        </div>

    </div>
</div>

<style>
    .modal-fullscreen {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .modal-contents {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust transparency here */
        border: none;
        border-radius: 0;
    }

    .modal-bodys {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .progress-circle {
        width: 100px;
        height: 100px;
        position: relative;
    }

    .progress-circle::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 10px solid #f3f3f3;
        position: absolute;
        top: 0;
        left: 0;
    }

    .progress-circle::after {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 10px solid #007bff;
        border-top-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        animation: spin 1s linear infinite;
    }

    .waiting-text {
        margin-top: 20px;
        color: white;
        font-size: 1.2em;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-contents">
            <div class="modal-bodys">
                <div class="progress-circle"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function modalKonfirmasi() {
        $('#modalKonfirmasi').modal('show');
    }

    function updateProgressBar() {
        $('#progressModal').modal("show");
    }

    function handleFormSubmit(event) {
        const form = event.target;
        const formData = new FormData(form);

        const name = formData.get('name');
        updateProgressBar();
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        const form = document.getElementById('demo-form');
        form.addEventListener('submit', handleFormSubmit);
    });
</script>