RINCIAN KEKURANGAN PEMBAYARAN
<br>
===================================================================================
<table width="100%" style="border-spacing: 0px;">
    <tr>
        <td style="font-size: 14px" style="width: 10%">
            Tanggal
        </td>
        <td style="font-size: 14px">
            : <?= date('d-m-Y') ?>
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px">
            Nama WP
        </td>
        <td style="font-size: 14px">
            : <?= $datapbb['NM_WP_SPPT'] ?>
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px">
            Alamat WP
        </td>
        <td style="font-size: 14px">
            : <?= "" . strtoupper($datapbb['JLN_WP_SPPT']) . " Rt/Rw. " . $datapbb['RT_WP_SPPT'] . " / " . $datapbb['RW_WP_SPPT'] . " Kel. " . strtoupper($datapbb['KELURAHAN_WP_SPPT']) . " Kab. " . strtoupper($datapbb['KOTA_WP_SPPT']) ?>
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px">
            NOP
        </td>
        <td style="font-size: 14px">
            : <?= $nop ?>
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px">
            Alamat OP
        </td>
        <td style="font-size: 14px">
            : <?= "" . strtoupper($datapbb['JALAN_OP']) . " Rt/Rw. " . $datapbb['RT_OP'] . " / " . $datapbb['RW_OP'] . " Kel. " . strtoupper($datapbb['NM_KELURAHAN']) . " Kec. " . strtoupper($datapbb['NM_KECAMATAN']) ?>
        </td>
    </tr>
</table>
<br><br><br>
===================================================================================
<table width="100%" style="border-spacing: 0px;">
    <tr>
        <td style="width: 1%;">
            No.
        </td>
        <td style="width: 3%;">
            Tahun
        </td>
        <td style="width: 3%;">
            PBB Terhutang
        </td>
        <td style="width: 3%;">
            <center>Tanggal<br>Jatuh Tempo</center>
        </td>
        <td style="width: 3%;">
            <center>Denda Administrasi<br>
                2% Sebulan (Rp.)</center>
        </td>
        <td style="width: 3%;">
            <center>Jumlah s.d<br>
                Hari Ini (Rp.)</center>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            ===================================================================================
        </td>
    </tr>

    <?php
    $terhutang = 0;
    $jumlah_denda = 0;
    $jumlah_tunggakan = 0;
    $no = 1;
    ?>
    <?php foreach ($data_tunggakan as $row) { ?>
        <tr>
            <td>
                <?= $no; ?>
            </td>
            <td>
                <?= $row['THN_PAJAK_SPPT'] ?>
            </td>
            <td align="right">
                <?= number_format($row['PBB_YG_HARUS_DIBAYAR_SPPT'], 0, ',', '.') ?>
            </td>
            <td>
                <center><?= $row['JATUH_TEMPO'] ?></center>
            </td>
            <td>
                <?php
                $dat1 = date('Y-m-d', strtotime($row['JATUH_TEMPO']));
                $dat2 = date('Y-m-d');

                /*if ($dat1 > $dat2) {
                    $date1 = new \DateTime($dat2);
                } else {
                    $date1 = new \DateTime($dat1);
                }


                $date2 = new \DateTime($dat2);
                $interval = $date1->diff($date2);
                $bedanya = $interval->m + ($interval->y * 12);
                if ($bedanya > 24) {
                    $beda = 24;
                } else {
                    $beda = $bedanya;
                }*/

                $tgl_bayar = explode("-", $dat2);
                $tgl_tempo = explode("-", $dat1);

                $tahun = $tgl_bayar[0] - $tgl_tempo[0];
                $bulan = $tgl_bayar[1] - $tgl_tempo[1];
                $hari = $tgl_bayar[2] - $tgl_tempo[2];


                if (($tahun == 0) || ($tahun < 1)) {
                    if (($bulan == 0) || ($bulan < 1)) {
                        if ($bulan < 0) {
                            $months = 0;
                        } else {
                            if (($hari == 0) || ($hari < 1)) {
                                $months = 0;
                            } else {
                                $months = 1;
                            }
                        }
                    } else {
                        if (($hari == 0) || ($hari < 1)) {
                            $months = $bulan;
                        } else {
                            $months = $bulan + 1;
                        }
                    }
                } else {
                    $jmltahun = $tahun * 12;
                    if ($bulan == 0) {
                        $months = $jmltahun;
                    } elseif ($bulan < 1) {
                        $months = $jmltahun + $bulan;
                    } else {
                        $months = $bulan + $jmltahun;
                    }
                }


                if ($months > 24) {
                    $beda = 24;
                } else {
                    $beda = $months;
                }


                $denda = $beda * $row['PBB_YG_HARUS_DIBAYAR_SPPT'] * 2 / 100;
                ?>
                <div style="text-align: right"><?= number_format($denda, 0, ',', '.') ?></div>
            </td>
            <td>
                <div style="text-align: right"><?= number_format($denda + $row['PBB_YG_HARUS_DIBAYAR_SPPT'], 0, ',', '.') ?></div>
            </td>
        </tr>
        <?php
        $terhutang = $terhutang + $row['PBB_YG_HARUS_DIBAYAR_SPPT'];
        $jumlah_denda = $jumlah_denda + $denda;
        $jumlah_tunggakan = $jumlah_tunggakan + $denda + $row['PBB_YG_HARUS_DIBAYAR_SPPT'];
        ?>
    <?php $no++;
    } ?>
    <tr>
        <td colspan="6">
            ===================================================================================
        </td>
    </tr>
    <tr>
        <td style="width: 12%" colspan='2'>
            <center>Jumlah : </center>
        </td>
        <td>
            <div style="text-align: right"><?= number_format($terhutang, 0, ',', '.') ?></div>
        </td>
        <td style="width: 15%"></td>
        <td>
            <div style="text-align: right"><?= number_format($jumlah_denda, 0, ',', '.') ?></div>
        </td>
        <td>
            <div style="text-align: right"><?= number_format($jumlah_tunggakan, 0, ',', '.') ?></div>
        </td>
    </tr>
    <!--<tr style='font-size:16px; font-weight:bold;'>
        <td>&nbsp;</td>
        <td colspan='2' style='border-color:black; text-align: left;'>Jumlah Seluruh Tunggakan</td>
        <td colspan='2' style='border-color:black'><div style='text-align:center; color:red' > Rp. <?= number_format($jumlah_tunggakan, 0, ',', '.'); ?></div></td>
        <td>&nbsp;</td>
    </tr>-->
</table>

===================================================================================
<br>
<table width="100%" style="border-spacing: 0px;">
    <!--    <tr>
        <td style="width: 60%"></td>
        <td>Dicetak oleh :<br><br><br><br></td>
    </tr>-->
    <tr>
        <td></td>
        <?php
        if ($cekpencentak == 2) {
            $pencetak = ($Pencetak == true) ? $Pencetak->s_namapejabat : '';
        } else {
            $pencetak = $Pencetak['s_namanotaris'];
        }
        ?>
        <td><?= $pencetak; ?></td>
    </tr>
    <?php
    if ($cekpencentak == 2) {
        if ($Pencetak) {
            echo '<tr>
            <td></td>
            <td>NIP. ' . $Pencetak->s_nippejabat . '</td>
        </tr>';
        }
    } else {
    }
    ?>

</table>