
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">INFORMASI OBJEK PAJAK</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-group col-md-12">
                                        <label for="inputKey" class="col-md-2 control-label" style="text-align: left;">NOP/Tahun SPPT</label>
                                        <div class="col-md-3">
                                            <?= $this->formRow($frm->get('t_nopbphtbspptinfoop')) ?>
                                        </div>
                                        <div class="col-md-1">
                                            <?= $this->formRow($frm->get('t_thnspptinfoop')) ?>
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-success" onclick="informasiop();">CEK</button>
                                        </div>
                                        <div class="col-md-5">
                                            Pencetak
                                            <select id="Pencetak" class="selectpicker" data-live-search="true">
                                                <?php foreach ($this->Pencetak as $k => $v) { ?>
                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                <? } ?>
                                            </select>
                                            <button class="btn btn-success" onclick="cetaktunggakanpbb();">Cetak</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="historydiv">
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<script type="text/javascript">

    jQuery("[data-mask]").inputmask();

    $("#t_thnspptinfoop").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    function informasiop() {
        if ($("#t_nopbphtbspptinfoop").val() == '' || $("#t_thnspptinfoop").val() == '') {
            alert("Tolong Isi NOP & Tahun SPPT");
        } else {
            $.post('<?= $this->url() ?>/cariinformasiop', {t_nopbphtbspptinfoop: $('#t_nopbphtbspptinfoop').val(), t_thnspptinfoop: $('#t_thnspptinfoop').val()}, function (data) {
                var aa = JSON.parse(data);
                //Informasi OP
                $("#historydiv").html(aa.infoop);
            });
        }
    }

    function cetaktunggakanpbb() {
        if ($("#t_nopbphtbspptinfoop").val() == '' || $("#t_thnspptinfoop").val() == '') {
            alert("Tolong Isi NOP & Tahun SPPT");
        } else {
            window.open('<?= $this->url() ?>/cetaktunggakanpbb?t_nopbphtbspptinfoop=' + $("#t_nopbphtbspptinfoop").val() + "&t_thnspptinfoop=" + $("#t_thnspptinfoop").val() + "&Pencetak=" + $("#Pencetak").val());
        }
    }
</script>