<?php
function bulan($bln){
    $bulan = $bln;
    Switch ($bulan){
     case 1 : $bulan="Januari";
     Break;
     case 2 : $bulan="Februari";
     Break;
     case 3 : $bulan="Maret";
     Break;
     case 4 : $bulan="April";
     Break;
     case 5 : $bulan="Mei";
     Break;
     case 6 : $bulan="Juni";
     Break;
     case 7 : $bulan="Juli";
     Break;
     case 8 : $bulan="Agustus";
     Break;
     case 9 : $bulan="September";
     Break;
     case 10 : $bulan="Oktober";
     Break;
     case 11 : $bulan="November";
     Break;
     case 12 : $bulan="Desember";
     Break;
     }
    return $bulan;
}


//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
//$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'Legal-L', 0, '', 10, 10, 5, 1, 1, 1, '');
    
    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';
    
$html .= '<div>';    
$nik = '';
    
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=laporanbulananppat.xls");
    
    $html = '';
    
    $nik = '\'';
    
}


$html .= '


   <!-- <img src="http://localhost/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >

<tr >
    <td colspan="15" style="border-bottom: 1px solid #000;">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="15"><center><br><br><h3>LAPORAN BULANAN PEMBUATAN AKTA OLEH PPAT/PPATS</h3></center></td></tr>
<tr>
<td colspan="15"><center>BULAN ' . strtoupper(bulan($bulanpelaporan)).' '.$periode_spt . '</center></td>
</tr>


</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

<table width="100%" style="border-spacing: 0; align:right; font-size:9pt; table-layout: fixed;" >
<tr>
<td colspan="30">Kepada Yth.</td></tr>
<tr>
<td colspan="30">1. Ka. BPPKAD Kab. BLORA</td></tr>

<tr>
<td colspan="30">2. Ka. Kantor Pertanahan Kab. BLORA</td></tr>
<tr>
<td colspan="30">3. Ka. Kantor Pelayanan Pajak Pratama BLORA</td>
</tr>
</table>
    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        <tr >
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>

            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>AKTA</center>                    
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>BENTUK PERBUATAN HUKUM</center>                      
            </th>
            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NAMA, ALAMAT DAN NPWP</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>JENIS DAN NOMOR HAK</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>LETAK TANAH DAN BANGUNAN</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>DESA<br>KELURAHAN</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>KECAMATAN</center>                      
            </th>
            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>LUAS</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>HARGA TRANSAKSI PEROLEHAN/PENGALIHAN HAK</center>                      
            </th>
            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>SPPT PBB</center>                      
            </th>
            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>SSP</center>                      
            </th>
            <th rowspan="1" colspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>SSPD</center>                      
            </th>
            <th rowspan="2"  style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>KET.</center>                      
            </th>
        </tr>
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>Nomor</center>                      
            </th>

            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>tanggal</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>PIHAK YANG MENGALIHKAN</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>PIHAK YANG MENERIMA</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>TANAH</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>BGN</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NOP/TAHUN</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>TANGGAL</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>(Rp)</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>TANGGAL</center>                      
            </th> 
            
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NILAI</center>                      
            </th>
        </tr>
        
    </thead>    
    <tbody>
        ';

$totalPembayaran = 0;
$counter = 1;
foreach ($this->data_lapBulananBphtb as $k => $v) {
$tanggal_bayar = explode('-', $v['t_tglajbbaru']);
$tahun = $tanggal_bayar[0];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[2];

if (!empty($v['p_nilaitransaksispt'])) {
    $nilaitransaksispt = $v['p_nilaitransaksispt'];
} else {
    $nilaitransaksispt = $v["t_nilaitransaksispt"];
}

if (!empty($v['p_grandtotalnjop'])) {
    $grandnjop = $v['p_grandtotalnjop'];
} else {
    $grandnjop = $v["t_grandtotalnjop"];  
}

    $html .= '
            
            <tr>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;" align="right">
                    
                    <center>'.$v['t_noajbbaru']. '</center>                 
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">                    
                    ' .$tanggal . "-" . $bulan . "-" . $tahun. '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">                
                    ' . $v['s_namajenistransaksi'] . '                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">                 
                    ' . strtoupper($v['t_namawppenjual']).' <br> '.$v['t_kecamatanwppenjual'].' <br> '.$v['t_kelurahanwppenjual'].' <br> '.strtoupper($v['t_alamatwppenjual']) . ' RT '.$v['t_rtwppenjual'].' RW '.$v['t_rwwppenjual'].'                  
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >
                    '.strtoupper($v['t_namawppembeli']).' <br> '.$v['t_kecamatanwppembeli'].' <br> '.$v['t_kelurahanwppembeli'].' <br> '.strtoupper($v['t_alamatwppembeli']).' RT '.$v['t_rtwppembeli'].' RW '.$v['t_rwwppembeli'].'                 
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >
                    <center>'.$v['t_nosertifikathaktanah'].'</center> 
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >
                    '.strtoupper($v['t_alamatop']).' - '.strtoupper($v['t_rtop']).' / '.strtoupper($v['t_rwop']).'                 
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >
                    '.strtoupper($v['t_kelurahanop']).'                 
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >
                    '.strtoupper($v['t_kecamatanop']).'                 
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >
                    <center>'.$v['t_luastanah'].' </center>                
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >
                    <center>'.$v['t_luasbangunan'].'  </center>               
                                          
                </td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    '.number_format($nilaitransaksispt, 2, ',', '.').' <br> '.$v['s_namahaktanah'].'                                                      
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000; vertical-align:top; word-wrap: break-word;" >
                    '.$v['t_nopbphtbsppt'].' / <br> '.$v['t_periodespt'].'                                                           
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; border-left: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    '.number_format($grandnjop, 2, ',', '.').'                                                           
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    '.date('d-m-Y', strtotime($v['t_tanggalpembayaran'])).'                                                           
                </td>
              
                <td width="120" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    '.number_format($v['t_nilaipembayaranspt'], 2, ',', '.').'                                                          
                </td>
                 <td width="120" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    
                                                                             
                </td>
				<td width="120" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    
                                                                             
                </td>
				<td width="120" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    
                                                                             
                </td>
                
                
            </tr>        
            ';
    $totalPembayaran += $v['t_nilaipembayaranspt'];
    $counter++;
}

$html .= '<tr>
        <td colspan="18" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
            <center><b>JUMLAH TOTAL</b><center>
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; border-top: 1px solid #000; vertical-align:top;" align="right">
            Rp. '.number_format($totalPembayaran, 2, ',', '.').'
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; border-top: 1px solid #000; vertical-align:top;" align="right">
            
        </td>
        
    </tr>
    <tr>';

$html .= '</tbody></table>';

$tanggal_pencetakan = explode('-', $tgl_cetak);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

if(empty($data_notaris['s_namanotaris'])){
    $notaristtd = ' ';
}else{
    $notaristtd = '( '.$data_notaris['s_namanotaris'].' )';
}

$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="10" style="text-align: center; padding-top: 30px;">
                
            </td>
            
            <td colspan="4" style="text-align: center; padding-top: 30px;">
                Pada hari ini tanggal '.$tanggal_cetak.' daftar akta ini ditutup oleh saya dengan catatan dalam buku ini telah dibuat akta<br><br>
                '.$ar_pemda->s_namaibukotakabkot.', '.$tanggal_cetak.' '.bulan($bulan_cetak).' '.$tahun_cetak.'
                <br>
                Pejabat Pembuat Akta Tanah/PPATS
                <br><br><br><br><br>
                <br>
                
                '.$notaristtd.'
            </td>
        </tr>
        </table>';

if ($cetak == 1) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("laporanbulananppat.pdf", "I");
} else {

    echo $html;
}
?>


