<?php

use Zend\Debug\Debug;

function bulan($bln)
{
    $bulan = $bln;
    switch ($bulan) {
        case 1:
            $bulan = "Januari";
            break;
        case 2:
            $bulan = "Februari";
            break;
        case 3:
            $bulan = "Maret";
            break;
        case 4:
            $bulan = "April";
            break;
        case 5:
            $bulan = "Mei";
            break;
        case 6:
            $bulan = "Juni";
            break;
        case 7:
            $bulan = "Juli";
            break;
        case 8:
            $bulan = "Agustus";
            break;
        case 9:
            $bulan = "September";
            break;
        case 10:
            $bulan = "Oktober";
            break;
        case 11:
            $bulan = "November";
            break;
        case 12:
            $bulan = "Desember";
            break;
    }
    return $bulan;
}

$tanggal_bayar = explode('-', $tgl_cetakbphtb1);
$tahun = $tanggal_bayar[2];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[0];

$tanggal_bayar2 = explode('-', $tgl_cetakbphtb2);
$tahun2 = $tanggal_bayar2[2];
$bulan2 = $tanggal_bayar2[1];
$tanggal2 = $tanggal_bayar2[0];


//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    //$mpdf = new mPDF();
    // $mpdf = new mPDF('utf-8', 'Legal', 0, '', 10, 10, 5, 1, 1, 1, '');
    $mpdf = new mPDF('utf-8', 'Legal', 0, '', 10, 10, 5, 1, 1, 1, '');

    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';

    $html .= '<div>';
    $nik = '';
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetaklapperdesa.xls");

    $html = '';

    $nik = '\'';
}


$html .= '


   <!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="7">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', ' . $ar_pemda->s_namaibukotakabkot . ' ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
<tr >
    <td colspan="7" style="border-bottom: 1px solid #000;">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="7"><center><br><br><h3>LAPORAN BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (BPHTB)</h3></center></td></tr>
<tr>
<td colspan="7"><center>TANGGAL ' . $tanggal . ' ' . bulan($bulan) . ' ' . $tahun . ' S/d ' . $tanggal2 . ' ' . bulan($bulan2) . ' ' . $tahun2 . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama PPAT/PPATS</center>                      
            </th>
             <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama Wajib Pajak</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat WP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NOP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Letak Objek</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nilai Transaksi</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NPOPTKP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nilai SSPD BPHTB</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Luas <br>Tanah</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP Tanah</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Luas <br>Bangunan</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP <br>Bangunan</center>                      
            </th>
             <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Tanggal Bayar</center>                    
            </th>
             <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Keterangan</center>                    
            </th>
        </tr>
        
    </thead>    
    <tbody>
        ';

$totalPembayaran = 0;
$counter = 1;

$clast_rek = '';
$clast_rek_kel = '';
$totalSetoran_sub = 0;
$totalSetoran_sub_kel = 0;
foreach ($this->data_lapBphtb as $k => $v) {
    $tanggal_proses = explode('-', $v['t_tanggalpembayaran']);
    $tahun = $tanggal_proses[0];
    $bulan = $tanggal_proses[1];
    $tanggal = $tanggal_proses[2];

    if (!empty($v['p_nilaitransaksispt'])) {
        $nilaitransaksispt = $v['p_nilaitransaksispt'];
    } else {
        $nilaitransaksispt = $v["t_nilaitransaksispt"];
    }

    if ($clast_rek_kel <> $v['s_kodekelurahan']) {
        if ($clast_rek_kel <> '') {
            $html .= '<tr>
            
                                   <td colspan="8" style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">Jumlah se-kelurahan ' . strtoupper($clast_rek_name_kel) . '</td>
                                    <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:right;" align="right">' . number_format($totalSetoran_sub_kel, 2, ',', '.') . '</td>
                                     <td colspan="6" style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"></td>

                            
                </tr>';
            $totalSetoran_sub_kel = 0;
        }
        if ($clast_rek <> $v['s_kodekecamatan']) {
            if ($clast_rek <> '') {
                $html .= '<tr>
                
                           <td colspan="8" style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;" align="center">Jumlah se-kecamatan ' . strtoupper($clast_rek_name) . '</td>
                            <td style="border-bottom: 1px solid #000;border-right: 1px solid #000;vertical-align:right;" align="right">' . number_format($totalSetoran_sub, 2, ',', '.') . '</td>
                            <td colspan="6" style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"></td>

                    
                        </tr>';
                $totalSetoran_sub = 0;
            }
            $html .= '<tr>
                        <td colspan="15" style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">Kecamatan : <b> ' . $v['s_namakecamatan'] . '</td>

                        </tr>';
            $clast_rek = $v['s_kodekecamatan'];
            $clast_rek_name = $v['s_namakecamatan'];
            $counter = 1;
        }



        $html .= '<tr>
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000;">&nbsp;</td>
                <td colspan="14" style="border-bottom: 1px solid #000;border-right: 1px solid #000;">Kelurahan : <b> ' . $v['s_namakelurahan'] . '</td>

                </tr>';
        $clast_rek_kel = $v['s_kodekelurahan'];
        $clast_rek_name_kel = $v['s_namakelurahan'];
        $counter = 1;
    }

    $html .= '<tr>
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                <center>' . $counter . '</center>
            </td>
            
            <td style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . $v['s_namanotaris'] . '
            </td>
            <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">     
                  ' . $v['t_namawppembeli'] . '                        
            </td>
            <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
               ' . $v['t_kecamatanwppembeli'] . '<br>' . $v['t_kelurahanwppembeli'] . '<br>  ' . $v['t_alamatwppembeli'] . ' RT ' . $v['t_rtwppembeli'] . ' RW ' . $v['t_rwwppembeli'] . '                       
            </td>
            <td style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . $v['t_nopbphtbsppt'] . '
            </td>
            <td style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
               ' . $v['t_kecamatanop'] . '<br> ' . $v['t_kelurahanop'] . '<br> ' . $v['t_alamatop'] . ' RT ' . $v['t_rtop'] . ' RW ' . $v['t_rwop'] . ' 
            </td>
            
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . number_format($nilaitransaksispt, 2, ',', '.') . '
            </td>
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
               ' . number_format($v['t_potonganspt']) . ' 
            </td>
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . number_format($v['t_nilaipembayaranspt'], 2, ',', '.') . '
            </td>
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . $v['t_luastanah'] . '
            </td>
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . number_format($v['t_njoptanah']) . ' 
            </td>
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . $v['t_luasbangunan'] . ' 
            </td>
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                 ' . number_format($v['t_njopbangunan']) . '
            </td>
            <td align="right" style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . $tanggal . "-" . $bulan . "-" . $tahun . '
            </td>
            <td style="text-align: right" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                ' . $v['s_namajenistransaksi'] . '
            </td>
            

        </tr>';

    $totalSetoran_sub += $v['t_nilaipembayaranspt'];
    $totalSetoran_sub_kel += $v['t_nilaipembayaranspt'];
    $counter++;
    $totalPembayaran += $v['t_nilaipembayaranspt'];
}


if ($clast_rek_kel <> '') {
    $html .= '<tr>
           
                                   <td colspan="8" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">Jumlah se-kelurahan ' . strtoupper($clast_rek_name_kel) . '</td>
                                     <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">' . number_format($totalSetoran_sub_kel, 2, ',', '.') . '</td>

                           
                    </tr>';

    $totalSetoran_sub_kel = 0;
}

if ($clast_rek <> '') {



    $html .= '<tr>
            
                               <td colspan="8" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; word-wrap: break-word;" align="center">Jumlah se-kecamatan ' . strtoupper($clast_rek_name) . '</td>
                                 <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; word-wrap: break-word;" align="right">' . number_format($totalSetoran_sub, 2, ',', '.') . '</td>
                                
                    </tr>';

    $totalSetoran_sub = 0;
}

$html .= '<tr>
        <td style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; word-wrap: break-word;" colspan="8">
            <center><b>JUMLAH<b></center>
        </td>

        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
            ' . number_format($totalPembayaran, 2, ',', '.') . '
        </td>

        
    </tr>';



$html .= '</tbody></table>';

$tanggal_pencetakan = explode('-', $tgl_cetakan);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center; padding-top: 30px;">
                
            </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                ' . $ar_pemda->s_namaibukotakabkot . ', ' . $tanggal_cetak . ' ' . bulan($bulan_cetak) . ' ' . $tahun_cetak . '
                <br>
                ' . $data_mengetahui->s_jabatanpejabat . '
                <br><br><br><br>
                <ins>&nbsp;&nbsp;&nbsp;&nbsp;' . $data_mengetahui->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</ins>
                <br>
                NIP. ' . $data_mengetahui->s_nippejabat . '
            </td>
        </tr>
        </table>';

if ($cetak == 1) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("cetaklapperdesa.pdf", "I");
} else {

    echo $html;
}
