<?php
function bulan($bln)
{
    $bulan = $bln;
    switch ($bulan) {
        case 1:
            $bulan = "Januari";
            break;
        case 2:
            $bulan = "Februari";
            break;
        case 3:
            $bulan = "Maret";
            break;
        case 4:
            $bulan = "April";
            break;
        case 5:
            $bulan = "Mei";
            break;
        case 6:
            $bulan = "Juni";
            break;
        case 7:
            $bulan = "Juli";
            break;
        case 8:
            $bulan = "Agustus";
            break;
        case 9:
            $bulan = "September";
            break;
        case 10:
            $bulan = "Oktober";
            break;
        case 11:
            $bulan = "November";
            break;
        case 12:
            $bulan = "Desember";
            break;
    }
    return $bulan;
}

$tanggal_bayar = explode('-', $tgl_cetak);
$tahun = $tanggal_bayar[2];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[0];


//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    //$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'Legal', 0, '', 10, 10, 5, 1, 1, 1, '');

    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';

    $html .= '<div>';
    $nik = '';
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetaklaprealisasibphtb.xls");

    $html = '';

    $nik = '\'';
}


$html .= '


   <!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="5">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', ' . $ar_pemda->s_namaibukotakabkot . ' ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
<tr >
    <td colspan="5" style="border-bottom: 1px solid #000; ">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="5"><center><br><br><h3>LAPORAN REALISASI BPHTB</h3></center></td></tr>
<tr>
<td colspan="5"><center>TAHUN ' . $tahun . '<br>TANGGAL ' . $tanggal . ' ' . bulan($bulan) . ' ' . $tahun . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" width="100%" >
    <thead>
        <tr>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000; width:15px; font-weight: bold;">
                <center>No.</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000;border-right: 1px solid #000; font-weight: bold;">
                <center>Jenis Transaksi</center>                    
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000;border-right: 1px solid #000; font-weight: bold;">
                <center>S/D BULAN LALU</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000;border-right: 1px solid #000; font-weight: bold;">
                <center>BULAN INI</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000;border-right: 1px solid #000; font-weight: bold;">
                <center>S/D BULAN INI</center>                      
            </th>
        </tr>
    </thead>    
    <tbody>
        ';

$sdblnlalu = 0;
$blnini = 0;
$sdblnini = 0;

$sdblnlalu_korek = 0;
$blnini_korek = 0;
$sdblnini_korek = 0;

$counter = 1;
$korek = "";
$namakorek = "";
foreach ($this->data_Realisasi as $k => $v) {
    if ($v["korek"] != $korek) {
        if ($korek != "") {
            $html .= '<tr>
            <td colspan="2" style="padding: 5px; border-left: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">TOTAL ' . $korek . ' - ' . $namakorek . '</td>
            <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">' . (($cetak == 1) ? number_format($sdblnlalu_korek, 0, ',', '.') : $sdblnlalu_korek) . '</td>
            <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">' . (($cetak == 1) ? number_format($blnini_korek, 0, ',', '.') : $blnini_korek) . '</td>
            <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">' . (($cetak == 1) ? number_format($sdblnini_korek, 0, ',', '.') : $sdblnini_korek) . '</td>
        </tr>';
            $sdblnlalu_korek = 0;
            $blnini_korek = 0;
            $sdblnini_korek = 0;
        }
        $html .= '<tr>
            <td colspan="5" style="border-left: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold;">KOREK : ' . $v["korek"] . ' - ' . $v["s_koreknama"] . '</td>
        </tr>';
        $korek = $v["korek"];
        $namakorek = $v["s_koreknama"];
    }
    $html .= '
            <tr>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; border-left: 1px solid #000;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; width:250px;">
                    ' . $v['s_namajenistransaksi'] . '                       
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    
                    ' . (($cetak == 1) ? number_format($v['real_sd_bln_lalu'], 0, ',', '.') : $v['real_sd_bln_lalu'])  . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    
                    ' . (($cetak == 1) ? number_format($v['real_bln_ini'], 0, ',', '.') : $v['real_bln_ini']) . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">                 
                    ' . (($cetak == 1) ? number_format($v['real_sd_bln_ini'], 0, ',', '.') : $v['real_sd_bln_ini']) . '                                       
                </td>
            </tr>        
            ';
    //$totalPembayaran += $v['t_nilaipembayaranspt'];
    $sdblnlalu += $v['real_sd_bln_lalu'];
    $blnini += $v['real_bln_ini'];
    $sdblnini += $v['real_sd_bln_ini'];

    $sdblnlalu_korek += $v['real_sd_bln_lalu'];
    $blnini_korek += $v['real_bln_ini'];
    $sdblnini_korek += $v['real_sd_bln_ini'];

    $counter++;
}

$html .= '<tr>
<td colspan="2" style="padding: 5px; border-left: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">TOTAL ' . $korek . ' - ' . $namakorek . '</td>
<td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">' . (($cetak == 1) ? number_format($sdblnlalu_korek, 0, ',', '.') : $sdblnlalu_korek) . '</td>
<td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">' . (($cetak == 1) ? number_format($blnini_korek, 0, ',', '.') : $blnini_korek) . '</td>
<td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">' . (($cetak == 1) ? number_format($sdblnini_korek, 0, ',', '.') : $sdblnini_korek) . '</td>
</tr>';
$sdblnlalu_korek = 0;
$blnini_korek = 0;
$sdblnini_korek = 0;

$html .= '<tr>
        <td colspan="2" style="padding: 5px; border-bottom: 1px solid #000; border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:top; text-align: right; font-weight: bold;">
            JUMLAH TOTAL
        </td>
        <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; font-weight: bold;" align="right">
            Rp. ' . (($cetak == 1) ? number_format($sdblnlalu, 0, ',', '.') : $sdblnlalu) . '
        </td>
        <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; font-weight: bold;" align="right">
            Rp. ' . (($cetak == 1) ? number_format($blnini, 0, ',', '.') : $blnini) . '
        </td>
        <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; font-weight: bold;" align="right">
            Rp. ' . (($cetak == 1) ? number_format($sdblnini, 0, ',', '.') : $sdblnini) . '
        </td>
    </tr>
    <tr>';

$html .= '</tbody></table>';

$tanggal_pencetakan = explode('-', $tgl_cetakan_realisasi);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center; padding-top: 30px;">
            </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                ' . $ar_pemda->s_namaibukotakabkot . ', ' . $tanggal_cetak . ' ' . bulan($bulan_cetak) . ' ' . $tahun_cetak . '
                <br>
                ' . $data_pejabat->s_jabatanpejabat . '
                <br><br><br><br>
                <ins>&nbsp;&nbsp;&nbsp;&nbsp;' . $data_pejabat->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</ins>
                <br>
                NIP. ' . $data_pejabat->s_nippejabat . '
            </td>
        </tr>
        </table>';

if ($cetak == 1) {
    ob_clean();
    $html .= '</div>';
    $html .= '</body></html>';
    $mpdf->WriteHTML($html);
    $mpdf->Output("cetaklaprealisasibphtb.pdf", "I");
} else {
    echo $html;
}
