<?php
function bulan($bln)
{
    $bulan = $bln;
    switch ($bulan) {
        case 1:
            $bulan = "Januari";
            break;
        case 2:
            $bulan = "Februari";
            break;
        case 3:
            $bulan = "Maret";
            break;
        case 4:
            $bulan = "April";
            break;
        case 5:
            $bulan = "Mei";
            break;
        case 6:
            $bulan = "Juni";
            break;
        case 7:
            $bulan = "Juli";
            break;
        case 8:
            $bulan = "Agustus";
            break;
        case 9:
            $bulan = "September";
            break;
        case 10:
            $bulan = "Oktober";
            break;
        case 11:
            $bulan = "November";
            break;
        case 12:
            $bulan = "Desember";
            break;
    }
    return $bulan;
}

$tanggal_bayar = explode('-', $tglbayar1);
$tahun1 = $tanggal_bayar[2];
$bulan1 = $tanggal_bayar[1];
$tanggal1 = $tanggal_bayar[0];

$tanggal_bayar2 = explode('-', $tglbayar2);
$tahun2 = $tanggal_bayar2[2];
$bulan2 = $tanggal_bayar2[1];
$tanggal2 = $tanggal_bayar2[0];


//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    //$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'FOLIO-L', 0, '', 10, 10, 5, 1, 1, 1, '');

    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

';
    // <htmlpagefooter name="MyFooter1">
    // <table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    //     color: #000000; font-weight: bold; font-style: italic;"><tr>
    //     <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    //     <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    //     <td width="33%" style="text-align: right; "></td>
    //     </tr></table>
    // </htmlpagefooter>

    // <htmlpagefooter name="MyFooter2">
    // <table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    //     color: #000000; font-weight: bold; font-style: italic;"><tr>
    //     <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    //     <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    //     <td width="33%" style="text-align: right; "></td>
    //     </tr></table>
    // </htmlpagefooter>

    $html .= '<div>';
    $nik = '';
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetaklapharianbphtb.xls");

    $html = '';

    $nik = '\'';
}


$html .= '


   <!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table width="100%" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="8">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', ' . $ar_pemda->s_namaibukotakabkot . ' ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
<tr >
    <td colspan="8" style="border-bottom: 1px solid #000;">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="8"><center><br><br><h3>KONFIRMASI BPHTB</h3></center></td></tr>
<tr>
<td colspan="8"><center>TANGGAL KONFIRMASI ' . $tanggal1 . ' ' . bulan($bulan1) . ' ' . $tahun1 . ' s/d ' . $tanggal2 . ' ' . bulan($bulan2) . ' ' . $tahun2 . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" width="100%" >
    <thead>
        <tr >
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>
            <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Tanggal</center>   
             </th>
            
            <th colspan="4" style="border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Data Lama</center>                 
            </th>
            <th colspan="4" style="border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Data Baru</center>                 
            </th>
        </tr>
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NOP</center>                 
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama WP</center>                        
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat WP</center>                 
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat Objek</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NOP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama WP</center>
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat WP</center>                 
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat Objek</center>                      
            </th>
        </tr>
        
    </thead>    
    <tbody>
        ';

// <th rowspan="2" style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
//         <center>Nama WP</center>                 
//     </th>


$totalPembayaran = 0;
$totalTransaksi = 0;
$counter = 1;
foreach ($this->data as $k => $v) {
    $nopbaru = $v['kd_propinsi'] . '.' . $v['kd_dati2'] . '.' . $v['kd_kecamatan'] . '.' . $v['kd_kelurahan'] . '.' . $v['kd_blok'] . '.' . $v['no_urut'] . '.' . $v['kd_jns_op'];
    if ($v['s_nama_jenis_pelayanan'] == 'Mutasi Subjek') {
        $nopbaru = $v['nop_lama'];
    }
    $html .= '
            <tr>
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . date('d-m-Y', strtotime($v['t_tgl_pelayanan'])) . '</center>                        
                </td>
                
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    ' . $v['nop_lama'] . '
                </td>
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    ' . $v['nama_wp_lama'] . '
                </td>
                    <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
            ' . $v['t_jalan_pemohon'] . '<br>RT. ' . $v['t_rt_pemohon'] . ', RW. ' . $v['t_rw_pemohon'] . ', KEL. ' . $v['t_kelurahan_pemohon'] . ', KEC.' . $v['t_kecamatan_pemohon'] . '<br>KAB.' . $v['t_kabupaten_pemohon'] . '
        </td>
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    ' . $v['jalan_op_lama'] . '<br>RT. 
                    ' . $v['rt_op_lama'] . ', RW. 
                    ' . $v['rw_op_lama'] . '<br>KEL. 
                    ' . $v['kecamatan_op_lama'] . ', KEC. 
                    ' . $v['kelurahan_op_lama'] . '
                </td>

                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    ' . $nopbaru . '
                </td>
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                ' . $v['t_nama_wp'] . '
                </td>
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                ' . $v['t_jalan_wp'] . '<br>RT. ' . $v['t_rt_wp'] . ', RW. ' . $v['t_rw_wp'] . ', KEL. ' . $v['t_kelurahan_wp'] . ', KEC.' . $v['t_kecamatan_wp'] . '<br>KAB.' . $v['t_kabupaten_wp'] . '
                </td>             
                
                <td style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;">
                    ' . $v['t_jalan_op'] . '<br>RT. ' . $v['t_rt_op'] . ', RW. ' . $v['t_rw_op'] . ', KEL. ' . $v['t_kelurahan_op'] . ', KEC.' . $v['t_kecamatan_op'] . '<br>KAB.' . $v['t_kabupaten_op'] . '
                </td>
                   
            </tr>        
            ';
    // <td style="border-bottom: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
    //         ' . $v['nama_wp_lama'] . '
    //     </td>

    $totalPembayaran += $v['t_nilaipembayaranspt'];
    $totalTransaksi += $nilaitransaksispt;
    $counter++;
}

$html .= '
    <tr>';

$html .= '</tbody></table>';

$tanggal_pencetakan = explode('-', $tgl_cetak);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center; padding-top: 30px;">
                Mengetahui,
                <br>
                ' . $data_mengetahui->s_jabatanpejabat . '
                <br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;' . $data_mengetahui->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
                NIP. ' . $data_mengetahui->s_nippejabat . '
            </td>
            <td colspan="4" style="text-align: center; padding-top: 30px;">
                ' . $ar_pemda->s_namaibukotakabkot . ', ' . $tanggal_cetak . ' ' . bulan($bulan_cetak) . ' ' . $tahun_cetak . '
                <br>
                ' . $data_pejabat->s_jabatanpejabat . '
                <br><br><br><br>
                <ins>&nbsp;&nbsp;&nbsp;&nbsp;' . $data_pejabat->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</ins>
                <br>
                NIP. ' . $data_pejabat->s_nippejabat . '
            </td>
        </tr>
        </table>';

if ($cetak == 1) {

    $html .= '</div>';


    $html .= '</body></html>';



    $mpdf->WriteHTML($html);

    $mpdf->Output("cetaklapbphtb.pdf", "I");
} else {

    echo $html;
}
