<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">LAPORAN BPHTB</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-md-12">
                                <div style=" overflow: auto;">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#lapbphtb" aria-controls="lapbphtb" role="tab" data-toggle="tab">Laporan Bulanan BPHTB</a></li>
                                        <li role="presentation"><a href="#lapharianbphtb" aria-controls="lapharianbphtb" role="tab" data-toggle="tab">Laporan Harian BPHTB</a></li>
                                        <li role="presentation"><a href="#laprealisasibphtb" aria-controls="laprealisasibphtb" role="tab" data-toggle="tab">Laporan Realisasi BPHTB</a></li>
                                        <li role="presentation"><a href="#lapperdesa" aria-controls="lapperdesa" role="tab" data-toggle="tab">Laporan Per Desa</a></li>
                                        <!--<li role="presentation"><a href="#cetakskpdkb" aria-controls="cetakskpdkb" role="tab" data-toggle="tab">Cetak SKPDKB</a></li>-->
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="lapbphtb">
                                            <div class="table-responsive" style="height: 500px;">
                                                <table class="table-condensed">
                                                    <tr>
                                                        <td>
                                                            Tanggal Proses
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="tgl_cetakbphtb1" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                        <td>
                                                            s/d
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="tgl_cetakbphtb2" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Notaris 
                                                        </td>
                                                        <td colspan="3">
                                                            <select name="idnotaris" id="idnotaris" class="selectpicker" data-live-search="true">
                                                                <option value="">-- Pilih Notaris --</option>
                                                                <?php foreach ($this->data_notaris as $k => $v) { ?>
                                                                    <option value="<?= $v['s_iduser'] ?>"><?= $v['s_namanotaris'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Mengetahui 
                                                        </td>
                                                        <td colspan="3">
                                                            <select id="mengetahuibphtb" class="selectpicker" data-live-search="true">
                                                                <?php foreach ($this->data_mengetahuibphtb as $k => $v) { ?>
                                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tanggal Cetak
                                                        </td>
                                                        <td colspan="3">
                                                            <input type="text" class="form-control" id="tgl_cetakan" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>

                                                        </td>
                                                        <td colspan="3">
                                                            <button class="btn btn-success" onclick="cetakLapBphtb();">Cetak Daftar Laporan BPHTB</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="lapharianbphtb">
                                            <div class="table-responsive" style="height: 500px;">
                                                <table class="table-condensed">
                                                    <tr>
                                                        <td>
                                                            Tanggal Proses 
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="tgl_cetaklapharian" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Notaris 
                                                        </td>
                                                        <td colspan="3">
                                                            <select name="idnotaris_harian" id="idnotaris_harian" class="selectpicker" data-live-search="true">
                                                                <option value="">-- Pilih Notaris --</option>
                                                                <?php foreach ($this->data_notaris_harian as $k => $v) { ?>
                                                                    <option value="<?= $v['s_iduser'] ?>"><?= $v['s_namanotaris'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Pejabat 
                                                        </td>
                                                        <td>
                                                            <select id="pejabat" class="selectpicker" data-live-search="true">
                                                                <?php foreach ($this->data_pejabat as $k => $v) { ?>
                                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Mengetahui 
                                                        </td>
                                                        <td>
                                                            <select id="mengetahui" class="selectpicker" data-live-search="true">
                                                                <?php foreach ($this->data_mengetahui as $k => $v) { ?>
                                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tanggal Cetak
                                                        </td>
                                                        <td colspan="3">
                                                            <input type="text" class="form-control" id="tgl_cetakan_harian" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            <button class="btn btn-success" onclick="cetakLapHarian();">Cetak Daftar Harian BPHTB</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="laprealisasibphtb">
                                            <div class="table-responsive" style="height: 500px;">
                                                <table class="table-condensed">
                                                    <tr>
                                                        <td>
                                                            Tahun Pajak 
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="periode_sptrealisasi" value="<?= date('Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tanggal Proses
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="tgl_cetakrealisasi" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Pejabat 
                                                        </td>
                                                        <td>
                                                            <select id="pejabatrealisasi" class="selectpicker" data-live-search="true">
                                                                <?php foreach ($this->data_pejabatrealisasi as $k => $v) { ?>
                                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Mengetahui 
                                                        </td>
                                                        <td>
                                                            <select id="mengetahuirealisasi" class="selectpicker" data-live-search="true">
                                                                <?php foreach ($this->data_mengetahuirealisasi as $k => $v) { ?>
                                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tanggal Cetak
                                                        </td>
                                                        <td colspan="3">
                                                            <input type="text" class="form-control" id="tgl_cetakan_realisasi" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            <button class="btn btn-success" onclick="cetakRealisasiBphtb();">Cetak Realisasi</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="lapperdesa">
                                            <div class="table-responsive" style="height: 500px;">
                                                <table class="table-condensed">
                                                    
                                                    <tr>
                                                        <td>
                                                            Tanggal Proses
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="tgl_cetakbphtb_perdesa" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                        <td>
                                                            s/d
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="tgl_cetakbphtb2_perdesa" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Kecamatan 
                                                        </td>
                                                        <td colspan="3">
                                                            <select id="kecamatan_perdesa" class="selectpicker" data-live-search="true">
                                                                <option value="">-- Pilih Kecamatan --</option>
                                                                <?php foreach ($this->data_kecamatan as $k => $v) { ?>
                                                                    <option value="<?= $v['s_kodekecamatan'] ?>"><?= $v['s_kodekecamatan'] ?> - <?= $v['s_namakecamatan'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Notaris 
                                                        </td>
                                                        <td colspan="3">
                                                            <select name="idnotaris" id="idnotaris_perdesa" class="selectpicker" data-live-search="true">
                                                                <option value="">-- Pilih Notaris --</option>
                                                                <?php foreach ($this->data_notaris_perdesa as $k => $v) { ?>
                                                                    <option value="<?= $v['s_iduser'] ?>"><?= $v['s_namanotaris'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <!--<tr>
                                                        <td>
                                                            Pejabat 
                                                        </td>
                                                        <td colspan="3">
                                                            <select id="pejabat_perdesa" class="selectpicker" data-live-search="true">
                                                                <?php foreach ($this->data_pejabatrealisasi_perdesa as $k => $v) { ?>
                                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>-->
                                                    <tr>
                                                        <td>
                                                            Mengetahui 
                                                        </td>
                                                        <td colspan="3">
                                                            <select id="mengetahui_perdesa" class="selectpicker" data-live-search="true">
                                                                <?php foreach ($this->data_mengetahuirealisasi_perdesa as $k => $v) { ?>
                                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tanggal Cetak
                                                        </td>
                                                        <td colspan="3">
                                                            <input type="text" class="form-control" id="tgl_cetakan_perdesa" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>

                                                        </td>
                                                        <td colspan="3">
                                                            <button class="btn btn-success" onclick="cetakRealisasiBphtb_perdesa();">Cetak Laporan</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="cetakskpdkb">
                                            <div class="table-responsive" style="height: 500px;">
                                                <table class="table-condensed">
                                                    <tr>
                                                        <td>
                                                            Tahun Pajak 
                                                        </td>
                                                        <td colspan="5">
                                                            <input type="text" class="form-control" id="periode_skpdkb" value="<?= date('Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tanggal Cetak 
                                                        </td>
                                                        <td colspan="5">
                                                            <input type="text" class="form-control" id="tgl_cetakskpdkb" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            No. SSPD 
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="no_sspdbphtb1" style="width: 100px;">
                                                        </td>
                                                        <td>
                                                            <div class="col-md-1" style="text-align: left">
                                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalSkpdkb1">
                                                                    Cari
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            s/d 
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="no_sspdbphtb2" style="width: 100px;">
                                                        </td>
                                                        <td>
                                                            <div class="col-md-1" style="text-align: left">
                                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalSkpdkb2">
                                                                    Cari
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Pejabat 
                                                        </td>
                                                        <td colspan="5">
                                                            <select id="pejabatskpdkb" class="selectpicker" data-live-search="true">
                                                                <?php foreach ($this->data_pejabatskpdkb as $k => $v) { ?>
                                                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                                                <? } ?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>

                                                        </td>
                                                        <td colspan="5">
                                                            <button class="btn btn-success" onclick="cetakSkpdkb();">Cetak SKPDKB</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- Modal SKPDKB -->

<div class="modal fade" id="ModalSkpdkb1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Daftar SKPDKB</h4>
            </div>
            <div class="modal-body" id="dialog_skpdkb" title="Daftar Pendataan">
                <div>
                    <table id="listskpdkb"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal SKPDKB -->
<div class="modal fade" id="ModalSkpdkb2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Daftar SKPDKB</h4>
            </div>
            <div class="modal-body" id="dialog_skpdkb2" title="Daftar Pendataan">
                <div>
                    <table id="listskpdkb2"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $("#periode_sptrealisasi").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });
    
    $("#periode_skpdkb").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });
    
    jQuery("#tgl_cetakverifikasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_verifikasi1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_verifikasi2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetaklapharian").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakbphtb1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakbphtb2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakrealisasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_realisasi1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_realisasi2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakskpdkb").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    
    jQuery("#tgl_cetakan").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    
    jQuery("#tgl_cetakan_harian").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    
    jQuery("#tgl_cetakan_realisasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    
    
    jQuery("#tgl_cetakbphtb_perdesa").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakbphtb2_perdesa").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#listskpdkb").flexigrid({
        url: '<?= $this->url() ?>/dataGridSkpdkb',
        dataType: 'xml',
        colModel: [
            {display: "No. Daftar", name: "t_kohirspt", align: 'center', width: 100},
            {display: "Tahun Pajak", name: "t_periodespt", align: 'center', width: 100},
            {display: "Tanggal Pajak", name: "t_tglprosesspt", align: 'center', width: 150},
            {display: "Nama WP", name: "t_namawppembeli", align: 'center', width: 200},
            {display: "Pilihan", name: "Pilihan", align: 'center', formatter: 'button', width: 70}
        ],
        searchitems: [
            {display: "No. Daftar", name: 't_kohirspt', isdefault: true},
            {display: "Nama WP", name: 't_namawppembeli'}
        ],
        sortname: 't_kohirspt',
        sortorder: "desc",
        singleSelect: false,
        usepager: true,
        useRp: true,
        rp: 10,
        title: "Daftar SKPDKB",
        showTableToggleBtn: false,
        width: "100%",
        height: '100%',
        pagetext: 'Hal',
        outof: 's.d'
    });

    function pilihSkpdkbBphtb(a) {
        $.post('<?= $this->url() ?>/pilihSkpdkbBphtb', {t_idspt: a}, function (data) {
            var aa = JSON.parse(data);
            $('#no_sspdbphtb1').val(aa.t_kohirspt);
            jQuery('#ModalSkpdkb1').modal('hide');
        });
    }

    jQuery("#listskpdkb2").flexigrid({
        url: '<?= $this->url() ?>/dataGridSkpdkb2',
        dataType: 'xml',
        colModel: [
            {display: "No. Daftar", name: "t_kohirspt", align: 'center', width: 100},
            {display: "Tahun Pajak", name: "t_periodespt", align: 'center', width: 100},
            {display: "Tanggal Pajak", name: "t_tglprosesspt", align: 'center', width: 150},
            {display: "Nama WP", name: "t_namawppembeli", align: 'center', width: 200},
            {display: "Pilihan", name: "Pilihan", align: 'center', formatter: 'button', width: 70}
        ],
        searchitems: [
            {display: "No. Daftar", name: 't_kohirspt', isdefault: true},
            {display: "Nama WP", name: 't_namawppembeli'}
        ],
        sortname: 't_kohirspt',
        sortorder: "desc",
        singleSelect: false,
        usepager: true,
        useRp: true,
        rp: 10,
        title: "Daftar SKPDKB",
        showTableToggleBtn: false,
        width: "100%",
        height: '100%',
        pagetext: 'Hal',
        outof: 's.d'
    });

    function pilihSkpdkbBphtb2(a) {
        $.post('<?= $this->url() ?>/pilihSkpdkbBphtb2', {t_idspt: a}, function (data) {
            var aa = JSON.parse(data);
            $('#no_sspdbphtb2').val(aa.t_kohirspt);
            jQuery('#ModalSkpdkb2').modal('hide');
        });
    }
    function cetakLapHarian() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapharian?tgl_cetak=' + $("#tgl_cetaklapharian").val() + "&pejabat=" + $("#pejabat").val() + "&mengetahui=" + $("#mengetahui").val() + "&idnotaris_harian=" + $("#idnotaris_harian").val() + "&tgl_cetakan_harian=" + $("#tgl_cetakan_harian").val());
    }
    function cetakLapBphtb() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtb?tgl_cetakbphtb1=' + $("#tgl_cetakbphtb1").val() + "&tgl_cetakbphtb2=" + $("#tgl_cetakbphtb2").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val() + "&idnotaris=" + $("#idnotaris").val() + "&tgl_cetakan=" + $("#tgl_cetakan").val());
    }
    function cetakRealisasiBphtb() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetakrealisasibphtb?periode_sptrealisasi=' + $("#periode_sptrealisasi").val() + "&tgl_cetakrealisasi=" + $("#tgl_cetakrealisasi").val() + "&pejabat=" + $("#pejabatrealisasi").val() + "&mengetahui=" + $("#mengetahuirealisasi").val() + "&tgl_cetakan_realisasi=" + $("#tgl_cetakan_realisasi").val());
    }
    function cetakSkpdkb() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetakskpdkb?periode_skpdkb=' + $("#periode_skpdkb").val() + "&tgl_cetakskpdkb=" + $("#tgl_cetakskpdkb").val() + "&pejabatskpdkb=" + $("#pejabatskpdkb").val() + "&no_sspdbphtb1=" + $("#no_sspdbphtb1").val() + "&no_sspdbphtb2=" + $("#no_sspdbphtb2").val());
    }
    function cetakRealisasiBphtb_perdesa() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbphtbperdesa?tgl_cetakbphtb_perdesa=' + $("#tgl_cetakbphtb_perdesa").val() + "&tgl_cetakbphtb2_perdesa=" + $("#tgl_cetakbphtb2_perdesa").val() + "&mengetahui_perdesa=" + $("#mengetahui_perdesa").val() + "&pejabat_perdesa=" + $("#pejabat_perdesa").val() + "&idnotaris_perdesa=" + $("#idnotaris_perdesa").val() + "&tgl_cetakan_perdesa=" + $("#tgl_cetakan_perdesa").val() + "&kecamatan_perdesa=" + $("#kecamatan_perdesa").val());
    }
</script>


