<div class='row'>
    <div class='col-md-12'>
        <div id='callout-navbar-overflow' class='bs-callout bs-callout-warning'>
            <div class='form-horizontal form-group col-md-12'>
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>Nama SPPT</label>
                <div class='col-md-3'> : <?= $data_table['NM_WP_SPPT']; ?></div>
            </div>
            <div class='form-horizontal form-group col-md-12'>
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>Letak</label>
                <div class='col-md-3'> :  <?= $data_table['JALAN_OP']; ?></div>
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>RT/RW</label>
                <div class='col-md-3'> :  <?= $data_table['RT_OP']; ?> /  <?= $data_table['RW_OP']; ?></div>
            </div>
            <div class='form-horizontal form-group col-md-12'>
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>Kelurahan</label>
                <div class='col-md-3'> :  <?= $data_table['NM_KELURAHAN']; ?></div>
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>Kecamatan</label>
                <div class='col-md-3'> :  <?= $data_table['NM_KECAMATAN']; ?></div>
            </div>
            <hr>
            <div class='form-horizontal form-group col-md-12'>
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>Luas Tanah</label>
                <div class='col-md-3'> :  <?= $data_table['LUAS_BUMI_SPPT']; ?></div>  
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>NJOP Tanah</label>
                <div class='col-md-3'> :  <?= number_format($data_table['NILAI_PER_M2_TANAH'] * 1000, 0, ',', '.'); ?></div>
            </div>
            <div class='form-horizontal form-group col-md-12'>
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>Luas Bangunan</label>
                <div class='col-md-3'> :  <?= $data_table['LUAS_BNG_SPPT']; ?></div>
                <label for='inputKey' class='col-md-2 control-label' style='text-align: left;'>NJOP Bangunan</label>
                <div class='col-md-3'> :  <?= number_format($data_table['NILAI_PER_M2_BNG'] * 1000, 0, ',', '.'); ?></div>
            </div>
        </div>
    </div> 
</div>


<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-primary'>
            <div class='panel-heading'><strong>Tunggakan SPPT-PBB</strong></div>
            <table class='table table-striped'>
                <tr>
                    <th>No.</th>
                    <th>Tahun</th>
                    <th>Tunggakan (Rp.)</th>
                    <th>Jatuh Tempo</th>
                    <th>Denda (Rp.)</th>
                </tr>

                <?php
                $i = 1;
                $jumlahdenda = 0;
                $PBB_YG_HARUS_DIBAYAR_SPPT = 0;
                foreach ($data_tunggakan as $row) {
                    $dat1 = date('Y-m-d', strtotime($row['JATUH_TEMPO']));
                    $dat2 = date('Y-m-d');

                    /*if ($dat1 > $dat2) {
                        $date1 = new \DateTime($dat2);
                    } else {
                        $date1 = new \DateTime($dat1);
                    }


                    $date2 = new \DateTime($dat2);
                    $interval = $date1->diff($date2);
                    $bedanya = $interval->m + ($interval->y * 12);
                    if ($bedanya > 24) {
                        $beda = 24;
                    } else {
                        $beda = $bedanya;
                    }*/
                    
                    $tgl_bayar = explode("-", $dat2);
                    $tgl_tempo = explode("-", $dat1);

                    $tahun = $tgl_bayar[0] - $tgl_tempo[0];
                    $bulan = $tgl_bayar[1] - $tgl_tempo[1];
                    $hari = $tgl_bayar[2] - $tgl_tempo[2];


                    if(($tahun == 0) || ($tahun < 1)){
                            if(($bulan == 0 ) || ($bulan < 1)){
                                    if($bulan < 0){
                                        $months = 0;
                                    }else{
                                        if(($hari == 0) || ($hari < 1)){
                                                $months = 0;
                                        }else{
                                                $months = 1;
                                        }
                                    }   
                            }else{
                                    if(($hari == 0) || ($hari < 1)){
                                            $months = $bulan;
                                    }else{
                                            $months = $bulan + 1;
                                    }

                            }
                    }else{
                            $jmltahun = $tahun * 12;
                            if($bulan == 0 ){
                                    $months = $jmltahun;
                            }elseif($bulan < 1){
                                    $months = $jmltahun + $bulan;
                            }else{
                                    $months = $bulan + $jmltahun;
                            }
                    }


                    if ($months > 24) {
                        $beda = 24;
                    } else {
                        $beda = $months;
                    }
                    
                    $denda = $beda * $row['PBB_YG_HARUS_DIBAYAR_SPPT'] * 2 / 100;

                    echo '<tr>
                        <td>  ' . $i . '</td>
                        <td>  ' . $row['THN_PAJAK_SPPT'] . ' </td>
                        <td>  ' . number_format($row['PBB_YG_HARUS_DIBAYAR_SPPT'], 0, ',', '.') . ' </td>
                        <td>  ' . $row['JATUH_TEMPO'] . ' </td>
                        <td>  ' . number_format($denda, 0, ',', '.') . ' </td>
                    </tr>
                    ';

                    $i ++;
                    $PBB_YG_HARUS_DIBAYAR_SPPT = $PBB_YG_HARUS_DIBAYAR_SPPT + $row['PBB_YG_HARUS_DIBAYAR_SPPT'];
                    $jumlahdenda = $jumlahdenda + $denda;
                }
                ?>
                <tr style='font-size:16px; font-weight:bold;'>
                    <td colspan='2'><center>Jumlah Tunggakan</center></td>
                <td>  <?php echo number_format($PBB_YG_HARUS_DIBAYAR_SPPT, 0, ',', '.'); ?> </td>
                <td>Jumlah Denda</td>
                <td>  <?php echo number_format($jumlahdenda, 0, ',', '.'); ?> </td>
                </tr>
                <tr style='font-size:16px; font-weight:bold;'>
                    <td colspan='3' style='border-color:black'><center>Jumlah Seluruh Tunggakan</center></td>
                     <td colspan='2' style='border-color:black'><div style='text-align:center; color:red' > Rp. <?= number_format($PBB_YG_HARUS_DIBAYAR_SPPT + $jumlahdenda, 0, ',', '.'); ?></div></td>
                 </tr>
            </table>
        </div>
    </div>
</div>


