<?php
if (($cetak == 3)) {
    header("Content-type: text/xml");
    header("Content-Disposition: attachment; filename=xmltbp" . $tgl_setorxml1 . "sd" . $tgl_setorxml2 . ".xml");
} else {
    header("Content-type: text/xml");
    header("Content-Disposition: attachment; filename=xmltbp" . $tgl_setorxml1 . "sd" . $tgl_setorxml2 . ".xml");
}

$html = '';
$html .= '<SIPKD>';
foreach ($this->data_Setoranxml as $k => $v) {

    $namawp = $v['t_namawppembeli'];

    if (!empty($v['t_alamatwppembeli'])) {
        $alamatwp = $v['t_alamatwppembeli'];
    }
    if (!empty($v['t_rtwppembeli'])) {
        $alamatwp = ' RT ' . $v['t_rtwppembeli'];
    }
    if (!empty($v['t_rwwppembeli'])) {
        $alamatwp = ' RW ' . $v['t_rwwppembeli'];
    }
    if (!empty($v['t_kelurahanwppembeli'])) {
        $alamatwp = ' Kel. ' . $v['t_kelurahanwppembeli'];
    }
    if (!empty($v['t_kecamatanwppembeli'])) {
        $alamatwp = ' Kec. ' . $v['t_kecamatanwppembeli'];
    }

    if (empty($v['t_idpembayaranspt'])) {
        $t_nopembayaran = '';
    } else {
        $t_nopembayaran = $v['t_idpembayaranspt'];
    }

    if (empty($v['t_nilaipembayaranspt'])) {
        $jmlpajak = '';
    } else {
        $jmlpajak = number_format($v['t_nilaipembayaranspt'], 0, ',', '.');
    }

    if (empty($v['t_tanggalpembayaran'])) {
        $t_tglpembayaran = '';
    } else {
        $t_tglpembayaran = date('Y/m/d', strtotime($v['t_tanggalpembayaran']));
    }

    if (empty($v['t_tanggalpembayaran'])) {
        $t_yearbayar = '';
    } else {
        $t_yearbayar = date('Y', strtotime($v['t_tanggalpembayaran']));
    }

    if (empty($v['t_nilaipembayaranspt'])) {
        $jmlpembayaran = '';
    } else {
        $jmlpembayaran = number_format($v['t_nilaipembayaranspt'], 2, '.', '');
    }

    // var_dump($korek);
    // exit();

    $html .= ' 
                            <TBP>
                                <NOMOR>' . $t_nopembayaran . '</NOMOR>
                                <TANGGAL>' . $t_tglpembayaran . '</TANGGAL>
                                <KODE_SKPD>4.04.06</KODE_SKPD>
                                <NAMA_SKPD>BPPKAD</NAMA_SKPD>
                                <DESKRIPSI></DESKRIPSI>
                                <JATUH_TEMPO></JATUH_TEMPO>
                                <NAMA_PENYETOR>' . $namawp . '</NAMA_PENYETOR>
                                <ALAMAT_WP>' . $alamatwp . '</ALAMAT_WP>
                                <NPWPD>' . $v['t_npwpwppembeli'] . '</NPWPD>
                                <KODE_AKUN_BENDAHARA>1.1.1.02.32</KODE_AKUN_BENDAHARA>
                                <BENDAHARA_PENERIMA>SITI MUNAWAROH, SE</BENDAHARA_PENERIMA>
                                <AKUNS>
                                    <AKUN>
                                        <KODE_AKUN>' . $v["korek"] . '</KODE_AKUN>
                                        <NAMA_AKUN></NAMA_AKUN>
                                        <NOMINAL>' . $jmlpembayaran . '</NOMINAL>
                                     </AKUN>
                                </AKUNS>
                            </TBP>';
}
$html .= '</SIPKD>';
if (($cetak == 3)) {
    echo $html;
} else {
    echo $html;
}
