<?php
function bulan($bln)
{
    $bulan = $bln;
    switch ($bulan) {
        case 1:
            $bulan = "Januari";
            break;
        case 2:
            $bulan = "Februari";
            break;
        case 3:
            $bulan = "Maret";
            break;
        case 4:
            $bulan = "April";
            break;
        case 5:
            $bulan = "Mei";
            break;
        case 6:
            $bulan = "Juni";
            break;
        case 7:
            $bulan = "Juli";
            break;
        case 8:
            $bulan = "Agustus";
            break;
        case 9:
            $bulan = "September";
            break;
        case 10:
            $bulan = "Oktober";
            break;
        case 11:
            $bulan = "November";
            break;
        case 12:
            $bulan = "Desember";
            break;
    }
    return $bulan;
}

$tanggal_bayar = explode('-', $tgl_setor1);
$tahun = $tanggal_bayar[2];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[0];

$tanggal_bayar2 = explode('-', $tgl_setor2);
$tahun2 = $tanggal_bayar2[2];
$bulan2 = $tanggal_bayar2[1];
$tanggal2 = $tanggal_bayar2[0];

//echo 'Tanggal '. $tanggal.' '.bulan($bulan).' '.$tahun.' S/d '. $tanggal2.' '.bulan($bulan2).' '.$tahun2;

if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    //$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'Legal', 0, '', 10, 10, 5, 1, 1, 1, '');

    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';

    $html .= '<div>';
    $nik = '';
    $imglogo = '<img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="60" height="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    
              ';
} else {
    header("Content-type: application/vnd-ms-excel");
    header("Content-Disposition: attachment; filename=cetakdatapendaftaran.xls");
    $html = '';
    $nik = '\'';
    $imglogo = '';
}


$html .= '


    ' . $imglogo . '     
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="6">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
<tr >
    <td colspan="6" style="border-bottom: 1px solid #000; ">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="6"><center><br><br><h3>DAFTAR DATA PEMBAYARAN</h3></center></td></tr>
<tr>
<td colspan="6"><center>TANGGAL PEMBAYARAN ' . $tanggal . ' ' . bulan($bulan) . ' ' . $tahun . ' s/d ' . $tanggal2 . ' ' . bulan($bulan2) . ' ' . $tahun2 . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" width="100%">
    <thead>
        <tr>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;">
                <center>Tgl. Setoran</center>                      
            </th> 
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;">
                <center>Nama Wajib Pajak</center>                    
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;">
                <center>Alamat Wajib Pajak</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;">
                <center>Nama Penjual</center>                    
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;">
                <center>Alamat Objek Pajak</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;">
                <center>Nama Notaris</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;">
                <center>Jenis Transaksi</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000;">
                <center>Jumlah Bayar</center>                      
            </th>
        </tr>
    </thead>    
    <tbody>
        ';

$totalPembayaran = 0;
$totalPembayaran_korek = 0;
$counter = 1;

$korek = "";
$namakorek = "";
foreach ($this->data_pencatatanSetoran as $k => $v) {
    $t_nikwppembeli = $v['t_nikwppembeli'];
    //$nikwppembeli = wordwrap($t_nikwppembeli,5,"<br>",true);
    $tanggal_bayar = explode('-', $v['t_tanggalpembayaran']);
    $tahun = $tanggal_bayar[0];
    $bulan = $tanggal_bayar[1];
    $tanggal = $tanggal_bayar[2];

    if ($v["korek"] != $korek) {
        if ($korek != "") {
            $html .= '<tr>
            <td colspan="8" style="padding: 5px; border-left: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">TOTAL ' . $korek . ' - ' . $namakorek . '</td>
            <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">' . (($cetak == 1) ? number_format($totalPembayaran_korek, 0, ',', '.') : $totalPembayaran_korek) . '</td>
        </tr>';
            $totalPembayaran_korek = 0;
        }
        $html .= '<tr>
            <td colspan="9" style="border-left: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold;">KOREK : ' . $v["korek"] . ' - ' . $v["s_koreknama"] . '</td>
        </tr>';
        $korek = $v["korek"];
        $namakorek = $v["s_koreknama"];
    }

    $html .= '
            <tr>
                <td style="padding: 5px; text-align: center; border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align: top;">
                    ' . $counter . '                     
                </td>
                <td style="padding: 5px; text-align: center; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; width:60px;">
                    ' . date('d/m/Y', strtotime($v['t_tanggalpembayaran'])) . '                       
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; word-wrap: break-word;" width="100">
                    ' . strtoupper($v['t_namawppembeli']) . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; word-wrap: break-word;" width="100">
                    ' . strtoupper($v['t_alamatwppembeli']) . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; word-wrap: break-word;" width="100">                 
                    ' . strtoupper($v['t_namawppenjual']) . '                                  
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; word-wrap: break-word;" width="110">           
                    ' . strtoupper($v['t_alamatop']) . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; word-wrap: break-word;">              
                    ' . $v['s_namanotaris'] . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; word-wrap: break-word;">               
                    ' . $v['s_namajenistransaksi'] . '                        
                </td>
                 <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; word-wrap: break-word;" align="right">               
                    ' . (($cetak == 1) ? number_format($v['t_nilaipembayaranspt'], 0, ',', '.') : $v['t_nilaipembayaranspt']) . '                        
                </td>
            </tr>        
            ';
    $totalPembayaran += $v['t_nilaipembayaranspt'];
    $totalPembayaran_korek += $v['t_nilaipembayaranspt'];
    $counter++;
}

$html .= '<tr>
            <td colspan="8" style="padding: 5px; border-left: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">TOTAL ' . $korek . ' - ' . $namakorek . '</td>
            <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; font-weight: bold; text-align: right;">' . (($cetak == 1) ? number_format($totalPembayaran_korek, 0, ',', '.') : $totalPembayaran_korek) . '</td>
        </tr>';
$totalPembayaran_korek = 0;

$html .= '<tr>
        <td colspan="8" style="padding: 5px; border-bottom: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000; vertical-align: top; text-align: right; font-weight: bold;">
            JUMLAH TOTAL
        </td>
        <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top; font-weight: bold;" align="right" width="100">
            Rp. ' . (($cetak == 1) ? number_format($totalPembayaran, 0, ',', '.') : $totalPembayaran) . '
        </td>
    </tr>
    <tr>';

$html .= '</tbody></table>';

$tanggal_pencetakan = explode('-', $tgl_cetakan);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

$html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                Mengetahui,
                <br>
                ' . $data_mengetahui->s_jabatanpejabat . '
                <br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;' . $data_mengetahui->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
                NIP. ' . $data_mengetahui->s_nippejabat . '
            </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                
				BLORA, ' . $tanggal_cetak . ' ' . bulan($bulan_cetak) . ' ' . $tahun_cetak . '
                <br>
                ' . $data_pejabat->s_jabatanpejabat . '
                <br><br><br><br>
                <ins>&nbsp;&nbsp;&nbsp;&nbsp;' . $data_pejabat->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</ins>
                <br>
                NIP. ' . $data_pejabat->s_nippejabat . '
            </td>
        </tr>
        </table>';

if ($cetak == 1) {
    ob_clean();
    $html .= '</div>';
    $html .= '</body></html>';
    $mpdf->WriteHTML($html);
    $mpdf->Output("cetakdatapendaftaran.pdf", "I");
} else {

    echo $html;
}
