<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center>
                    <h3 class="box-title">PEMBAYARAN SSPD BPHTB</h3>
                </center>
                <div class="pull-right">
                    <a href="<?= $this->url('pembayaran_sptbphtb') ?>/tambah" class="btn bg-purple btn-sm btn-flat"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Pembayaran</a>
                    <a href="#" class="btn btn-success btn-sm btn-flat" onclick="openCetakPencatatanSetoran()"><span class="glyphicon glyphicon-print"></span> &nbsp;Cetak Daftar Pembayaran</a>
                    <a href="#" class="btn btn-warning btn-sm btn-flat" onclick="openCetakPencatatanSetoranXML()"><span class="glyphicon glyphicon-print"></span> &nbsp;Cetak XML</a>
                </div>
            </div>
            <div class="box-body">
                <table id="examplepembayaran" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue" style="font-size:10pt; font: bold;">
                            <th width="20">
                                <center>No</center>
                            </th>
                            <th width="20">
                                <center>No Daftar</center>
                            </th>
                            <th width="20">
                                <center>No Validasi</center>
                            </th>
                            <th width="70">
                                <center>Jenis<br>Perolehan</center>
                            </th>
                            <th width="40">
                                <center>Tgl<br>Pembayaran</center>
                            </th>
                            <th width="120">
                                <center>Nama<br>Wajib Pajak</center>
                            </th>
                            <th width="80">
                                <center>Jml<br>Bayar</center>
                            </th>
                            <th width="50">
                                <center>Kode<br>Bayar</center>
                            </th>
                            <th width="30">
                                <center>Pembayaran</center>
                            </th>
                            <th width="50">
                                <center>Status<br>Validasi</center>
                            </th>
                            <th>
                                <center>Perintah</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    </tbody>
                </table>

            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="myModalPencatatanSetoran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DAFTAR PEMBAYARAN</h4>
                </center>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-3"><b>Tanggal Pembayaran <span style="float:right;">:</span></b></label>
                                <div class="col-md-2">
                                    <input type="text" id="tgl_setor1" value="<?= date('d-m-Y') ?>" class="form-control" style="width: 100px;">

                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-2">
                                    <input type="text" id="tgl_setor2" value="<?= date('d-m-Y') ?>" class="form-control" style="width: 100px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12" style="<?= $show_hide_combo_notaris ?>">
                        <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <select id="mengetahui" class="selectpicker" data-live-search="true">
                                <?php foreach ($this->data_mengetahui as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-horizontal form-group col-md-12" style="<?= $show_hide_combo_notaris ?>">
                        <label for="inputType" class="col-md-3"><b>Diperiksa Oleh <span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <select id="mengetahui_periksa" class="selectpicker" data-live-search="true">
                                <?php foreach ($this->data_mengetahui_periksa as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="tgl_cetakan" value="<?= date('d-m-Y') ?>" class="form-control" style="width: 100px;">

                        </div>
                    </div>
                </div>

                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakPencatatanSetoranpdf();"><i class="fa fa-fw fa-file-pdf-o"></i> Cetak PDF</button>




                        <button class="btn btn-success" onclick="cetakPencatatanSetoranxls();"><i class="fa fa-fw fa-file-excel-o"></i> Cetak Excel</button>
                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupPencatatanSetoran()">Tutup</button></span>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

<div class="modal fade" id="myModalPencatatanSetoranXML" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i>CETAK DAFTAR PEMBAYARAN XML</h4>
                </center>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-3"><b>Tanggal Pembayaran<span style="float:right;">:</span></b></label>
                                <div class="col-md-2">
                                    <input type="text" id="tgl_setorxml1" value="<?= date('d-m-Y') ?>" class="form-control" style="width: 100px;">
                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-2">
                                    <input type="text" id="tgl_setorxml2" value="<?= date('d-m-Y') ?>" class="form-control" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="tgl_cetakxml" value="<?= date('d-m-Y') ?>" class="form-control" style="width: 100px;">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakPembayaranXML()"><i class="fa fa-fw fa-file-code-o"></i> Cetak TBP</button>
                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupPencatatanSetoranXML()">Tutup</button></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script type="text/javascript" language="javascript">
    var dTable;
    // #examplepembayaran adalah id pada table
    $(document).ready(function() {
        dTable = $('#examplepembayaran').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            "sAjaxSource": "<?= $this->url() ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollCollapse": true,

            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },

            "columnDefs": [{
                    "orderable": false,
                    "targets": 0,
                    "searchable": false
                },
                {
                    "orderable": true,
                    "targets": 1,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 2,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 3,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 4,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 5,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 6,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 7,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 8,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 9,
                    "searchable": true
                },
                {
                    "orderable": false,
                    "targets": 10,
                    "searchable": false
                }
            ]
        });

        //=========================== buat pencarian dibawah aktif
        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            $("#tahun_cari").datepicker({
                format: 'yyyy',
                viewMode: "years",
                minViewMode: "years"
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'novalidasi') {
                $(this).html('<center><input type="text" placeholder="No" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" id="tahun_cari" placeholder="Tahun" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tglpembayaran') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namawajibpajak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlbayar') {
                $(this).html('<center><input type="text" placeholder="jml" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                $(this).html('<select class="pencariantable" style="width:100px;text-size:8pt;">' +
                    '<option value="">-- Pilih --</option>'
                    <?php
                    foreach ($datajenistransaksi as $row) {
                        echo '+ \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\'';
                    }
                    ?> +
                    '</select>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'statusvalidasi') {
                $(this).html('<center><select class="pencariantable" style="width:70px;text-size:8pt;"><option value="">Pilih</option><option value="1">Tervalidasi</option><option value="2">Tidak Lengkap</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'pembayaran') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'kodebayar') {
                $(this).html('<center><input type="text" placeholder="kode" class="pencariantable" style="width:70px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });

        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        //=========================== end buat pencarian dibawah aktif

        $('#examplepembayaran').removeClass('display').addClass('table table-striped table-bordered');



    });
</script>



<script type="text/javascript">
    function hapus(a) { // a=id_pembayaran, b=status verifikasi, c= status validasi
        var aa = confirm('Hapus data ini?');

        if (aa) {
            $.post('<?= $this->url() ?>/hapus', {
                t_idpembayaranspt: a
            }, function(data) {
                var result = eval('(' + data + ')');
                console.log(result);
                if (result) {
                    $('#examplepembayaran').DataTable().ajax.reload();
                } else {
                    alert("Data tidak bisa dihapus jika sudah terverifikasi");
                }


            });
        }
    }

    function updatepemeriksaan(a) {
        $.post('<?= $this->url() ?>/updatepemeriksaan', {
            p_idpemeriksaan: a
        }, function(data) {
            $('#examplepembayaran').DataTable().ajax.reload();
        });
        $('#examplepembayaran').DataTable().ajax.reload();
    }


    jQuery("#tgl_cetakan").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_setor1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_setor2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetakPencatatanSetoran() {
        jQuery('#myModalPencatatanSetoran').modal('show');
    }

    function tutupPencatatanSetoran() {
        jQuery('#myModalPencatatanSetoran').modal('hide');
        jQuery("#no_spt1,#no_spt2").val('');
    }

    function cetakPencatatanSetoranpdf() {
        window.open('<?= $this->url() ?>/cetakpencatatansetoranbphtb?tgl_cetakan=' + $("#tgl_cetakan").val() + "&t_objekspt=1" + "&tgl_setor1=" + $("#tgl_setor1").val() + "&tgl_setor2=" + $("#tgl_setor2").val() + "&mengetahui=" + $("#mengetahui").val() + "&mengetahui_periksa=" + $("#mengetahui_periksa").val() + "&cetak=1")
    }

    function cetakPencatatanSetoranxls() {
        window.open('<?= $this->url() ?>/cetakpencatatansetoranbphtb?tgl_cetakan=' + $("#tgl_cetakan").val() + "&t_objekspt=1" + "&tgl_setor1=" + $("#tgl_setor1").val() + "&tgl_setor2=" + $("#tgl_setor2").val() + "&mengetahui=" + $("#mengetahui").val() + "&mengetahui_periksa=" + $("#mengetahui_periksa").val() + "&cetak=2")
    }

    jQuery("#tgl_setorxml1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_setorxml2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakxml").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetakPencatatanSetoranXML() {
        jQuery('#myModalPencatatanSetoranXML').modal('show');
    }

    function tutupPencatatanSetoranXML() {
        jQuery('#myModalPencatatanSetoranXML').modal('hide');
    }

    function cetakPembayaranXML() {
        window.open('<?= $this->url() ?>/cetakpembayaranxml?tgl_cetakxml=' + $("#tgl_cetakxml").val() + "&t_objekspt=1" + "&tgl_setorxml1=" + $("#tgl_setorxml1").val() + "&tgl_setorxml2=" + $("#tgl_setorxml2").val() + "&cetak=3")
    }
</script>