<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <!--<div class="row">
            <div class="col-xs-12">-->
        <div class="box box-success" style="border: 1px solid #00a65a;">
            <?= $this->form()->openTag($frm) ?>
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">PEMBAYARAN SSPD BPHTB</h3>
                </center>
            </div>

            <div class="box-body">


                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tanggal Bayar</label>
                        <div class="col-sm-2">
                            <?= $this->formRow($frm->get('t_tanggalpembayaran')) ?>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Jenis Pembayaran</label>
                        <div class="col-sm-3">
                            <?= $this->formRow($frm->get('jenis_pembayaran')); ?>
                            <?= $this->formRow($frm->get('t_idspt')); ?>
                            <?= $this->formRow($frm->get('t_idpembayaranspt')); ?>
                            <?= $this->formRow($frm->get('p_idpemeriksaan')); ?>
                        </div>
                    </div>
                </div>
                <div id="var_01" style="display: block">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kode Bayar Bank</label>
                            <div class="col-sm-2">
                                <?= $this->formRow($frm->get('t_kodebayarbanksppt')) ?>
                            </div>
                            <div class="col-sm-2" style="text-align: left">
                                <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#ModalSspd">
                                    <i class="fa fa-fw fa-search"></i> Cari Kode Bayar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Pendaftaran</label>
                            <div class="col-sm-2">
                                <?= $this->formRow($frm->get('t_kohirpembayaran')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Luas Tanah</label>
                            <div class="col-sm-2">
                                <?= $this->formRow($frm->get('t_luastanah')) ?>
                            </div>
                            <label class="col-sm-2 control-label" style="text-align: left; font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                            <div class="col-sm-2">
                                <?= $this->formRow($frm->get('t_njoptanah')) ?>
                            </div>
                            <label class="col-sm-1 control-label">Total</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_totalnjoptanah')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Luas Bangunan</label>
                            <div class="col-sm-2">
                                <?= $this->formRow($frm->get('t_luasbangunan')) ?>
                            </div>
                            <label class="col-sm-2 control-label" style="text-align: left; font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                            <div class="col-sm-2">
                                <?= $this->formRow($frm->get('t_njopbangunan')) ?>
                            </div>
                            <label class="col-sm-1 control-label">Total</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_totalnjopbangunan')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-9 control-label" style="text-align: right;">NJOP PBB</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_grandtotalnjop')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="pembagian_aphb_1">
                        <div id="pembagian_aphb_2">
                            <label class="col-sm-9 control-label" id="pembagian_aphb_3" style="text-align: right;">Pembagian APHB</label>
                            <div class="col-sm-3" id="pembagian_aphb_4">

                                <input style="text-align:right; width: 50px; background-color: #eee;" name="t_tarif_pembagian_aphb_kali" id="t_tarif_pembagian_aphb_kali" readonly="readonly" type="text">
                                /
                                <input style="text-align:right; width: 50px; background-color: #eee;" name="t_tarif_pembagian_aphb_bagi" id="t_tarif_pembagian_aphb_bagi" readonly="readonly" type="text">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="pembagian_aphb_5">
                        <div class="form-group" id="pembagian_aphb_6">
                            <label class="col-sm-9 control-label" id="pembagian_aphb_7" style="text-align: right;">NJOP PBB APHB</label>
                            <div class="col-sm-3" id="pembagian_aphb_8">
                                <input name="t_grandtotalnjop_aphb" id="t_grandtotalnjop_aphb" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-9 control-label" style="text-align: right;">Harga Transaksi</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_nilaitransaksispt')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">NPOP</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('npopnya')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">NPOPTKP</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_potonganspt')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">NPOPKP</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_npopkpspt')) ?>
                            </div>
                            <label class="col-sm-1 control-label">Tarif(%)</label>
                            <div class="col-sm-1">
                                <?= $this->formRow($frm->get('t_persenbphtb')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="potongan_waris_hibah1">
                        <div class="form-group" id="potongan_waris_hibah2">
                            <label class="col-sm-2 control-label" id="potongan_waris_hibah3">Potongan (%)</label>
                            <div class="col-sm-3" id="potongan_waris_hibah4">
                                <input name="t_potongan_waris_hibahwasiat" id="t_potongan_waris_hibahwasiat" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Jumlah Pembayaran</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_totalspt')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Pembayaran Sebelumnya</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('pembayaransebelumnya')) ?>
                            </div>
                            <label class="col-sm-2 control-label">BPHTB Terhutang</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_nilaipembayaranspt')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Jenis Transaksi</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('s_namajenistransaksi')) ?>
                            </div>
                            <label class="col-sm-2 control-label">Kepemilikan</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('s_namahaktanah')) ?>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="var_02" style="display: none">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kode Bayar Bank</label>
                            <div class="col-sm-2">
                                <?= $this->formRow($frm->get('t_kodebayards')) ?>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalSanksi">
                                    Cari Denda / Sanksi
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. STS</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_idds')); ?>
                                <?= $this->formRow($frm->get('t_kohirds')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nama Notaris</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_namanotaris')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Alamat Notaris</label>
                            <div class="col-sm-5">
                                <?= $this->formTextarea($frm->get('s_alamatnotaris')); ?>
                            </div>
                        </div>
                    </div>
                    <div id="var_03" class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Denda Bulan</label>
                            <div class="col-sm-3">
                                <?= $this->formRow($frm->get('t_dendabulan')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Jumlah Denda / Sanksi</label>
                            <div class="col-sm-5">
                                <?= $this->formRow($frm->get('t_jumlahds')); ?>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- /.box-body -->
            <div class="box-footer" style="border-top: 1px solid #00a65a">
                <a href="<?= $this->url() ?>" class="btn btn-primary"><i class="fa fa-fw fa-undo"></i> KEMBALI</a>
                <input type="submit" id="pembayaranbutton" onclick="this.disabled=true;forms[0].submit();" class="btn btn-info pull-right" value="PROSES PEMBAYARAN">
            </div>

            <?= $this->form()->closeTag($frm) ?>
        </div><!-- /.box -->
        <!--</div><!-- /.col -->
        <!--</div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<!-- Modal SSPD -->
<div class="modal fade bs-example-modal-lg" id="ModalSspd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header with-border bg-green-gradient">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel">DAFTAR DATA TERVALIDASI</h4>
                </center>
            </div>
            <div class="box-body">
                <table id="example" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue">
                            <th width="20">
                                <center>No</center>
                            </th>
                            <th width="20">
                                <center>No Daftar</center>
                            </th>
                            <th width="70">
                                <center>Jenis<br>Transaksi</center>
                            </th>
                            <th width="40">
                                <center>Tgl<br>Daftar</center>
                            </th>
                            <th width="60">
                                <center>Kode<br>Bayar</center>
                            </th>
                            <th width="100">
                                <center>Nama<br>Wajib Pajak</center>
                            </th>
                            <th width="20">
                                <center>Nama Penjual</center>
                            </th>
                            <th width="20">
                                <center>NOP</center>
                            </th>

                            <th width="60">
                                <center>Jumlah Pajak</center>
                            </th>
                            <th>
                                <center>Perintah</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <th width="20"></th>
                        <th width="20"></th>
                        <th width="70"></th>
                        <th width="40"></th>
                        <th width="160"></th>
                        <th width="60"></th>
                        <!--<th width="20"></th>-->
                        <th width="60"></th>
                        <th width="60"></th>
                        <th width="60"></th>
                        <th></th>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal Denda -->
<div class="modal fade bs-example-modal-lg" id="ModalSanksi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Daftar Denda/Sanksi</h4>
            </div>
            <div class="modal-body" id="dialog_ds" title="Daftar Denda/Sanksi">
                <div>
                    <table id="listds"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadingsimpanvalidasi" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>

<script type="text/javascript" language="javascript">
    $('#pembayaranbutton').click(function() {
        jQuery('#loadingsimpanvalidasi').modal('show');
        $('#loadingsimpanvalidasi').modal({
            backdrop: 'static',
            keyboard: false
        })
    });

    var dTable;
    // #Example adalah id pada table
    $(document).ready(function() {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url() ?>/dataGridPendataanBphtb", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 5,
            "aLengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": true,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollCollapse": true,

            /*"aoColumns": [
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '20%' },
             { sWidth: '20%' },
             { sWidth: '10%' }
             ],*/
            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "TIDAK ADA DATA",
                "sEmptyTable": "TIDAK ADA DATA",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "TIDAK ADA DATA",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },
            //"language": {
            //    "processing": "Pencarian..."
            //},


            "columnDefs": [{
                    "orderable": false,
                    "targets": 0,
                    "searchable": false
                },
                {
                    "orderable": true,
                    "targets": 1,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 2,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 3,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 4,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 5,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 6,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 7,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 8,
                    "searchable": true
                },
                {
                    "orderable": false,
                    "targets": 9,
                    "searchable": false
                }

            ]
        });

        //====================== cari dibawah
        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            $("#tahun_cari").datepicker({
                format: 'yyyy',
                viewMode: "years",
                minViewMode: "years"
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No" class="pencariantable" style="width:40px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" id="tahun_cari" placeholder="Tahun" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tgldaftar') {
                $(this).html('<center><input type="text" placeholder="tgl daftar" id="tgl_daftar_cari" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namawajibpajak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:130px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                $(this).html('<select class="pencariantable" style="width:100px;text-size:8pt;">' +
                    '<option value="">-- Pilih --</option>'
                    <?php
                    foreach ($datajenistransaksi as $row) {
                        echo '+ \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\'';
                    }
                    ?> +
                    '</select>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'kodebayar') {
                $(this).html('<center><input type="text" placeholder="kode" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nop') {
                $(this).html('<center><input type="text" placeholder="" class="pencariantable" style="width:120px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namapenjual') {
                $(this).html('<center><input type="text" placeholder="" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'luastanah') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'luasbangunan') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nilaitransaksi') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jumlahpajak') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });

        $('#ModalSspd').on('shown.bs.modal', function(e) {
            //$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            dTable.columns.adjust();
        });



        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        //====================== end cari dibawah

        $('#example').removeClass('display').addClass('table table-striped table-bordered');
        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');

        // Untuk Pencarian, di kolom paling bawah
        dTable.columns().every(function() {
            var that = this;
            $('input', this.footer()).on('keyup change', function() {
                that.search(this.value).draw();
            });
            $('select', this.footer()).on('keyup change', function() {
                that.search(this.value).draw();
            });
        });
    });
</script>

<script type="text/javascript">
    jQuery("#t_tanggalpembayaran").datepicker({
        format: 'dd-mm-yyyy',
        endDate: '0d',
        startDate: '01-05-2015',
        daysOfWeekDisabled: '06',
        language: 'id',
        autoclose: true

    });

    /*$(function () {
        jQuery("#listpendataan").flexigrid({
            url: '<?= $this->url() ?>/dataGridPendataanBphtb',
            colModel: [
                {display: "Kode Bayar", name: "t_kodebayarbanksppt", align: 'center', width: 100},
                {display: "No. Daftar", name: "t_kohirspt", align: 'center', width: 100},
                {display: "Tanggal Pendataan", name: "t_tglprosesspt", align: 'center', width: 100},
                {display: "NOP", name: "t_nopbphtbsppt", align: 'left', width: 200},
                {display: "Nama Pembeli", name: "t_namawppembeli", align: 'left', width: 100},
                {display: "Nama Penjual", name: "t_namawppenjual", align: 'left', width: 100},
                {display: "Pilihan", name: "Pilihan", align: 'center', formatter: 'button', width: 100}
            ],
            searchitems: [
                {display: "Nama Pembeli", name: "t_namawppembeli", isdefault: true},
                {display: "Kode Bayar Bank", name: "t_kodebayarbanksppt"},
                {display: "No. Pendaftaran", name: "t_kohirspt"},
                {display: "Tanggal Pendataan", name: "t_tglprosesspt"},
                {display: "NOP", name: "t_nopbphtbsppt"},
                {display: "Nama Pembeli", name: "t_namawppembeli"},
                {display: "Nama Penjual", name: "t_namawppenjual"}
            ],
            sortname: "t_kohirspt",
            sortorder: "desc",
            singleSelect: true,
            usepager: true,
            title: "Daftar Pendataan",
            useRp: true,
            rp: 10,
            showToggleBtn: false,
            width: "100%",
            height: '100%',
            pagetext: 'Hal.',
            outof: 's.d'
        });
    });*/

    $(function() {
        jQuery("#listds").flexigrid({
            url: '<?= $this->url() ?>/dataGridDS',
            colModel: [{
                    display: "Kode Bayar",
                    name: "t_kodebayards",
                    align: 'center',
                    width: 100
                },
                {
                    display: "No. STS",
                    name: "t_kohirds",
                    align: 'center',
                    width: 100
                },
                {
                    display: "Tanggal Pendataan",
                    name: "t_tglprosesds",
                    align: 'center',
                    width: 100
                },
                {
                    display: "Periode",
                    name: "t_periodeds",
                    align: 'left',
                    width: 70
                },
                {
                    display: "Nama Notaris",
                    name: "s_namanotaris",
                    align: 'left',
                    width: 100
                },
                {
                    display: "Alamat Notaris",
                    name: "s_alamatnotaris",
                    align: 'left',
                    width: 100
                },
                {
                    display: "Denda/Sanksi",
                    name: "t_jumlahds",
                    align: 'left',
                    width: 100
                },
                {
                    display: "Pilihan",
                    name: "Pilihan",
                    align: 'center',
                    formatter: 'button',
                    width: 100
                }
            ],
            searchitems: [{
                    display: "Kode Bayar Bank",
                    name: "t_kodebayards",
                    isdefault: true
                },
                {
                    display: "No SSPD",
                    name: "t_kohirds"
                },
                {
                    display: "Tanggal Pendataan",
                    name: "t_tglprosesds"
                },
                {
                    display: "Periode",
                    name: "t_periodeds"
                }
            ],
            sortname: "t_kohirds",
            sortorder: "desc",
            singleSelect: true,
            usepager: true,
            title: "Daftar Denda/Sanksi",
            useRp: true,
            rp: 10,
            showToggleBtn: false,
            width: "100%",
            height: '100%',
            pagetext: 'Hal.',
            outof: 's.d'
        });
    });

    function datapendataansspd() {
        $.post('<?= $this->url() ?>/datasspd', {
            t_kohirpembayaran: $('#t_kohirpembayaran').val()
        }, function(data) {
            var aa = JSON.parse(data);
            console.log(aa);
            if (aa) {
                $('#t_idspt').val(aa.t_idspt);
                $('#t_idpembayaranspt').val(aa.t_idpembayaranspt);
                $('#t_kodebayarbanksppt').val(aa.t_kodebayarbanksppt);
                $('#t_luastanah').val(aa.t_luastanah);
                $('#t_luasbangunan').val(aa.t_luasbangunan);
                $('#t_totalnjoptanah').val(aa.t_totalnjoptanah);
                $('#t_totalnjopbangunan').val(aa.t_totalnjopbangunan);
                $('#t_njoptanah').val(aa.t_njoptanah);
                $('#t_njopbangunan').val(aa.t_njopbangunan);
                $('#t_grandtotalnjop').val(aa.t_grandtotalnjop);
                $('#t_nilaitransaksispt').val(aa.t_nilaitransaksispt);
                $('#s_namajenistransaksi').val(aa.s_namajenistransaksi);
                $('#s_namahaktanah').val(aa.s_namahaktanah);
                $('#t_potonganspt').val(aa.t_potonganspt);
                $('#t_nilaipembayaranspt').val(aa.t_totalspt);
            } else {
                clearForm();
            }

        });
    }

    //    function cekvaliditassspd() {
    //        $.post('<?= $this->url() ?>/validitassspd', {t_kohirpembayaran: $('#t_kohirpembayaran').val(), t_tanggalpembayaran: $('#t_tanggalpembayaran').val()}, function (data) {
    //            var aa = JSON.parse(data);
    //            if (!aa) {
    //                alert("Batas waktu pembayaran sudah habis!");
    //                clearForm();
    //            }
    //        });
    //    }

    function clearForm() {
        $('#t_kodebayarbanksppt').val("");
        $('#t_kohirpembayaran').val("");
        $('#p_kohirskpdkb').val("");
        $('#t_idspt').val("");
        $('#t_kodebayarspt').val("");
        $('#t_luastanah').val("");
        $('#t_luasbangunan').val("");
        $('#t_totalnjoptanah').val("");
        $('#t_totalnjopbangunan').val("");
        $('#t_njoptanah').val("");
        $('#t_njopbangunan').val("");
        $('#t_grandtotalnjop').val("");
        $('#t_nilaitransaksispt').val("");
        $('#s_namajenistransaksi').val("");
        $('#s_namahaktanah').val("");
        $('#npopnya').val("");
        $('#t_npopkpspt').val("");
        $('#t_totalspt').val("");
        $('#t_potonganspt').val("");
        $('#t_nilaipembayaranspt').val("");
        $('#pembayaransebelumnya').val("");
        $('#t_idds').val("");
        $('#t_kodebayards').val("");
        $('#t_kohirds').val("");
        $('#t_namanotaris').val("");
        $('#s_alamatnotaris').val("");
        $('#t_dendabulan').val("");
        $('#t_jumlahds').val("");
        // $('#t_kohirpembayaran').focus();
    }


    $("#pembagian_aphb_1").hide();
    $("#pembagian_aphb_2").hide();
    $("#pembagian_aphb_3").hide();
    $("#pembagian_aphb_4").hide();
    $("#pembagian_aphb_5").hide();
    $("#pembagian_aphb_6").hide();
    $("#pembagian_aphb_7").hide();
    $("#pembagian_aphb_8").hide();
    $("#t_tarif_pembagian_aphb_kali").hide();
    $("#t_tarif_pembagian_aphb_bagi").hide();
    $("#t_grandtotalnjop_aphb").hide();

    function pilihPendataanSspdBphtb(a) {
        $.post('<?= $this->url() ?>/pilihPendataanSspdBphtb', {
            t_idspt: a
        }, function(data) {
            var aa = JSON.parse(data);
            console.log(aa);
            $('#t_idspt').val(aa.t_idspt);
            $('#t_idpembayaranspt').val(aa.t_idpembayaranspt);
            $('#t_kohirpembayaran').val(aa.t_kohirspt);
            $('#t_kodebayarbanksppt').val(aa.t_kodebayarbanksppt);
            $('#t_luastanah').val(aa.t_luastanah);
            $('#t_luasbangunan').val(aa.t_luasbangunan);
            $('#t_totalnjoptanah').val(aa.t_totalnjoptanah);
            $('#t_totalnjopbangunan').val(aa.t_totalnjopbangunan);
            $('#t_njoptanah').val(aa.t_njoptanah);
            $('#t_njopbangunan').val(aa.t_njopbangunan);
            $('#t_grandtotalnjop').val(aa.t_grandtotalnjop);
            $('#t_nilaitransaksispt').val(aa.t_nilaitransaksispt);
            $('#npopnya').val(aa.npop);
            $('#t_npopkpspt').val(aa.t_npopkpspt);
            $('#t_persenbphtb').val(aa.t_persenbphtb);

            //================== untuk aphb
            $('#t_tarif_pembagian_aphb_kali').val(aa.t_tarif_pembagian_aphb_kali);
            $('#t_tarif_pembagian_aphb_bagi').val(aa.t_tarif_pembagian_aphb_bagi);
            $('#t_grandtotalnjop_aphb').val(aa.t_grandtotalnjop_aphb);
            var t_tarif_pembagian_aphb_kali = $('#t_tarif_pembagian_aphb_kali').val();
            var t_tarif_pembagian_aphb_bagi = $('#t_tarif_pembagian_aphb_bagi').val();
            if ((t_tarif_pembagian_aphb_kali == "") || (t_tarif_pembagian_aphb_kali == null) || (t_tarif_pembagian_aphb_kali == 0) || (t_tarif_pembagian_aphb_bagi == "") || (t_tarif_pembagian_aphb_bagi == null) || (t_tarif_pembagian_aphb_bagi == 0)) {
                $('#t_tarif_pembagian_aphb_kali').val(0);
                $('#t_tarif_pembagian_aphb_bagi').val(0);
                $('#t_grandtotalnjop_aphb').val(0);

                $("#pembagian_aphb_1").hide();
                $("#pembagian_aphb_2").hide();
                $("#pembagian_aphb_3").hide();
                $("#pembagian_aphb_4").hide();
                $("#pembagian_aphb_5").hide();
                $("#pembagian_aphb_6").hide();
                $("#pembagian_aphb_7").hide();
                $("#pembagian_aphb_8").hide();
                $("#t_tarif_pembagian_aphb_kali").hide();
                $("#t_tarif_pembagian_aphb_bagi").hide();
                $("#t_grandtotalnjop_aphb").hide();
            } else {
                $('#t_tarif_pembagian_aphb_kali').val(aa.t_tarif_pembagian_aphb_kali);
                $('#t_tarif_pembagian_aphb_bagi').val(aa.t_tarif_pembagian_aphb_bagi);
                $('#t_grandtotalnjop_aphb').val(aa.t_grandtotalnjop_aphb);

                $("#pembagian_aphb_1").show();
                $("#pembagian_aphb_2").show();
                $("#pembagian_aphb_3").show();
                $("#pembagian_aphb_4").show();
                $("#pembagian_aphb_5").show();
                $("#pembagian_aphb_6").show();
                $("#pembagian_aphb_7").show();
                $("#pembagian_aphb_8").show();
                $("#t_tarif_pembagian_aphb_kali").show();
                $("#t_tarif_pembagian_aphb_bagi").show();
                $("#t_grandtotalnjop_aphb").show();
            }
            //================== end untuk aphb
            //$('#t_idjenistransaksi').val(aa.t_idjenistransaksi);
            var t_idjenistransaksi = aa.t_idjenistransaksi;
            if ((t_idjenistransaksi == 4) || (t_idjenistransaksi == 5)) {
                $("#potongan_waris_hibah1").show();
                $("#potongan_waris_hibah2").show();
                $("#potongan_waris_hibah3").show();
                $("#potongan_waris_hibah4").show();
                $('#t_potongan_waris_hibahwasiat').show();
                $('#t_potongan_waris_hibahwasiat').val(aa.t_potongan_waris_hibahwasiat);
            } else {
                $("#potongan_waris_hibah1").hide();
                $("#potongan_waris_hibah2").hide();
                $("#potongan_waris_hibah3").hide();
                $("#potongan_waris_hibah4").hide();

                $("#t_potongan_waris_hibahwasiat").hide();
            }

            $('#s_namajenistransaksi').val(aa.s_namajenistransaksi);
            $('#s_namahaktanah').val(aa.s_namahaktanah);
            $('#t_potonganspt').val(aa.t_potonganspt);
            $('#t_totalspt').val(aa.t_totalspt);
            $('#t_nilaipembayaranspt').val(aa.t_nilaipembayaranspt);
            $('#pembayaransebelumnya').val(aa.pembayaransebelumnya);
            jQuery('#ModalSspd').modal('hide');
            //            cekvaliditassspd();
        });
    }

    function pilihPendataanDS(a) {
        $.post('<?= $this->url() ?>/pilihPendataanDS', {
            t_idds: a
        }, function(data) {
            var aa = JSON.parse(data);
            console.log(aa);
            $('#t_idds').val(aa.t_idds);
            $('#t_kodebayards').val(aa.t_kodebayards);
            $('#t_kohirds').val(aa.t_kohirds);
            $('#t_namanotaris').val(aa.s_namanotaris);
            $('#s_alamatnotaris').val(aa.s_alamatnotaris);
            $('#t_dendabulan').val(aa.t_dendabulandata);
            $('#t_jumlahds').val(aa.t_jumlahds);
            jQuery('#ModalSanksi').modal('hide');
        });
    }

    function ShowHideTable() {
        document.getElementById("var_01").style.display = 'block';
        document.getElementById("var_02").style.display = 'none';
        document.getElementById("var_03").style.display = 'none';
        if ($('#jenis_pembayaran').val() == 1) {
            document.getElementById("var_01").style.display = 'block';
            document.getElementById("var_02").style.display = 'none';
            document.getElementById("var_03").style.display = 'none';
            clearForm();
        } else if ($('#jenis_pembayaran').val() == 2) {
            document.getElementById("var_01").style.display = 'none';
            document.getElementById("var_02").style.display = 'block';
            document.getElementById("var_03").style.display = 'block';
            clearForm();
        } else if ($('#jenis_pembayaran').val() == 3) {
            document.getElementById("var_01").style.display = 'none';
            document.getElementById("var_02").style.display = 'block';
            document.getElementById("var_03").style.display = 'none';
            clearForm();
        }
    }
</script>