<html>
    <head>
        <style>
            @page { margin: 100px 50px; }
/*            #header { position: fixed; left: 0px; top: -150px; right: 0px; height: 50px; background-color: white; text-align: center; }
            #header img { position: absolute;
                          float:left;

            }
            #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 50px; background-color: white; }
            #footer .page:after { content: counter(page, upper-roman); 
            }*/

            .border_atas {
                border-top: 1px black solid;
            }

            .border_kiri {
                border-left: 1px black solid;
            }

            .border_kanan {
                border-right: 1px black solid;
            }

            .border_bawah {
                border-bottom: 1px black solid;
            }

            .font_besar {
                font-size: 12pt;
            }

            .font_kecil {
                font-size: 10pt;
            }

            .font_lima {
                font-size: 7pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }  

            .font_delapan {
                font-size: 8pt;
            }    

            .font_sembilan {
                font-size: 9pt;
            }    


            /*@page {
                margin-top: 1.5em;  
                margin-left: 3.8em;          
            }*/

        </style>
    </head>    
    <body>
        <div id="content" style="margin-top:-60px">
            <table width="100%" style="border-spacing: 0" class="font_sembilan">
                <tr style="text-align: center;" class="font_sembilan">
                    <td colspan="19">
                        <h2>DAFTAR HASIL INPUT BPN</h2>
                    </td>
                </tr>
                <tr style="text-align: left;" class="font_sembilan">
                    <td colspan="19">
                    </td>
                </tr>
                <tr style="text-align: left;" class="font_sembilan">
                    <td colspan="19">
                        Tanggal Input : <?= $tgl_hasilbpn1 ?> s/d <?= $tgl_hasilbpn2 ?>
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td rowspan="2" class="border_atas border_bawah border_kanan border_kiri">
                        No.
                    </td>
                    <td rowspan="1" colspan="4" class="border_atas border_bawah border_kanan">
                        Informasi Wajib Pajak
                    </td>
                    <td rowspan="1" colspan="4" class="border_atas border_bawah border_kanan">
                        Informasi Penjual
                    </td>
                    <td rowspan="1" colspan="9" class="border_atas border_bawah border_kanan">
                        Informasi Objek Pajak
                    </td>
                    <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
                        Ket
                    </td>
                </tr>
                <tr style="text-align: center">
<!--                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        NIK
                    </td>-->
                    <td rowspan="1" colspan="2" class="border_bawah border_kanan">
                        Nama
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Alamat
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        No Telp
                    </td>
<!--                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        NIK
                    </td>-->
                    <td rowspan="1" colspan="2" class="border_bawah border_kanan">
                        Nama
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Alamat
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        No Telp
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        NOP/Tahun SPPT
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Nama SPPT
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Letak Tanah / Bangunan
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Jenis Transaksi
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Nama Notaris/PPATS
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Tgl Pendaftaran
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Luas Tanah (Bumi)
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Luas Bangunan
                    </td>
                    <td rowspan="1" colspan="1" class="border_bawah border_kanan">
                        Harga Transaksi / Nilai Pasar
                    </td>
                </tr>

                <?php
                $totalPembayaran = 0;
                $counter = 1;
                foreach ($this->data_hasilbpn as $k => $v) {
                    ?>
                    <tr style="text-align: center">
                        <td class="border_kiri border_bawah border_kanan">
                            <?= $counter ?>
                        </td>
                        <td colspan="2" class="border_bawah border_kanan">
                            <?= strtoupper($v['t_namawppembeli']) ?> 
                        </td>
                        <td class="border_bawah border_kanan" align="left">
                            Kec. <?= strtoupper($v['t_kecamatanwppembeli']) ?></br>
                            Kel. <?= strtoupper($v['t_kelurahanwppembeli']) ?> - Kab/kota <?= strtoupper($v['t_kabkotawppembeli']) ?></br>
                            <?= strtoupper($v['t_alamatwppembeli']) ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['t_telponwppembeli'] ?>
                        </td>
                        <td colspan="2" class="border_bawah border_kanan">
                            <?= $v['t_namawppenjual'] ?>
                        </td>
                        <td class="border_bawah border_kanan" align="left">
                            Kec. <?= $v['t_kecamatanwppenjual'] ?></br>
                            Kel. <?= $v['t_kelurahanwppenjual'] ?> - Kab/kota <?= $v['t_kabkotawppenjual'] ?></br>
                            <?= $v['t_alamatwppenjual'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['t_telponwppenjual'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['t_nopbphtbsppt'] ?> - <?= $v['t_thnsppt'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['t_namasppt'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['t_alamatop'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['s_namajenistransaksi'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['s_namanotaris'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= date('d/m/Y', strtotime($v['t_tglprosesspt'])) ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['t_luastanah'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= $v['t_luasbangunan'] ?>
                        </td>
                        <td class="border_bawah border_kanan">
                            <?= number_format($v['t_nilaitransaksispt'], 0, ',', '.') ?>
                        </td>
                        <td class="border_bawah border_kanan">

                        </td>
                    </tr>
                    <?php
                    $counter++;
                }
                ?>
            </table>
                <!--<p style="page-break-before: always;">the second page</p>-->
        </div>
    </body>
</html>