<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center>
                    <h3 class="box-title">MENU BPN</h3>
                </center>
                <div class="pull-right">
                    <a href="#" class="btn btn-success " onclick="openCetakDaftarInputBpn()"><i class="fa fa-print"></i> Cetak Daftar Input BPN</a>
                </div>

            </div><!-- /.box-header -->

            <div class="box-body">
                <table id="example" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue" style="font-size:10pt; font: bold;">
                            <th width="20">
                                <center>No</center>
                            </th>
                            <th width="20">
                                <center>No Daftar</center>
                            </th>
                            <th width="20">
                                <center>NOP</center>
                            </th>
                            <th width="70">
                                <center>Jenis<br>Transaksi</center>
                            </th>
                            <th width="100">
                                <center>Tgl<br>Validasi</center>
                            </th>
                            <th width="120">
                                <center>Nama<br>Wajib Pajak</center>
                            </th>
                            <th width="80">
                                <center>Jml<br>Bayar</center>
                            </th>



                            <th width="30">
                                <center>Luas<br>Tanah /<br>Bangunan</center>
                            </th>
                            <th width="30">
                                <center>Luas Tanah /<br>Bangunan BPN</center>
                            </th>

                            <th width="30">
                                <center>No Sertifikat</center>
                            </th>
                            <th>
                                <center>Perintah</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tfoot>
                </table>

            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="cetakHasilBpn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DAFTAR INPUT BPN</h4>
                </center>

            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-3"><b>Tanggal Proses <span style="float:right;">:</span></b></label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_hasilbpn1" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_hasilbpn2" value="<?= date('d-m-Y') ?>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakHasilBpn();"><i class="fa fa-fw fa-file-pdf-o"></i> Cetak PDF</button>
                        <!--<button class="btn btn-success" onclick="cetakPencatatanSetoranxls();"><i class="fa fa-fw fa-file-excel-o"></i> Cetak Excel</button>-->
                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakDaftarInputBpn()">Tutup</button></span>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>



<script type="text/javascript" language="javascript">
    var dTable;
    // #Example adalah id pada table
    $(document).ready(function() {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url() ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollCollapse": true,

            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": "Selanjutnya",
                    "sPrevious": "Sebelumnya"
                } //pagination
            },

            "columnDefs": [{
                    "orderable": false,
                    "targets": 0,
                    "searchable": false
                },
                {
                    "orderable": true,
                    "targets": 1,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 2,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 3,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 4,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 5,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 6,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 7,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 8,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 9,
                    "searchable": true
                },
                {
                    "orderable": false,
                    "targets": 10,
                    "searchable": false
                }
                //{"orderable": false, "targets": 11, "searchable": false}
                //{"orderable": false, "targets": 12, "searchable": false}
                //{"orderable": false, "targets": 13, "searchable": false}
            ]
        });

        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            $("#tahun_cari").datepicker({
                format: 'yyyy',
                viewMode: "years",
                minViewMode: "years"
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No" class="pencariantable" style="width:50px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" id="tahun_cari" placeholder="Tahun" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nop') {
                $(this).html('<center><input type="text" placeholder="NOP" class="pencariantable" style="width:130px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tglvalidasi') {
                $(this).html('<center><input type="text" placeholder="tgl validasi" id="tgl_daftar_cari" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namawajibpajak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlbayar') {
                $(this).html('<center><input type="text" placeholder="jml" class="pencariantable" style="width:70px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'luaskoreksi') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                $(this).html('<select class="pencariantable" style="width:100px;text-size:8pt;">' +
                    '<option value="">-- Pilih --</option>'
                    <?php
                    foreach ($datajenistransaksi as $row) {
                        echo '+ \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\'';
                    }
                    ?> +
                    '</select>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'statusvalidasi') {
                $(this).html('<center><select class="pencariantable" style="width:70px;text-size:8pt;"><option value="">Pilih</option><option value="1">Tervalidasi</option><option value="2">Tidak Lengkap</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'pembayaran') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'luastanah/bangunan') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'luastanah /bangunan bpn') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nosertifikat') {
                $(this).html('<center><input type="text" placeholder="no" class="pencariantable" style="width:50px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });

        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');


        $('#example').removeClass('display').addClass('table table-striped table-bordered');

    });
</script>



<script type="text/javascript">
    jQuery("#tgl_hasilbpn1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_hasilbpn2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetakDaftarInputBpn() {
        jQuery('#cetakHasilBpn').modal('show');
    }

    function tutupCetakDaftarInputBpn() {
        jQuery('#cetakHasilBpn').modal('hide');
    }

    function cetakHasilBpn() {
        window.open('<?= $this->url() ?>/cetakhasilbpn?tgl_hasilbpn1=' + $("#tgl_hasilbpn1").val() + "&tgl_hasilbpn2=" + $("#tgl_hasilbpn2").val());
    }
</script>