<table width="100%" style="border-spacing: 0" class="font_sembilan">
    <tr style="text-align: center;" class="font_delapan">
        <td colspan="16">
            <strong>DAFTAR SSPD BPHTB YANG TELAH VALIDASI</strong>
        </td>
    </tr>
    <tr style="text-align: left;" class="font_tujuh">
        <td colspan="16">
            Tanggal Cetak &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <?= $tgl_cetak ?>
        </td>
    </tr>
    <tr style="text-align: left;" class="font_tujuh">
        <td colspan="16">
            Tanggal Validasi : <?= $tgl_verifikasi1 ?> s/d <?= $tgl_verifikasi2 ?>
        </td>
    </tr>
    <tr style="text-align: center">
        <td rowspan="3" class="border_atas border_bawah border_kanan border_kiri">
            No.
        </td>
        <td rowspan="3" class="border_atas border_bawah border_kanan">
            No. Validasi
        </td>
<!--        <td rowspan="3" class="border_atas border_bawah border_kanan">
            NOP
        </td>-->
        <td rowspan="1" colspan="2" class="border_atas border_bawah border_kanan">
            Yang Menerima Hak
        </td>
        <td rowspan="1" colspan="9" class="border_atas border_bawah border_kanan">
            Berdasarkan SSPD Lembar ke-3
        </td>
        <td rowspan="1" colspan="3" class="border_atas border_bawah border_kanan">
            Pengecekan BPHTB
        </td>
        <td rowspan="3" class="border_atas border_bawah border_kanan">
            Tanggal Validasi
        </td>
        <td rowspan="3" class="border_atas border_bawah border_kanan">
            Ket
        </td>
    </tr>
    <tr style="text-align: center">
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Nama
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Alamat
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Harga Transaksi
        </td>
        <td rowspan="1" colspan="2" class="border_bawah border_kanan">
            Bumi
        </td>
        <td rowspan="1" colspan="2" class="border_bawah border_kanan">
            Bangunan
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            NJOP Total
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            NPOP
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            NPOPTKP
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            BPHTB Terhutang
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Rp.
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Tgl
        </td>
        <td rowspan="2" colspan="1" class="border_bawah border_kanan">
            Nama Pejabat Validasi
        </td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1" class="border_bawah border_kanan">
            Luas (m2)
        </td>
        <td rowspan="1" colspan="1" class="border_bawah border_kanan">
            NJOP (Rp/m2)
        </td>
        <td rowspan="1" colspan="1" class="border_bawah border_kanan">
            Luas (m2)
        </td>
        <td rowspan="1" colspan="1" class="border_bawah border_kanan">
            NJOP (Rp/m2)
        </td>
    </tr>
    <?php
    $totalPembayaran = 0;
    $counter = 1;
    foreach ($this->data_Verifikasi as $k => $v) {
        ?>
        <tr>
            <td class="border_kiri border_bawah border_kanan" align="center">
                <?= $counter ?>
            </td>
            <td class="border_bawah border_kanan" align="center">
                <?php
                $tanggal_bayar = explode('-', $v['t_tglverifikasispt']);
                $tahun = $tanggal_bayar[0];
                $bulan = $tanggal_bayar[1];
                $tanggal = $tanggal_bayar[2];
                ?>
                <?php //str_pad($v['t_kohirspt'], 4, '0', STR_PAD_LEFT) ?>
                <?= str_pad($v['t_kohirketetapanspt'], 7, '0', STR_PAD_LEFT) ?>
            </td>
<!--            <td class="border_bawah border_kanan">
                <?= $v['t_nopbphtbsppt'] ?>
            </td>-->
            <td class="border_bawah border_kanan" align="left">
                <?= strtoupper($v['t_namawppembeli']) ?> 
            </td>
            <td class="border_bawah border_kanan" align="left">
                <?= $v['t_alamatwppembeli'] ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_nilaitransaksispt'], 0, ',', '.'); ?>
            </td>
            <td class="border_bawah border_kanan" align="center">
                <?= $v['t_luastanah'] ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= $v['t_njoptanah'] ?>
            </td>
            <td class="border_bawah border_kanan" align="center">
                <?= $v['t_luasbangunan'] ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= $v['t_njopbangunan'] ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_grandtotalnjop'], 0, ',', '.'); ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?php
                $npop = $v['t_grandtotalnjop']- $v['t_nilaipembayaranspt'];
                ?>
                <?= number_format($npop, 0, ',', '.'); ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_potonganspt'], 0, ',', '.') ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_totalspt'], 0, ',', '.'); ?>
            </td>
            <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_nilaipembayaranspt'], 0, ',', '.'); ?>
            </td>
            <td class="border_bawah border_kanan" align="center">
                <?= date('d/m/Y', strtotime($v['t_tglverifikasispt'])) ?>
            </td>
            <td class="border_bawah border_kanan" align="left">
                <?php
                    if(!empty($v['namapejabatverifikasi'])){
                        echo $v['namapejabatverifikasi'];
                    }else{
                        echo 'Administrator';
                    } 
                            
                ?>
            </td>
            <td class="border_bawah border_kanan" align="center">
                <?= date('d/m/Y', strtotime($v['t_tglverifikasispt'])) ?>
            </td>
            <td class="border_bawah border_kanan">
            </td>
            <?php
            $counter++;
        }
        ?>
</table>

<style type="text/css">

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    


    @page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }
</style>