<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/internet/css/blueimp-gallery.min.css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">Validasi SSPD BPHTB</h3>
                </center>
            </div>
            <p style="height: 10px;"><a style="float:right; margin-right: 5px; margin-bottom: 5px;" href="<?= $this->url() ?>" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-undo"></i> KEMBALI</a></p>
            <div class="box-body">
                <div>
                    <div class="stepwizard col-md-12">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <ul class="easyWizardSteps" style="text-align: center;">
                                    <li><a href="#step-1" type="button" class="btn btn-facebook btn-circle">1</a>
                                        <p><b style="color: #fff">Informasi Wajib Pajak</b></p>
                                    </li>
                                    <li><a href="#step-2" type="button" class="btn btn-default btn-circle " disabled="disabled">2</a>
                                        <p><b style="color: #fff">Informasi OP</b></p>
                                    </li>
                                    <li><a href="#step-3" type="button" class="btn btn-default btn-circle " disabled="disabled">3</a>
                                        <p><b style="color: #fff">Perhitungan BPHTB</b></p>
                                    </li>
                                    <li><a href="#step-4" type="button" class="btn btn-default btn-circle " disabled="disabled">4</a>
                                        <p><b style="color: #fff">Informasi Penjual</b></p>
                                    </li>
                                    <li><a href="#step-5" type="button" class="btn btn-default btn-circle " disabled="disabled">5</a>
                                        <p><b style="color: #fff">Persyaratan</b></p>
                                    </li>
                                    <li><a href="#step-6" type="button" class="btn btn-default btn-circle " disabled="disabled">6</a>
                                        <p><b style="color: #fff">Informasi OP <span class="badge" style="background-color: red">Pemeriksaan</span></b></p>
                                    </li>
                                </ul>
                                <div class="progress center-block" style="margin-top: -20px;">
                                    <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 13%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?= $this->form()->openTag($frm) ?>
                    <div class="row setup-content" id="step-1">
                        <div class="col-sm-12">
                            <div class="col-md-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tanggal Validasi</label>
                                        <div class="col-sm-3">
                                            <?= $this->formInput($frm->get('t_tglverifikasispt')) ?>
                                            <input name="t_idjenistransaksi" id="t_idjenistransaksi" type="hidden">
                                        </div>
                                        <label class="col-sm-2 control-label" style="display: none;">Kode Bayar Bank</label>
                                        <div class="col-sm-2" style="display: none;">
                                            <?= $this->formRow($frm->get('t_kodebayarbanksppt')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">No. Pendaftaran</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kohirpembayaran')) ?>
                                            <?= $this->formInput($frm->get('t_idpembayaranspt')) ?>
                                            <?= $this->formInput($frm->get('t_idspt')) ?>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalCari"><i class="fa fa-fw fa-search"></i> CARI</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">NIK</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_nikwppembeli')) ?>
                                        </div>
                                        <label class="col-sm-2 control-label">NPWPD</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_npwpwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama WP</label>
                                        <div class="col-sm-6">
                                            <?= $this->formRow($frm->get('t_namawppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Alamat</label>
                                        <div class="col-sm-6">
                                            <?= $this->formRow($frm->get('t_alamatwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">RT</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rtwppembeli')) ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">RW</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rwwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kelurahanwppembeli')) ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kecamatan</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kecamatanwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kab./Kota</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kabkotawppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kode Pos</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kodeposwppembeli')) ?>
                                        </div>
                                        <label for="inputType" class="col-md-2">No. Telp.</label>
                                        <div class="col-md-2">
                                            <?= $this->formRow($frm->get('t_telponwppembeli')) ?>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_emailwppembeli')) ?>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-2">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">NOP/Tahun SPPT</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_nopbphtbsppt')) ?>
                                    </div>
                                    <div class="col-sm-1">
                                        <?= $this->formRow($frm->get('t_thnsppt')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Letak Tanah/Bangunan</label>
                                    <div class="col-sm-4">
                                        <?= $this->formRow($frm->get('t_alamatop')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">RT</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_rtop')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label">RW</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_rwop')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_kelurahanop')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label">Kecamatan</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_kecamatanop')) ?>
                                    </div>
                                    <label class="col-sm-1 control-label"><span style="font-size: 12px">Kab./Kota</span></label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_kabupatenop')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Luas Tanah (Bumi)</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_luastanah')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label" style="font-size: 12px">Nilai Pasar/NJOP (m2)</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_njoptanah')) ?>
                                    </div>
                                    <label class="col-sm-1 control-label">Total</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_totalnjoptanah')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Luas Bangunan</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_luasbangunan')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                                    <div class="col-sm-2">
                                        <?= $this->formRow($frm->get('t_njopbangunan')) ?>
                                    </div>
                                    <label class="col-sm-1 control-label">Total</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_totalnjopbangunan')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-9 control-label" style="text-align: right;">NJOP PBB</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_grandtotalnjop')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" id="pembagian_aphb_1">
                                <div id="pembagian_aphb_2">
                                    <label class="col-sm-9 control-label" id="pembagian_aphb_3" style="text-align: right;">Pembagian APHB</label>
                                    <div class="col-sm-3" id="pembagian_aphb_4">
                                        <input style="text-align:right; width: 50px; background-color: #eee;" name="t_tarif_pembagian_aphb_kali" id="t_tarif_pembagian_aphb_kali" readonly="readonly" type="text">
                                        /
                                        <input style="text-align:right; width: 50px; background-color: #eee;" name="t_tarif_pembagian_aphb_bagi" id="t_tarif_pembagian_aphb_bagi" readonly="readonly" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" id="pembagian_aphb_5">
                                <div class="form-group" id="pembagian_aphb_6">
                                    <label class="col-sm-9 control-label" id="pembagian_aphb_7" style="text-align: right;">NJOP PBB APHB</label>
                                    <div class="col-sm-3" id="pembagian_aphb_8">
                                        <input name="t_grandtotalnjop_aphb" id="t_grandtotalnjop_aphb" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-9 control-label" style="text-align: right;">Harga Transaksi / Nilai Pasar</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_nilaitransaksispt')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputKey" class="col-md-2 control-label" style="text-align: left;">Harga Acuan</label>
                                    <div class="col-md-3">
                                        <?= $this->formRow($frm->get('s_permetertanah')) ?>
                                    </div>
                                    <div id="analisishargaacuan">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputKey" class="col-md-2 control-label" style="text-align: left;">History NJOP Tanah</label>
                                    <div class="col-md-3">
                                        <?= $this->formRow($frm->get('historynjoptanah')) ?>
                                    </div>
                                    <div id="analisisharganjoptanah">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Jenis Transaksi</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('s_namajenistransaksi')) ?>
                                    </div>
                                    <label class="col-sm-1 control-label">Kepemilikan</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('s_namahaktanah')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">No. Dokumen Tanah</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_nosertifikathaktanah')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-md-12">
                                    <div class="box box-primary" style="border: 1px solid #0073b7;">
                                        <div class="box-header" style="background-color: #337ab7;">
                                            <center>
                                                <h3 class="box-title" style="color: white;">LOKASI OBJEK</h3>
                                            </center>
                                        </div>
                                        <div class="box-body">
                                            <div class="col-sm-12" style="margin-bottom: 10px;">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Latitude</label>
                                                    <div class="col-sm-3">
                                                        <?= $this->formRow($frm->get('t_latitudeobjek')) ?>
                                                    </div>
                                                    <label class="col-sm-2 control-label">Longitude</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($frm->get('t_longitudeobjek')) ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div id="map"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: right">
                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-3">
                        <div class="col-md-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">NPOP</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_npopspt')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">NPOPTKP</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_potonganspt')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">NPOPKP</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_npopkpspt')) ?>
                                    </div>
                                    <label class="col-sm-2 control-label">Tarif (%)</label>
                                    <div class="col-sm-1">
                                        <?= $this->formRow($frm->get('t_persenbphtb')) ?>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="col-sm-12" id="potongan_waris_hibah1">
                                <div class="form-group" id="potongan_waris_hibah2">
                                    <label  class="col-sm-3 control-label" id="potongan_waris_hibah3">Potongan (%)</label>
                                    <div class="col-sm-3" id="potongan_waris_hibah4">
                                        <input name="t_potongan_waris_hibahwasiat" id="t_potongan_waris_hibahwasiat" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">
                                    </div>
                                </div>
                            </div>    -->
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">BPHTB yang harus dibayar</label>
                                    <div class="col-sm-3">
                                        <?= $this->formRow($frm->get('t_totalspt')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: right">
                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">NIK</label>
                                <div class="col-sm-3">
                                    <?= $this->formRow($frm->get('t_nikwppenjual')) ?>
                                </div>
                                <label class="col-sm-1 control-label">NPWP</label>
                                <div class="col-sm-3">
                                    <?= $this->formRow($frm->get('t_npwpwppenjual')) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama Penjual</label>
                                <div class="col-sm-6">
                                    <?= $this->formRow($frm->get('t_namawppenjual')) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Alamat</label>
                                <div class="col-sm-6">
                                    <?= $this->formRow($frm->get('t_alamatwppenjual')) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">RT/RW</label>
                                <div class="col-sm-1">
                                    <?= $this->formRow($frm->get('t_rtwppenjual')) ?>
                                </div>
                                <div class="col-sm-1">
                                    <?= $this->formRow($frm->get('t_rwwppenjual')) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                <div class="col-sm-3">
                                    <?= $this->formRow($frm->get('t_kelurahanwppenjual')) ?>
                                </div>
                                <label class="col-sm-2 control-label">Kecamatan</label>
                                <div class="col-sm-3">
                                    <?= $this->formRow($frm->get('t_kecamatanwppenjual')) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kab./Kota</label>
                                <div class="col-sm-3">
                                    <?= $this->formRow($frm->get('t_kabkotawppenjual')) ?>
                                </div>
                                <label class="col-sm-2 control-label">Kode Pos</label>
                                <div class="col-sm-2">
                                    <?= $this->formRow($frm->get('t_kodeposwppenjual')) ?>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-group col-md-12">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputType" class="col-md-2">No. Telpon</label>
                                    <div class="col-md-2">
                                        <?= $this->formRow($frm->get('t_telponwppenjual')) ?>
                                    </div>
                                    <div class="col-md-8" style="text-align: right">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: right">
                                    <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-fw fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                    <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-fw fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-5">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div id="persyaratannya">
                                            <?= $this->formRow($frm->get('t_persyaratan')) ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="persyaratannyaverifikasi">
                                            <?= $this->formRow($frm->get('t_persyaratanverifikasi')) ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" id="fileuploadcoy">
                                <div style="border: 1px solid #00a65a;">
                                    <center><b style="font-size: 14px;">FILE SYARAT DI UPLOAD</b></center>
                                    <label id="filependukungtidaktampil" class="filependukungtidaktampil" style="display: none; margin-left: 40px;">DOWNLOAD FILE BUKTI</label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: right">
                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-6">
                        <div class="form-horizontal form-group col-md-12">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="box box-info" style="border: 1px solid #00a65a;">
                                            <div class="box-header with-border bg-green-gradient">
                                                <center><b class="box-title">Pemeriksaan OP</b></center>

                                            </div>
                                            <div class="box-body">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 control-label">
                                                            <b style="color: red">Apakah Anda ingin melakukan Pemeriksaan Objek Pajak ?</b>
                                                        </label>
                                                        <div class="col-sm-1">
                                                            <?= $this->formRow($frm->get('t_pemeriksaanop')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="ObjekPemeriksaan">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Luas Tanah (Bumi)</label>
                                                            <div class="col-sm-2">
                                                                <?= $this->formRow($frm->get('p_idpemeriksaan')) ?>
                                                                <?= $this->formRow($frm->get('p_luastanah')) ?>
                                                            </div>
                                                            <label class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                                                            <div class="col-sm-2">
                                                                <?= $this->formRow($frm->get('p_njoptanah')) ?>
                                                            </div>
                                                            <label class="col-sm-1 control-label">Total</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formRow($frm->get('p_totalnjoptanah')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Luas Bangunan</label>
                                                            <div class="col-sm-2">
                                                                <?= $this->formRow($frm->get('p_luasbangunan')) ?>
                                                            </div>
                                                            <label class="col-sm-2 control-label" style="font-size: 13px">Nilai Pasar/NJOP (m2)</label>
                                                            <div class="col-sm-2">
                                                                <?= $this->formRow($frm->get('p_njopbangunan')) ?>
                                                            </div>
                                                            <label class="col-sm-1 control-label">Total</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formRow($frm->get('p_totalnjopbangunan')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-9 control-label" style="text-align: right;">NJOP PBB</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formRow($frm->get('p_grandtotalnjop')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12" id="p_pembagian_aphb_1">
                                                        <div id="p_pembagian_aphb_2">
                                                            <label class="col-sm-9 control-label" id="p_pembagian_aphb_3" style="text-align: right;">Pembagian APHB</label>
                                                            <div class="col-sm-3" id="p_pembagian_aphb_4">

                                                                <input style="text-align:right; width: 50px; background-color: #eee;" name="p_t_tarif_pembagian_aphb_kali" id="p_t_tarif_pembagian_aphb_kali" readonly="readonly" type="text">
                                                                /
                                                                <input style="text-align:right; width: 50px; background-color: #eee;" name="p_t_tarif_pembagian_aphb_bagi" id="p_t_tarif_pembagian_aphb_bagi" readonly="readonly" type="text">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12" id="p_pembagian_aphb_5">
                                                        <div class="form-group" id="p_pembagian_aphb_6">
                                                            <label class="col-sm-9 control-label" id="p_pembagian_aphb_7" style="text-align: right;">NJOP PBB APHB</label>
                                                            <div class="col-sm-3" id="p_pembagian_aphb_8">
                                                                <input name="p_t_grandtotalnjop_aphb" id="p_t_grandtotalnjop_aphb" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-9 control-label" style="text-align: right;">Harga Transaksi / Nilai Pasar</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formRow($frm->get('p_nilaitransaksispt')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">NPOP</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formRow($frm->get('p_npop')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">NPOPTKP</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formRow($frm->get('p_potonganspt')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">NPOPKP</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formRow($frm->get('p_npopkp')) ?>
                                                            </div>
                                                            <label class="col-sm-1 control-label">Tarif
                                                                (%)</label>
                                                            <div class="col-sm-1">
                                                                <?= $this->formRow($frm->get('p_persenbphtb')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12" id="p_potongan_waris_hibah1">
                                                        <div class="form-group" id="p_potongan_waris_hibah2">
                                                            <label class="col-sm-2 control-label" id="p_potongan_waris_hibah3">Potongan (%)</label>
                                                            <div class="col-sm-3" id="p_potongan_waris_hibah4">
                                                                <input name="p_t_potongan_waris_hibahwasiat" id="p_t_potongan_waris_hibahwasiat" class="form-control" readonly="readonly" style="text-align:right" value="" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">BPHTB Terhutang</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formRow($frm->get('p_totalspt')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-horizontal form-group col-md-12">
                                                        <div class="col-md-12">
                                                            <div class="form-group row">
                                                                <label for="inputKey" class="col-md-2 control-label" style="text-align: left;">Jenis Transaksi</label>
                                                                <div class="col-md-3">
                                                                    <?= $this->formRow($frm->get('p_namajenistransaksi')) ?>
                                                                </div>
                                                                <label for="inputValue" class="col-md-2 control-label">Kepemilikan</label>
                                                                <div class="col-md-3">
                                                                    <?= $this->formRow($frm->get('p_namahaktanah')) ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-group col-md-12">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="box box-warning" style="border: 1px solid #00a65a;">
                                            <div class="box-header with-border bg-green-gradient">
                                                <center><b class="box-title">PTSL</b></center>
                                            </div>
                                            <div class="box-body">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" style="color: red;;">Transaksi ini PTSL ?</label>
                                                        <div class="col-sm-3" style="vertical-align: middle;">
                                                            <?= $this->formCheckbox($frm->get('t_transaksi_ptsl')) ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="divDetailPTSL" style="display: none;">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">No PTSL</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formHidden($frm->get('t_id_ptsl')) ?>
                                                                <?= $this->formText($frm->get('t_no_ptsl')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Tgl. PTSL</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formText($frm->get('t_tgl_ptsl')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Ket. PTSL</label>
                                                            <div class="col-sm-3">
                                                                <?= $this->formTextarea($frm->get('t_ket_ptsl')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script type="text/javascript">
                                                        function divDetailPtsl(a) {
                                                            $("#t_no_ptsl").val("");
                                                            $("#t_tgl_ptsl").val("");
                                                            $("#t_ket_ptsl").val("");
                                                            if (a == 1) {
                                                                $("#divDetailPTSL").css("display", "block");
                                                            } else {
                                                                $("#divDetailPTSL").css("display", "none");
                                                            }
                                                        }
                                                        jQuery("#t_tgl_ptsl").datepicker({
                                                            format: 'dd-mm-yyyy',
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-group col-md-12">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-12" style="text-align: right">
                                        <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                        <input type="submit" id="validasibutton" onclick="this.disabled = true;
                                            forms[0].submit();" value="PROSES VALIDASI" class="btn nextBtn btn-info pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?= $this->form()->closeTag($frm) ?>
                </div>
            </div>
        </div>
        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-yellow-gradient">
                <center>
                    <h3 class="box-title">INFORMASI HISTORI TRANSAKSI</h3>
                </center>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <b style="color: red;">*) NJOP Tanah = (Nilai Transaksi - (Luas Bangunan x NJOP Bangunan)) / Luas Tanah</b><br>
                    <b style="color: red;">*) Mengambil data 5 Tahun kebelakang dari tahun sspt</b><br>
                    <b style="color: red;">*) Klik pada angka no, untuk melihat detail pendaftaran</b><br>
                </div>
                <div class="col-sm-12">
                    <table id="example2" class="table table-striped table-hover" style="width: 100%;">
                        <thead>
                            <tr class="bg-blue">
                                <th style="text-align: center; width: 10%;">No</th>
                                <th style="text-align: center; width: 10%;">Tahun</th>
                                <th style="text-align: center;">NOP</th>
                                <th style="text-align: center; width: 30%;">Letak OP</th>
                                <th style="text-align: center;">Luas Tanah</th>
                                <th style="text-align: center;">Luas Bangunan</th>
                                <th style="text-align: center;">Nilai Transaksi</th>
                                <th style="text-align: center;">NJOP Bangunan (Rp.)</th>
                                <th style="text-align: center;">NJOP Tanah (Rp.)</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            var table_histori;
            $(document).ready(function() {

                table_histori = $("#example2").DataTable({
                    // "paging": true,
                    // "pagingType": "full_numbers",
                    "paging": false,
                    // "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    // "scrollY": true,
                    "scrollY": "50vh",
                    "scrollCollapse": true,
                    "scrollX": true,
                    "language": {
                        "decimal": ",",
                        "thousands": ".",
                        "lengthMenu": "Tampilkan _MENU_ ",
                        "zeroRecords": "<center><b>Tidak ada data</b></center>",
                        "info": "Halaman _PAGE_ dari _PAGES_",
                        "infoEmpty": "Tidak ada data",
                        "infoFiltered": "(pencarian dari _MAX_ total data)"
                    },
                });
            });
        </script>
    </section>
</div>


<div class="modal fade" id="loadingsimpanvalidasi" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>

<!-- Modal Cari -->
<div class="modal fade" id="ModalCari" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="border: 1px solid #0073b7; width: 85%;">
        <div class="modal-content">
            <div class="modal-header with-border bg-blue-gradient">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 20px; color:white;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <center>
                    <h4 class="modal-title" id="myModalLabel">DAFTAR PENDAFTARAN SSPD BPHTB</h4>
                </center>
            </div>
            <div class="box-body">
                <table id="example" cellpadding="0" cellspacing="0" border="0" class="display">
                    <thead>
                        <tr class="bg-blue">
                            <th width="20">
                                <center>No</center>
                            </th>
                            <th width="100">
                                <center>No Daftar</center>
                            </th>
                            <th width="100">
                                <center>Id Daftar</center>
                            </th>
                            <th width="100">
                                <center>Tgl Daftar</center>
                            </th>
                            <th width="100">
                                <center>NOP</center>
                            </th>
                            <th width="200">
                                <center>Nama Penerima Hak</center>
                            </th>
                            <th width="200">
                                <center>Nama Pelepas Hak</center>
                            </th>
                            <th>
                                <center>Perintah</center>
                            </th>
                            <th width="150">
                                <center>Jenis Transaksi</center>
                            </th>
                            <th width="70">
                                <center>Nama Notaris</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    /*.paijo:nth-child(2n+3) {background: #CCC}*/
    #datatunggakan {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #bbb;
        overflow-x: auto;
        display: block;
    }

    .tablecoy td,
    th {
        border-top: 1px solid #ddd;
        padding: 4px 8px;
    }

    .tablecoy tbody tr:nth-child(even) td {
        background-color: #eee;
    }
</style>
<!-- Modal Tunggakan PBB -->
<!-- <div class="modal fade" id="ModalTunggakanPBB" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Peringatan</h4>
            </div>
            <div class="modal-body" id="dialog_pendataan" title="Daftar Pendataan">
                <div id="datatunggakan"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="tutupmodaltunggakan()">Tutup</button>
            </div>
        </div>
    </div>
</div> -->


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<style>
    .easyWizardSteps {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        background: #00c0ef;
    }

    .easyWizardSteps li.current {
        color: #38464A;
        background: #fff;

    }

    .easyWizardSteps li {
        font-family: "Open Sans";
        display: inline-block;
        padding: 10px 20px;
        color: #eee;
        margin-right: 0px;
    }

    .easyWizardSteps li a {
        font-size: 15px;
    }
</style>


<script type="text/javascript" language="javascript">
    $('#validasibutton').click(function() {
        jQuery('#loadingsimpanvalidasi').modal('show');
        $('#loadingsimpanvalidasi').modal({
            backdrop: 'static',
            keyboard: false
        })

    });
    var dTable;
    // #Example adalah id pada table
    $(document).ready(function() {



        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            //"responsive": true,
            "sAjaxSource": "<?= $this->url() ?>/dataGridPendataanBphtb", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 5,
            "aLengthMenu": [
                [5, 10, 25, 50],
                [5, 10, 25, 50]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollX": "300px",
            //"scrollCollapse": true,

            /*"aoColumns": [
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '5%' },
             { sWidth: '20%' },
             { sWidth: '20%' },
             { sWidth: '10%' }
             ],*/
            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "TIDAK ADA DATA",
                "sEmptyTable": "TIDAK ADA DATA",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "TIDAK ADA DATA",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },
            //"language": {
            //    "processing": "Pencarian..."
            //},


            "columnDefs": [{
                    "orderable": false,
                    "targets": 0,
                    "searchable": false
                },
                {
                    "orderable": true,
                    "targets": 1,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 2,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 3,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 4,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 5,
                    "searchable": true
                },
                {
                    "orderable": false,
                    "targets": 6,
                    "searchable": false
                },
                {
                    "orderable": true,
                    "targets": 7,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 8,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 9,
                    "searchable": true
                }
            ]
        });
        //====================== cari dibawah
        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });
            $("#tahun_cari").datepicker({
                format: 'yyyy',
                viewMode: "years",
                minViewMode: "years"
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No Daftar" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'iddaftar') {
                $(this).html('<center><input type="text" placeholder="Id Daftar" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" id="tahun_cari" placeholder="Tahun" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tgldaftar') {
                $(this).html('<center><input type="text" placeholder="tgl daftar" id="tgl_daftar_cari" class="pencariantable" style="width:70px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namapenerima hak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:150px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namapelepas hak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:150px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nop') {
                $(this).html('<center><input type="text" placeholder="" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                $(this).html('<select class="pencariantable" style="width:100px;text-size:8pt;">' +
                    '<option value="">-- Pilih --</option>'
                    <?php
                    foreach ($datajenistransaksi as $row) {
                        echo '+ \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\'';
                    }
                    ?> +
                    '</select>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namanotaris') {
                $(this).html('<center><select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option>'
                    <?php foreach ($datanotaris as $row_n) { ?> +
                        '<option value="<?= $row_n['s_iduser'] ?>"><?= $row_n['s_namanotaris'] ?></option>'
                    <?php }
                    ?> + '</select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });
        $('#ModalCari').on('shown.bs.modal', function(e) {
            //$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            dTable.columns.adjust();
        });
        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
        //====================== end cari dibawah


        $('#example').removeClass('display').addClass('table table-striped table-bordered');
        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        // Untuk Pencarian, di kolom paling bawah
        dTable.columns().every(function() {
            var that = this;
            $('input', this.footer()).on('keyup change', function() {
                that.search(this.value).draw();
            });
            $('select', this.footer()).on('keyup change', function() {
                that.search(this.value).draw();
            });
        });
    });
</script>

<script type="text/javascript">
    jQuery("#t_tglverifikasispt").datepicker({
        format: 'dd-mm-yyyy',
        startDate: '01-05-2015',
        endDate: '0d',
        autoclose: true,
        daysOfWeekDisabled: '06',
        language: 'id'
    });
    /*$(function () {
     jQuery("#listpendataan").flexigrid({
     url: '<?= $this->url() ?>/dataGridPendataanBphtb',
     colModel: [
     {display: "No. Daftar", name: "t_kohirspt", align: 'center', width: 100},
     {display: "Tanggal Pendataan", name: "t_tglproses", align: 'center', width: 100},
     {display: "NOP", name: "nop", align: 'left', width: 200},
     {display: "Nama Pembeli", name: "t_namawppembeli", align: 'left', width: 100},
     {display: "Nama Penjual", name: "t_namawppenjual", align: 'left', width: 100},
     {display: "Pilihan", align: 'center', formatter: 'button', width: 100}
     ],
     searchitems: [
     {display: "No. Daftar", name: "t_kohirspt"},
     //{display: "Tanggal Pendataan", name: "t_tglprosesspt"},
     {display: "NOP", name: "t_nopbphtbsppt", align: 'left'},
     {display: "Nama Pembeli", name: "t_namawppembeli"},
     {display: "Nama Penjual", name: "t_namawppenjual"}
     ],
     sortname: "t_idspt",
     sortorder: "ASC",
     usepager: true,
     singgleSelect: true,
     useRp: true,
     rp: 10,
     showTogleBtn: true,
     width: "100%",
     height: '100%',
     title: "Daftar Pendataan"
     });
     }); */

    //Keterangan Waris
    $("#ketwaris").hide();

    function myFunction() {
        $("#ketwaris").show();
    }

    function myFunction1() {
        $("#ketwaris").hide();
    }

    //Form Pemeriksaan Objek Pajak
    $("#ObjekPemeriksaan").hide();

    function FungsiPemeriksaanOP() {
        $("#ObjekPemeriksaan").show();
        $("#variabelpemeriksaan").val('1');
        $('#p_luastanah').val($("#t_luastanah").val());
        $('#p_njoptanah').val($("#t_njoptanah").val());
        $('#p_totalnjoptanah').val($("#t_totalnjoptanah").val());
        $('#p_luasbangunan').val($("#t_luasbangunan").val());
        $('#p_njopbangunan').val($("#t_njopbangunan").val());
        $('#p_totalnjopbangunan').val($("#t_totalnjopbangunan").val());
        $('#p_grandtotalnjop').val($("#t_grandtotalnjop").val());
        $('#p_nilaitransaksispt').val($("#t_nilaitransaksispt").val());
        $('#p_namajenistransaksi').val($("#s_namajenistransaksi").val());
        $('#p_namahaktanah').val($("#s_namahaktanah").val());
        $('#p_npop').val($("#t_npopspt").val());
        $('#p_potonganspt').val($("#t_potonganspt").val());
        $('#p_npopkp').val($("#t_npopkpspt").val());
        $('#p_persenbphtb').val($("#t_persenbphtb").val());
        //=============== tarif pembagian untuk APHB
        $('#p_t_tarif_pembagian_aphb_kali').val($("#t_tarif_pembagian_aphb_kali").val());
        $('#p_t_tarif_pembagian_aphb_bagi').val($("#t_tarif_pembagian_aphb_bagi").val());
        $('#p_t_grandtotalnjop_aphb').val($("#t_grandtotalnjop_aphb").val());
        var t_tarif_pembagian_aphb_kali = $('#p_t_tarif_pembagian_aphb_kali').val();
        var t_tarif_pembagian_aphb_bagi = $('#p_t_tarif_pembagian_aphb_bagi').val();
        if ((t_tarif_pembagian_aphb_kali == "") || (t_tarif_pembagian_aphb_kali == null) || (t_tarif_pembagian_aphb_kali == 0) || (t_tarif_pembagian_aphb_bagi == "") || (t_tarif_pembagian_aphb_bagi == null) || (t_tarif_pembagian_aphb_bagi == 0)) {
            $('#p_t_tarif_pembagian_aphb_kali').val(0);
            $('#p_t_tarif_pembagian_aphb_bagi').val(0);
            $('#p_t_grandtotalnjop_aphb').val(0);
            $("#p_pembagian_aphb_1").hide();
            $("#p_pembagian_aphb_2").hide();
            $("#p_pembagian_aphb_3").hide();
            $("#p_pembagian_aphb_4").hide();
            $("#p_pembagian_aphb_5").hide();
            $("#p_pembagian_aphb_6").hide();
            $("#p_pembagian_aphb_7").hide();
            $("#p_pembagian_aphb_8").hide();
            $("#p_t_tarif_pembagian_aphb_kali").hide();
            $("#p_t_tarif_pembagian_aphb_bagi").hide();
            $("#p_t_grandtotalnjop_aphb").hide();
        } else {
            $('#p_t_tarif_pembagian_aphb_kali').val($("#t_tarif_pembagian_aphb_kali").val());
            $('#p_t_tarif_pembagian_aphb_bagi').val($("#t_tarif_pembagian_aphb_bagi").val());
            $('#p_t_grandtotalnjop_aphb').val($("#t_grandtotalnjop_aphb").val());
            $("#p_pembagian_aphb_1").show();
            $("#p_pembagian_aphb_2").show();
            $("#p_pembagian_aphb_3").show();
            $("#p_pembagian_aphb_4").show();
            $("#p_pembagian_aphb_5").show();
            $("#p_pembagian_aphb_6").show();
            $("#p_pembagian_aphb_7").show();
            $("#p_pembagian_aphb_8").show();
            $("#p_t_tarif_pembagian_aphb_kali").show();
            $("#p_t_tarif_pembagian_aphb_bagi").show();
            $("#p_t_grandtotalnjop_aphb").show();
        }
        //=============== end tarif pembagian untuk APHB


        var t_idjenistransaksi = $("#t_idjenistransaksi").val();
        if ((t_idjenistransaksi == 4) || (t_idjenistransaksi == 5)) {
            $("#p_potongan_waris_hibah1").show();
            $("#p_potongan_waris_hibah2").show();
            $("#p_potongan_waris_hibah3").show();
            $("#p_potongan_waris_hibah4").show();
            $('#t_potongan_waris_hibahwasiat').show();
            $('#p_t_potongan_waris_hibahwasiat').show();
            $('#t_potongan_waris_hibahwasiat').val($("#t_potongan_waris_hibahwasiat").val());
            $('#p_t_potongan_waris_hibahwasiat').val($("#t_potongan_waris_hibahwasiat").val());
        } else {
            $("#p_potongan_waris_hibah1").hide();
            $("#p_potongan_waris_hibah2").hide();
            $("#p_potongan_waris_hibah3").hide();
            $("#p_potongan_waris_hibah4").hide();
            $("#t_potongan_waris_hibahwasiat").hide();
            $("#p_t_potongan_waris_hibahwasiat").hide();
            $('#t_potongan_waris_hibahwasiat').val(0);
            $('#p_t_potongan_waris_hibahwasiat').val(0);
        }

        $('#p_totalspt').val($("#t_totalspt").val());
    }

    function FungsiPemeriksaanOP1() {
        $("#ObjekPemeriksaan").hide();
        $("#variabelpemeriksaan").val('0');
        $('#p_luastanah').val('');
        $('#p_njoptanah').val('');
        $('#p_totalnjoptanah').val('');
        $('#p_luasbangunan').val('');
        $('#p_njopbangunan').val('');
        $('#p_totalnjopbangunan').val('');
        $('#p_grandtotalnjop').val('');
        $('#p_nilaitransaksispt').val('');
        $('#p_namajenistransaksi').val('');
        $('#p_namahaktanah').val('');
        $('#p_terbukti').val('');
        $('#p_ketwaris').val('');
        $('#p_potonganspt').val('');
        $('#p_totalspt').val('');
    }

    function next(a) {
        jQuery('#tabs a[href=#' + a + ']').tab('show');
    }

    //    function cekvaliditassspd() {
    //        $.post('<?php // $this->url('pembayaran_sptbphtb')
                        ?>/validitassspd', {t_kohirpembayaran: $('#t_kohirpembayaran').val(), t_tanggalpembayaran: $('#t_tglverifikasispt').val()}, function (data) {
    //            var aa = JSON.parse(data);
    //            if (!aa) {
    //                alert("Batas waktu Verifikasi sudah habis untuk nomor SSPD " + $('#t_kohirpembayaran').val() + '!');
    //                clearForm();
    //            }
    //        });
    //    }

    function cektunggakanpbb() {
        $.post('<?= $this->url('verifikasi_spt') ?>/cektunggakanpbb', {
            t_nopbphtbsppt: $('#t_nopbphtbsppt').val()
        }, function(data) {
            var aa = JSON.parse(data);
            if (aa.PBB_YG_HARUS_DIBAYAR_SPPT != '') {
                jQuery('#ModalTunggakanPBB').modal('show');
                $('#datatunggakan').html(aa.datatunggakan);
            } else {
                alert('Tidak Ada Tunggakan');
            }
        });
    }



    function clearForm() {
        $('#t_idspt').val("");
        $('#t_kohirpembayaran').val("");
        $('#s_namanotaris').val("");
        $('#t_idnotarisspt').val("");
        //data wp
        $('#t_namawppembeli').val("");
        $('#t_nikwppembeli').val("");
        $('#t_npwpwppembeli').val("");
        $('#t_alamatwppembeli').val("");
        $('#t_rtwppembeli').val("");
        $('#t_rwwppembeli').val("");
        $('#t_kecamatanwppembeli').val("");
        $('#t_kelurahanwppembeli').val("");
        $('#t_kabkotawppembeli').val("");
        $('#t_telponwppembeli').val("");
        $('#t_kodeposwppembeli').val("");
        //data nop
        $('#t_nopbphtbsppt').val("");
        $('#t_thnsppt').val("");
        $('#t_alamatop').val("");
        $('#t_rtop').val("");
        $('#t_rwop').val("");
        $('#t_kelurahanop').val("");
        $('#t_kecamatanop').val("");
        $('#t_kabupatenop').val("");
        $('#t_nosertifikathaktanah').val("");
        $('#t_totalspt').val("");
        $('#t_luastanah').val("");
        $('#t_luasbangunan').val("");
        $('#t_totalnjoptanah').val("");
        $('#t_totalnjopbangunan').val("");
        $('#t_njoptanah').val("");
        $('#t_njopbangunan').val("");
        $('#t_grandtotalnjop').val("");
        $('#t_nilaitransaksispt').val("");
        $('#t_idjenistransaksi').val("");
        $('#t_idjenishaktanah').val("");
        $('#t_potonganspt').val("");
        $('#t_nilaipembayaranspt').val("");
        //data penjual
        $('#t_namawppenjual').val("");
        $('#t_nikwppenjual').val("");
        $('#t_npwpwppenjual').val("");
        $('#t_alamatwppenjual').val("");
        $('#t_rtwppenjual').val("");
        $('#t_rwwppenjual').val("");
        $('#t_kelurahanwppenjual').val("");
        $('#t_kecamatanwppenjual').val("");
        $('#t_kabkotawppenjual').val("");
        $('#t_kodeposwppenjual').val("");
        $('#t_telponwppenjual').val("");
        //data pembayaran
        $('#t_idpembayaranspt').val("");
        $('#t_tanggalpembayaran').val("");
        $('#t_statusbayarspt').val("");
    }

    function pilihPendataanSspdBphtb(a) {
        $.post('<?= $this->url() ?>/pilihPendataanSspdBphtb', {
            t_idspt: a
        }, function(data) {
            var aa = JSON.parse(data);
            $('#t_idspt').val(aa.t_idspt);
            $('#t_idnotarisspt').val(aa.t_idnotarisspt);
            $('#t_kohirpembayaran').val(aa.t_kohirspt);
            $('#s_namanotaris').val(aa.s_namanotaris);
            //data wp
            $('#t_namawppembeli').val(aa.t_namawppembeli);
            $('#t_nikwppembeli').val(aa.t_nikwppembeli);
            $('#t_npwpwppembeli').val(aa.t_npwpwppembeli);
            $('#t_alamatwppembeli').val(aa.t_alamatwppembeli);
            $('#t_rtwppembeli').val(aa.t_rtwppembeli);
            $('#t_rwwppembeli').val(aa.t_rwwppembeli);
            $('#t_kecamatanwppembeli').val(aa.t_kecamatanwppembeli);
            $('#t_kelurahanwppembeli').val(aa.t_kelurahanwppembeli);
            $('#t_kabkotawppembeli').val(aa.t_kabkotawppembeli);
            $('#t_telponwppembeli').val(aa.t_telponwppembeli);
            $('#t_kodeposwppembeli').val(aa.t_kodeposwppembeli);
            //data nop
            $('#t_nopbphtbsppt').val(aa.t_nopbphtbsppt);
            $('#t_thnsppt').val(aa.t_thnsppt);
            $('#t_alamatop').val(aa.t_alamatop);
            $('#t_rtop').val(aa.t_rtop);
            $('#t_rwop').val(aa.t_rwop);
            $('#t_kelurahanop').val(aa.t_kelurahanop);
            $('#t_kecamatanop').val(aa.t_kecamatanop);
            $('#t_kabupatenop').val(aa.t_kabupatenop);
            $('#t_luastanah').val(aa.t_luastanah);
            $('#t_njoptanah').val(aa.t_njoptanah);
            $('#t_totalnjoptanah').val(aa.t_totalnjoptanah);
            $('#t_luasbangunan').val(aa.t_luasbangunan);
            $('#t_njopbangunan').val(aa.t_njopbangunan);
            $('#t_totalnjopbangunan').val(aa.t_totalnjopbangunan);
            $('#t_grandtotalnjop').val(aa.t_grandtotalnjop);
            $('#t_nilaitransaksispt').val(aa.t_nilaitransaksispt);
            $('#s_permetertanah').val(aa.s_permetertanah);
            $('#s_namajenistransaksi').val(aa.s_namajenistransaksi);
            $('#s_namahaktanah').val(aa.s_namahaktanah);
            $('#t_nosertifikathaktanah').val(aa.t_nosertifikathaktanah);
            $('#t_persenbphtb').val(aa.t_persenbphtb);
            //data perhitungan bphtb
            //var npopkp = aa.t_totalspt / 5 * 100;

            //================== untuk aphb
            $('#t_tarif_pembagian_aphb_kali').val(aa.t_tarif_pembagian_aphb_kali);
            $('#t_tarif_pembagian_aphb_bagi').val(aa.t_tarif_pembagian_aphb_bagi);
            $('#t_grandtotalnjop_aphb').val(aa.t_grandtotalnjop_aphb);
            var t_tarif_pembagian_aphb_kali = $('#t_tarif_pembagian_aphb_kali').val();
            var t_tarif_pembagian_aphb_bagi = $('#t_tarif_pembagian_aphb_bagi').val();
            if ((t_tarif_pembagian_aphb_kali == "") || (t_tarif_pembagian_aphb_kali == null) || (t_tarif_pembagian_aphb_kali == 0) || (t_tarif_pembagian_aphb_bagi == "") || (t_tarif_pembagian_aphb_bagi == null) || (t_tarif_pembagian_aphb_bagi == 0)) {
                $('#t_tarif_pembagian_aphb_kali').val(0);
                $('#t_tarif_pembagian_aphb_bagi').val(0);
                $('#t_grandtotalnjop_aphb').val(0);
                $("#pembagian_aphb_1").hide();
                $("#pembagian_aphb_2").hide();
                $("#pembagian_aphb_3").hide();
                $("#pembagian_aphb_4").hide();
                $("#pembagian_aphb_5").hide();
                $("#pembagian_aphb_6").hide();
                $("#pembagian_aphb_7").hide();
                $("#pembagian_aphb_8").hide();
                $("#t_tarif_pembagian_aphb_kali").hide();
                $("#t_tarif_pembagian_aphb_bagi").hide();
                $("#t_grandtotalnjop_aphb").hide();
            } else {
                $('#t_tarif_pembagian_aphb_kali').val(aa.t_tarif_pembagian_aphb_kali);
                $('#t_tarif_pembagian_aphb_bagi').val(aa.t_tarif_pembagian_aphb_bagi);
                $('#t_grandtotalnjop_aphb').val(aa.t_grandtotalnjop_aphb);
                $("#pembagian_aphb_1").show();
                $("#pembagian_aphb_2").show();
                $("#pembagian_aphb_3").show();
                $("#pembagian_aphb_4").show();
                $("#pembagian_aphb_5").show();
                $("#pembagian_aphb_6").show();
                $("#pembagian_aphb_7").show();
                $("#pembagian_aphb_8").show();
                $("#t_tarif_pembagian_aphb_kali").show();
                $("#t_tarif_pembagian_aphb_bagi").show();
                $("#t_grandtotalnjop_aphb").show();
            }
            //================== end untuk aphb
            $('#t_idjenistransaksi').val(aa.t_idjenistransaksi);
            var t_idjenistransaksi = aa.t_idjenistransaksi;
            if ((t_idjenistransaksi == 4) || (t_idjenistransaksi == 5)) {
                $("#potongan_waris_hibah1").show();
                $("#potongan_waris_hibah2").show();
                $("#potongan_waris_hibah3").show();
                $("#potongan_waris_hibah4").show();
                $('#t_potongan_waris_hibahwasiat').show();
                $('#t_potongan_waris_hibahwasiat').val(aa.t_potongan_waris_hibahwasiat);
            } else {
                $("#potongan_waris_hibah1").hide();
                $("#potongan_waris_hibah2").hide();
                $("#potongan_waris_hibah3").hide();
                $("#potongan_waris_hibah4").hide();
                $("#t_potongan_waris_hibahwasiat").hide();
            }



            $('#t_npopspt').val(aa.npop);
            $('#t_potonganspt').val(aa.t_potonganspt);
            $('#t_npopkpspt').val(aa.npopkp);
            $('#t_totalspt').val(aa.t_totalspt);
            //data penjual
            $('#t_namawppenjual').val(aa.t_namawppenjual);
            $('#t_nikwppenjual').val(aa.t_nikwppenjual);
            $('#t_npwpwppenjual').val(aa.t_npwpwppenjual);
            $('#t_alamatwppenjual').val(aa.t_alamatwppenjual);
            $('#t_rtwppenjual').val(aa.t_rtwppenjual);
            $('#t_rwwppenjual').val(aa.t_rwwppenjual);
            $('#t_kelurahanwppenjual').val(aa.t_kelurahanwppenjual);
            $('#t_kecamatanwppenjual').val(aa.t_kecamatanwppenjual);
            $('#t_kabkotawppenjual').val(aa.t_kabkotawppenjual);
            $('#t_kodeposwppenjual').val(aa.t_kodeposwppenjual);
            $('#t_telponwppenjual').val(aa.t_telponwppenjual);
            //data pembayaran
            $('#t_idpembayaranspt').val(aa.t_idpembayaranspt);
            //data persyaratan
            $('#persyaratannya').html(aa.t_persyaratan);
            $('#persyaratannyaverifikasi').html(aa.t_persyaratanverifikasi);
            $('#analisishargaacuan').html(aa.analisishargaacuan);
            $('#historynjoptanah').val(aa.historynjoptanah);
            $('#analisisharganjoptanah').html(aa.analisisharganjoptanah);
            if (aa.t_tanggalpembayaran) {
                $('#t_tanggalpembayaran').val(xx);
            } else {
                $('#t_tanggalpembayaran').val("-");
            }

            if (aa.t_statusbayarspt == true) {
                $('#t_statusbayarspt').val("Sudah Dibayarkan");
            } else {
                $('#t_statusbayarspt').val("Belum Dibayarkan");
            }

            $("#t_latitudeobjek").val(aa.t_latitudeobjek);
            $("#t_longitudeobjek").val(aa.t_longitudeobjek);
            initAutocomplete();

            //histori data transaksi 
            table_histori.clear().draw();
            table_histori.rows.add(aa.ar_histori_transaksi).draw();

            jQuery('#ModalCari').modal('hide');
            document.getElementById("filependukungtidaktampil").style.display = 'block';
            document.getElementById("filependukungtidaktampil").innerHTML = '' + aa.fileuploadcoy + '';
            cektunggakanpbb();
            // cekvaliditassspd();
        });
    }

    function tutupmodaltunggakan() {
        jQuery('#ModalTunggakanPBB').modal('hide');
    }

    function hitungnjop() {
        $.post('<?= $this->url() ?>/hitungnjop', {
            p_luastanah: $('#p_luastanah').val(),
            p_luasbangunan: $('#p_luasbangunan').val(),
            p_njoptanah: $('#p_njoptanah').val(),
            p_njopbangunan: $('#p_njopbangunan').val(),
            p_nilaitransaksispt: $('#p_nilaitransaksispt').val(),
            p_potonganspt: $('#p_potonganspt').val(),
            p_persenbphtb: $('#p_persenbphtb').val(),
            p_t_tarif_pembagian_aphb_kali: $('#p_t_tarif_pembagian_aphb_kali').val(),
            p_t_tarif_pembagian_aphb_bagi: $('#p_t_tarif_pembagian_aphb_bagi').val(),
            t_potongan_waris_hibahwasiat: $('#t_potongan_waris_hibahwasiat').val(),
            t_idjenistransaksi: $("#t_idjenistransaksi").val(),
        }, function(data) {
            var aa = JSON.parse(data);
            $("#p_totalnjoptanah").val(currencyFormatDE(aa.p_totalnjoptanah * 1));
            $('#p_totalnjopbangunan').val(currencyFormatDE(aa.p_totalnjopbangunan * 1));
            $('#p_grandtotalnjop').val(currencyFormatDE(aa.p_grandtotalnjop * 1));
            $('#p_t_grandtotalnjop_aphb').val(currencyFormatDE(aa.p_t_grandtotalnjop_aphb * 1));
            $('#p_npop').val(currencyFormatDE(aa.p_npop * 1));
            $('#p_potonganspt').val(currencyFormatDE(aa.p_potonganspt * 1));
            $('#p_npopkp').val(currencyFormatDE(aa.p_npopkp * 1));
            $('#p_totalspt').val(currencyFormatDE(aa.p_totalspt * 1));
        });
    }

    //  ==============================================
    //  Form Wizard
    $(document).ready(function() {

        /*$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
         var $total = navigation.find('li').length;
         var $current = index+1;
         var $percent = ($current/$total) * 100;
         $('#rootwizard .progress-bar').css({width:$percent+'%'});
         }});*/


        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');
        allWells.hide();
        navListItems.click(function(e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);
            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-facebook').addClass('btn-default');
                $item.addClass('btn-facebook');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }

            // tambahi dewe loading e coy
            var nextStepWizard = $(this).text();
            if (nextStepWizard == 1)
                $('.stepwizard-step .progress-bar').animate({
                    width: '19%'
                }, 0);
            if (nextStepWizard == 2)
                $('.stepwizard-step .progress-bar').animate({
                    width: '34%'
                }, 0);
            if (nextStepWizard == 3)
                $('.stepwizard-step .progress-bar').animate({
                    width: '49%'
                }, 0);
            if (nextStepWizard == 4)
                $('.stepwizard-step .progress-bar').animate({
                    width: '65%'
                }, 0);
            if (nextStepWizard == 5)
                $('.stepwizard-step .progress-bar').animate({
                    width: '80%'
                }, 0);
            if (nextStepWizard == 6)
                $('.stepwizard-step .progress-bar').animate({
                    width: '100%'
                }, 0);
            // end tambahi dewe

        });
        allPrevBtn.click(function() {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");
            prevStepWizard.trigger('click');
        });
        allNextBtn.click(function() {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'],textarea, select"),
                isValid = true;
            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });
        $('div.setup-panel div a.btn-facebook').trigger('click');
    });
    //  centang semua
    function modify_boxes(total_boxes) {
        if (document.forms[0].CheckAll.checked) {
            to_be_checked = true;
        } else {
            to_be_checked = false;
        }
        for (i = 0; i < total_boxes; i++) {
            if (to_be_checked) {
                document.forms[0].t_persyaratanverifikasi[i].checked = true;
            } else {

                document.forms[0].t_persyaratanverifikasi[i].checked = false;
            }
        }
    }
</script>

<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/jquery.blueimp-gallery.min.js"></script>
<style>
    #map {
        height: 600px;
        width: 100%;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>